Repository DSD-DBS/capella-collab-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier

Path conditions:
  pylint: any of: ^backend/capellacollab and \.py$ and not (^backend/capellacollab/alembic/)
  prettier: any of: \.(ts|mts|cts)$, \.css$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$, but not: ^frontend/src/app/openapi

ci: Change `pnpm` to `npm` in dependabot configuration
  .github/dependabot.yml
Due: none

build: Update frontend and pre-commit versions
  .pre-commit-config.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

build: Downgrade pnpm
  frontend/package.json
Due: none

fix: Don't show seconds for estimated session termination
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/session-card/session-card.component.html
Due: prettier

feat(monitoring): Show Xpra latency in Grafana
  helm/config/grafana/dashboards/active-sessions.json
Due: none

feat: Add resource recommendations for all deployments
  Makefile
  helm/templates/backend/backend-postgres.deployment.yaml
  helm/templates/backend/backend-postgres.disruptionbudget.yml
  helm/templates/backend/backend-postgres.service.yaml
  helm/templates/backend/backend-postgres.volume.yaml
  helm/templates/backend/backend-postgres.vpa.yaml
  helm/templates/backend/backend.vpa.yaml
  helm/templates/docs/docs.vpa.yaml
  helm/templates/frontend/frontend.vpa.yaml
  helm/templates/grafana/grafana-nginx.configmap.yaml
  helm/templates/grafana/grafana-nginx.deployment.yaml
  helm/templates/grafana/grafana-nginx.service.yaml
  helm/templates/grafana/grafana-nginx.vpa.yaml
  helm/templates/grafana/grafana.vpa.yaml
  helm/templates/guacamole/guacamole-postgres.configmap.yaml
  helm/templates/guacamole/guacamole-postgres.deployment.yaml
  helm/templates/guacamole/guacamole-postgres.disruptionbudget.yml
  helm/templates/guacamole/guacamole-postgres.service.yaml
  helm/templates/guacamole/guacamole-postgres.volume.yaml
  helm/templates/guacamole/guacamole-postgres.vpa.yaml
  helm/templates/guacamole/guacamole.vpa.yaml
  helm/templates/guacamole/guacd.vpa.yaml
  helm/templates/mock/oauth.vpa.yaml
  helm/templates/mock/smtp.vpa.yaml
  helm/templates/prometheus/prometheus-nginx.configmap.yaml
  helm/templates/prometheus/prometheus-nginx.deployment.yaml
  helm/templates/prometheus/prometheus-nginx.service.yaml
  helm/templates/prometheus/prometheus-nginx.vpa.yaml
  helm/templates/prometheus/prometheus.vpa.yaml
  helm/templates/sessions/sessions.disruptionbudget.yml
  helm/templates/sessions/sessions.vpa.yaml
Due: none

fix: Add uniqueness constraint for project users
  backend/capellacollab/alembic/versions/16a64401737c_add_uniqueness_constraint_for_project_.py
  backend/capellacollab/projects/crud.py
  backend/capellacollab/projects/models.py
  backend/capellacollab/projects/permissions/permissions.py
  backend/capellacollab/projects/users/crud.py
  backend/capellacollab/projects/users/models.py
  backend/capellacollab/projects/users/routes.py
  backend/capellacollab/settings/modelsources/t4c/instance/repositories/crud.py
  backend/capellacollab/users/models.py
  backend/tests/projects/test_projects_permissions.py
  backend/tests/projects/test_projects_users_routes.py
  backend/tests/projects/toolmodels/pipelines/pipeline-runs/conftest.py
  backend/tests/projects/toolmodels/test_toolmodel_routes.py
  backend/tests/projects/users/fixtures.py
  backend/tests/sessions/hooks/test_t4c_hook.py
  backend/tests/users/test_tokens.py
Due: pylint

feat: Allow enabling performance profiling in production
  backend/pyproject.toml
  helm/config/backend.yaml
  helm/values.yaml
Due: none

fix: Fix issue with copyright in docs when navigating
  docs/copyright_hook.py
  docs/mkdocs.yml
Due: none

ci: Downgrade reg-actions to v2 (again)
  .github/workflows/storybook-diff.yml
Due: none

feat: Allow favoriting projects
  frontend/src/app/projects/project-overview/project-favorites.service.ts
  frontend/src/app/projects/project-overview/project-overview.component.html
  frontend/src/app/projects/project-overview/project-overview.component.ts
  frontend/src/app/projects/project-overview/project-overview.stories.ts
Due: prettier

Update reg_actions to output generated at runId:13284485841
  2025-02-12_13284485841_reg/actual/Overview_desktop.png
  2025-02-12_13284485841_reg/actual/Overview_mobile.png
  2025-02-12_13284485841_reg/actual/With Favorites_desktop.png
  2025-02-12_13284485841_reg/actual/With Favorites_mobile.png
  2025-02-12_13284485841_reg/diff/Overview_desktop.png
  2025-02-12_13284485841_reg/diff/Overview_mobile.png
  2025-02-12_13284485841_reg/expected/Overview_desktop.png
  2025-02-12_13284485841_reg/expected/Overview_mobile.png
Due: none

fix(session-preparation): Remove backup path instead of origin path
  images/session-preparation/clone_repositories.py
Due: none

feat: Add bundle size analysis powered by codecov
  .github/workflows/bundle-analysis.yml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/vite.config.ts
Due: prettier

ci: Disable caching of pip-dependencies
  .github/workflows/lint.yml
  .github/workflows/openapi.yml
  .github/workflows/tests.yml
Due: none

fix: Always show at least one skeleton loader
  .github/workflows/storybook-diff.yml
  frontend/src/app/helpers/skeleton-loaders/mat-card-overview-skeleton-loader/mat-card-overview-skeleton-loader.component.html
  frontend/src/app/helpers/skeleton-loaders/mat-card-overview-skeleton-loader/mat-card-overview-skeleton-loader.component.ts
Due: prettier

Update reg_actions to output generated at runId:13290745738
  2025-02-12_13290745738_reg/actual/General_mobile.png
  2025-02-12_13290745738_reg/actual/Loading As Admin_mobile.png
  2025-02-12_13290745738_reg/actual/Loading_mobile.png
  2025-02-12_13290745738_reg/diff/General_mobile.png
  2025-02-12_13290745738_reg/diff/Loading As Admin_mobile.png
  2025-02-12_13290745738_reg/diff/Loading_mobile.png
  2025-02-12_13290745738_reg/expected/General_mobile.png
  2025-02-12_13290745738_reg/expected/Loading As Admin_mobile.png
  2025-02-12_13290745738_reg/expected/Loading_mobile.png
Due: none

feat: Add session_id as label to session logs
  backend/capellacollab/sessions/hooks/log_collector.py
Due: pylint

feat: Add new dashboard to see metrics for a specific session
  backend/Makefile
  backend/capellacollab/core/email/send.py
  backend/capellacollab/feedback/email.jinja
  backend/capellacollab/feedback/util.py
  backend/pyproject.toml
  helm/config/grafana/dashboards/active-sessions.json
  helm/config/grafana/dashboards/individual-session.json
  helm/config/grafana/dashboards/individual-session.json.license
Due: pylint

feat: Pre-compress frontend with brotli
  frontend/nginx.conf
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/vite.config.ts
Due: prettier

Update reg_actions to output generated at runId:13305153388
  2025-02-13_13305153388_reg/actual/General_mobile.png
  2025-02-13_13305153388_reg/actual/Loading As Admin_mobile.png
  2025-02-13_13305153388_reg/actual/Loading_mobile.png
  2025-02-13_13305153388_reg/diff/General_mobile.png
  2025-02-13_13305153388_reg/diff/Loading As Admin_mobile.png
  2025-02-13_13305153388_reg/diff/Loading_mobile.png
  2025-02-13_13305153388_reg/expected/General_mobile.png
  2025-02-13_13305153388_reg/expected/Loading As Admin_mobile.png
  2025-02-13_13305153388_reg/expected/Loading_mobile.png
Due: none

feat(monitoring): Show session logs in individual session dashboard
  helm/config/grafana/dashboards/individual-session.json
  helm/templates/grafana/grafana.configmap.yaml
Due: none

Update reg_actions to output generated at runId:13305368521
  2025-02-13_13305368521_reg/actual/General_mobile.png
  2025-02-13_13305368521_reg/actual/Loading As Admin_mobile.png
  2025-02-13_13305368521_reg/actual/Loading_mobile.png
  2025-02-13_13305368521_reg/diff/General_mobile.png
  2025-02-13_13305368521_reg/diff/Loading As Admin_mobile.png
  2025-02-13_13305368521_reg/diff/Loading_mobile.png
  2025-02-13_13305368521_reg/expected/General_mobile.png
  2025-02-13_13305368521_reg/expected/Loading As Admin_mobile.png
  2025-02-13_13305368521_reg/expected/Loading_mobile.png
Due: none

fix: Handle unauthorized requests to Grafana or Prometheus
  frontend/src/app/general/auth/auth-redirect/auth-redirect.component.ts
  frontend/src/app/general/auth/auth/auth.component.ts
  helm/config/nginx-grafana.conf
  helm/config/nginx-prometheus.conf
Due: prettier

chore: Replace usages of executor_name fixture with users/admin fixture
  backend/tests/projects/test_projects_routes.py
  backend/tests/projects/test_projects_users_routes.py
  backend/tests/projects/toolmodels/pipelines/pipeline-runs/test_pipeline_runs.py
  backend/tests/projects/toolmodels/test_toolmodel_routes.py
  backend/tests/settings/teamforcapella/test_t4c_instances.py
  backend/tests/settings/teamforcapella/test_t4c_license_servers.py
  backend/tests/settings/test_global_configuration.py
  backend/tests/test_event_creation.py
  backend/tests/users/test_users.py
Due: none

chore: Update Delete Repo Dialog to use modern Angular Control Flow
  frontend/src/app/settings/integrations/pure-variants/pure-variants.component.html
  frontend/src/app/settings/modelsources/t4c-settings/t4c-instance-settings/t4c-instance-settings.component.css
  frontend/src/app/settings/modelsources/t4c-settings/t4c-instance-settings/t4c-instance-settings.component.ts
  frontend/src/app/settings/modelsources/t4c-settings/t4c-instance-settings/t4c-repo-deletion-dialog/t4c-repo-deletion-dialog.component.css
  frontend/src/app/settings/modelsources/t4c-settings/t4c-instance-settings/t4c-repo-deletion-dialog/t4c-repo-deletion-dialog.component.html
  frontend/src/app/settings/modelsources/t4c-settings/t4c-instance-settings/t4c-repo-deletion-dialog/t4c-repo-deletion-dialog.component.ts
  frontend/src/app/settings/modelsources/t4c-settings/t4c-instance-settings/t4c-repo-deletion-dialog/t4c-repo-deletion-dialog.stories.ts
Due: prettier

Update reg_actions to output generated at runId:13310976834
  2025-02-13_13310976834_reg/actual/Empty_desktop.png
  2025-02-13_13310976834_reg/actual/Empty_mobile.png
  2025-02-13_13310976834_reg/actual/Invalid Content_desktop.png
  2025-02-13_13310976834_reg/actual/Invalid Content_mobile.png
  2025-02-13_13310976834_reg/actual/Valid Content_desktop.png
  2025-02-13_13310976834_reg/actual/Valid Content_mobile.png
Due: none

fix: Encode query parameters in Grafana & Prometheus auth redirects
  backend/capellacollab/__main__.py
  backend/capellacollab/redirects.py
  helm/config/nginx-grafana.conf
  helm/config/nginx-prometheus.conf
Due: pylint

chore: Correctly parametrize tests (PT006)
  backend/tests/projects/test_projects_routes.py
  backend/tests/projects/toolmodels/pipelines/pipeline-runs/test_pipeline_runs.py
  backend/tests/projects/toolmodels/test_diagrams.py
  backend/tests/projects/toolmodels/test_model_badge.py
  backend/tests/sessions/k8s_operator/test_session_state.py
  backend/tests/test_event_creation.py
Due: none

chore: Use zip() with strict (B905)
  backend/tests/test_event_creation.py
Due: none

chore: Use log.exception instead of log.error with exc_info (G201,G202)
  backend/capellacollab/core/authentication/api_key_cookie.py
  backend/capellacollab/core/logging/loki.py
  backend/capellacollab/projects/toolmodels/backups/core.py
  backend/capellacollab/projects/toolmodels/backups/runs/interface.py
  backend/capellacollab/projects/toolmodels/modelsources/git/validation.py
  backend/capellacollab/sessions/hooks/http.py
  backend/capellacollab/sessions/hooks/t4c.py
  backend/capellacollab/sessions/operators/k8s.py
  backend/capellacollab/settings/modelsources/t4c/instance/repositories/routes.py
Due: pylint

chore: Remove unused imports (F401)
  backend/capellacollab/alembic/versions/19a2ff65e57a_rename_tables.py
  backend/capellacollab/alembic/versions/5717cf6b004d_add_api_url_to_git_instances.py
  backend/capellacollab/alembic/versions/6c5d1334d606_remove_scope_from_notices.py
  backend/capellacollab/alembic/versions/740f45fd20e8_remove_table_for_docker_images.py
  backend/capellacollab/alembic/versions/9259062f0f62_remove_unique_constraint_for_project.py
  backend/capellacollab/alembic/versions/951433f1f092_move_models_to_own_table.py
  backend/capellacollab/alembic/versions/9960cd073b98_remove_outdated_model_type.py
  backend/capellacollab/alembic/versions/a81a79a7eaac_remove_jenkins_support.py
  backend/capellacollab/alembic/versions/c926d3e402a8_merge_branches_permissions_and_.py
  backend/capellacollab/alembic/versions/cf93aadf77d6_add_t4c_instances.py
  backend/capellacollab/alembic/versions/d7fe491603c3_add_cascades.py
  backend/capellacollab/alembic/versions/e7a140389e22_update_databaset4cmodel_table.py
  backend/capellacollab/alembic/versions/f55b41e32223_make_instance_name_unique.py
  backend/capellacollab/alembic/versions/f7c1a89af5d7_rename_git_settings_table_to_git_.py
  backend/capellacollab/core/database/__init__.py
  backend/capellacollab/core/database/models.py
  backend/tests/test_metrics.py
Due: pylint

chore: Use __name__ instead of __file__ to get logger (LOG002)
  backend/tests/test_alembic.py
Due: none
