Repository DSD-DBS/capella-collab-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, prettier

tsc:
  name: tsc
  entry: tsc -noEmit -p ./frontend
  pass_filenames: false
  language: node
  additional_dependencies:
  - typescript@~5.6.3

prettier:
  name: prettier
  entry: prettier --write
  language: node
  additional_dependencies:
  - prettier@^3.4.2
  - prettier-plugin-tailwindcss@^0.6.11
  - '@trivago/prettier-plugin-sort-imports@^5.2.2'
  - tailwindcss@^3.4.17
  - prettier-plugin-classnames@^0.7.6
  - prettier-plugin-merge@^0.7.2

feat: Add admin token overview
  backend/capellacollab/core/authentication/basic_auth.py
  backend/capellacollab/permissions/models.py
  backend/capellacollab/routes.py
  backend/capellacollab/users/models.py
  backend/capellacollab/users/routes.py
  backend/capellacollab/users/tokens/crud.py
  backend/capellacollab/users/tokens/injectables.py
  backend/capellacollab/users/tokens/models.py
  backend/capellacollab/users/tokens/routes.py
  backend/tests/conftest.py
  backend/tests/core/authentication/test_basic_auth.py
  backend/tests/projects/test_projects_permissions.py
  backend/tests/test_permissions.py
  backend/tests/users/fixtures.py
  backend/tests/users/test_tokens.py
  frontend/src/app/app-routing.module.ts
  frontend/src/app/openapi/.openapi-generator/FILES
  frontend/src/app/openapi/api/api.ts
  frontend/src/app/openapi/api/global-tokens.service.ts
  frontend/src/app/openapi/model/admin-scopes-input.ts
  frontend/src/app/openapi/model/admin-scopes-output.ts
  frontend/src/app/openapi/model/user-token-with-password.ts
  frontend/src/app/openapi/model/user-token.ts
  frontend/src/app/settings/settings.component.html
  frontend/src/app/users/personal-access-tokens/all-personal-access-tokens/all-personal-access-tokens.component.html
  frontend/src/app/users/personal-access-tokens/all-personal-access-tokens/all-personal-access-tokens.component.ts
  frontend/src/app/users/personal-access-tokens/all-personal-access-tokens/all-personal-access-tokens.stories.ts
  frontend/src/app/users/personal-access-tokens/personal-access-tokens.component.html
  frontend/src/app/users/personal-access-tokens/personal-access-tokens.component.ts
  frontend/src/app/users/personal-access-tokens/personal-access-tokens.stories.ts
  frontend/src/app/users/personal-access-tokens/token-card/token-card.component.html
  frontend/src/app/users/personal-access-tokens/token-card/token-card.component.ts
Due: tsc, prettier

feat: Update frontend versions
  .pre-commit-config.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

feat: Add link to user profile in global token overview
  frontend/src/app/users/personal-access-tokens/token-card/token-card.component.html
  frontend/src/app/users/personal-access-tokens/token-card/token-card.component.ts
  frontend/src/app/users/users-profile/common-projects/common-projects.component.html
Due: tsc, prettier

Update reg_actions to output generated at runId:15210296801
  2025-05-23_15210296801_reg/actual/Global Token Overview_desktop.png
  2025-05-23_15210296801_reg/actual/Global Token Overview_mobile.png
  2025-05-23_15210296801_reg/diff/Global Token Overview_desktop.png
  2025-05-23_15210296801_reg/diff/Global Token Overview_mobile.png
  2025-05-23_15210296801_reg/expected/Global Token Overview_desktop.png
  2025-05-23_15210296801_reg/expected/Global Token Overview_mobile.png
Due: none

chore: Rename Gitlab to GitLab and Github to GitHub
  .gitlab-ci.yml
  backend/capellacollab/projects/toolmodels/modelsources/git/exceptions.py
  backend/capellacollab/projects/toolmodels/modelsources/git/github/handler.py
  backend/capellacollab/projects/toolmodels/modelsources/git/gitlab/exceptions.py
  backend/capellacollab/projects/toolmodels/modelsources/git/gitlab/handler.py
  backend/capellacollab/projects/toolmodels/modelsources/git/handler/factory.py
  ci-templates/gitlab/image-builder.yml
  ci-templates/gitlab/k8s-deploy.yml
  docs/docs/admin/ci-templates/gitlab/image-builder.md
  docs/docs/admin/ci-templates/gitlab/k8s-deploy.md
  docs/docs/admin/settings/model-sources/git.md
  docs/docs/user/projects/models/complexity_badge.md
  docs/docs/user/projects/models/diagrams/setup_diagram_cache.md
  docs/docs/user/projects/models/diagrams/view_diagram_cache.md
  docs/docs/user/tools/capella/git/index.md
  docs/docs/user/tools/capella/troubleshooting/index.md
  docs/mkdocs.yml
  frontend/src/app/general/404/404.component.html
  frontend/src/app/general/auth/auth/auth.component.html
  frontend/src/app/projects/models/diagrams/model-diagram-dialog/model-diagram-code-block/model-diagram-code-block.component.html
  frontend/src/app/settings/modelsources/git-instances/add-git-instance/add-git-instance.component.html
  frontend/src/app/settings/modelsources/git-instances/edit-git-instance/edit-git-instance.component.html
  frontend/src/app/settings/modelsources/git-instances/edit-git-instance/edit-git-instance.stories.ts
Due: tsc, prettier

fix: Tolerate missing diagram cache files in read-only sessions
  backend/capellacollab/projects/toolmodels/diagrams/core.py
  backend/capellacollab/projects/toolmodels/diagrams/exceptions.py
  backend/capellacollab/sessions/hooks/provisioning.py
Due: none

fix: Tolerate missing diagram cache files in read-only sessions
  Makefile
  backend/capellacollab/projects/toolmodels/diagrams/core.py
  backend/capellacollab/projects/toolmodels/diagrams/exceptions.py
  backend/capellacollab/sessions/hooks/provisioning.py
Due: none

fix: Tolerate missing diagram cache files in read-only sessions
  Makefile
  backend/capellacollab/core/database/migration.py
  backend/capellacollab/projects/toolmodels/diagrams/core.py
  backend/capellacollab/projects/toolmodels/diagrams/exceptions.py
  backend/capellacollab/projects/toolmodels/modelsources/git/exceptions.py
  backend/capellacollab/projects/toolmodels/modelsources/git/routes.py
  backend/capellacollab/sessions/hooks/provisioning.py
  images/guacamole/.trivyignore
Due: none

refactor: Use Valibot instead of Zod to decrease bundle size
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/general/announcement/announcement.service.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-session-history/session-history.service.ts
Due: tsc, prettier

fix: Avoid showing scrollbar when not necessary
  frontend/src/app/app.component.ts
Due: tsc, prettier

feat: Replace auth redirect message with spinner
  frontend/src/app/general/auth/auth-redirect/auth-redirect.component.css
  frontend/src/app/general/auth/auth-redirect/auth-redirect.component.html
  frontend/src/app/general/auth/auth-redirect/auth-redirect.component.ts
  frontend/src/app/general/auth/auth-redirect/auth-redirect.stories.ts
  frontend/src/app/users/add-tags-dialog/add-tags-dialog.stories.ts
Due: tsc, prettier

Update reg_actions to output generated at runId:15491606903
  2025-06-06_15491606903_reg/actual/General Selected_desktop.png
  2025-06-06_15491606903_reg/actual/Generated Token Hidden_mobile.png
  2025-06-06_15491606903_reg/actual/One Session Tiling Pending_desktop.png
  2025-06-06_15491606903_reg/actual/One Session Tiling Pending_mobile.png
  2025-06-06_15491606903_reg/actual/One Successful Session Non Fullscreen_desktop.png
  2025-06-06_15491606903_reg/actual/One Successful Session Non Fullscreen_mobile.png
  2025-06-06_15491606903_reg/actual/One Successful Session_desktop.png
  2025-06-06_15491606903_reg/actual/One Successful Session_mobile.png
  2025-06-06_15491606903_reg/actual/Token Overview_desktop.png
  2025-06-06_15491606903_reg/actual/Two Sessions Tiling Pending_desktop.png
  2025-06-06_15491606903_reg/actual/Two Sessions Tiling Pending_mobile.png
  2025-06-06_15491606903_reg/actual/Two Sessions Tiling_desktop.png
  2025-06-06_15491606903_reg/actual/Two Sessions Tiling_mobile.png
  2025-06-06_15491606903_reg/diff/General Selected_desktop.png
  2025-06-06_15491606903_reg/diff/Generated Token Hidden_mobile.png
  2025-06-06_15491606903_reg/diff/One Session Tiling Pending_desktop.png
  2025-06-06_15491606903_reg/diff/One Session Tiling Pending_mobile.png
  2025-06-06_15491606903_reg/diff/One Successful Session Non Fullscreen_desktop.png
  2025-06-06_15491606903_reg/diff/One Successful Session Non Fullscreen_mobile.png
  2025-06-06_15491606903_reg/diff/One Successful Session_desktop.png
  2025-06-06_15491606903_reg/diff/One Successful Session_mobile.png
  2025-06-06_15491606903_reg/diff/Token Overview_desktop.png
  2025-06-06_15491606903_reg/diff/Two Sessions Tiling Pending_desktop.png
  2025-06-06_15491606903_reg/diff/Two Sessions Tiling Pending_mobile.png
  2025-06-06_15491606903_reg/diff/Two Sessions Tiling_desktop.png
  2025-06-06_15491606903_reg/diff/Two Sessions Tiling_mobile.png
  2025-06-06_15491606903_reg/expected/General Selected_desktop.png
  2025-06-06_15491606903_reg/expected/Generated Token Hidden_mobile.png
  2025-06-06_15491606903_reg/expected/One Session Tiling Pending_desktop.png
  2025-06-06_15491606903_reg/expected/One Session Tiling Pending_mobile.png
  2025-06-06_15491606903_reg/expected/One Successful Session Non Fullscreen_desktop.png
  2025-06-06_15491606903_reg/expected/One Successful Session Non Fullscreen_mobile.png
  2025-06-06_15491606903_reg/expected/One Successful Session_desktop.png
  2025-06-06_15491606903_reg/expected/One Successful Session_mobile.png
  2025-06-06_15491606903_reg/expected/Token Overview_desktop.png
  2025-06-06_15491606903_reg/expected/Two Sessions Tiling Pending_desktop.png
  2025-06-06_15491606903_reg/expected/Two Sessions Tiling Pending_mobile.png
  2025-06-06_15491606903_reg/expected/Two Sessions Tiling_desktop.png
  2025-06-06_15491606903_reg/expected/Two Sessions Tiling_mobile.png
Due: none

build: Bump frontend versions
  .pre-commit-config.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

Update reg_actions to output generated at runId:15492911037
  2025-06-06_15492911037_reg/actual/General_desktop.png
  2025-06-06_15492911037_reg/actual/General_mobile.png
  2025-06-06_15492911037_reg/diff/General_desktop.png
  2025-06-06_15492911037_reg/diff/General_mobile.png
  2025-06-06_15492911037_reg/expected/General_desktop.png
  2025-06-06_15492911037_reg/expected/General_mobile.png
Due: none

fix: Rewire API docs redirect
  .github/workflows/docs.yml
  backend/capellacollab/__main__.py
  docs/docs/api/index.md
  docs/docs/api/redirect/openapi.md
  docs/docs/api/redirect/redoc.md
  docs/docs/api/redirect/swagger.md
  docs/mkdocs.yml
  helm/templates/routing/routing.ingress.yaml
Due: prettier

Update reg_actions to output generated at runId:15493436898
  2025-06-06_15493436898_reg/actual/General_desktop.png
  2025-06-06_15493436898_reg/diff/General_desktop.png
  2025-06-06_15493436898_reg/expected/General_desktop.png
Due: none

build: Bump minor frontend versions
  .pre-commit-config.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

build: Update `pnpm-lock.yaml` to use latest package versions
  frontend/pnpm-lock.yaml
Due: none

feat: Set cache headers on diagram cache responses
  backend/capellacollab/projects/toolmodels/diagrams/routes.py
Due: none

Update reg_actions to output generated at runId:15557033352
  2025-06-10_15557033352_reg/actual/General_desktop.png
  2025-06-10_15557033352_reg/actual/Generated Token Revealed_mobile.png
  2025-06-10_15557033352_reg/actual/Token Overview_desktop.png
  2025-06-10_15557033352_reg/diff/General_desktop.png
  2025-06-10_15557033352_reg/diff/Generated Token Revealed_mobile.png
  2025-06-10_15557033352_reg/diff/Token Overview_desktop.png
  2025-06-10_15557033352_reg/expected/General_desktop.png
  2025-06-10_15557033352_reg/expected/Generated Token Revealed_mobile.png
  2025-06-10_15557033352_reg/expected/Token Overview_desktop.png
Due: none

Update reg_actions to output generated at runId:15557054887
  2025-06-10_15557054887_reg/actual/General_desktop.png
  2025-06-10_15557054887_reg/actual/Generated Token Revealed_mobile.png
  2025-06-10_15557054887_reg/actual/Token Overview_desktop.png
  2025-06-10_15557054887_reg/diff/General_desktop.png
  2025-06-10_15557054887_reg/diff/Generated Token Revealed_mobile.png
  2025-06-10_15557054887_reg/diff/Token Overview_desktop.png
  2025-06-10_15557054887_reg/expected/General_desktop.png
  2025-06-10_15557054887_reg/expected/Generated Token Revealed_mobile.png
  2025-06-10_15557054887_reg/expected/Token Overview_desktop.png
Due: none

Update reg_actions to output generated at runId:15636652834
  2025-06-13_15636652834_reg/actual/General_desktop.png
  2025-06-13_15636652834_reg/actual/General_mobile.png
  2025-06-13_15636652834_reg/actual/Generated Token Revealed_mobile.png
  2025-06-13_15636652834_reg/diff/General_desktop.png
  2025-06-13_15636652834_reg/diff/General_mobile.png
  2025-06-13_15636652834_reg/diff/Generated Token Revealed_mobile.png
  2025-06-13_15636652834_reg/expected/General_desktop.png
  2025-06-13_15636652834_reg/expected/General_mobile.png
  2025-06-13_15636652834_reg/expected/Generated Token Revealed_mobile.png
Due: none

Update reg_actions to output generated at runId:15636712628
  2025-06-13_15636712628_reg/actual/General_mobile.png
  2025-06-13_15636712628_reg/actual/No Runs_desktop.png
  2025-06-13_15636712628_reg/actual/No Runs_mobile.png
  2025-06-13_15636712628_reg/actual/With Runs_desktop.png
  2025-06-13_15636712628_reg/actual/With Runs_mobile.png
  2025-06-13_15636712628_reg/diff/General_mobile.png
  2025-06-13_15636712628_reg/diff/No Runs_desktop.png
  2025-06-13_15636712628_reg/diff/No Runs_mobile.png
  2025-06-13_15636712628_reg/diff/With Runs_desktop.png
  2025-06-13_15636712628_reg/diff/With Runs_mobile.png
  2025-06-13_15636712628_reg/expected/General_mobile.png
  2025-06-13_15636712628_reg/expected/No Runs_desktop.png
  2025-06-13_15636712628_reg/expected/No Runs_mobile.png
  2025-06-13_15636712628_reg/expected/With Runs_desktop.png
  2025-06-13_15636712628_reg/expected/With Runs_mobile.png
Due: none

feat: Add scheduling system for jobs
  backend/Makefile
  backend/capellacollab/__main__.py
  backend/capellacollab/alembic/env.py
  backend/capellacollab/alembic/versions/5c2b67186e66_add_pipeline_job_logs_to_database.py
  backend/capellacollab/alembic/versions/b38316ab4ed2_add_log_type_to_pipeline_run_logs.py
  backend/capellacollab/cli/__main__.py
  backend/capellacollab/cli/logging.py
  backend/capellacollab/cli/scheduler.py
  backend/capellacollab/configuration/app/models.py
  backend/capellacollab/core/logging/loki.py
  backend/capellacollab/pipelines/routes.py
  backend/capellacollab/projects/toolmodels/backups/runs/interface.py
  backend/capellacollab/projects/toolmodels/backups/runs/models.py
  backend/capellacollab/projects/toolmodels/backups/runs/routes.py
  backend/capellacollab/routes.py
  backend/capellacollab/scheduling.py
  backend/capellacollab/sessions/idletimeout.py
  backend/capellacollab/sessions/operators/k8s.py
  backend/pyproject.toml
  frontend/src/app/projects/models/backup-settings/job-run-overview/job-run-overview.component.html
  helm/config/backend.yaml
Due: prettier

Update reg_actions to output generated at runId:15638330757
  2025-06-13_15638330757_reg/actual/General_desktop.png
  2025-06-13_15638330757_reg/actual/General_mobile.png
  2025-06-13_15638330757_reg/actual/No Runs_desktop.png
  2025-06-13_15638330757_reg/actual/No Runs_mobile.png
  2025-06-13_15638330757_reg/actual/With Runs_desktop.png
  2025-06-13_15638330757_reg/actual/With Runs_mobile.png
  2025-06-13_15638330757_reg/diff/General_desktop.png
  2025-06-13_15638330757_reg/diff/General_mobile.png
  2025-06-13_15638330757_reg/diff/No Runs_desktop.png
  2025-06-13_15638330757_reg/diff/No Runs_mobile.png
  2025-06-13_15638330757_reg/diff/With Runs_desktop.png
  2025-06-13_15638330757_reg/diff/With Runs_mobile.png
  2025-06-13_15638330757_reg/expected/General_desktop.png
  2025-06-13_15638330757_reg/expected/General_mobile.png
  2025-06-13_15638330757_reg/expected/No Runs_desktop.png
  2025-06-13_15638330757_reg/expected/No Runs_mobile.png
  2025-06-13_15638330757_reg/expected/With Runs_desktop.png
  2025-06-13_15638330757_reg/expected/With Runs_mobile.png
Due: none

Update reg_actions to output generated at runId:15676663194
  2025-06-16_15676663194_reg/actual/Default_desktop.png
  2025-06-16_15676663194_reg/actual/Default_mobile.png
  2025-06-16_15676663194_reg/actual/General_desktop.png
  2025-06-16_15676663194_reg/actual/General_mobile.png
  2025-06-16_15676663194_reg/actual/No Runs_desktop.png
  2025-06-16_15676663194_reg/actual/No Runs_mobile.png
  2025-06-16_15676663194_reg/actual/No Tokens_desktop.png
  2025-06-16_15676663194_reg/actual/With Runs_desktop.png
  2025-06-16_15676663194_reg/actual/With Runs_mobile.png
  2025-06-16_15676663194_reg/diff/General_desktop.png
  2025-06-16_15676663194_reg/diff/General_mobile.png
  2025-06-16_15676663194_reg/diff/No Runs_desktop.png
  2025-06-16_15676663194_reg/diff/No Runs_mobile.png
  2025-06-16_15676663194_reg/diff/No Tokens_desktop.png
  2025-06-16_15676663194_reg/diff/With Runs_desktop.png
  2025-06-16_15676663194_reg/diff/With Runs_mobile.png
  2025-06-16_15676663194_reg/expected/General_desktop.png
  2025-06-16_15676663194_reg/expected/General_mobile.png
  2025-06-16_15676663194_reg/expected/No Runs_desktop.png
  2025-06-16_15676663194_reg/expected/No Runs_mobile.png
  2025-06-16_15676663194_reg/expected/No Tokens_desktop.png
  2025-06-16_15676663194_reg/expected/With Runs_desktop.png
  2025-06-16_15676663194_reg/expected/With Runs_mobile.png
Due: none

Update reg_actions to output generated at runId:15676944009
  2025-06-16_15676944009_reg/actual/General_mobile.png
  2025-06-16_15676944009_reg/actual/Generated Token Hidden_mobile.png
  2025-06-16_15676944009_reg/actual/Token Overview_desktop.png
  2025-06-16_15676944009_reg/diff/General_mobile.png
  2025-06-16_15676944009_reg/diff/Generated Token Hidden_mobile.png
  2025-06-16_15676944009_reg/diff/Token Overview_desktop.png
  2025-06-16_15676944009_reg/expected/General_mobile.png
  2025-06-16_15676944009_reg/expected/Generated Token Hidden_mobile.png
  2025-06-16_15676944009_reg/expected/Token Overview_desktop.png
Due: none

Path conditions:
  tsc: any of: \.(ts|mts|cts)$
  prettier: any of: \.(ts|mts|cts)$, \.css$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$, but not: ^frontend/src/app/openapi
