Repository DSD-DBS/capella-collab-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier

Path conditions:
  pylint: any of: ^backend/capellacollab and \.py$ and not (^backend/capellacollab/alembic/)
  prettier: any of: \.(ts|mts|cts)$, \.css$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$, but not: ^frontend/src/app/openapi

feat: Add indicator to warn when most t4c licenses are being used
  backend/capellacollab/settings/modelsources/t4c/license_server/models.py
  backend/capellacollab/settings/modelsources/t4c/license_server/routes.py
  backend/capellacollab/settings/modelsources/t4c/routes.py
  frontend/src/app/openapi/.openapi-generator/FILES
  frontend/src/app/openapi/api/settings-modelsources-t4-c-license-servers.service.ts
  frontend/src/app/openapi/model/models.ts
  frontend/src/app/openapi/model/public-license-server-with-usage.ts
  frontend/src/app/sessions/license-indicator/license-indicator.component.html
  frontend/src/app/sessions/license-indicator/license-indicator.component.ts
  frontend/src/app/sessions/license-indicator/license-indicator.stories.ts
  frontend/src/app/sessions/license-indicator/license-usage.service.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-persistent-session/create-persistent-session.component.html
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-persistent-session/create-persistent-session.component.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-persistent-session/create-persistent-session.stories.ts
Due: pylint, prettier

Update reg_actions to output generated at runId:11293753617
  2024-10-11_11293753617_reg/actual/Project Components_Create Project_Add Team Members_desktop.png
  2024-10-11_11293753617_reg/actual/Session Components_Create Persistent Session_Default_desktop.png
  2024-10-11_11293753617_reg/actual/Session Components_Create Persistent Session_Default_mobile.png
  2024-10-11_11293753617_reg/actual/Session Components_License Indicator_All Used_desktop.png
  2024-10-11_11293753617_reg/actual/Session Components_License Indicator_All Used_mobile.png
  2024-10-11_11293753617_reg/actual/Session Components_License Indicator_Few Used_desktop.png
  2024-10-11_11293753617_reg/actual/Session Components_License Indicator_Few Used_mobile.png
  2024-10-11_11293753617_reg/actual/Session Components_License Indicator_Some Used_desktop.png
  2024-10-11_11293753617_reg/actual/Session Components_License Indicator_Some Used_mobile.png
  2024-10-11_11293753617_reg/diff/Project Components_Create Project_Add Team Members_desktop.png
  2024-10-11_11293753617_reg/expected/Project Components_Create Project_Add Team Members_desktop.png
Due: none

Update reg_actions to output generated at runId:11341624751
  2024-10-15_11341624751_reg/actual/Project Components_Create Project_Add Model_desktop.png
  2024-10-15_11341624751_reg/diff/Project Components_Create Project_Add Model_desktop.png
  2024-10-15_11341624751_reg/expected/Project Components_Create Project_Add Model_desktop.png
Due: none

test(storybook): Capture "Create project" story snapshots with delay
  frontend/src/app/projects/create-project/create-project.stories.ts
Due: prettier

fix: Fix an issue where feedback that shared contact info was not sent
  backend/capellacollab/feedback/routes.py
  backend/capellacollab/feedback/util.py
Due: pylint

chore: Add exception logging for email formatting
  backend/capellacollab/feedback/util.py
Due: pylint

fix(grafana): Remove data without anonymity label from anonymity gauge
  helm/config/grafana/dashboards/feedback.json
Due: none

build: Update frontend versions
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(grafana): Add fallback if all values have anonymous label
  helm/config/grafana/dashboards/feedback.json
Due: none

fix: Use correct registry to build session containers
  Makefile
Due: none

feat: Add Capella version 7.0.0 as default tool
  backend/capellacollab/core/database/migration.py
Due: pylint

feat: Remove experimental status of the Xpra connection method
  backend/capellacollab/alembic/versions/7683b08b00ba_add_environment_and_connection_info_to_.py
  backend/capellacollab/core/database/migration.py
  backend/tests/test_feedback.py
  docs/docs/admin/tools/configuration.md
Due: pylint, prettier

chore(dev): Set default port to 4200 in backend configuration
  backend/capellacollab/__main__.py
  backend/capellacollab/config/models.py
  backend/capellacollab/core/database/migration.py
Due: pylint

feat(grafana): Increase width of feedback dashboard
  helm/config/grafana/dashboards/feedback.json
Due: none

feat: Add support for provisioning of tool models
  backend/capellacollab/alembic/versions/014438261702_add_provisioning_feature.py
  backend/capellacollab/core/database/models.py
  backend/capellacollab/projects/toolmodels/modelsources/git/routes.py
  backend/capellacollab/projects/toolmodels/provisioning/__init__.py
  backend/capellacollab/projects/toolmodels/provisioning/crud.py
  backend/capellacollab/projects/toolmodels/provisioning/injectables.py
  backend/capellacollab/projects/toolmodels/provisioning/models.py
  backend/capellacollab/projects/toolmodels/provisioning/routes.py
  backend/capellacollab/projects/toolmodels/routes.py
  backend/capellacollab/sessions/hooks/guacamole.py
  backend/capellacollab/sessions/hooks/http.py
  backend/capellacollab/sessions/hooks/interface.py
  backend/capellacollab/sessions/hooks/jupyter.py
  backend/capellacollab/sessions/hooks/networking.py
  backend/capellacollab/sessions/hooks/persistent_workspace.py
  backend/capellacollab/sessions/hooks/provisioning.py
  backend/capellacollab/sessions/hooks/pure_variants.py
  backend/capellacollab/sessions/hooks/read_only_workspace.py
  backend/capellacollab/sessions/hooks/session_preparation.py
  backend/capellacollab/sessions/hooks/t4c.py
  backend/capellacollab/sessions/models.py
  backend/capellacollab/sessions/operators/k8s.py
  backend/capellacollab/sessions/routes.py
  backend/capellacollab/sessions/util.py
  backend/capellacollab/settings/modelsources/git/core.py
  backend/capellacollab/settings/modelsources/git/exceptions.py
  backend/capellacollab/settings/modelsources/git/routes.py
  backend/tests/sessions/hooks/conftest.py
  backend/tests/sessions/hooks/test_jupyter_hook.py
  backend/tests/sessions/hooks/test_persistent_workspace.py
  backend/tests/sessions/hooks/test_provisioning_hook.py
  backend/tests/sessions/hooks/test_pure_variants.py
  backend/tests/sessions/hooks/test_session_preparation.py
  backend/tests/sessions/hooks/test_t4c_hook.py
  backend/tests/sessions/test_session_hooks.py
  backend/tests/settings/test_git_instances.py
  docs/docs/admin/tools/configuration.md
Due: pylint, prettier

Update reg_actions to output generated at runId:11388723328
  2024-10-17_11388723328_reg/actual/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-17_11388723328_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-17_11388723328_reg/diff/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-17_11388723328_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-17_11388723328_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-17_11388723328_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
Due: none

feat: Add support for provisioning of tool models
  backend/capellacollab/alembic/versions/014438261702_add_provisioning_feature.py
  backend/capellacollab/core/database/models.py
  backend/capellacollab/projects/toolmodels/modelsources/git/routes.py
  backend/capellacollab/projects/toolmodels/provisioning/__init__.py
  backend/capellacollab/projects/toolmodels/provisioning/crud.py
  backend/capellacollab/projects/toolmodels/provisioning/injectables.py
  backend/capellacollab/projects/toolmodels/provisioning/models.py
  backend/capellacollab/projects/toolmodels/provisioning/routes.py
  backend/capellacollab/projects/toolmodels/routes.py
  backend/capellacollab/sessions/hooks/guacamole.py
  backend/capellacollab/sessions/hooks/http.py
  backend/capellacollab/sessions/hooks/interface.py
  backend/capellacollab/sessions/hooks/jupyter.py
  backend/capellacollab/sessions/hooks/networking.py
  backend/capellacollab/sessions/hooks/persistent_workspace.py
  backend/capellacollab/sessions/hooks/provisioning.py
  backend/capellacollab/sessions/hooks/pure_variants.py
  backend/capellacollab/sessions/hooks/read_only_workspace.py
  backend/capellacollab/sessions/hooks/session_preparation.py
  backend/capellacollab/sessions/hooks/t4c.py
  backend/capellacollab/sessions/models.py
  backend/capellacollab/sessions/operators/k8s.py
  backend/capellacollab/sessions/routes.py
  backend/capellacollab/sessions/util.py
  backend/capellacollab/settings/modelsources/git/core.py
  backend/capellacollab/settings/modelsources/git/exceptions.py
  backend/capellacollab/settings/modelsources/git/routes.py
  backend/tests/sessions/hooks/conftest.py
  backend/tests/sessions/hooks/test_guacamole_hook.py
  backend/tests/sessions/hooks/test_http_hook.py
  backend/tests/sessions/hooks/test_jupyter_hook.py
  backend/tests/sessions/hooks/test_networking_hook.py
  backend/tests/sessions/hooks/test_persistent_workspace.py
  backend/tests/sessions/hooks/test_provisioning_hook.py
  backend/tests/sessions/hooks/test_pure_variants.py
  backend/tests/sessions/hooks/test_session_preparation.py
  backend/tests/sessions/hooks/test_t4c_hook.py
  backend/tests/sessions/test_session_hooks.py
  backend/tests/settings/test_git_instances.py
  docs/docs/admin/tools/configuration.md
Due: pylint, prettier

Update reg_actions to output generated at runId:11402108486
  2024-10-18_11402108486_reg/actual/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-18_11402108486_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-18_11402108486_reg/diff/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-18_11402108486_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-18_11402108486_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-18_11402108486_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
Due: none

Update reg_actions to output generated at runId:11459598940
  2024-10-22_11459598940_reg/actual/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-22_11459598940_reg/actual/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-22_11459598940_reg/actual/Project Components_Project Details_Loading_desktop.png
  2024-10-22_11459598940_reg/actual/Project Components_Project Details_Loading_mobile.png
  2024-10-22_11459598940_reg/actual/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-22_11459598940_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-22_11459598940_reg/diff/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-22_11459598940_reg/diff/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-22_11459598940_reg/diff/Project Components_Project Details_Loading_desktop.png
  2024-10-22_11459598940_reg/diff/Project Components_Project Details_Loading_mobile.png
  2024-10-22_11459598940_reg/diff/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-22_11459598940_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-22_11459598940_reg/expected/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-22_11459598940_reg/expected/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-22_11459598940_reg/expected/Project Components_Project Details_Loading_desktop.png
  2024-10-22_11459598940_reg/expected/Project Components_Project Details_Loading_mobile.png
  2024-10-22_11459598940_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-22_11459598940_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
Due: none

Update reg_actions to output generated at runId:11460729780
  2024-10-22_11460729780_reg/actual/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-22_11460729780_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-22_11460729780_reg/diff/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-22_11460729780_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-22_11460729780_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-22_11460729780_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
Due: none

Update reg_actions to output generated at runId:11477118181
  2024-10-23_11477118181_reg/actual/Session Components_Create Persistent Session_Default_desktop.png
  2024-10-23_11477118181_reg/actual/Session Components_Create Persistent Session_Default_mobile.png
  2024-10-23_11477118181_reg/actual/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-23_11477118181_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-23_11477118181_reg/actual/Session Components_License Indicator_All Used_desktop.png
  2024-10-23_11477118181_reg/actual/Session Components_License Indicator_All Used_mobile.png
  2024-10-23_11477118181_reg/actual/Session Components_License Indicator_Few Used_desktop.png
  2024-10-23_11477118181_reg/actual/Session Components_License Indicator_Few Used_mobile.png
  2024-10-23_11477118181_reg/actual/Session Components_License Indicator_Some Used_desktop.png
  2024-10-23_11477118181_reg/actual/Session Components_License Indicator_Some Used_mobile.png
  2024-10-23_11477118181_reg/diff/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-23_11477118181_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-23_11477118181_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-23_11477118181_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
Due: none

Update reg_actions to output generated at runId:11477233220
  2024-10-23_11477233220_reg/actual/Session Components_Create Persistent Session_Default_desktop.png
  2024-10-23_11477233220_reg/actual/Session Components_Create Persistent Session_Default_mobile.png
  2024-10-23_11477233220_reg/actual/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-23_11477233220_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-23_11477233220_reg/actual/Session Components_License Indicator_All Used_desktop.png
  2024-10-23_11477233220_reg/actual/Session Components_License Indicator_All Used_mobile.png
  2024-10-23_11477233220_reg/actual/Session Components_License Indicator_Few Used_desktop.png
  2024-10-23_11477233220_reg/actual/Session Components_License Indicator_Few Used_mobile.png
  2024-10-23_11477233220_reg/actual/Session Components_License Indicator_Some Used_desktop.png
  2024-10-23_11477233220_reg/actual/Session Components_License Indicator_Some Used_mobile.png
  2024-10-23_11477233220_reg/diff/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-23_11477233220_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-23_11477233220_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-23_11477233220_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
Due: none

docs: Add instructions how to upload images to T4C repository
  docs/docs/user/sessions/files/index.md
  docs/docs/user/tools/capella/teamforcapella/upload-images/add-image-to-description.png
  docs/docs/user/tools/capella/teamforcapella/upload-images/add-image-to-description.png.license
  docs/docs/user/tools/capella/teamforcapella/upload-images/index.md
  docs/docs/user/tools/capella/teamforcapella/upload-images/manage-images.png
  docs/docs/user/tools/capella/teamforcapella/upload-images/manage-images.png.license
  docs/docs/user/tools/capella/teamforcapella/upload-images/new-folder.png
  docs/docs/user/tools/capella/teamforcapella/upload-images/new-folder.png.license
  docs/docs/user/tools/capella/teamforcapella/upload-images/new-project.png
  docs/docs/user/tools/capella/teamforcapella/upload-images/new-project.png.license
  docs/docs/user/tools/capella/teamforcapella/upload-images/select-images.png
  docs/docs/user/tools/capella/teamforcapella/upload-images/select-images.png.license
  docs/docs/user/tools/capella/teamforcapella/upload-images/select-local-images.png
  docs/docs/user/tools/capella/teamforcapella/upload-images/select-local-images.png.license
  docs/docs/user/tools/capella/teamforcapella/upload-images/select-workspace.png
  docs/docs/user/tools/capella/teamforcapella/upload-images/select-workspace.png.license
  docs/docs/user/tools/capella/teamforcapella/upload-images/upload-from-workspace.png
  docs/docs/user/tools/capella/teamforcapella/upload-images/upload-from-workspace.png.license
  docs/mkdocs.yml
Due: prettier

Update reg_actions to output generated at runId:11478050680
  2024-10-23_11478050680_reg/actual/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-23_11478050680_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-23_11478050680_reg/diff/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-23_11478050680_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-23_11478050680_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-23_11478050680_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
Due: none

Update reg_actions to output generated at runId:11480933574
  2024-10-23_11480933574_reg/actual/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-23_11480933574_reg/actual/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-23_11480933574_reg/actual/Project Components_Project Details_Loading_desktop.png
  2024-10-23_11480933574_reg/actual/Project Components_Project Details_Loading_mobile.png
  2024-10-23_11480933574_reg/actual/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-23_11480933574_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-23_11480933574_reg/diff/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-23_11480933574_reg/diff/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-23_11480933574_reg/diff/Project Components_Project Details_Loading_desktop.png
  2024-10-23_11480933574_reg/diff/Project Components_Project Details_Loading_mobile.png
  2024-10-23_11480933574_reg/diff/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-23_11480933574_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-23_11480933574_reg/expected/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-23_11480933574_reg/expected/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-23_11480933574_reg/expected/Project Components_Project Details_Loading_desktop.png
  2024-10-23_11480933574_reg/expected/Project Components_Project Details_Loading_mobile.png
  2024-10-23_11480933574_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-23_11480933574_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
Due: none

Update reg_actions to output generated at runId:11482655723
  2024-10-23_11482655723_reg/actual/Session Components_Create Persistent Session_Default_desktop.png
  2024-10-23_11482655723_reg/actual/Session Components_Create Persistent Session_Default_mobile.png
  2024-10-23_11482655723_reg/actual/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-23_11482655723_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-23_11482655723_reg/actual/Session Components_License Indicator_All Used_desktop.png
  2024-10-23_11482655723_reg/actual/Session Components_License Indicator_All Used_mobile.png
  2024-10-23_11482655723_reg/actual/Session Components_License Indicator_Few Used_desktop.png
  2024-10-23_11482655723_reg/actual/Session Components_License Indicator_Few Used_mobile.png
  2024-10-23_11482655723_reg/actual/Session Components_License Indicator_Some Used_desktop.png
  2024-10-23_11482655723_reg/actual/Session Components_License Indicator_Some Used_mobile.png
  2024-10-23_11482655723_reg/diff/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-23_11482655723_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-23_11482655723_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-23_11482655723_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
Due: none

Update reg_actions to output generated at runId:11482900020
  2024-10-23_11482900020_reg/actual/Session Components_Create Persistent Session_Default_desktop.png
  2024-10-23_11482900020_reg/actual/Session Components_Create Persistent Session_Default_mobile.png
  2024-10-23_11482900020_reg/actual/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-23_11482900020_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-23_11482900020_reg/actual/Session Components_License Indicator_All Used_desktop.png
  2024-10-23_11482900020_reg/actual/Session Components_License Indicator_All Used_mobile.png
  2024-10-23_11482900020_reg/actual/Session Components_License Indicator_Few Used_desktop.png
  2024-10-23_11482900020_reg/actual/Session Components_License Indicator_Few Used_mobile.png
  2024-10-23_11482900020_reg/actual/Session Components_License Indicator_Some Used_desktop.png
  2024-10-23_11482900020_reg/actual/Session Components_License Indicator_Some Used_mobile.png
  2024-10-23_11482900020_reg/diff/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-23_11482900020_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-23_11482900020_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-23_11482900020_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
Due: none

Update reg_actions to output generated at runId:11483899615
  2024-10-23_11483899615_reg/actual/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-23_11483899615_reg/actual/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-23_11483899615_reg/actual/Project Components_Project Details_Loading_desktop.png
  2024-10-23_11483899615_reg/actual/Project Components_Project Details_Loading_mobile.png
  2024-10-23_11483899615_reg/actual/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-23_11483899615_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-23_11483899615_reg/diff/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-23_11483899615_reg/diff/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-23_11483899615_reg/diff/Project Components_Project Details_Loading_desktop.png
  2024-10-23_11483899615_reg/diff/Project Components_Project Details_Loading_mobile.png
  2024-10-23_11483899615_reg/diff/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-23_11483899615_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-23_11483899615_reg/expected/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-23_11483899615_reg/expected/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-23_11483899615_reg/expected/Project Components_Project Details_Loading_desktop.png
  2024-10-23_11483899615_reg/expected/Project Components_Project Details_Loading_mobile.png
  2024-10-23_11483899615_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-23_11483899615_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
Due: none

Update reg_actions to output generated at runId:11495758779
  2024-10-24_11495758779_reg/actual/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-24_11495758779_reg/actual/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-24_11495758779_reg/actual/Project Components_Project Details_Loading_desktop.png
  2024-10-24_11495758779_reg/actual/Project Components_Project Details_Loading_mobile.png
  2024-10-24_11495758779_reg/actual/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-24_11495758779_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-24_11495758779_reg/diff/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-24_11495758779_reg/diff/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-24_11495758779_reg/diff/Project Components_Project Details_Loading_desktop.png
  2024-10-24_11495758779_reg/diff/Project Components_Project Details_Loading_mobile.png
  2024-10-24_11495758779_reg/diff/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-24_11495758779_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-24_11495758779_reg/expected/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-24_11495758779_reg/expected/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-24_11495758779_reg/expected/Project Components_Project Details_Loading_desktop.png
  2024-10-24_11495758779_reg/expected/Project Components_Project Details_Loading_mobile.png
  2024-10-24_11495758779_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-24_11495758779_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
Due: none

Update reg_actions to output generated at runId:11496193902
  2024-10-24_11496193902_reg/actual/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-24_11496193902_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-24_11496193902_reg/diff/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-24_11496193902_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-24_11496193902_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-24_11496193902_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
Due: none

fix: Increase connection pool to 20 concurrent database connections
  backend/capellacollab/core/database/__init__.py
Due: pylint

Update reg_actions to output generated at runId:11496307884
  2024-10-24_11496307884_reg/actual/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-24_11496307884_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-24_11496307884_reg/diff/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-24_11496307884_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-24_11496307884_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-24_11496307884_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
Due: none

feat: Add metrics about the SQLAlchemy database pool
  backend/capellacollab/__main__.py
  backend/capellacollab/core/database/metrics.py
  backend/capellacollab/metrics.py
  backend/tests/core/test_database_metrics.py
Due: pylint

feat: Add indicator to warn when most t4c licenses are being used
  backend/capellacollab/settings/modelsources/t4c/license_server/models.py
  backend/capellacollab/settings/modelsources/t4c/license_server/routes.py
  backend/capellacollab/settings/modelsources/t4c/routes.py
  backend/tests/settings/teamforcapella/test_t4c_license_servers.py
  frontend/src/app/openapi/api/settings-modelsources-t4-c-license-servers.service.ts
  frontend/src/app/sessions/license-indicator/license-indicator.component.html
  frontend/src/app/sessions/license-indicator/license-indicator.component.ts
  frontend/src/app/sessions/license-indicator/license-indicator.stories.ts
  frontend/src/app/sessions/license-indicator/license-usage.service.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-persistent-session/create-persistent-session.component.html
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-persistent-session/create-persistent-session.component.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-persistent-session/create-persistent-session.stories.ts
Due: pylint, prettier

Update reg_actions to output generated at runId:11499370171
  2024-10-24_11499370171_reg/actual/Session Components_Create Persistent Session_Default_desktop.png
  2024-10-24_11499370171_reg/actual/Session Components_Create Persistent Session_Default_mobile.png
  2024-10-24_11499370171_reg/actual/Session Components_License Indicator_All Used_desktop.png
  2024-10-24_11499370171_reg/actual/Session Components_License Indicator_All Used_mobile.png
  2024-10-24_11499370171_reg/actual/Session Components_License Indicator_Few Used_desktop.png
  2024-10-24_11499370171_reg/actual/Session Components_License Indicator_Few Used_mobile.png
  2024-10-24_11499370171_reg/actual/Session Components_License Indicator_Some Used_desktop.png
  2024-10-24_11499370171_reg/actual/Session Components_License Indicator_Some Used_mobile.png
Due: none

Update reg_actions to output generated at runId:11521309289
  2024-10-25_11521309289_reg/actual/Project Components_Create Project_Create Project_desktop.png
  2024-10-25_11521309289_reg/diff/Project Components_Create Project_Create Project_desktop.png
  2024-10-25_11521309289_reg/expected/Project Components_Create Project_Create Project_desktop.png
Due: none

Update reg_actions to output generated at runId:11553022100
  2024-10-28_11553022100_reg/actual/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-28_11553022100_reg/actual/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-28_11553022100_reg/actual/Project Components_Project Details_Loading_desktop.png
  2024-10-28_11553022100_reg/actual/Project Components_Project Details_Loading_mobile.png
  2024-10-28_11553022100_reg/diff/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-28_11553022100_reg/diff/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-28_11553022100_reg/diff/Project Components_Project Details_Loading_desktop.png
  2024-10-28_11553022100_reg/diff/Project Components_Project Details_Loading_mobile.png
  2024-10-28_11553022100_reg/expected/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-28_11553022100_reg/expected/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-28_11553022100_reg/expected/Project Components_Project Details_Loading_desktop.png
  2024-10-28_11553022100_reg/expected/Project Components_Project Details_Loading_mobile.png
Due: none
