Repository DSD-DBS/capella-collab-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=./backend/pyproject.toml
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - prettier-plugin-tailwindcss@^0.6.8
  - '@trivago/prettier-plugin-sort-imports@^4.3.0'
  - tailwindcss@^3.4.12

Update reg_actions to output generated at runId:11720452362
  2024-11-07_11720452362_reg/actual/Project Components_Create Project_Add Model_desktop.png
  2024-11-07_11720452362_reg/actual/Project Components_Create Project_Add Model_mobile.png
  2024-11-07_11720452362_reg/actual/Project Components_Create Project_Add Team Members_desktop.png
  2024-11-07_11720452362_reg/actual/Project Components_Create Project_Add Team Members_mobile.png
  2024-11-07_11720452362_reg/actual/Project Components_Create Project_Create Project_desktop.png
  2024-11-07_11720452362_reg/actual/Project Components_Create Project_Create Project_mobile.png
  2024-11-07_11720452362_reg/diff/Project Components_Create Project_Add Model_desktop.png
  2024-11-07_11720452362_reg/diff/Project Components_Create Project_Add Model_mobile.png
  2024-11-07_11720452362_reg/diff/Project Components_Create Project_Add Team Members_desktop.png
  2024-11-07_11720452362_reg/diff/Project Components_Create Project_Add Team Members_mobile.png
  2024-11-07_11720452362_reg/diff/Project Components_Create Project_Create Project_desktop.png
  2024-11-07_11720452362_reg/diff/Project Components_Create Project_Create Project_mobile.png
  2024-11-07_11720452362_reg/expected/Project Components_Create Project_Add Model_desktop.png
  2024-11-07_11720452362_reg/expected/Project Components_Create Project_Add Model_mobile.png
  2024-11-07_11720452362_reg/expected/Project Components_Create Project_Add Team Members_desktop.png
  2024-11-07_11720452362_reg/expected/Project Components_Create Project_Add Team Members_mobile.png
  2024-11-07_11720452362_reg/expected/Project Components_Create Project_Create Project_desktop.png
  2024-11-07_11720452362_reg/expected/Project Components_Create Project_Create Project_mobile.png
Due: none

Update reg_actions to output generated at runId:11720743739
  2024-11-07_11720743739_reg/actual/Project Components_Create Project_Add Model_desktop.png
  2024-11-07_11720743739_reg/actual/Project Components_Create Project_Add Model_mobile.png
  2024-11-07_11720743739_reg/actual/Project Components_Create Project_Add Team Members_desktop.png
  2024-11-07_11720743739_reg/actual/Project Components_Create Project_Add Team Members_mobile.png
  2024-11-07_11720743739_reg/actual/Project Components_Create Project_Create Project_desktop.png
  2024-11-07_11720743739_reg/actual/Project Components_Create Project_Create Project_mobile.png
  2024-11-07_11720743739_reg/diff/Project Components_Create Project_Add Model_desktop.png
  2024-11-07_11720743739_reg/diff/Project Components_Create Project_Add Model_mobile.png
  2024-11-07_11720743739_reg/diff/Project Components_Create Project_Add Team Members_desktop.png
  2024-11-07_11720743739_reg/diff/Project Components_Create Project_Add Team Members_mobile.png
  2024-11-07_11720743739_reg/diff/Project Components_Create Project_Create Project_desktop.png
  2024-11-07_11720743739_reg/diff/Project Components_Create Project_Create Project_mobile.png
  2024-11-07_11720743739_reg/expected/Project Components_Create Project_Add Model_desktop.png
  2024-11-07_11720743739_reg/expected/Project Components_Create Project_Add Model_mobile.png
  2024-11-07_11720743739_reg/expected/Project Components_Create Project_Add Team Members_desktop.png
  2024-11-07_11720743739_reg/expected/Project Components_Create Project_Add Team Members_mobile.png
  2024-11-07_11720743739_reg/expected/Project Components_Create Project_Create Project_desktop.png
  2024-11-07_11720743739_reg/expected/Project Components_Create Project_Create Project_mobile.png
Due: none

Update reg_actions to output generated at runId:11721607442
  2024-11-07_11721607442_reg/actual/Project Components_Create Project_Create Project_desktop.png
  2024-11-07_11721607442_reg/actual/Project Components_Create Project_Create Project_mobile.png
  2024-11-07_11721607442_reg/diff/Project Components_Create Project_Create Project_desktop.png
  2024-11-07_11721607442_reg/diff/Project Components_Create Project_Create Project_mobile.png
  2024-11-07_11721607442_reg/expected/Project Components_Create Project_Create Project_desktop.png
  2024-11-07_11721607442_reg/expected/Project Components_Create Project_Create Project_mobile.png
Due: none

perf: Add profiling option for backend routes
  .github/workflows/openapi.yml
  .pre-commit-config.yaml
  backend/capellacollab/__main__.py
  backend/capellacollab/config/models.py
  backend/pyproject.toml
  docs/docs/development/backend/profiling.md
  docs/mkdocs.yml
Due: pylint, prettier

feat: Allow setting project type during creation
  backend/capellacollab/projects/models.py
  backend/capellacollab/projects/routes.py
  frontend/src/app/openapi/model/post-project-request.ts
  frontend/src/app/projects/create-project/create-project.component.html
  frontend/src/app/projects/create-project/create-project.component.ts
  frontend/src/app/projects/service/project.service.ts
  frontend/src/storybook/project.ts
Due: pylint, prettier

Update reg_actions to output generated at runId:11723572039
  2024-11-07_11723572039_reg/actual/Project Components_Create Project_Create Project_desktop.png
  2024-11-07_11723572039_reg/actual/Project Components_Create Project_Create Project_mobile.png
  2024-11-07_11723572039_reg/actual/Project Components_Project Details_Edit Project Metadata_General_desktop.png
  2024-11-07_11723572039_reg/actual/Project Components_Project Details_Edit Project Metadata_General_mobile.png
  2024-11-07_11723572039_reg/actual/Project Components_Project Details_Edit Project Metadata_With Title_desktop.png
  2024-11-07_11723572039_reg/actual/Project Components_Project Details_Edit Project Metadata_With Title_mobile.png
  2024-11-07_11723572039_reg/diff/Project Components_Create Project_Create Project_desktop.png
  2024-11-07_11723572039_reg/diff/Project Components_Create Project_Create Project_mobile.png
  2024-11-07_11723572039_reg/diff/Project Components_Project Details_Edit Project Metadata_General_desktop.png
  2024-11-07_11723572039_reg/diff/Project Components_Project Details_Edit Project Metadata_General_mobile.png
  2024-11-07_11723572039_reg/diff/Project Components_Project Details_Edit Project Metadata_With Title_desktop.png
  2024-11-07_11723572039_reg/diff/Project Components_Project Details_Edit Project Metadata_With Title_mobile.png
  2024-11-07_11723572039_reg/expected/Project Components_Create Project_Create Project_desktop.png
  2024-11-07_11723572039_reg/expected/Project Components_Create Project_Create Project_mobile.png
  2024-11-07_11723572039_reg/expected/Project Components_Project Details_Edit Project Metadata_General_desktop.png
  2024-11-07_11723572039_reg/expected/Project Components_Project Details_Edit Project Metadata_General_mobile.png
  2024-11-07_11723572039_reg/expected/Project Components_Project Details_Edit Project Metadata_With Title_desktop.png
  2024-11-07_11723572039_reg/expected/Project Components_Project Details_Edit Project Metadata_With Title_mobile.png
Due: none

Update reg_actions to output generated at runId:11723616366
  2024-11-07_11723616366_reg/actual/Project Components_Create Project_Create Project_desktop.png
  2024-11-07_11723616366_reg/actual/Project Components_Create Project_Create Project_mobile.png
  2024-11-07_11723616366_reg/actual/Project Components_Project Details_Edit Project Metadata_General_desktop.png
  2024-11-07_11723616366_reg/actual/Project Components_Project Details_Edit Project Metadata_General_mobile.png
  2024-11-07_11723616366_reg/actual/Project Components_Project Details_Edit Project Metadata_With Title_desktop.png
  2024-11-07_11723616366_reg/actual/Project Components_Project Details_Edit Project Metadata_With Title_mobile.png
  2024-11-07_11723616366_reg/diff/Project Components_Create Project_Create Project_desktop.png
  2024-11-07_11723616366_reg/diff/Project Components_Create Project_Create Project_mobile.png
  2024-11-07_11723616366_reg/diff/Project Components_Project Details_Edit Project Metadata_General_desktop.png
  2024-11-07_11723616366_reg/diff/Project Components_Project Details_Edit Project Metadata_General_mobile.png
  2024-11-07_11723616366_reg/diff/Project Components_Project Details_Edit Project Metadata_With Title_desktop.png
  2024-11-07_11723616366_reg/diff/Project Components_Project Details_Edit Project Metadata_With Title_mobile.png
  2024-11-07_11723616366_reg/expected/Project Components_Create Project_Create Project_desktop.png
  2024-11-07_11723616366_reg/expected/Project Components_Create Project_Create Project_mobile.png
  2024-11-07_11723616366_reg/expected/Project Components_Project Details_Edit Project Metadata_General_desktop.png
  2024-11-07_11723616366_reg/expected/Project Components_Project Details_Edit Project Metadata_General_mobile.png
  2024-11-07_11723616366_reg/expected/Project Components_Project Details_Edit Project Metadata_With Title_desktop.png
  2024-11-07_11723616366_reg/expected/Project Components_Project Details_Edit Project Metadata_With Title_mobile.png
Due: none

refactor(backend): Replace deprecated `on_startup` and `on_shutdown`
  backend/capellacollab/__main__.py
  backend/capellacollab/core/database/migration.py
  backend/capellacollab/metrics.py
  backend/capellacollab/projects/toolmodels/backups/runs/interface.py
  backend/capellacollab/sessions/idletimeout.py
Due: pylint

chore: Improve error message for failed pipeline operation
  backend/capellacollab/core/database/migration.py
  backend/capellacollab/projects/toolmodels/backups/exceptions.py
Due: pylint

feat!: Improve session state reliability
  backend/capellacollab/sessions/injection.py
  backend/capellacollab/sessions/models.py
  backend/capellacollab/sessions/operators/k8s.py
  backend/tests/sessions/fixtures.py
  backend/tests/sessions/k8s_operator/test_session_k8s_download.py
  backend/tests/sessions/k8s_operator/test_session_k8s_operator.py
  backend/tests/sessions/k8s_operator/test_session_state.py
  backend/tests/sessions/test_session_injection.py
  backend/tests/sessions/test_session_routes.py
  backend/tests/sessions/test_session_sharing.py
  frontend/src/app/openapi/.openapi-generator/FILES
  frontend/src/app/openapi/model/models.ts
  frontend/src/app/openapi/model/session-preparation-state.ts
  frontend/src/app/openapi/model/session-state.ts
  frontend/src/app/openapi/model/session.ts
  frontend/src/app/sessions/feedback/feedback-dialog/feedback-dialog.stories.ts
  frontend/src/app/sessions/service/session.service.ts
  frontend/src/app/sessions/session-overview/session-overview.component.html
  frontend/src/app/sessions/session-overview/session-overview.component.ts
  frontend/src/app/sessions/session-overview/session-overview.stories.ts
  frontend/src/app/sessions/session/session.component.html
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/active-sessions.component.html
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/active-sessions.stories.ts
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/connection-dialog/connection-dialog.stories.ts
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/file-browser-dialog/file-browser-dialog.stories.ts
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/session-sharing-dialog/session-sharing-dialog.stories.ts
  frontend/src/storybook/session.ts
  helm/templates/backend/backend.serviceaccount.yaml
Due: pylint, prettier

Update reg_actions to output generated at runId:11772845984
  2024-11-11_11772845984_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Into Beta_desktop.png
  2024-11-11_11772845984_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Into Beta_mobile.png
  2024-11-11_11772845984_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Out Of Beta_desktop.png
  2024-11-11_11772845984_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Out Of Beta_mobile.png
Due: none

chore: Add small margin to main page on small screens
  frontend/src/app/sessions/sessions.component.html
Due: prettier

fix: Handle case where container_statuses is `None`
  backend/capellacollab/sessions/operators/k8s.py
Due: pylint

Update reg_actions to output generated at runId:11775687651
  2024-11-11_11775687651_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Into Beta_desktop.png
  2024-11-11_11775687651_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Into Beta_mobile.png
  2024-11-11_11775687651_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Out Of Beta_desktop.png
  2024-11-11_11775687651_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Out Of Beta_mobile.png
Due: none

Update reg_actions to output generated at runId:11797443054
  2024-11-12_11797443054_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Into Beta_desktop.png
  2024-11-12_11797443054_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Into Beta_mobile.png
  2024-11-12_11797443054_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Out Of Beta_desktop.png
  2024-11-12_11797443054_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Out Of Beta_mobile.png
Due: none

chore: Remove Storybook MDX documentation
  docs/docs/development/frontend/storybook.md
  frontend/src/app/general/footer/footer.docs.mdx
  frontend/src/app/general/header/header.docs.mdx
  frontend/src/app/general/metadata/version/version.docs.mdx
  frontend/src/app/projects/models/backup-settings/trigger-pipeline/trigger-pipeline.docs.mdx
  frontend/src/app/projects/models/diagrams/model-diagram-dialog/model-diagram-dialog.docs.mdx
  frontend/src/app/projects/project-detail/model-overview/model-complexity-badge/model-complexity-badge.docs.mdx
  frontend/src/app/projects/project-detail/project-metadata/project-metadata.docs.mdx
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/active-sessions.component.docs.mdx
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/connection-dialog/connection-dialog.docs.mdx
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-readonly-session/create-readonly-session-dialog.component.docs.mdx
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-session-history/create-session-history.docs.mdx
  frontend/src/app/settings/modelsources/t4c-settings/t4c-instance-settings/t4c-instance-settings.docs.mdx
Due: prettier

feat: Handle unready sessions in session viewer
  frontend/src/app/app-routing.module.ts
  frontend/src/app/general/auth/auth-guard/auth-guard.service.ts
  frontend/src/app/general/header/header.stories.ts
  frontend/src/app/general/nav-bar/nav-bar.service.ts
  frontend/src/app/sessions/session/floating-window-manager/floating-window-manager.component.html
  frontend/src/app/sessions/session/floating-window-manager/floating-window-manager.component.ts
  frontend/src/app/sessions/session/session-iframe/session-iframe.component.css
  frontend/src/app/sessions/session/session-iframe/session-iframe.component.html
  frontend/src/app/sessions/session/session-iframe/session-iframe.component.ts
  frontend/src/app/sessions/session/session-viewer.component.html
  frontend/src/app/sessions/session/session-viewer.component.ts
  frontend/src/app/sessions/session/session-viewer.service.ts
  frontend/src/app/sessions/session/session-viewer.stories.ts
  frontend/src/app/sessions/session/session.component.css
  frontend/src/app/sessions/session/session.component.html
  frontend/src/app/sessions/session/session.component.ts
  frontend/src/app/sessions/session/tiling-window-manager/tiling-window-manager.component.html
  frontend/src/app/sessions/session/tiling-window-manager/tiling-window-manager.component.ts
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/active-sessions.component.css
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/active-sessions.component.docs.mdx
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/active-sessions.component.html
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/active-sessions.component.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-session/create-readonly-session/create-readonly-session.component.html
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-readonly-session/create-readonly-model-options/create-readonly-model-options.component.html
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-readonly-session/create-readonly-session-dialog.component.css
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-readonly-session/create-readonly-session-dialog.component.docs.mdx
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-readonly-session/create-readonly-session-dialog.component.html
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-readonly-session/create-readonly-session-dialog.component.ts
  frontend/src/styles.css
Due: prettier

Update reg_actions to output generated at runId:11801417136
  2024-11-12_11801417136_reg/actual/Project Components_Create Project_Create Project_desktop.png
  2024-11-12_11801417136_reg/diff/Project Components_Create Project_Create Project_desktop.png
  2024-11-12_11801417136_reg/expected/Project Components_Create Project_Create Project_desktop.png
Due: none

Update reg_actions to output generated at runId:11801800743
  2024-11-12_11801800743_reg/actual/Project Components_Create Project_Create Project_desktop.png
  2024-11-12_11801800743_reg/diff/Project Components_Create Project_Create Project_desktop.png
  2024-11-12_11801800743_reg/expected/Project Components_Create Project_Create Project_desktop.png
Due: none

fix: Replace 'default' with 'regular' image in alebmic migration
  backend/capellacollab/alembic/versions/320c5b39c509_add_beta_tester.py
Due: none

Path conditions:
  pylint: any of: ^backend/capellacollab and \.py$ and not (^backend/capellacollab/alembic/)
  prettier: any of: \.(ts|mts|cts)$, \.css$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$, but not: ^frontend/src/app/openapi
