Repository DSD-DBS/capella-collab-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier

Path conditions:
  pylint: any of: ^backend/capellacollab and \.py$ and not (^backend/capellacollab/alembic/)
  prettier: any of: \.(ts|mts|cts)$, \.css$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$, but not: ^frontend/src/app/openapi

chore: Various simplifications (SIM)
  backend/capellacollab/alembic/versions/16a64401737c_add_uniqueness_constraint_for_project_.py
  backend/capellacollab/configuration/app/loader.py
  backend/capellacollab/projects/toolmodels/backups/validation.py
  backend/capellacollab/projects/users/util.py
Due: pylint

chore: No implicit optional (RUF013)
  backend/tests/projects/toolmodels/test_jupyter_fileshare.py
Due: none

chore: Remove useless return (PLR1711)
  backend/capellacollab/core/authentication/routes.py
Due: pylint

chore: Use "not in" (E713)
  backend/capellacollab/alembic/versions/d888f5c30aab_add_model.py
Due: none

chore: Always use UTC timezone (DTZ)
  backend/capellacollab/__main__.py
  backend/capellacollab/core/authentication/basic_auth.py
  backend/capellacollab/feedback/routes.py
  backend/capellacollab/projects/permissions/permissions.py
  backend/capellacollab/projects/toolmodels/backups/runs/routes.py
  backend/capellacollab/projects/toolmodels/modelsources/git/routes.py
  backend/capellacollab/sessions/hooks/guacamole.py
  backend/capellacollab/sessions/hooks/session_token.py
  backend/capellacollab/sessions/injection.py
  backend/capellacollab/settings/modelsources/git/core.py
  backend/capellacollab/settings/modelsources/t4c/license_server/interface.py
  backend/capellacollab/users/routes.py
  backend/capellacollab/users/tokens/crud.py
  backend/pyproject.toml
  backend/tests/cli/test_workspace_backup.py
  backend/tests/core/authentication/test_basic_auth.py
  backend/tests/projects/toolmodels/pipelines/pipeline-runs/test_pipeline_runs.py
  backend/tests/projects/toolmodels/provisioning/fixtures.py
  backend/tests/sessions/fixtures.py
  backend/tests/sessions/hooks/test_guacamole_hook.py
  backend/tests/sessions/k8s_operator/test_session_k8s_operator.py
  backend/tests/sessions/test_session_hooks.py
  backend/tests/sessions/test_session_routes.py
  backend/tests/sessions/test_session_sharing.py
  backend/tests/test_feedback.py
  backend/tests/users/test_tokens.py
  docs/copyright_hook.py
Due: pylint

chore: Unused arguments (ARG)
  backend/capellacollab/__main__.py
  backend/capellacollab/core/database/decorator.py
  backend/capellacollab/sessions/hooks/interface.py
Due: pylint

chore: Make exceptions derive from their original exception (B904
  backend/capellacollab/core/authentication/api_key_cookie.py
  backend/capellacollab/core/authentication/oidc.py
  backend/capellacollab/permissions/routes.py
  backend/capellacollab/projects/toolmodels/backups/core.py
  backend/capellacollab/projects/toolmodels/backups/routes.py
  backend/capellacollab/projects/toolmodels/diagrams/routes.py
  backend/capellacollab/projects/toolmodels/modelbadge/routes.py
  backend/capellacollab/projects/toolmodels/modelsources/t4c/routes.py
  backend/capellacollab/sessions/files/routes.py
  backend/capellacollab/sessions/routes.py
  backend/capellacollab/sessions/util.py
  backend/capellacollab/settings/integrations/purevariants/models.py
  backend/capellacollab/settings/modelsources/git/core.py
  backend/capellacollab/settings/modelsources/t4c/license_server/interface.py
Due: pylint

chore: Remove redundant route response_model (FAST001)
  backend/capellacollab/settings/modelsources/git/routes.py
  backend/capellacollab/settings/modelsources/t4c/instance/repositories/routes.py
Due: pylint

chore: Use iterable unpacking instead of concatenation (RUF005)
  backend/capellacollab/projects/toolmodels/modelsources/t4c/util.py
  backend/capellacollab/sessions/hooks/provisioning.py
  backend/capellacollab/settings/modelsources/t4c/instance/repositories/crud.py
Due: pylint

chore: Don't overwrite for loop vars (PLW2901)
  backend/capellacollab/sessions/hooks/provisioning.py
Due: pylint

chore: Remove additional argument for log (PLE1205)
  backend/capellacollab/projects/toolmodels/diagrams/routes.py
Due: pylint

chore: Add ignores for some checks
  backend/capellacollab/projects/toolmodels/backups/runs/interface.py
  backend/capellacollab/sessions/auth.py
  backend/capellacollab/sessions/hooks/interface.py
  backend/capellacollab/sessions/idletimeout.py
  backend/tests/tools/test_tools.py
Due: pylint

fix(monitoring): Tolerate unavailable data sources
  helm/config/grafana/alerting/rules.yaml
Due: none

chore: Don't allow print (T201)
  backend/capellacollab/cli/ws.py
  backend/capellacollab/sessions/operators/k8s.py
  backend/capellacollab/settings/modelsources/git/askpass.py
Due: pylint

feat: Optimize resources according to recommendations
  helm/templates/backend/backend-postgres.deployment.yaml
  helm/templates/backend/backend.deployment.yaml
  helm/templates/docs/docs.deployment.yaml
  helm/templates/frontend/frontend.deployment.yaml
  helm/templates/grafana/grafana-nginx.deployment.yaml
  helm/templates/grafana/grafana.deployment.yaml
  helm/templates/guacamole/guacamole-postgres.deployment.yaml
  helm/templates/guacamole/guacamole.deployment.yaml
  helm/templates/guacamole/guacd.deployment.yaml
  helm/templates/mock/oauth.deployment.yaml
  helm/templates/mock/smtp.deployment.yaml
  helm/templates/prometheus/prometheus-nginx.deployment.yaml
  helm/templates/prometheus/prometheus.deployment.yaml
  helm/templates/sessions/sessions.deployment.yaml
  helm/templates/valkey/valkey.deployment.yaml
Due: none

chore: Remove pylint comments
  backend/capellacollab/feedback/crud.py
  backend/capellacollab/projects/permissions/permissions.py
  backend/capellacollab/sessions/crud.py
  backend/capellacollab/sessions/operators/k8s.py
  backend/capellacollab/users/crud.py
  backend/tests/cli/test_workspace_backup.py
  backend/tests/config/test_app_configuration.py
  backend/tests/conftest.py
  backend/tests/projects/test_projects_permissions.py
  backend/tests/projects/toolmodels/conftest.py
  backend/tests/projects/toolmodels/pipelines/pipeline-runs/test_pipeline_runs.py
  backend/tests/projects/toolmodels/pipelines/test_pipelines.py
  backend/tests/projects/toolmodels/test_jupyter_fileshare.py
  backend/tests/sessions/hooks/test_jupyter_hook.py
  backend/tests/sessions/hooks/test_networking_hook.py
  backend/tests/sessions/hooks/test_persistent_workspace.py
  backend/tests/sessions/k8s_operator/test_session_k8s_download.py
  backend/tests/sessions/k8s_operator/test_session_k8s_operator.py
  backend/tests/sessions/test_session_environment.py
  backend/tests/sessions/test_session_hooks.py
  backend/tests/sessions/test_session_routes.py
  backend/tests/settings/fixtures.py
  backend/tests/settings/pure_variants/test_pure_variants_license_routes.py
  backend/tests/test_metrics.py
  backend/tests/test_permissions.py
  backend/tests/tools/fixtures.py
  backend/tests/tools/versions/fixtures.py
  backend/tests/users/fixtures.py
Due: pylint

chore: Update config to use ruff
  .pre-commit-config.yaml
  backend/pyproject.toml
  docs/docs/development/backend/code-style.md
Due: prettier

ci: Run Codecov on pull requests only
  .github/codecov.yml
Due: none

Update reg_actions to output generated at runId:13367969218
  2025-02-17_13367969218_reg/actual/Valid Content_desktop.png
  2025-02-17_13367969218_reg/diff/Valid Content_desktop.png
  2025-02-17_13367969218_reg/expected/Valid Content_desktop.png
Due: none

chore: Also format docs
  docs/copyright_hook.py
Due: none

build: Bump Grafana to latest version
  helm/templates/grafana/grafana.deployment.yaml
Due: none

fix(monitoring): Look at Xpra type "cur" only
  helm/config/grafana/dashboards/active-sessions.json
Due: none

build: Only push relevant tags to Docker registry
  Makefile
Due: none

feat: Include Grafana time range in feedback emails
  backend/capellacollab/feedback/email.jinja
  backend/capellacollab/feedback/util.py
Due: pylint

build: Bump Grafana Loki to latest Helm Chart
  helm/Chart.lock
  helm/Chart.yaml
  helm/config/backend.yaml
  helm/config/grafana/dashboards/management-portal-logs.json
  helm/config/grafana/dashboards/management-portal-logs.json.license
  helm/templates/grafana/grafana.configmap.yaml
  helm/templates/promtail/_promtail.tpl
  helm/values.yaml
Due: none

Update reg_actions to output generated at runId:13407399016
  2025-02-19_13407399016_reg/actual/All Selected_desktop.png
  2025-02-19_13407399016_reg/actual/All Selected_mobile.png
  2025-02-19_13407399016_reg/actual/Loading_desktop.png
  2025-02-19_13407399016_reg/actual/No Sessions_desktop.png
  2025-02-19_13407399016_reg/actual/Overview_desktop.png
  2025-02-19_13407399016_reg/actual/Overview_mobile.png
  2025-02-19_13407399016_reg/diff/All Selected_desktop.png
  2025-02-19_13407399016_reg/diff/All Selected_mobile.png
  2025-02-19_13407399016_reg/diff/Loading_desktop.png
  2025-02-19_13407399016_reg/diff/No Sessions_desktop.png
  2025-02-19_13407399016_reg/diff/Overview_desktop.png
  2025-02-19_13407399016_reg/diff/Overview_mobile.png
  2025-02-19_13407399016_reg/expected/All Selected_desktop.png
  2025-02-19_13407399016_reg/expected/All Selected_mobile.png
  2025-02-19_13407399016_reg/expected/Loading_desktop.png
  2025-02-19_13407399016_reg/expected/No Sessions_desktop.png
  2025-02-19_13407399016_reg/expected/Overview_desktop.png
  2025-02-19_13407399016_reg/expected/Overview_mobile.png
Due: none

feat!: Collect logs per session individually
  Makefile
  backend/capellacollab/configuration/app/models.py
  backend/capellacollab/sessions/hooks/jupyter.py
  backend/capellacollab/sessions/hooks/log_collector.py
  backend/capellacollab/sessions/hooks/persistent_workspace.py
  backend/capellacollab/sessions/hooks/pure_variants.py
  backend/capellacollab/sessions/hooks/read_only_workspace.py
  backend/capellacollab/sessions/hooks/session_preparation.py
  backend/capellacollab/sessions/operators/k8s.py
  backend/capellacollab/sessions/operators/models.py
  backend/capellacollab/tools/models.py
  backend/tests/sessions/k8s_operator/test_session_volume_mapping.py
  helm/templates/sessions/session-logs.volume.yaml
Due: pylint

feat: Add minimal deployment for session in the local dev mode
  helm/minimal/sessions.configmap.yaml
  helm/minimal/sessions.deployment.yaml
  helm/minimal/sessions.ingress.yaml
Due: none

feat: Add various action buttons to the session overview table
  frontend/src/app/sessions/session-overview/session-overview.component.html
  frontend/src/app/sessions/session-overview/session-overview.component.ts
Due: prettier

Update reg_actions to output generated at runId:13431425544
  2025-02-20_13431425544_reg/actual/All Selected_desktop.png
  2025-02-20_13431425544_reg/actual/All Selected_mobile.png
  2025-02-20_13431425544_reg/actual/Loading_desktop.png
  2025-02-20_13431425544_reg/actual/No Sessions_desktop.png
  2025-02-20_13431425544_reg/actual/Overview_desktop.png
  2025-02-20_13431425544_reg/actual/Overview_mobile.png
  2025-02-20_13431425544_reg/diff/All Selected_desktop.png
  2025-02-20_13431425544_reg/diff/All Selected_mobile.png
  2025-02-20_13431425544_reg/diff/Loading_desktop.png
  2025-02-20_13431425544_reg/diff/No Sessions_desktop.png
  2025-02-20_13431425544_reg/diff/Overview_desktop.png
  2025-02-20_13431425544_reg/diff/Overview_mobile.png
  2025-02-20_13431425544_reg/expected/All Selected_desktop.png
  2025-02-20_13431425544_reg/expected/All Selected_mobile.png
  2025-02-20_13431425544_reg/expected/Loading_desktop.png
  2025-02-20_13431425544_reg/expected/No Sessions_desktop.png
  2025-02-20_13431425544_reg/expected/Overview_desktop.png
  2025-02-20_13431425544_reg/expected/Overview_mobile.png
Due: none

feat!: Collect logs per session individually
  Makefile
  backend/capellacollab/configuration/app/models.py
  backend/capellacollab/sessions/hooks/jupyter.py
  backend/capellacollab/sessions/hooks/log_collector.py
  backend/capellacollab/sessions/hooks/persistent_workspace.py
  backend/capellacollab/sessions/hooks/pure_variants.py
  backend/capellacollab/sessions/hooks/read_only_workspace.py
  backend/capellacollab/sessions/hooks/session_preparation.py
  backend/capellacollab/sessions/operators/k8s.py
  backend/capellacollab/sessions/operators/models.py
  backend/capellacollab/tools/models.py
  backend/tests/sessions/k8s_operator/test_session_volume_mapping.py
  backend/tests/sessions/test_session_injection.py
  frontend/src/app/openapi/model/logging-configuration-input.ts
  frontend/src/app/openapi/model/logging-configuration-output.ts
  frontend/src/storybook/tool.ts
  helm/config/grafana/dashboards/individual-session.json
  helm/config/grafana/dashboards/management-portal-logs.json
  helm/templates/sessions/session-logs.volume.yaml
Due: pylint, prettier

fix: Revoke T4C session tokens for initial repositories
  backend/capellacollab/sessions/hooks/interface.py
  backend/capellacollab/sessions/hooks/t4c.py
  backend/capellacollab/sessions/idletimeout.py
  backend/capellacollab/sessions/routes.py
  backend/capellacollab/sessions/util.py
  backend/tests/sessions/hooks/conftest.py
  backend/tests/sessions/hooks/test_t4c_hook.py
  backend/tests/sessions/test_session_hooks.py
Due: pylint

Update reg_actions to output generated at runId:13452607008
  2025-02-21_13452607008_reg/actual/Valid Content_desktop.png
  2025-02-21_13452607008_reg/diff/Valid Content_desktop.png
  2025-02-21_13452607008_reg/expected/Valid Content_desktop.png
Due: none

chore: Enable pep8-naming ruff rule (N)
  backend/capellacollab/sessions/hooks/guacamole.py
  backend/pyproject.toml
  backend/tests/sessions/hooks/test_guacamole_hook.py
  backend/tests/sessions/test_session_hooks.py
Due: pylint
