Repository DSD-DBS/capella-collab-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=./backend/pyproject.toml
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - prettier-plugin-tailwindcss@^0.6.8
  - '@trivago/prettier-plugin-sort-imports@^4.3.0'
  - tailwindcss@^3.4.12

Update reg_actions to output generated at runId:11234504737
  2024-10-08_11234504737_reg/actual/Model Components_Init Model_General_desktop.png
  2024-10-08_11234504737_reg/actual/Model Components_Init Model_General_mobile.png
  2024-10-08_11234504737_reg/actual/Project Components _ Audit Log_General_desktop.png
  2024-10-08_11234504737_reg/actual/Project Components _ Audit Log_General_mobile.png
  2024-10-08_11234504737_reg/actual/Project Components _ Create Project_Add Model_desktop.png
  2024-10-08_11234504737_reg/actual/Project Components _ Create Project_Add Model_mobile.png
  2024-10-08_11234504737_reg/actual/Project Components _ Create Project_Add Team Members_desktop.png
  2024-10-08_11234504737_reg/actual/Project Components _ Create Project_Add Team Members_mobile.png
  2024-10-08_11234504737_reg/actual/Project Components _ Create Project_Create Project_desktop.png
  2024-10-08_11234504737_reg/actual/Project Components _ Create Project_Create Project_mobile.png
  2024-10-08_11234504737_reg/actual/Project Components_Project Details_Edit Project Metadata_General_desktop.png
  2024-10-08_11234504737_reg/actual/Project Components_Project Details_Edit Project Metadata_General_mobile.png
  2024-10-08_11234504737_reg/actual/Project Components_Project Details_Edit Project Metadata_With Title_desktop.png
  2024-10-08_11234504737_reg/actual/Project Components_Project Details_Edit Project Metadata_With Title_mobile.png
  2024-10-08_11234504737_reg/actual/Settings Components_Pipelines Overview_Bad Health_desktop.png
  2024-10-08_11234504737_reg/actual/Settings Components_Pipelines Overview_Bad Health_mobile.png
  2024-10-08_11234504737_reg/actual/Settings Components_Pipelines Overview_Good Health_desktop.png
  2024-10-08_11234504737_reg/actual/Settings Components_Pipelines Overview_Good Health_mobile.png
  2024-10-08_11234504737_reg/actual/Settings Components_Pipelines Overview_Loading_desktop.png
  2024-10-08_11234504737_reg/actual/Settings Components_Pipelines Overview_Loading_mobile.png
Due: none

Update reg_actions to output generated at runId:11234576671
  2024-10-08_11234576671_reg/actual/Model Components_Init Model_General_desktop.png
  2024-10-08_11234576671_reg/actual/Model Components_Init Model_General_mobile.png
  2024-10-08_11234576671_reg/actual/Project Components _ Audit Log_General_desktop.png
  2024-10-08_11234576671_reg/actual/Project Components _ Audit Log_General_mobile.png
  2024-10-08_11234576671_reg/actual/Project Components _ Create Project_Add Model_desktop.png
  2024-10-08_11234576671_reg/actual/Project Components _ Create Project_Add Model_mobile.png
  2024-10-08_11234576671_reg/actual/Project Components _ Create Project_Add Team Members_desktop.png
  2024-10-08_11234576671_reg/actual/Project Components _ Create Project_Add Team Members_mobile.png
  2024-10-08_11234576671_reg/actual/Project Components _ Create Project_Create Project_desktop.png
  2024-10-08_11234576671_reg/actual/Project Components _ Create Project_Create Project_mobile.png
  2024-10-08_11234576671_reg/actual/Project Components_Project Details_Edit Project Metadata_General_desktop.png
  2024-10-08_11234576671_reg/actual/Project Components_Project Details_Edit Project Metadata_General_mobile.png
  2024-10-08_11234576671_reg/actual/Project Components_Project Details_Edit Project Metadata_With Title_desktop.png
  2024-10-08_11234576671_reg/actual/Project Components_Project Details_Edit Project Metadata_With Title_mobile.png
  2024-10-08_11234576671_reg/actual/Settings Components_Pipelines Overview_Bad Health_desktop.png
  2024-10-08_11234576671_reg/actual/Settings Components_Pipelines Overview_Bad Health_mobile.png
  2024-10-08_11234576671_reg/actual/Settings Components_Pipelines Overview_Good Health_desktop.png
  2024-10-08_11234576671_reg/actual/Settings Components_Pipelines Overview_Good Health_mobile.png
  2024-10-08_11234576671_reg/actual/Settings Components_Pipelines Overview_Loading_desktop.png
  2024-10-08_11234576671_reg/actual/Settings Components_Pipelines Overview_Loading_mobile.png
Due: none

Update reg_actions to output generated at runId:11234967236
  2024-10-08_11234967236_reg/actual/Model Components_Init Model_General_desktop.png
  2024-10-08_11234967236_reg/actual/Model Components_Init Model_General_mobile.png
  2024-10-08_11234967236_reg/actual/Project Components _ Audit Log_General_desktop.png
  2024-10-08_11234967236_reg/actual/Project Components _ Audit Log_General_mobile.png
  2024-10-08_11234967236_reg/actual/Project Components _ Audit Log_Loading_desktop.png
  2024-10-08_11234967236_reg/actual/Project Components _ Audit Log_Loading_mobile.png
  2024-10-08_11234967236_reg/actual/Project Components _ Create Project_Add Model_desktop.png
  2024-10-08_11234967236_reg/actual/Project Components _ Create Project_Add Model_mobile.png
  2024-10-08_11234967236_reg/actual/Project Components _ Create Project_Add Team Members_desktop.png
  2024-10-08_11234967236_reg/actual/Project Components _ Create Project_Add Team Members_mobile.png
  2024-10-08_11234967236_reg/actual/Project Components _ Create Project_Create Project_desktop.png
  2024-10-08_11234967236_reg/actual/Project Components _ Create Project_Create Project_mobile.png
  2024-10-08_11234967236_reg/actual/Project Components_Project Details_Edit Project Metadata_General_desktop.png
  2024-10-08_11234967236_reg/actual/Project Components_Project Details_Edit Project Metadata_General_mobile.png
  2024-10-08_11234967236_reg/actual/Project Components_Project Details_Edit Project Metadata_With Title_desktop.png
  2024-10-08_11234967236_reg/actual/Project Components_Project Details_Edit Project Metadata_With Title_mobile.png
  2024-10-08_11234967236_reg/actual/Settings Components_Pipelines Overview_Bad Health_desktop.png
  2024-10-08_11234967236_reg/actual/Settings Components_Pipelines Overview_Bad Health_mobile.png
  2024-10-08_11234967236_reg/actual/Settings Components_Pipelines Overview_Good Health_desktop.png
  2024-10-08_11234967236_reg/actual/Settings Components_Pipelines Overview_Good Health_mobile.png
  2024-10-08_11234967236_reg/actual/Settings Components_Pipelines Overview_Loading_desktop.png
  2024-10-08_11234967236_reg/actual/Settings Components_Pipelines Overview_Loading_mobile.png
Due: none

chore: More migration to new Angular control flow
  frontend/src/app/projects/create-project/create-project.component.css
  frontend/src/app/projects/create-project/create-project.component.html
  frontend/src/app/projects/create-project/create-project.component.ts
  frontend/src/app/projects/create-project/create-project.stories.ts
  frontend/src/app/projects/models/init-model/init-model.component.css
  frontend/src/app/projects/models/init-model/init-model.component.html
  frontend/src/app/projects/models/init-model/init-model.component.ts
  frontend/src/app/projects/models/init-model/init-model.stories.ts
  frontend/src/app/projects/project-detail/edit-project-metadata/edit-project-metadata.component.css
  frontend/src/app/projects/project-detail/edit-project-metadata/edit-project-metadata.component.html
  frontend/src/app/projects/project-detail/edit-project-metadata/edit-project-metadata.component.ts
  frontend/src/app/projects/project-detail/edit-project-metadata/edit-project-metadata.stories.ts
  frontend/src/app/projects/project-detail/project-details.component.css
  frontend/src/app/projects/project-detail/project-details.component.ts
  frontend/src/app/projects/project-detail/project-users/project-audit-log/project-audit-log.component.html
  frontend/src/app/projects/project-detail/project-users/project-audit-log/project-audit-log.component.ts
  frontend/src/app/projects/project-detail/project-users/project-audit-log/project-audit-log.stories.ts
  frontend/src/app/projects/project-detail/project-users/project-user-settings.stories.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-session/create-readonly-session/create-readonly-session.component.html
  frontend/src/app/settings/core/pipelines-overview/pipelines-overview.component.html
  frontend/src/app/settings/core/pipelines-overview/pipelines-overview.component.ts
  frontend/src/app/settings/core/pipelines-overview/pipelines-overview.stories.ts
  frontend/src/storybook/monitoring.ts
  frontend/src/storybook/project-users.ts
  frontend/src/storybook/project.ts
Due: prettier

Update reg_actions to output generated at runId:11235271919
  2024-10-08_11235271919_reg/actual/Model Components_Init Model_General_desktop.png
  2024-10-08_11235271919_reg/actual/Model Components_Init Model_General_mobile.png
  2024-10-08_11235271919_reg/actual/Project Components _ Audit Log_General_desktop.png
  2024-10-08_11235271919_reg/actual/Project Components _ Audit Log_General_mobile.png
  2024-10-08_11235271919_reg/actual/Project Components _ Audit Log_Loading_desktop.png
  2024-10-08_11235271919_reg/actual/Project Components _ Audit Log_Loading_mobile.png
  2024-10-08_11235271919_reg/actual/Project Components _ Create Project_Add Model_desktop.png
  2024-10-08_11235271919_reg/actual/Project Components _ Create Project_Add Model_mobile.png
  2024-10-08_11235271919_reg/actual/Project Components _ Create Project_Add Team Members_desktop.png
  2024-10-08_11235271919_reg/actual/Project Components _ Create Project_Add Team Members_mobile.png
  2024-10-08_11235271919_reg/actual/Project Components _ Create Project_Create Project_desktop.png
  2024-10-08_11235271919_reg/actual/Project Components _ Create Project_Create Project_mobile.png
  2024-10-08_11235271919_reg/actual/Project Components_Project Details_Edit Project Metadata_General_desktop.png
  2024-10-08_11235271919_reg/actual/Project Components_Project Details_Edit Project Metadata_General_mobile.png
  2024-10-08_11235271919_reg/actual/Project Components_Project Details_Edit Project Metadata_With Title_desktop.png
  2024-10-08_11235271919_reg/actual/Project Components_Project Details_Edit Project Metadata_With Title_mobile.png
  2024-10-08_11235271919_reg/actual/Settings Components_Pipelines Overview_Bad Health_desktop.png
  2024-10-08_11235271919_reg/actual/Settings Components_Pipelines Overview_Bad Health_mobile.png
  2024-10-08_11235271919_reg/actual/Settings Components_Pipelines Overview_Good Health_desktop.png
  2024-10-08_11235271919_reg/actual/Settings Components_Pipelines Overview_Good Health_mobile.png
  2024-10-08_11235271919_reg/actual/Settings Components_Pipelines Overview_Loading_desktop.png
  2024-10-08_11235271919_reg/actual/Settings Components_Pipelines Overview_Loading_mobile.png
Due: none

Update reg_actions to output generated at runId:11237661944
  2024-10-08_11237661944_reg/actual/Settings Components_Modelsources_T4C_Repositories_Add Repositories_desktop.png
  2024-10-08_11237661944_reg/actual/Settings Components_Modelsources_T4C_Repositories_Add Repositories_mobile.png
  2024-10-08_11237661944_reg/actual/Settings Components_Modelsources_T4C_Repositories_Repositories_desktop.png
  2024-10-08_11237661944_reg/actual/Settings Components_Modelsources_T4C_Repositories_Repositories_mobile.png
  2024-10-08_11237661944_reg/diff/Settings Components_Modelsources_T4C_Repositories_Add Repositories_desktop.png
  2024-10-08_11237661944_reg/diff/Settings Components_Modelsources_T4C_Repositories_Add Repositories_mobile.png
  2024-10-08_11237661944_reg/diff/Settings Components_Modelsources_T4C_Repositories_Repositories_desktop.png
  2024-10-08_11237661944_reg/diff/Settings Components_Modelsources_T4C_Repositories_Repositories_mobile.png
  2024-10-08_11237661944_reg/expected/Settings Components_Modelsources_T4C_Repositories_Add Repositories_desktop.png
  2024-10-08_11237661944_reg/expected/Settings Components_Modelsources_T4C_Repositories_Add Repositories_mobile.png
  2024-10-08_11237661944_reg/expected/Settings Components_Modelsources_T4C_Repositories_Repositories_desktop.png
  2024-10-08_11237661944_reg/expected/Settings Components_Modelsources_T4C_Repositories_Repositories_mobile.png
Due: none

Update reg_actions to output generated at runId:11237924311
  2024-10-08_11237924311_reg/actual/Settings Components_Modelsources_T4C_Repositories_Add Repositories_desktop.png
  2024-10-08_11237924311_reg/actual/Settings Components_Modelsources_T4C_Repositories_Add Repositories_mobile.png
  2024-10-08_11237924311_reg/actual/Settings Components_Modelsources_T4C_Repositories_Repositories_desktop.png
  2024-10-08_11237924311_reg/actual/Settings Components_Modelsources_T4C_Repositories_Repositories_mobile.png
  2024-10-08_11237924311_reg/diff/Settings Components_Modelsources_T4C_Repositories_Add Repositories_desktop.png
  2024-10-08_11237924311_reg/diff/Settings Components_Modelsources_T4C_Repositories_Add Repositories_mobile.png
  2024-10-08_11237924311_reg/diff/Settings Components_Modelsources_T4C_Repositories_Repositories_desktop.png
  2024-10-08_11237924311_reg/diff/Settings Components_Modelsources_T4C_Repositories_Repositories_mobile.png
  2024-10-08_11237924311_reg/expected/Settings Components_Modelsources_T4C_Repositories_Add Repositories_desktop.png
  2024-10-08_11237924311_reg/expected/Settings Components_Modelsources_T4C_Repositories_Add Repositories_mobile.png
  2024-10-08_11237924311_reg/expected/Settings Components_Modelsources_T4C_Repositories_Repositories_desktop.png
  2024-10-08_11237924311_reg/expected/Settings Components_Modelsources_T4C_Repositories_Repositories_mobile.png
Due: none

docs: Fix a bunch of minor grammar issues and typos
  .github/dependabot.yml
  README.md
  backend/capellacollab/sessions/operators/models.py
  backend/tests/sessions/test_session_routes.py
  docs/docs/admin/authentication/keycloak/index.md
  docs/docs/admin/cli.md
  docs/docs/admin/installation.md
  docs/docs/admin/monitoring/logging/explorer.md
  docs/docs/admin/settings/model-sources/git.md
  docs/docs/admin/settings/tools/pure_variants.md
  docs/docs/admin/teamforcapella/migration.md
  docs/docs/admin/tools/configuration.md
  docs/docs/admin/uninstallation.md
  docs/docs/api/index.md
  docs/docs/development/backend/extensions.md
  docs/docs/development/docs.md
  docs/docs/development/frontend/responsive-design/mobile-view.md
  docs/docs/development/index.md
  docs/docs/development/k8s/resources.md
  docs/docs/development/pull_requests.md
  docs/docs/user/index.md
  docs/docs/user/projects/add-user/index.md
  docs/docs/user/projects/create/index.md
  docs/docs/user/projects/models/create.md
  docs/docs/user/projects/models/diagrams/setup_diagram_cache.md
  docs/docs/user/tools/capella/git/index.md
  docs/docs/user/tools/capella/introduction.md
  docs/docs/user/tools/capella/migration/index.md
  docs/docs/user/tools/capella/teamforcapella/connect/index.md
  frontend/src/app/projects/project-detail/model-overview/model-complexity-badge/model-complexity-badge.docs.mdx
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/active-sessions.component.docs.mdx
  helm/values.yaml
Due: pylint, prettier

ci: Add `codespell` pre-commit hook
  .pre-commit-config.yaml
  Makefile
  README.md
  backend/capellacollab/config/models.py
  backend/capellacollab/core/authentication/exceptions.py
  backend/capellacollab/projects/toolmodels/backups/runs/routes.py
  backend/capellacollab/projects/toolmodels/routes.py
  backend/capellacollab/sessions/operators/k8s.py
  backend/tests/sessions/hooks/test_guacamole_hook.py
  backend/tests/tools/versions/test_tools_version_compatibility.py
  docs/docs/development/frontend/code-style.md
  docs/docs/development/frontend/storybook.md
  docs/docs/development/frontend/testing.md
  docs/docs/release-notes.md
  docs/docs/user/index.md
  docs/docs/user/sessions/terminate.md
  docs/docs/user/tools/capella/git/index.md
  docs/docs/user/tools/capella/local-installation-vs-collab-mgr.md
  docs/docs/user/tools/capella/t4c-git-compare.md
  frontend/src/app/projects/create-project/create-project.component.ts
  frontend/src/app/projects/models/diagrams/model-diagram-dialog/model-diagram-code-block/model-diagram-code-block.component.html
  frontend/src/app/projects/models/diagrams/model-diagram-dialog/model-diagram-code-block/model-diagram-code-block.component.ts
  frontend/src/app/projects/project-detail/model-overview/move-model/move-model.component.ts
  frontend/src/app/projects/project-detail/project-metadata/project-metadata.component.ts
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/session-sharing-dialog/session-sharing-dialog.component.ts
  frontend/src/app/users/user-settings/user-settings.component.html
  helm/values.yaml
Due: pylint, prettier

test: Group historyEvents in audit log story
  frontend/src/app/projects/create-project/create-project.stories.ts
  frontend/src/app/projects/project-detail/project-users/project-audit-log/project-audit-log.stories.ts
Due: prettier

Update reg_actions to output generated at runId:11256466915
  2024-10-09_11256466915_reg/actual/Model Components_Init Model_General_desktop.png
  2024-10-09_11256466915_reg/actual/Model Components_Init Model_General_mobile.png
  2024-10-09_11256466915_reg/actual/Project Components_Audit Log_General_desktop.png
  2024-10-09_11256466915_reg/actual/Project Components_Audit Log_General_mobile.png
  2024-10-09_11256466915_reg/actual/Project Components_Audit Log_Loading_desktop.png
  2024-10-09_11256466915_reg/actual/Project Components_Audit Log_Loading_mobile.png
  2024-10-09_11256466915_reg/actual/Project Components_Create Project_Add Model_desktop.png
  2024-10-09_11256466915_reg/actual/Project Components_Create Project_Add Model_mobile.png
  2024-10-09_11256466915_reg/actual/Project Components_Create Project_Add Team Members_desktop.png
  2024-10-09_11256466915_reg/actual/Project Components_Create Project_Add Team Members_mobile.png
  2024-10-09_11256466915_reg/actual/Project Components_Create Project_Create Project_desktop.png
  2024-10-09_11256466915_reg/actual/Project Components_Create Project_Create Project_mobile.png
  2024-10-09_11256466915_reg/actual/Project Components_Project Details_Edit Project Metadata_General_desktop.png
  2024-10-09_11256466915_reg/actual/Project Components_Project Details_Edit Project Metadata_General_mobile.png
  2024-10-09_11256466915_reg/actual/Project Components_Project Details_Edit Project Metadata_With Title_desktop.png
  2024-10-09_11256466915_reg/actual/Project Components_Project Details_Edit Project Metadata_With Title_mobile.png
  2024-10-09_11256466915_reg/actual/Settings Components_Pipelines Overview_Bad Health_desktop.png
  2024-10-09_11256466915_reg/actual/Settings Components_Pipelines Overview_Bad Health_mobile.png
  2024-10-09_11256466915_reg/actual/Settings Components_Pipelines Overview_Good Health_desktop.png
  2024-10-09_11256466915_reg/actual/Settings Components_Pipelines Overview_Good Health_mobile.png
  2024-10-09_11256466915_reg/actual/Settings Components_Pipelines Overview_Loading_desktop.png
  2024-10-09_11256466915_reg/actual/Settings Components_Pipelines Overview_Loading_mobile.png
Due: none

feat: Add indicator to warn when most t4c licenses are being used
  backend/capellacollab/settings/modelsources/t4c/license_server/models.py
  backend/capellacollab/settings/modelsources/t4c/license_server/routes.py
  frontend/src/app/general/license-indicator/license-indicator.component.html
  frontend/src/app/general/license-indicator/license-indicator.component.ts
  frontend/src/app/general/license-indicator/license-indicator.stories.ts
  frontend/src/app/general/license-indicator/license-usage.service.ts
  frontend/src/app/openapi/.openapi-generator/FILES
  frontend/src/app/openapi/api/settings-modelsources-t4-c-license-servers.service.ts
  frontend/src/app/openapi/model/models.ts
  frontend/src/app/openapi/model/public-license-server-with-usage.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-persistent-session/create-persistent-session.component.html
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-persistent-session/create-persistent-session.component.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-persistent-session/create-persistent-session.stories.ts
Due: pylint, prettier

feat(grafana): Show user happiness over time
  helm/config/grafana/dashboards/feedback.json
Due: none

feat: Update feedback dialog to encourage actionable feedback
  frontend/src/app/sessions/feedback/feedback-dialog/feedback-dialog.component.html
  frontend/src/app/sessions/feedback/feedback-dialog/feedback-dialog.component.ts
Due: prettier

Update reg_actions to output generated at runId:11270847394
  2024-10-10_11270847394_reg/actual/Session Components_Feedback_No Sessions_desktop.png
  2024-10-10_11270847394_reg/actual/Session Components_Feedback_No Sessions_mobile.png
  2024-10-10_11270847394_reg/actual/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-10_11270847394_reg/actual/Session Components_Feedback_One Session With User Information_mobile.png
  2024-10-10_11270847394_reg/actual/Session Components_Feedback_One Session_desktop.png
  2024-10-10_11270847394_reg/actual/Session Components_Feedback_One Session_mobile.png
  2024-10-10_11270847394_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-10_11270847394_reg/actual/Session Components_Feedback_Rating Selected_mobile.png
  2024-10-10_11270847394_reg/actual/Session Components_Feedback_Two Sessions_desktop.png
  2024-10-10_11270847394_reg/actual/Session Components_Feedback_Two Sessions_mobile.png
  2024-10-10_11270847394_reg/diff/Session Components_Feedback_No Sessions_desktop.png
  2024-10-10_11270847394_reg/diff/Session Components_Feedback_No Sessions_mobile.png
  2024-10-10_11270847394_reg/diff/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-10_11270847394_reg/diff/Session Components_Feedback_One Session With User Information_mobile.png
  2024-10-10_11270847394_reg/diff/Session Components_Feedback_One Session_desktop.png
  2024-10-10_11270847394_reg/diff/Session Components_Feedback_One Session_mobile.png
  2024-10-10_11270847394_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-10_11270847394_reg/diff/Session Components_Feedback_Rating Selected_mobile.png
  2024-10-10_11270847394_reg/diff/Session Components_Feedback_Two Sessions_desktop.png
  2024-10-10_11270847394_reg/diff/Session Components_Feedback_Two Sessions_mobile.png
  2024-10-10_11270847394_reg/expected/Session Components_Feedback_No Sessions_desktop.png
  2024-10-10_11270847394_reg/expected/Session Components_Feedback_No Sessions_mobile.png
  2024-10-10_11270847394_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-10_11270847394_reg/expected/Session Components_Feedback_One Session With User Information_mobile.png
  2024-10-10_11270847394_reg/expected/Session Components_Feedback_One Session_desktop.png
  2024-10-10_11270847394_reg/expected/Session Components_Feedback_One Session_mobile.png
  2024-10-10_11270847394_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-10_11270847394_reg/expected/Session Components_Feedback_Rating Selected_mobile.png
  2024-10-10_11270847394_reg/expected/Session Components_Feedback_Two Sessions_desktop.png
  2024-10-10_11270847394_reg/expected/Session Components_Feedback_Two Sessions_mobile.png
Due: none

Update reg_actions to output generated at runId:11272343689
  2024-10-10_11272343689_reg/actual/Session Components_Feedback_No Sessions_desktop.png
  2024-10-10_11272343689_reg/actual/Session Components_Feedback_No Sessions_mobile.png
  2024-10-10_11272343689_reg/actual/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-10_11272343689_reg/actual/Session Components_Feedback_One Session With User Information_mobile.png
  2024-10-10_11272343689_reg/actual/Session Components_Feedback_One Session_desktop.png
  2024-10-10_11272343689_reg/actual/Session Components_Feedback_One Session_mobile.png
  2024-10-10_11272343689_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-10_11272343689_reg/actual/Session Components_Feedback_Rating Selected_mobile.png
  2024-10-10_11272343689_reg/actual/Session Components_Feedback_Two Sessions_desktop.png
  2024-10-10_11272343689_reg/actual/Session Components_Feedback_Two Sessions_mobile.png
  2024-10-10_11272343689_reg/diff/Session Components_Feedback_No Sessions_desktop.png
  2024-10-10_11272343689_reg/diff/Session Components_Feedback_No Sessions_mobile.png
  2024-10-10_11272343689_reg/diff/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-10_11272343689_reg/diff/Session Components_Feedback_One Session With User Information_mobile.png
  2024-10-10_11272343689_reg/diff/Session Components_Feedback_One Session_desktop.png
  2024-10-10_11272343689_reg/diff/Session Components_Feedback_One Session_mobile.png
  2024-10-10_11272343689_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-10_11272343689_reg/diff/Session Components_Feedback_Rating Selected_mobile.png
  2024-10-10_11272343689_reg/diff/Session Components_Feedback_Two Sessions_desktop.png
  2024-10-10_11272343689_reg/diff/Session Components_Feedback_Two Sessions_mobile.png
  2024-10-10_11272343689_reg/expected/Session Components_Feedback_No Sessions_desktop.png
  2024-10-10_11272343689_reg/expected/Session Components_Feedback_No Sessions_mobile.png
  2024-10-10_11272343689_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-10_11272343689_reg/expected/Session Components_Feedback_One Session With User Information_mobile.png
  2024-10-10_11272343689_reg/expected/Session Components_Feedback_One Session_desktop.png
  2024-10-10_11272343689_reg/expected/Session Components_Feedback_One Session_mobile.png
  2024-10-10_11272343689_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-10_11272343689_reg/expected/Session Components_Feedback_Rating Selected_mobile.png
  2024-10-10_11272343689_reg/expected/Session Components_Feedback_Two Sessions_desktop.png
  2024-10-10_11272343689_reg/expected/Session Components_Feedback_Two Sessions_mobile.png
Due: none

Update reg_actions to output generated at runId:11273271855
  2024-10-10_11273271855_reg/actual/Session Components_Feedback_No Sessions_desktop.png
  2024-10-10_11273271855_reg/actual/Session Components_Feedback_No Sessions_mobile.png
  2024-10-10_11273271855_reg/actual/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-10_11273271855_reg/actual/Session Components_Feedback_One Session With User Information_mobile.png
  2024-10-10_11273271855_reg/actual/Session Components_Feedback_One Session_desktop.png
  2024-10-10_11273271855_reg/actual/Session Components_Feedback_One Session_mobile.png
  2024-10-10_11273271855_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-10_11273271855_reg/actual/Session Components_Feedback_Rating Selected_mobile.png
  2024-10-10_11273271855_reg/actual/Session Components_Feedback_Two Sessions_desktop.png
  2024-10-10_11273271855_reg/actual/Session Components_Feedback_Two Sessions_mobile.png
  2024-10-10_11273271855_reg/diff/Session Components_Feedback_No Sessions_desktop.png
  2024-10-10_11273271855_reg/diff/Session Components_Feedback_No Sessions_mobile.png
  2024-10-10_11273271855_reg/diff/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-10_11273271855_reg/diff/Session Components_Feedback_One Session With User Information_mobile.png
  2024-10-10_11273271855_reg/diff/Session Components_Feedback_One Session_desktop.png
  2024-10-10_11273271855_reg/diff/Session Components_Feedback_One Session_mobile.png
  2024-10-10_11273271855_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-10_11273271855_reg/diff/Session Components_Feedback_Rating Selected_mobile.png
  2024-10-10_11273271855_reg/diff/Session Components_Feedback_Two Sessions_desktop.png
  2024-10-10_11273271855_reg/diff/Session Components_Feedback_Two Sessions_mobile.png
  2024-10-10_11273271855_reg/expected/Session Components_Feedback_No Sessions_desktop.png
  2024-10-10_11273271855_reg/expected/Session Components_Feedback_No Sessions_mobile.png
  2024-10-10_11273271855_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-10_11273271855_reg/expected/Session Components_Feedback_One Session With User Information_mobile.png
  2024-10-10_11273271855_reg/expected/Session Components_Feedback_One Session_desktop.png
  2024-10-10_11273271855_reg/expected/Session Components_Feedback_One Session_mobile.png
  2024-10-10_11273271855_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-10_11273271855_reg/expected/Session Components_Feedback_Rating Selected_mobile.png
  2024-10-10_11273271855_reg/expected/Session Components_Feedback_Two Sessions_desktop.png
  2024-10-10_11273271855_reg/expected/Session Components_Feedback_Two Sessions_mobile.png
Due: none

Update reg_actions to output generated at runId:11273382502
  2024-10-10_11273382502_reg/actual/Session Components_Feedback_No Sessions_desktop.png
  2024-10-10_11273382502_reg/actual/Session Components_Feedback_No Sessions_mobile.png
  2024-10-10_11273382502_reg/actual/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-10_11273382502_reg/actual/Session Components_Feedback_One Session With User Information_mobile.png
  2024-10-10_11273382502_reg/actual/Session Components_Feedback_One Session_desktop.png
  2024-10-10_11273382502_reg/actual/Session Components_Feedback_One Session_mobile.png
  2024-10-10_11273382502_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-10_11273382502_reg/actual/Session Components_Feedback_Rating Selected_mobile.png
  2024-10-10_11273382502_reg/actual/Session Components_Feedback_Two Sessions_desktop.png
  2024-10-10_11273382502_reg/actual/Session Components_Feedback_Two Sessions_mobile.png
  2024-10-10_11273382502_reg/diff/Session Components_Feedback_No Sessions_desktop.png
  2024-10-10_11273382502_reg/diff/Session Components_Feedback_No Sessions_mobile.png
  2024-10-10_11273382502_reg/diff/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-10_11273382502_reg/diff/Session Components_Feedback_One Session With User Information_mobile.png
  2024-10-10_11273382502_reg/diff/Session Components_Feedback_One Session_desktop.png
  2024-10-10_11273382502_reg/diff/Session Components_Feedback_One Session_mobile.png
  2024-10-10_11273382502_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-10_11273382502_reg/diff/Session Components_Feedback_Rating Selected_mobile.png
  2024-10-10_11273382502_reg/diff/Session Components_Feedback_Two Sessions_desktop.png
  2024-10-10_11273382502_reg/diff/Session Components_Feedback_Two Sessions_mobile.png
  2024-10-10_11273382502_reg/expected/Session Components_Feedback_No Sessions_desktop.png
  2024-10-10_11273382502_reg/expected/Session Components_Feedback_No Sessions_mobile.png
  2024-10-10_11273382502_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-10_11273382502_reg/expected/Session Components_Feedback_One Session With User Information_mobile.png
  2024-10-10_11273382502_reg/expected/Session Components_Feedback_One Session_desktop.png
  2024-10-10_11273382502_reg/expected/Session Components_Feedback_One Session_mobile.png
  2024-10-10_11273382502_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-10_11273382502_reg/expected/Session Components_Feedback_Rating Selected_mobile.png
  2024-10-10_11273382502_reg/expected/Session Components_Feedback_Two Sessions_desktop.png
  2024-10-10_11273382502_reg/expected/Session Components_Feedback_Two Sessions_mobile.png
Due: none

Update reg_actions to output generated at runId:11273522362
  2024-10-10_11273522362_reg/actual/Model Components_Model Sources_Git_Valid URL_desktop.png
  2024-10-10_11273522362_reg/actual/Session Components_Feedback_No Sessions_desktop.png
  2024-10-10_11273522362_reg/actual/Session Components_Feedback_No Sessions_mobile.png
  2024-10-10_11273522362_reg/actual/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-10_11273522362_reg/actual/Session Components_Feedback_One Session With User Information_mobile.png
  2024-10-10_11273522362_reg/actual/Session Components_Feedback_One Session_desktop.png
  2024-10-10_11273522362_reg/actual/Session Components_Feedback_One Session_mobile.png
  2024-10-10_11273522362_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-10_11273522362_reg/actual/Session Components_Feedback_Rating Selected_mobile.png
  2024-10-10_11273522362_reg/actual/Session Components_Feedback_Two Sessions_desktop.png
  2024-10-10_11273522362_reg/actual/Session Components_Feedback_Two Sessions_mobile.png
  2024-10-10_11273522362_reg/diff/Model Components_Model Sources_Git_Valid URL_desktop.png
  2024-10-10_11273522362_reg/diff/Session Components_Feedback_No Sessions_desktop.png
  2024-10-10_11273522362_reg/diff/Session Components_Feedback_No Sessions_mobile.png
  2024-10-10_11273522362_reg/diff/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-10_11273522362_reg/diff/Session Components_Feedback_One Session With User Information_mobile.png
  2024-10-10_11273522362_reg/diff/Session Components_Feedback_One Session_desktop.png
  2024-10-10_11273522362_reg/diff/Session Components_Feedback_One Session_mobile.png
  2024-10-10_11273522362_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-10_11273522362_reg/diff/Session Components_Feedback_Rating Selected_mobile.png
  2024-10-10_11273522362_reg/diff/Session Components_Feedback_Two Sessions_desktop.png
  2024-10-10_11273522362_reg/diff/Session Components_Feedback_Two Sessions_mobile.png
  2024-10-10_11273522362_reg/expected/Model Components_Model Sources_Git_Valid URL_desktop.png
  2024-10-10_11273522362_reg/expected/Session Components_Feedback_No Sessions_desktop.png
  2024-10-10_11273522362_reg/expected/Session Components_Feedback_No Sessions_mobile.png
  2024-10-10_11273522362_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-10_11273522362_reg/expected/Session Components_Feedback_One Session With User Information_mobile.png
  2024-10-10_11273522362_reg/expected/Session Components_Feedback_One Session_desktop.png
  2024-10-10_11273522362_reg/expected/Session Components_Feedback_One Session_mobile.png
  2024-10-10_11273522362_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-10_11273522362_reg/expected/Session Components_Feedback_Rating Selected_mobile.png
  2024-10-10_11273522362_reg/expected/Session Components_Feedback_Two Sessions_desktop.png
  2024-10-10_11273522362_reg/expected/Session Components_Feedback_Two Sessions_mobile.png
Due: none

Update reg_actions to output generated at runId:11273559964
  2024-10-10_11273559964_reg/actual/Model Components_Model Sources_Git_Valid URL_desktop.png
  2024-10-10_11273559964_reg/actual/Session Components_Feedback_No Sessions_desktop.png
  2024-10-10_11273559964_reg/actual/Session Components_Feedback_No Sessions_mobile.png
  2024-10-10_11273559964_reg/actual/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-10_11273559964_reg/actual/Session Components_Feedback_One Session With User Information_mobile.png
  2024-10-10_11273559964_reg/actual/Session Components_Feedback_One Session_desktop.png
  2024-10-10_11273559964_reg/actual/Session Components_Feedback_One Session_mobile.png
  2024-10-10_11273559964_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-10_11273559964_reg/actual/Session Components_Feedback_Rating Selected_mobile.png
  2024-10-10_11273559964_reg/actual/Session Components_Feedback_Two Sessions_desktop.png
  2024-10-10_11273559964_reg/actual/Session Components_Feedback_Two Sessions_mobile.png
  2024-10-10_11273559964_reg/diff/Model Components_Model Sources_Git_Valid URL_desktop.png
  2024-10-10_11273559964_reg/diff/Session Components_Feedback_No Sessions_desktop.png
  2024-10-10_11273559964_reg/diff/Session Components_Feedback_No Sessions_mobile.png
  2024-10-10_11273559964_reg/diff/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-10_11273559964_reg/diff/Session Components_Feedback_One Session With User Information_mobile.png
  2024-10-10_11273559964_reg/diff/Session Components_Feedback_One Session_desktop.png
  2024-10-10_11273559964_reg/diff/Session Components_Feedback_One Session_mobile.png
  2024-10-10_11273559964_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-10_11273559964_reg/diff/Session Components_Feedback_Rating Selected_mobile.png
  2024-10-10_11273559964_reg/diff/Session Components_Feedback_Two Sessions_desktop.png
  2024-10-10_11273559964_reg/diff/Session Components_Feedback_Two Sessions_mobile.png
  2024-10-10_11273559964_reg/expected/Model Components_Model Sources_Git_Valid URL_desktop.png
  2024-10-10_11273559964_reg/expected/Session Components_Feedback_No Sessions_desktop.png
  2024-10-10_11273559964_reg/expected/Session Components_Feedback_No Sessions_mobile.png
  2024-10-10_11273559964_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-10_11273559964_reg/expected/Session Components_Feedback_One Session With User Information_mobile.png
  2024-10-10_11273559964_reg/expected/Session Components_Feedback_One Session_desktop.png
  2024-10-10_11273559964_reg/expected/Session Components_Feedback_One Session_mobile.png
  2024-10-10_11273559964_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-10_11273559964_reg/expected/Session Components_Feedback_Rating Selected_mobile.png
  2024-10-10_11273559964_reg/expected/Session Components_Feedback_Two Sessions_desktop.png
  2024-10-10_11273559964_reg/expected/Session Components_Feedback_Two Sessions_mobile.png
Due: none

refactor: Disable OpenAPI options via CLI arguments
  backend/Makefile
  backend/capellacollab/cli/openapi.py
  backend/capellacollab/core/responses.py
  frontend/Makefile
  frontend/postprocess_openapi_schema.py
Due: pylint

Update reg_actions to output generated at runId:11273640985
  2024-10-10_11273640985_reg/actual/Model Components_Model Sources_Git_Valid URL_desktop.png
  2024-10-10_11273640985_reg/actual/Session Components_Feedback_No Sessions_desktop.png
  2024-10-10_11273640985_reg/actual/Session Components_Feedback_No Sessions_mobile.png
  2024-10-10_11273640985_reg/actual/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-10_11273640985_reg/actual/Session Components_Feedback_One Session With User Information_mobile.png
  2024-10-10_11273640985_reg/actual/Session Components_Feedback_One Session_desktop.png
  2024-10-10_11273640985_reg/actual/Session Components_Feedback_One Session_mobile.png
  2024-10-10_11273640985_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-10_11273640985_reg/actual/Session Components_Feedback_Rating Selected_mobile.png
  2024-10-10_11273640985_reg/actual/Session Components_Feedback_Two Sessions_desktop.png
  2024-10-10_11273640985_reg/actual/Session Components_Feedback_Two Sessions_mobile.png
  2024-10-10_11273640985_reg/diff/Model Components_Model Sources_Git_Valid URL_desktop.png
  2024-10-10_11273640985_reg/diff/Session Components_Feedback_No Sessions_desktop.png
  2024-10-10_11273640985_reg/diff/Session Components_Feedback_No Sessions_mobile.png
  2024-10-10_11273640985_reg/diff/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-10_11273640985_reg/diff/Session Components_Feedback_One Session With User Information_mobile.png
  2024-10-10_11273640985_reg/diff/Session Components_Feedback_One Session_desktop.png
  2024-10-10_11273640985_reg/diff/Session Components_Feedback_One Session_mobile.png
  2024-10-10_11273640985_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-10_11273640985_reg/diff/Session Components_Feedback_Rating Selected_mobile.png
  2024-10-10_11273640985_reg/diff/Session Components_Feedback_Two Sessions_desktop.png
  2024-10-10_11273640985_reg/diff/Session Components_Feedback_Two Sessions_mobile.png
  2024-10-10_11273640985_reg/expected/Model Components_Model Sources_Git_Valid URL_desktop.png
  2024-10-10_11273640985_reg/expected/Session Components_Feedback_No Sessions_desktop.png
  2024-10-10_11273640985_reg/expected/Session Components_Feedback_No Sessions_mobile.png
  2024-10-10_11273640985_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-10-10_11273640985_reg/expected/Session Components_Feedback_One Session With User Information_mobile.png
  2024-10-10_11273640985_reg/expected/Session Components_Feedback_One Session_desktop.png
  2024-10-10_11273640985_reg/expected/Session Components_Feedback_One Session_mobile.png
  2024-10-10_11273640985_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
  2024-10-10_11273640985_reg/expected/Session Components_Feedback_Rating Selected_mobile.png
  2024-10-10_11273640985_reg/expected/Session Components_Feedback_Two Sessions_desktop.png
  2024-10-10_11273640985_reg/expected/Session Components_Feedback_Two Sessions_mobile.png
Due: none

test: Remove `playwright` and `karma` as frontend testing frameworks
  .github/workflows/tests.yml
  docs/docs/development/frontend/testing.md
  docs/mkdocs.yml
  frontend/angular.json
  frontend/karma.conf.js
  frontend/package.json
  frontend/src/app/helpers/skeleton-loaders/mat-checkbox-loader/mat-checkbox-loader.component.spec.ts
  frontend/src/app/projects/create-project/create-project.component.spec.ts
  frontend/src/test.ts
  frontend/tests/config.playwright.ts
  frontend/tests/project-creation.spec.ts
  frontend/tests/spec-helper/element.spec-helper.ts
Due: prettier

ci: Auto-generate changelog for API changes
  .github/workflows/openapi-frontend.yml
  .github/workflows/openapi.yml
Due: none

ci: Remove anyOf subschema from API Changelog
  .github/workflows/openapi.yml
Due: none

Update reg_actions to output generated at runId:11275429453
  2024-10-10_11275429453_reg/actual/Project Components_Create Project_Add Team Members_desktop.png
  2024-10-10_11275429453_reg/diff/Project Components_Create Project_Add Team Members_desktop.png
  2024-10-10_11275429453_reg/expected/Project Components_Create Project_Add Team Members_desktop.png
Due: none

Update reg_actions to output generated at runId:11275531902
  2024-10-10_11275531902_reg/actual/Project Components_Create Project_Add Team Members_desktop.png
  2024-10-10_11275531902_reg/diff/Project Components_Create Project_Add Team Members_desktop.png
  2024-10-10_11275531902_reg/expected/Project Components_Create Project_Add Team Members_desktop.png
Due: none

feat: Add feedback anonymity metric to Grafana dashboard
  backend/capellacollab/feedback/crud.py
  backend/capellacollab/feedback/metrics.py
  backend/tests/test_feedback.py
  helm/config/grafana/dashboards/feedback.json
Due: pylint

Update reg_actions to output generated at runId:11276575319
  2024-10-10_11276575319_reg/actual/Project Components_Create Project_Add Team Members_desktop.png
  2024-10-10_11276575319_reg/diff/Project Components_Create Project_Add Team Members_desktop.png
  2024-10-10_11276575319_reg/expected/Project Components_Create Project_Add Team Members_desktop.png
Due: none

Update reg_actions to output generated at runId:11287522621
  2024-10-11_11287522621_reg/actual/Session Components_Create Persistent Session_Default_desktop.png
  2024-10-11_11287522621_reg/actual/Session Components_Create Persistent Session_Default_mobile.png
  2024-10-11_11287522621_reg/actual/Session Components_License Indicator_All Used_desktop.png
  2024-10-11_11287522621_reg/actual/Session Components_License Indicator_All Used_mobile.png
  2024-10-11_11287522621_reg/actual/Session Components_License Indicator_Few Used_desktop.png
  2024-10-11_11287522621_reg/actual/Session Components_License Indicator_Few Used_mobile.png
  2024-10-11_11287522621_reg/actual/Session Components_License Indicator_Some Used_desktop.png
  2024-10-11_11287522621_reg/actual/Session Components_License Indicator_Some Used_mobile.png
Due: none

Path conditions:
  pylint: any of: ^backend/capellacollab and \.py$ and not (^backend/capellacollab/alembic/)
  prettier: any of: \.(ts|mts|cts)$, \.css$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$, but not: ^frontend/src/app/openapi
