Repository DSD-DBS/capella-collab-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, prettier

Path conditions:
  tsc: any of: \.(ts|mts|cts)$
  prettier: any of: \.(ts|mts|cts)$, \.css$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$, but not: ^frontend/src/app/openapi

Update reg_actions to output generated at runId:13703181871
  2025-03-06_13703181871_reg/actual/Generated Token Hidden_desktop.png
  2025-03-06_13703181871_reg/actual/Generated Token Hidden_mobile.png
  2025-03-06_13703181871_reg/actual/Generated Token Revealed_desktop.png
  2025-03-06_13703181871_reg/actual/Generated Token Revealed_mobile.png
  2025-03-06_13703181871_reg/actual/Token Overview_desktop.png
  2025-03-06_13703181871_reg/actual/Token Overview_mobile.png
  2025-03-06_13703181871_reg/diff/Generated Token Hidden_desktop.png
  2025-03-06_13703181871_reg/diff/Generated Token Hidden_mobile.png
  2025-03-06_13703181871_reg/diff/Generated Token Revealed_desktop.png
  2025-03-06_13703181871_reg/diff/Generated Token Revealed_mobile.png
  2025-03-06_13703181871_reg/diff/Token Overview_desktop.png
  2025-03-06_13703181871_reg/diff/Token Overview_mobile.png
  2025-03-06_13703181871_reg/expected/Generated Token Hidden_desktop.png
  2025-03-06_13703181871_reg/expected/Generated Token Hidden_mobile.png
  2025-03-06_13703181871_reg/expected/Generated Token Revealed_desktop.png
  2025-03-06_13703181871_reg/expected/Generated Token Revealed_mobile.png
  2025-03-06_13703181871_reg/expected/Token Overview_desktop.png
  2025-03-06_13703181871_reg/expected/Token Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:13703210051
  2025-03-06_13703210051_reg/actual/Loading As Project Lead_desktop.png
  2025-03-06_13703210051_reg/actual/Loading_desktop.png
  2025-03-06_13703210051_reg/actual/Loading_mobile.png
  2025-03-06_13703210051_reg/actual/No Volume As Admin_desktop.png
  2025-03-06_13703210051_reg/actual/No Volume As Admin_mobile.png
  2025-03-06_13703210051_reg/actual/No Volume As User_desktop.png
  2025-03-06_13703210051_reg/actual/No Volume As User_mobile.png
  2025-03-06_13703210051_reg/actual/Overview_desktop.png
  2025-03-06_13703210051_reg/actual/Overview_mobile.png
  2025-03-06_13703210051_reg/actual/Project Loaded Non Beta_desktop.png
  2025-03-06_13703210051_reg/actual/Project Loaded_desktop.png
  2025-03-06_13703210051_reg/actual/Training Loaded_desktop.png
  2025-03-06_13703210051_reg/actual/Volume As Admin_desktop.png
  2025-03-06_13703210051_reg/actual/Volume As Admin_mobile.png
  2025-03-06_13703210051_reg/actual/Volume As User_desktop.png
  2025-03-06_13703210051_reg/actual/Volume As User_mobile.png
  2025-03-06_13703210051_reg/diff/Loading As Project Lead_desktop.png
  2025-03-06_13703210051_reg/diff/Loading_desktop.png
  2025-03-06_13703210051_reg/diff/Overview_desktop.png
  2025-03-06_13703210051_reg/diff/Overview_mobile.png
  2025-03-06_13703210051_reg/diff/Project Loaded Non Beta_desktop.png
  2025-03-06_13703210051_reg/diff/Project Loaded_desktop.png
  2025-03-06_13703210051_reg/diff/Training Loaded_desktop.png
  2025-03-06_13703210051_reg/expected/Loading As Project Lead_desktop.png
  2025-03-06_13703210051_reg/expected/Loading_desktop.png
  2025-03-06_13703210051_reg/expected/Overview_desktop.png
  2025-03-06_13703210051_reg/expected/Overview_mobile.png
  2025-03-06_13703210051_reg/expected/Project Loaded Non Beta_desktop.png
  2025-03-06_13703210051_reg/expected/Project Loaded_desktop.png
  2025-03-06_13703210051_reg/expected/Training Loaded_desktop.png
Due: none

feat: Add admin token overview
  backend/capellacollab/permissions/models.py
  backend/capellacollab/users/models.py
  backend/capellacollab/users/tokens/crud.py
  backend/capellacollab/users/tokens/models.py
  backend/capellacollab/users/tokens/routes.py
  frontend/src/app/app-routing.module.ts
  frontend/src/app/openapi/api/users-token.service.ts
  frontend/src/app/openapi/model/admin-scopes-input.ts
  frontend/src/app/openapi/model/admin-scopes-output.ts
  frontend/src/app/openapi/model/user-token-with-password.ts
  frontend/src/app/openapi/model/user-token.ts
  frontend/src/app/settings/settings.component.html
  frontend/src/app/users/personal-access-tokens/all-personal-access-tokens/all-personal-access-tokens.component.html
  frontend/src/app/users/personal-access-tokens/all-personal-access-tokens/all-personal-access-tokens.component.ts
  frontend/src/app/users/personal-access-tokens/personal-access-tokens.component.html
  frontend/src/app/users/personal-access-tokens/personal-access-tokens.component.ts
  frontend/src/app/users/personal-access-tokens/personal-access-tokens.stories.ts
  frontend/src/app/users/personal-access-tokens/token-card/token-card.component.html
  frontend/src/app/users/personal-access-tokens/token-card/token-card.component.ts
Due: tsc, prettier

Update reg_actions to output generated at runId:13718430787
  2025-03-07_13718430787_reg/actual/General_desktop.png
  2025-03-07_13718430787_reg/actual/General_mobile.png
  2025-03-07_13718430787_reg/actual/Generated Token Hidden_desktop.png
  2025-03-07_13718430787_reg/actual/Generated Token Hidden_mobile.png
  2025-03-07_13718430787_reg/actual/Generated Token Revealed_desktop.png
  2025-03-07_13718430787_reg/actual/Generated Token Revealed_mobile.png
  2025-03-07_13718430787_reg/actual/Token Overview_desktop.png
  2025-03-07_13718430787_reg/actual/Token Overview_mobile.png
  2025-03-07_13718430787_reg/actual/User Token_desktop.png
  2025-03-07_13718430787_reg/actual/User Token_mobile.png
  2025-03-07_13718430787_reg/diff/General_desktop.png
  2025-03-07_13718430787_reg/diff/General_mobile.png
  2025-03-07_13718430787_reg/diff/Generated Token Hidden_desktop.png
  2025-03-07_13718430787_reg/diff/Generated Token Hidden_mobile.png
  2025-03-07_13718430787_reg/diff/Generated Token Revealed_desktop.png
  2025-03-07_13718430787_reg/diff/Generated Token Revealed_mobile.png
  2025-03-07_13718430787_reg/diff/Token Overview_desktop.png
  2025-03-07_13718430787_reg/diff/Token Overview_mobile.png
  2025-03-07_13718430787_reg/expected/General_desktop.png
  2025-03-07_13718430787_reg/expected/General_mobile.png
  2025-03-07_13718430787_reg/expected/Generated Token Hidden_desktop.png
  2025-03-07_13718430787_reg/expected/Generated Token Hidden_mobile.png
  2025-03-07_13718430787_reg/expected/Generated Token Revealed_desktop.png
  2025-03-07_13718430787_reg/expected/Generated Token Revealed_mobile.png
  2025-03-07_13718430787_reg/expected/Token Overview_desktop.png
  2025-03-07_13718430787_reg/expected/Token Overview_mobile.png
Due: none

feat: Add session cookie as possible URL parameter
  backend/capellacollab/sessions/hooks/__init__.py
  backend/capellacollab/sessions/hooks/authentication.py
  backend/capellacollab/sessions/hooks/http.py
  backend/tests/sessions/hooks/test_http_hook.py
  backend/tests/sessions/hooks/test_pre_authentiation_hook.py
  backend/tests/sessions/test_session_auth.py
  docs/docs/admin/tools/configuration.md
Due: prettier

Update reg_actions to output generated at runId:13725292325
  2025-03-07_13725292325_reg/actual/Loading As Project Lead_desktop.png
  2025-03-07_13725292325_reg/actual/Loading_desktop.png
  2025-03-07_13725292325_reg/actual/Loading_mobile.png
  2025-03-07_13725292325_reg/actual/No Volume As Admin_desktop.png
  2025-03-07_13725292325_reg/actual/No Volume As Admin_mobile.png
  2025-03-07_13725292325_reg/actual/No Volume As User_desktop.png
  2025-03-07_13725292325_reg/actual/No Volume As User_mobile.png
  2025-03-07_13725292325_reg/actual/Project Loaded Non Beta_desktop.png
  2025-03-07_13725292325_reg/actual/Project Loaded_desktop.png
  2025-03-07_13725292325_reg/actual/Training Loaded_desktop.png
  2025-03-07_13725292325_reg/actual/Volume As Admin_desktop.png
  2025-03-07_13725292325_reg/actual/Volume As Admin_mobile.png
  2025-03-07_13725292325_reg/actual/Volume As User_desktop.png
  2025-03-07_13725292325_reg/actual/Volume As User_mobile.png
  2025-03-07_13725292325_reg/diff/Loading As Project Lead_desktop.png
  2025-03-07_13725292325_reg/diff/Loading_desktop.png
  2025-03-07_13725292325_reg/diff/Project Loaded Non Beta_desktop.png
  2025-03-07_13725292325_reg/diff/Project Loaded_desktop.png
  2025-03-07_13725292325_reg/diff/Training Loaded_desktop.png
  2025-03-07_13725292325_reg/expected/Loading As Project Lead_desktop.png
  2025-03-07_13725292325_reg/expected/Loading_desktop.png
  2025-03-07_13725292325_reg/expected/Project Loaded Non Beta_desktop.png
  2025-03-07_13725292325_reg/expected/Project Loaded_desktop.png
  2025-03-07_13725292325_reg/expected/Training Loaded_desktop.png
Due: none

Update reg_actions to output generated at runId:13725411110
  2025-03-07_13725411110_reg/actual/Loading As Project Lead_desktop.png
  2025-03-07_13725411110_reg/actual/Loading_desktop.png
  2025-03-07_13725411110_reg/actual/Loading_mobile.png
  2025-03-07_13725411110_reg/actual/No Volume As Admin_desktop.png
  2025-03-07_13725411110_reg/actual/No Volume As Admin_mobile.png
  2025-03-07_13725411110_reg/actual/No Volume As User_desktop.png
  2025-03-07_13725411110_reg/actual/No Volume As User_mobile.png
  2025-03-07_13725411110_reg/actual/Project Loaded Non Beta_desktop.png
  2025-03-07_13725411110_reg/actual/Project Loaded_desktop.png
  2025-03-07_13725411110_reg/actual/Training Loaded_desktop.png
  2025-03-07_13725411110_reg/actual/Volume As Admin_desktop.png
  2025-03-07_13725411110_reg/actual/Volume As Admin_mobile.png
  2025-03-07_13725411110_reg/actual/Volume As User_desktop.png
  2025-03-07_13725411110_reg/actual/Volume As User_mobile.png
  2025-03-07_13725411110_reg/diff/Loading As Project Lead_desktop.png
  2025-03-07_13725411110_reg/diff/Loading_desktop.png
  2025-03-07_13725411110_reg/diff/Project Loaded Non Beta_desktop.png
  2025-03-07_13725411110_reg/diff/Project Loaded_desktop.png
  2025-03-07_13725411110_reg/diff/Training Loaded_desktop.png
  2025-03-07_13725411110_reg/expected/Loading As Project Lead_desktop.png
  2025-03-07_13725411110_reg/expected/Loading_desktop.png
  2025-03-07_13725411110_reg/expected/Project Loaded Non Beta_desktop.png
  2025-03-07_13725411110_reg/expected/Project Loaded_desktop.png
  2025-03-07_13725411110_reg/expected/Training Loaded_desktop.png
Due: none

chore: Remove floating window manager
  frontend/src/app/sessions/session/floating-window-manager/floating-window-manager.component.html
  frontend/src/app/sessions/session/floating-window-manager/floating-window-manager.component.ts
  frontend/src/app/sessions/session/session-viewer.component.html
  frontend/src/app/sessions/session/session-viewer.component.ts
  frontend/src/app/sessions/session/session-viewer.service.ts
  frontend/src/app/sessions/session/session-viewer.stories.ts
  frontend/src/app/sessions/session/tiling-window-manager/tiling-window-manager.component.html
Due: tsc, prettier

Update reg_actions to output generated at runId:13760972815
  2025-03-10_13760972815_reg/expected/Two Sessions Floating_desktop.png
  2025-03-10_13760972815_reg/expected/Two Sessions Floating_mobile.png
Due: none

Update reg_actions to output generated at runId:13762859420
  2025-03-10_13762859420_reg/actual/One Session Tiling Pending_desktop.png
  2025-03-10_13762859420_reg/actual/One Session Tiling Pending_mobile.png
  2025-03-10_13762859420_reg/actual/One Successful Session_desktop.png
  2025-03-10_13762859420_reg/actual/One Successful Session_mobile.png
  2025-03-10_13762859420_reg/actual/Two Sessions Tiling Pending_desktop.png
  2025-03-10_13762859420_reg/actual/Two Sessions Tiling_desktop.png
  2025-03-10_13762859420_reg/diff/One Session Tiling Pending_desktop.png
  2025-03-10_13762859420_reg/diff/One Session Tiling Pending_mobile.png
  2025-03-10_13762859420_reg/diff/One Successful Session_desktop.png
  2025-03-10_13762859420_reg/diff/One Successful Session_mobile.png
  2025-03-10_13762859420_reg/diff/Two Sessions Tiling Pending_desktop.png
  2025-03-10_13762859420_reg/diff/Two Sessions Tiling_desktop.png
  2025-03-10_13762859420_reg/expected/One Session Tiling Pending_desktop.png
  2025-03-10_13762859420_reg/expected/One Session Tiling Pending_mobile.png
  2025-03-10_13762859420_reg/expected/One Successful Session_desktop.png
  2025-03-10_13762859420_reg/expected/One Successful Session_mobile.png
  2025-03-10_13762859420_reg/expected/Two Sessions Tiling Pending_desktop.png
  2025-03-10_13762859420_reg/expected/Two Sessions Tiling_desktop.png
Due: none

feat: Open sessions from session viewer in new tab
  frontend/src/app/sessions/session/session-viewer.service.ts
  frontend/src/app/sessions/session/session-viewer.stories.ts
  frontend/src/app/sessions/session/tiling-window-manager/tiling-window-manager.component.html
  frontend/src/app/sessions/session/tiling-window-manager/tiling-window-manager.component.ts
Due: tsc, prettier

Update reg_actions to output generated at runId:13763266135
  2025-03-10_13763266135_reg/actual/Two Sessions Tiling Pending_desktop.png
  2025-03-10_13763266135_reg/actual/Two Sessions Tiling Pending_mobile.png
  2025-03-10_13763266135_reg/actual/Two Sessions Tiling_desktop.png
  2025-03-10_13763266135_reg/actual/Two Sessions Tiling_mobile.png
  2025-03-10_13763266135_reg/diff/Two Sessions Tiling Pending_desktop.png
  2025-03-10_13763266135_reg/diff/Two Sessions Tiling Pending_mobile.png
  2025-03-10_13763266135_reg/diff/Two Sessions Tiling_desktop.png
  2025-03-10_13763266135_reg/diff/Two Sessions Tiling_mobile.png
  2025-03-10_13763266135_reg/expected/Two Sessions Tiling Pending_desktop.png
  2025-03-10_13763266135_reg/expected/Two Sessions Tiling Pending_mobile.png
  2025-03-10_13763266135_reg/expected/Two Sessions Tiling_desktop.png
  2025-03-10_13763266135_reg/expected/Two Sessions Tiling_mobile.png
Due: none

build: Disable Guacamole in local environments by default
  Makefile
  README.md
  helm/templates/guacamole/guacamole-postgres.configmap.yaml
  helm/templates/guacamole/guacamole-postgres.deployment.yaml
  helm/templates/guacamole/guacamole-postgres.disruptionbudget.yml
  helm/templates/guacamole/guacamole-postgres.service.yaml
  helm/templates/guacamole/guacamole-postgres.volume.yaml
  helm/templates/guacamole/guacamole-postgres.vpa.yaml
  helm/templates/guacamole/guacamole.deployment.yaml
  helm/templates/guacamole/guacamole.disruptionbudget.yml
  helm/templates/guacamole/guacamole.service.yaml
  helm/templates/guacamole/guacamole.volume.yaml
  helm/templates/guacamole/guacamole.vpa.yaml
  helm/templates/guacamole/guacd.deployment.yaml
  helm/templates/guacamole/guacd.disruptionbudget.yml
  helm/templates/guacamole/guacd.service.yaml
  helm/templates/guacamole/guacd.volume.yaml
  helm/templates/guacamole/guacd.vpa.yaml
  helm/values.yaml
Due: prettier

Update reg_actions to output generated at runId:13767180346
  2025-03-10_13767180346_reg/actual/Two Sessions Tiling Pending_desktop.png
  2025-03-10_13767180346_reg/actual/Two Sessions Tiling Pending_mobile.png
  2025-03-10_13767180346_reg/actual/Two Sessions Tiling_desktop.png
  2025-03-10_13767180346_reg/actual/Two Sessions Tiling_mobile.png
  2025-03-10_13767180346_reg/diff/Two Sessions Tiling Pending_desktop.png
  2025-03-10_13767180346_reg/diff/Two Sessions Tiling Pending_mobile.png
  2025-03-10_13767180346_reg/diff/Two Sessions Tiling_desktop.png
  2025-03-10_13767180346_reg/diff/Two Sessions Tiling_mobile.png
  2025-03-10_13767180346_reg/expected/Two Sessions Tiling Pending_desktop.png
  2025-03-10_13767180346_reg/expected/Two Sessions Tiling Pending_mobile.png
  2025-03-10_13767180346_reg/expected/Two Sessions Tiling_desktop.png
  2025-03-10_13767180346_reg/expected/Two Sessions Tiling_mobile.png
Due: none

feat: Add session cookie as possible URL parameter
  .github/workflows/openapi.yml
  backend/capellacollab/sessions/hooks/__init__.py
  backend/capellacollab/sessions/hooks/authentication.py
  backend/capellacollab/sessions/hooks/http.py
  backend/tests/sessions/hooks/test_http_hook.py
  backend/tests/sessions/hooks/test_pre_authentiation_hook.py
  backend/tests/sessions/test_session_auth.py
  docs/docs/admin/tools/configuration.md
Due: prettier

Update reg_actions to output generated at runId:13767365183
  2025-03-10_13767365183_reg/actual/Two Sessions Tiling Pending_desktop.png
  2025-03-10_13767365183_reg/actual/Two Sessions Tiling Pending_mobile.png
  2025-03-10_13767365183_reg/actual/Two Sessions Tiling_desktop.png
  2025-03-10_13767365183_reg/actual/Two Sessions Tiling_mobile.png
  2025-03-10_13767365183_reg/diff/Two Sessions Tiling Pending_desktop.png
  2025-03-10_13767365183_reg/diff/Two Sessions Tiling Pending_mobile.png
  2025-03-10_13767365183_reg/diff/Two Sessions Tiling_desktop.png
  2025-03-10_13767365183_reg/diff/Two Sessions Tiling_mobile.png
  2025-03-10_13767365183_reg/expected/Two Sessions Tiling Pending_desktop.png
  2025-03-10_13767365183_reg/expected/Two Sessions Tiling Pending_mobile.png
  2025-03-10_13767365183_reg/expected/Two Sessions Tiling_desktop.png
  2025-03-10_13767365183_reg/expected/Two Sessions Tiling_mobile.png
Due: none

Update reg_actions to output generated at runId:13767935008
  2025-03-10_13767935008_reg/actual/Loading As Project Lead_desktop.png
  2025-03-10_13767935008_reg/actual/Loading_desktop.png
  2025-03-10_13767935008_reg/actual/Loading_mobile.png
  2025-03-10_13767935008_reg/actual/No Volume As Admin_desktop.png
  2025-03-10_13767935008_reg/actual/No Volume As Admin_mobile.png
  2025-03-10_13767935008_reg/actual/No Volume As User_desktop.png
  2025-03-10_13767935008_reg/actual/No Volume As User_mobile.png
  2025-03-10_13767935008_reg/actual/Project Loaded Non Beta_desktop.png
  2025-03-10_13767935008_reg/actual/Project Loaded_desktop.png
  2025-03-10_13767935008_reg/actual/Training Loaded_desktop.png
  2025-03-10_13767935008_reg/actual/Two Sessions Tiling Pending_desktop.png
  2025-03-10_13767935008_reg/actual/Two Sessions Tiling Pending_mobile.png
  2025-03-10_13767935008_reg/actual/Two Sessions Tiling_desktop.png
  2025-03-10_13767935008_reg/actual/Two Sessions Tiling_mobile.png
  2025-03-10_13767935008_reg/actual/Volume As Admin_desktop.png
  2025-03-10_13767935008_reg/actual/Volume As Admin_mobile.png
  2025-03-10_13767935008_reg/actual/Volume As User_desktop.png
  2025-03-10_13767935008_reg/actual/Volume As User_mobile.png
  2025-03-10_13767935008_reg/diff/Loading As Project Lead_desktop.png
  2025-03-10_13767935008_reg/diff/Loading_desktop.png
  2025-03-10_13767935008_reg/diff/Project Loaded Non Beta_desktop.png
  2025-03-10_13767935008_reg/diff/Project Loaded_desktop.png
  2025-03-10_13767935008_reg/diff/Training Loaded_desktop.png
  2025-03-10_13767935008_reg/diff/Two Sessions Tiling Pending_desktop.png
  2025-03-10_13767935008_reg/diff/Two Sessions Tiling Pending_mobile.png
  2025-03-10_13767935008_reg/diff/Two Sessions Tiling_desktop.png
  2025-03-10_13767935008_reg/diff/Two Sessions Tiling_mobile.png
  2025-03-10_13767935008_reg/expected/Loading As Project Lead_desktop.png
  2025-03-10_13767935008_reg/expected/Loading_desktop.png
  2025-03-10_13767935008_reg/expected/Project Loaded Non Beta_desktop.png
  2025-03-10_13767935008_reg/expected/Project Loaded_desktop.png
  2025-03-10_13767935008_reg/expected/Training Loaded_desktop.png
  2025-03-10_13767935008_reg/expected/Two Sessions Floating_desktop.png
  2025-03-10_13767935008_reg/expected/Two Sessions Floating_mobile.png
  2025-03-10_13767935008_reg/expected/Two Sessions Tiling Pending_desktop.png
  2025-03-10_13767935008_reg/expected/Two Sessions Tiling Pending_mobile.png
  2025-03-10_13767935008_reg/expected/Two Sessions Tiling_desktop.png
  2025-03-10_13767935008_reg/expected/Two Sessions Tiling_mobile.png
Due: none

ci: Fix CI error due to oasdiff rename
  .github/workflows/openapi.yml
Due: none

Update reg_actions to output generated at runId:13768191422
  2025-03-10_13768191422_reg/actual/Loading As Project Lead_desktop.png
  2025-03-10_13768191422_reg/actual/Loading_desktop.png
  2025-03-10_13768191422_reg/actual/Loading_mobile.png
  2025-03-10_13768191422_reg/actual/No Volume As Admin_desktop.png
  2025-03-10_13768191422_reg/actual/No Volume As Admin_mobile.png
  2025-03-10_13768191422_reg/actual/No Volume As User_desktop.png
  2025-03-10_13768191422_reg/actual/No Volume As User_mobile.png
  2025-03-10_13768191422_reg/actual/Project Loaded Non Beta_desktop.png
  2025-03-10_13768191422_reg/actual/Project Loaded_desktop.png
  2025-03-10_13768191422_reg/actual/Training Loaded_desktop.png
  2025-03-10_13768191422_reg/actual/Two Sessions Tiling Pending_desktop.png
  2025-03-10_13768191422_reg/actual/Two Sessions Tiling Pending_mobile.png
  2025-03-10_13768191422_reg/actual/Two Sessions Tiling_desktop.png
  2025-03-10_13768191422_reg/actual/Two Sessions Tiling_mobile.png
  2025-03-10_13768191422_reg/actual/Volume As Admin_desktop.png
  2025-03-10_13768191422_reg/actual/Volume As Admin_mobile.png
  2025-03-10_13768191422_reg/actual/Volume As User_desktop.png
  2025-03-10_13768191422_reg/actual/Volume As User_mobile.png
  2025-03-10_13768191422_reg/diff/Loading As Project Lead_desktop.png
  2025-03-10_13768191422_reg/diff/Loading_desktop.png
  2025-03-10_13768191422_reg/diff/Project Loaded Non Beta_desktop.png
  2025-03-10_13768191422_reg/diff/Project Loaded_desktop.png
  2025-03-10_13768191422_reg/diff/Training Loaded_desktop.png
  2025-03-10_13768191422_reg/diff/Two Sessions Tiling Pending_desktop.png
  2025-03-10_13768191422_reg/diff/Two Sessions Tiling Pending_mobile.png
  2025-03-10_13768191422_reg/diff/Two Sessions Tiling_desktop.png
  2025-03-10_13768191422_reg/diff/Two Sessions Tiling_mobile.png
  2025-03-10_13768191422_reg/expected/Loading As Project Lead_desktop.png
  2025-03-10_13768191422_reg/expected/Loading_desktop.png
  2025-03-10_13768191422_reg/expected/Project Loaded Non Beta_desktop.png
  2025-03-10_13768191422_reg/expected/Project Loaded_desktop.png
  2025-03-10_13768191422_reg/expected/Training Loaded_desktop.png
  2025-03-10_13768191422_reg/expected/Two Sessions Floating_desktop.png
  2025-03-10_13768191422_reg/expected/Two Sessions Floating_mobile.png
  2025-03-10_13768191422_reg/expected/Two Sessions Tiling Pending_desktop.png
  2025-03-10_13768191422_reg/expected/Two Sessions Tiling Pending_mobile.png
  2025-03-10_13768191422_reg/expected/Two Sessions Tiling_desktop.png
  2025-03-10_13768191422_reg/expected/Two Sessions Tiling_mobile.png
Due: none

chore: Minor improvements of margins and Stories
  frontend/src/app/general/404/404.component.html
  frontend/src/app/general/404/404.stories.ts
  frontend/src/app/projects/models/diagrams/model-diagram-dialog/model-diagram-dialog.stories.ts
  frontend/src/app/projects/models/diagrams/model-diagram-preview-dialog/model-diagram-preview-dialog.stories.ts
  frontend/src/app/sessions/session/session-iframe/session-iframe.component.html
  frontend/src/app/sessions/session/session-viewer.stories.ts
  frontend/src/app/settings/core/tools-settings/tools-settings.component.html
  frontend/src/storybook/decorators.ts
  frontend/src/storybook/diagram.ts
  frontend/src/storybook/fullscreen.ts
Due: tsc, prettier

Update reg_actions to output generated at runId:13768380790
  2025-03-10_13768380790_reg/actual/Loading As Project Lead_desktop.png
  2025-03-10_13768380790_reg/actual/Loading_desktop.png
  2025-03-10_13768380790_reg/actual/Loading_mobile.png
  2025-03-10_13768380790_reg/actual/No Volume As Admin_desktop.png
  2025-03-10_13768380790_reg/actual/No Volume As Admin_mobile.png
  2025-03-10_13768380790_reg/actual/No Volume As User_desktop.png
  2025-03-10_13768380790_reg/actual/No Volume As User_mobile.png
  2025-03-10_13768380790_reg/actual/Project Loaded Non Beta_desktop.png
  2025-03-10_13768380790_reg/actual/Project Loaded_desktop.png
  2025-03-10_13768380790_reg/actual/Training Loaded_desktop.png
  2025-03-10_13768380790_reg/actual/Volume As Admin_desktop.png
  2025-03-10_13768380790_reg/actual/Volume As Admin_mobile.png
  2025-03-10_13768380790_reg/actual/Volume As User_desktop.png
  2025-03-10_13768380790_reg/actual/Volume As User_mobile.png
  2025-03-10_13768380790_reg/diff/Loading As Project Lead_desktop.png
  2025-03-10_13768380790_reg/diff/Loading_desktop.png
  2025-03-10_13768380790_reg/diff/Project Loaded Non Beta_desktop.png
  2025-03-10_13768380790_reg/diff/Project Loaded_desktop.png
  2025-03-10_13768380790_reg/diff/Training Loaded_desktop.png
  2025-03-10_13768380790_reg/expected/Loading As Project Lead_desktop.png
  2025-03-10_13768380790_reg/expected/Loading_desktop.png
  2025-03-10_13768380790_reg/expected/Project Loaded Non Beta_desktop.png
  2025-03-10_13768380790_reg/expected/Project Loaded_desktop.png
  2025-03-10_13768380790_reg/expected/Training Loaded_desktop.png
Due: none

fix: Disable session viewer border in fullscreen-mode
  frontend/src/app/sessions/session/session-iframe/session-iframe.component.html
  frontend/src/app/sessions/session/session-iframe/session-iframe.component.ts
  frontend/src/app/sessions/session/tiling-window-manager/tiling-window-manager.component.html
Due: tsc, prettier

Update reg_actions to output generated at runId:13770729467
  2025-03-10_13770729467_reg/actual/One Session Tiling Pending_desktop.png
  2025-03-10_13770729467_reg/actual/One Session Tiling Pending_mobile.png
  2025-03-10_13770729467_reg/actual/One Successful Session Non Fullscreen_desktop.png
  2025-03-10_13770729467_reg/actual/One Successful Session Non Fullscreen_mobile.png
  2025-03-10_13770729467_reg/actual/One Successful Session_desktop.png
  2025-03-10_13770729467_reg/actual/One Successful Session_mobile.png
  2025-03-10_13770729467_reg/actual/Two Sessions Tiling Pending_desktop.png
  2025-03-10_13770729467_reg/actual/Two Sessions Tiling Pending_mobile.png
  2025-03-10_13770729467_reg/actual/Two Sessions Tiling_desktop.png
  2025-03-10_13770729467_reg/actual/Two Sessions Tiling_mobile.png
  2025-03-10_13770729467_reg/diff/One Session Tiling Pending_desktop.png
  2025-03-10_13770729467_reg/diff/One Session Tiling Pending_mobile.png
  2025-03-10_13770729467_reg/diff/One Successful Session Non Fullscreen_desktop.png
  2025-03-10_13770729467_reg/diff/One Successful Session Non Fullscreen_mobile.png
  2025-03-10_13770729467_reg/diff/One Successful Session_desktop.png
  2025-03-10_13770729467_reg/diff/One Successful Session_mobile.png
  2025-03-10_13770729467_reg/diff/Two Sessions Tiling Pending_desktop.png
  2025-03-10_13770729467_reg/diff/Two Sessions Tiling Pending_mobile.png
  2025-03-10_13770729467_reg/diff/Two Sessions Tiling_desktop.png
  2025-03-10_13770729467_reg/diff/Two Sessions Tiling_mobile.png
  2025-03-10_13770729467_reg/expected/One Session Tiling Pending_desktop.png
  2025-03-10_13770729467_reg/expected/One Session Tiling Pending_mobile.png
  2025-03-10_13770729467_reg/expected/One Successful Session Non Fullscreen_desktop.png
  2025-03-10_13770729467_reg/expected/One Successful Session Non Fullscreen_mobile.png
  2025-03-10_13770729467_reg/expected/One Successful Session_desktop.png
  2025-03-10_13770729467_reg/expected/One Successful Session_mobile.png
  2025-03-10_13770729467_reg/expected/Two Sessions Tiling Pending_desktop.png
  2025-03-10_13770729467_reg/expected/Two Sessions Tiling Pending_mobile.png
  2025-03-10_13770729467_reg/expected/Two Sessions Tiling_desktop.png
  2025-03-10_13770729467_reg/expected/Two Sessions Tiling_mobile.png
Due: none

fix: Make the `admin.projects` scope work with PAT
  backend/capellacollab/projects/permissions/injectables.py
  backend/capellacollab/projects/routes.py
  backend/tests/projects/test_projects_permissions.py
  frontend/src/app/openapi/api/projects.service.ts
Due: tsc

Update reg_actions to output generated at runId:13791419513
  2025-03-11_13791419513_reg/actual/Add Model_mobile.png
  2025-03-11_13791419513_reg/actual/Add Team Members_mobile.png
  2025-03-11_13791419513_reg/actual/General Selected_desktop.png
  2025-03-11_13791419513_reg/actual/General Selected_mobile.png
  2025-03-11_13791419513_reg/diff/Add Model_mobile.png
  2025-03-11_13791419513_reg/diff/Add Team Members_mobile.png
  2025-03-11_13791419513_reg/diff/General Selected_desktop.png
  2025-03-11_13791419513_reg/diff/General Selected_mobile.png
  2025-03-11_13791419513_reg/expected/Add Model_mobile.png
  2025-03-11_13791419513_reg/expected/Add Team Members_mobile.png
  2025-03-11_13791419513_reg/expected/General Selected_desktop.png
  2025-03-11_13791419513_reg/expected/General Selected_mobile.png
Due: none

Update reg_actions to output generated at runId:13791546151
  2025-03-11_13791546151_reg/actual/Add Model_mobile.png
  2025-03-11_13791546151_reg/actual/Add Team Members_mobile.png
  2025-03-11_13791546151_reg/actual/General Selected_desktop.png
  2025-03-11_13791546151_reg/actual/General Selected_mobile.png
  2025-03-11_13791546151_reg/diff/Add Model_mobile.png
  2025-03-11_13791546151_reg/diff/Add Team Members_mobile.png
  2025-03-11_13791546151_reg/diff/General Selected_desktop.png
  2025-03-11_13791546151_reg/diff/General Selected_mobile.png
  2025-03-11_13791546151_reg/expected/Add Model_mobile.png
  2025-03-11_13791546151_reg/expected/Add Team Members_mobile.png
  2025-03-11_13791546151_reg/expected/General Selected_desktop.png
  2025-03-11_13791546151_reg/expected/General Selected_mobile.png
Due: none

docs: Add backup & recovery strategy
  docs/docs/admin/backup-recovery.md
  docs/mkdocs.yml
Due: prettier

build: Disable Guacamole in local environments by default
  Makefile
  README.md
  backend/capellacollab/configuration/app/models.py
  backend/capellacollab/sessions/exceptions.py
  backend/capellacollab/sessions/hooks/guacamole.py
  backend/tests/sessions/hooks/test_guacamole_hook.py
  helm/config/backend.yaml
  helm/templates/guacamole/guacamole-postgres.configmap.yaml
  helm/templates/guacamole/guacamole-postgres.deployment.yaml
  helm/templates/guacamole/guacamole-postgres.disruptionbudget.yml
  helm/templates/guacamole/guacamole-postgres.service.yaml
  helm/templates/guacamole/guacamole-postgres.volume.yaml
  helm/templates/guacamole/guacamole-postgres.vpa.yaml
  helm/templates/guacamole/guacamole.deployment.yaml
  helm/templates/guacamole/guacamole.disruptionbudget.yml
  helm/templates/guacamole/guacamole.service.yaml
  helm/templates/guacamole/guacamole.volume.yaml
  helm/templates/guacamole/guacamole.vpa.yaml
  helm/templates/guacamole/guacd.deployment.yaml
  helm/templates/guacamole/guacd.disruptionbudget.yml
  helm/templates/guacamole/guacd.service.yaml
  helm/templates/guacamole/guacd.volume.yaml
  helm/templates/guacamole/guacd.vpa.yaml
  helm/values.yaml
Due: prettier

build: Remove Analog and use vite directly
  .pre-commit-config.yaml
  frontend/.storybook/preview.ts
  frontend/Makefile
  frontend/angular.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/polyfills.ts
  frontend/src/proxy.conf.js
  frontend/vite.config.ts
Due: tsc, prettier

Update reg_actions to output generated at runId:13808873190
  2025-03-12_13808873190_reg/actual/Add Model_mobile.png
  2025-03-12_13808873190_reg/actual/Add Team Members_mobile.png
  2025-03-12_13808873190_reg/actual/General Selected_desktop.png
  2025-03-12_13808873190_reg/actual/General Selected_mobile.png
  2025-03-12_13808873190_reg/diff/Add Model_mobile.png
  2025-03-12_13808873190_reg/diff/Add Team Members_mobile.png
  2025-03-12_13808873190_reg/diff/General Selected_desktop.png
  2025-03-12_13808873190_reg/diff/General Selected_mobile.png
  2025-03-12_13808873190_reg/expected/Add Model_mobile.png
  2025-03-12_13808873190_reg/expected/Add Team Members_mobile.png
  2025-03-12_13808873190_reg/expected/General Selected_desktop.png
  2025-03-12_13808873190_reg/expected/General Selected_mobile.png
Due: none

docs: Add update and rollback guide
  docs/docs/admin/backup-recovery.md
  docs/docs/admin/update.md
  docs/mkdocs.yml
Due: prettier
