Repository DSD-DBS/capella-collab-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier

Path conditions:
  pylint: any of: ^backend/capellacollab and \.py$ and not (^backend/capellacollab/alembic/)
  prettier: any of: \.(ts|mts|cts)$, \.css$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$, but not: ^frontend/src/app/openapi

build: Update frontend versions
  .pre-commit-config.yaml
  backend/capellacollab/alembic/versions/3818a5009130_split_t4c_instances_and_license_servers.py
  backend/capellacollab/core/database/migration.py
  frontend/package-lock.json
  frontend/package.json
  helm/values.yaml
Due: pylint

build: Remove useless dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: Underline relative-times to indicate possibility of hovering
  frontend/src/app/general/relative-time/relative-time.component.html
  frontend/src/app/general/relative-time/relative-time.component.ts
  frontend/src/app/sessions/session-overview/session-overview.component.html
Due: prettier

ci: Build storybook for diffing
  .github/workflows/storybook-diff.yml
  .github/workflows/storybook-publish.yml
  frontend/src/app/general/404/404.stories.ts
Due: prettier

Update reg_actions to output generated at runId:13055972090
  2025-01-30_13055972090_reg/actual/Create Token With Project Scope_desktop.png
  2025-01-30_13055972090_reg/actual/Create Token With Project Scope_mobile.png
  2025-01-30_13055972090_reg/actual/Generated Token Hidden_desktop.png
  2025-01-30_13055972090_reg/actual/Generated Token Hidden_mobile.png
  2025-01-30_13055972090_reg/actual/Generated Token Revealed_desktop.png
  2025-01-30_13055972090_reg/actual/Generated Token Revealed_mobile.png
  2025-01-30_13055972090_reg/actual/No Tokens In Overview_desktop.png
  2025-01-30_13055972090_reg/actual/No Tokens In Overview_mobile.png
  2025-01-30_13055972090_reg/actual/Project Selection_desktop.png
  2025-01-30_13055972090_reg/actual/Project Selection_mobile.png
  2025-01-30_13055972090_reg/actual/Token Overview_desktop.png
  2025-01-30_13055972090_reg/actual/Token Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:13069927364
  2025-01-31_13069927364_reg/actual/Create Token With Project Scope_desktop.png
  2025-01-31_13069927364_reg/actual/Create Token With Project Scope_mobile.png
  2025-01-31_13069927364_reg/actual/Generated Token Hidden_desktop.png
  2025-01-31_13069927364_reg/actual/Generated Token Hidden_mobile.png
  2025-01-31_13069927364_reg/actual/Generated Token Revealed_desktop.png
  2025-01-31_13069927364_reg/actual/Generated Token Revealed_mobile.png
  2025-01-31_13069927364_reg/actual/No Tokens In Overview_desktop.png
  2025-01-31_13069927364_reg/actual/No Tokens In Overview_mobile.png
  2025-01-31_13069927364_reg/actual/Project Selection_desktop.png
  2025-01-31_13069927364_reg/actual/Project Selection_mobile.png
  2025-01-31_13069927364_reg/actual/Token Overview_desktop.png
  2025-01-31_13069927364_reg/actual/Token Overview_mobile.png
Due: none

feat: Set Cache-Control header on static assets
  frontend/nginx.conf
Due: none

feat: Use gzip
  frontend/nginx.conf
Due: none

Update reg_actions to output generated at runId:13118786181
  2025-02-03_13118786181_reg/actual/Create Token With Project Scope_desktop.png
  2025-02-03_13118786181_reg/actual/Create Token With Project Scope_mobile.png
  2025-02-03_13118786181_reg/actual/Generated Token Hidden_desktop.png
  2025-02-03_13118786181_reg/actual/Generated Token Hidden_mobile.png
  2025-02-03_13118786181_reg/actual/Generated Token Revealed_desktop.png
  2025-02-03_13118786181_reg/actual/Generated Token Revealed_mobile.png
  2025-02-03_13118786181_reg/actual/No Tokens In Overview_desktop.png
  2025-02-03_13118786181_reg/actual/No Tokens In Overview_mobile.png
  2025-02-03_13118786181_reg/actual/Project Selection_desktop.png
  2025-02-03_13118786181_reg/actual/Project Selection_mobile.png
  2025-02-03_13118786181_reg/actual/Token Overview_desktop.png
  2025-02-03_13118786181_reg/actual/Token Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:13119051244
  2025-02-03_13119051244_reg/actual/Create Token With Project Scope_desktop.png
  2025-02-03_13119051244_reg/actual/Create Token With Project Scope_mobile.png
  2025-02-03_13119051244_reg/actual/Generated Token Hidden_desktop.png
  2025-02-03_13119051244_reg/actual/Generated Token Hidden_mobile.png
  2025-02-03_13119051244_reg/actual/Generated Token Revealed_desktop.png
  2025-02-03_13119051244_reg/actual/Generated Token Revealed_mobile.png
  2025-02-03_13119051244_reg/actual/No Tokens In Overview_desktop.png
  2025-02-03_13119051244_reg/actual/No Tokens In Overview_mobile.png
  2025-02-03_13119051244_reg/actual/Project Selection_desktop.png
  2025-02-03_13119051244_reg/actual/Project Selection_mobile.png
  2025-02-03_13119051244_reg/actual/Token Overview_desktop.png
  2025-02-03_13119051244_reg/actual/Token Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:13130525569
  2025-02-04_13130525569_reg/actual/Create Token With Project Scope_desktop.png
  2025-02-04_13130525569_reg/actual/Create Token With Project Scope_mobile.png
  2025-02-04_13130525569_reg/actual/Generated Token Hidden_desktop.png
  2025-02-04_13130525569_reg/actual/Generated Token Hidden_mobile.png
  2025-02-04_13130525569_reg/actual/Generated Token Revealed_desktop.png
  2025-02-04_13130525569_reg/actual/Generated Token Revealed_mobile.png
  2025-02-04_13130525569_reg/actual/No Tokens In Overview_desktop.png
  2025-02-04_13130525569_reg/actual/No Tokens In Overview_mobile.png
  2025-02-04_13130525569_reg/actual/Project Selection_desktop.png
  2025-02-04_13130525569_reg/actual/Project Selection_mobile.png
  2025-02-04_13130525569_reg/actual/Token Overview_desktop.png
  2025-02-04_13130525569_reg/actual/Token Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:13130602767
  2025-02-04_13130602767_reg/actual/Create Token With Project Scope_desktop.png
  2025-02-04_13130602767_reg/actual/Create Token With Project Scope_mobile.png
  2025-02-04_13130602767_reg/actual/Generated Token Hidden_desktop.png
  2025-02-04_13130602767_reg/actual/Generated Token Hidden_mobile.png
  2025-02-04_13130602767_reg/actual/Generated Token Revealed_desktop.png
  2025-02-04_13130602767_reg/actual/Generated Token Revealed_mobile.png
  2025-02-04_13130602767_reg/actual/No Tokens In Overview_desktop.png
  2025-02-04_13130602767_reg/actual/No Tokens In Overview_mobile.png
  2025-02-04_13130602767_reg/actual/Project Selection_desktop.png
  2025-02-04_13130602767_reg/actual/Project Selection_mobile.png
  2025-02-04_13130602767_reg/actual/Token Overview_desktop.png
  2025-02-04_13130602767_reg/actual/Token Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:13134489575
  2025-02-04_13134489575_reg/actual/Create Token With Project Scope_desktop.png
  2025-02-04_13134489575_reg/actual/Create Token With Project Scope_mobile.png
  2025-02-04_13134489575_reg/actual/Generated Token Hidden_desktop.png
  2025-02-04_13134489575_reg/actual/Generated Token Hidden_mobile.png
  2025-02-04_13134489575_reg/actual/Generated Token Revealed_desktop.png
  2025-02-04_13134489575_reg/actual/Generated Token Revealed_mobile.png
  2025-02-04_13134489575_reg/actual/No Tokens In Overview_desktop.png
  2025-02-04_13134489575_reg/actual/No Tokens In Overview_mobile.png
  2025-02-04_13134489575_reg/actual/Project Selection_desktop.png
  2025-02-04_13134489575_reg/actual/Project Selection_mobile.png
  2025-02-04_13134489575_reg/actual/Token Overview_desktop.png
  2025-02-04_13134489575_reg/actual/Token Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:13134914541
  2025-02-04_13134914541_reg/actual/Create Token With Project Scope_desktop.png
  2025-02-04_13134914541_reg/actual/Create Token With Project Scope_mobile.png
  2025-02-04_13134914541_reg/actual/Generated Token Hidden_desktop.png
  2025-02-04_13134914541_reg/actual/Generated Token Hidden_mobile.png
  2025-02-04_13134914541_reg/actual/Generated Token Revealed_desktop.png
  2025-02-04_13134914541_reg/actual/Generated Token Revealed_mobile.png
  2025-02-04_13134914541_reg/actual/No Tokens In Overview_desktop.png
  2025-02-04_13134914541_reg/actual/No Tokens In Overview_mobile.png
  2025-02-04_13134914541_reg/actual/Project Selection_desktop.png
  2025-02-04_13134914541_reg/actual/Project Selection_mobile.png
  2025-02-04_13134914541_reg/actual/Token Overview_desktop.png
  2025-02-04_13134914541_reg/actual/Token Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:13137126013
  2025-02-04_13137126013_reg/actual/Create Token With Project Scope_desktop.png
  2025-02-04_13137126013_reg/actual/Create Token With Project Scope_mobile.png
  2025-02-04_13137126013_reg/actual/Generated Token Hidden_desktop.png
  2025-02-04_13137126013_reg/actual/Generated Token Hidden_mobile.png
  2025-02-04_13137126013_reg/actual/Generated Token Revealed_desktop.png
  2025-02-04_13137126013_reg/actual/Generated Token Revealed_mobile.png
  2025-02-04_13137126013_reg/actual/No Tokens In Overview_desktop.png
  2025-02-04_13137126013_reg/actual/No Tokens In Overview_mobile.png
  2025-02-04_13137126013_reg/actual/Project Selection_desktop.png
  2025-02-04_13137126013_reg/actual/Project Selection_mobile.png
  2025-02-04_13137126013_reg/actual/Token Overview_desktop.png
  2025-02-04_13137126013_reg/actual/Token Overview_mobile.png
Due: none

chore: Update copyright year
  README.md
  docs/mkdocs.yml
Due: prettier

Update reg_actions to output generated at runId:13139833073
  2025-02-04_13139833073_reg/actual/Create Token With Project Scope_desktop.png
  2025-02-04_13139833073_reg/actual/Create Token With Project Scope_mobile.png
  2025-02-04_13139833073_reg/actual/Generated Token Hidden_desktop.png
  2025-02-04_13139833073_reg/actual/Generated Token Hidden_mobile.png
  2025-02-04_13139833073_reg/actual/Generated Token Revealed_desktop.png
  2025-02-04_13139833073_reg/actual/Generated Token Revealed_mobile.png
  2025-02-04_13139833073_reg/actual/No Tokens In Overview_desktop.png
  2025-02-04_13139833073_reg/actual/No Tokens In Overview_mobile.png
  2025-02-04_13139833073_reg/actual/Token Overview_desktop.png
  2025-02-04_13139833073_reg/actual/Token Overview_mobile.png
  2025-02-04_13139833073_reg/diff/Create Token With Project Scope_desktop.png
  2025-02-04_13139833073_reg/diff/Create Token With Project Scope_mobile.png
  2025-02-04_13139833073_reg/diff/Generated Token Hidden_desktop.png
  2025-02-04_13139833073_reg/diff/Generated Token Hidden_mobile.png
  2025-02-04_13139833073_reg/diff/Generated Token Revealed_desktop.png
  2025-02-04_13139833073_reg/diff/Generated Token Revealed_mobile.png
  2025-02-04_13139833073_reg/diff/No Tokens In Overview_desktop.png
  2025-02-04_13139833073_reg/diff/No Tokens In Overview_mobile.png
  2025-02-04_13139833073_reg/diff/Token Overview_desktop.png
  2025-02-04_13139833073_reg/diff/Token Overview_mobile.png
  2025-02-04_13139833073_reg/expected/Create Token With Project Scope_desktop.png
  2025-02-04_13139833073_reg/expected/Create Token With Project Scope_mobile.png
  2025-02-04_13139833073_reg/expected/Generated Token Hidden_desktop.png
  2025-02-04_13139833073_reg/expected/Generated Token Hidden_mobile.png
  2025-02-04_13139833073_reg/expected/Generated Token Revealed_desktop.png
  2025-02-04_13139833073_reg/expected/Generated Token Revealed_mobile.png
  2025-02-04_13139833073_reg/expected/No Tokens In Overview_desktop.png
  2025-02-04_13139833073_reg/expected/No Tokens In Overview_mobile.png
  2025-02-04_13139833073_reg/expected/Token Overview_desktop.png
  2025-02-04_13139833073_reg/expected/Token Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:13140026610
  2025-02-04_13140026610_reg/actual/Create Token With Project Scope_desktop.png
  2025-02-04_13140026610_reg/actual/Create Token With Project Scope_mobile.png
  2025-02-04_13140026610_reg/actual/Generated Token Hidden_desktop.png
  2025-02-04_13140026610_reg/actual/Generated Token Hidden_mobile.png
  2025-02-04_13140026610_reg/actual/Generated Token Revealed_desktop.png
  2025-02-04_13140026610_reg/actual/Generated Token Revealed_mobile.png
  2025-02-04_13140026610_reg/actual/No Tokens In Overview_desktop.png
  2025-02-04_13140026610_reg/actual/No Tokens In Overview_mobile.png
  2025-02-04_13140026610_reg/actual/Token Overview_desktop.png
  2025-02-04_13140026610_reg/actual/Token Overview_mobile.png
  2025-02-04_13140026610_reg/diff/Create Token With Project Scope_desktop.png
  2025-02-04_13140026610_reg/diff/Create Token With Project Scope_mobile.png
  2025-02-04_13140026610_reg/diff/Generated Token Hidden_desktop.png
  2025-02-04_13140026610_reg/diff/Generated Token Hidden_mobile.png
  2025-02-04_13140026610_reg/diff/Generated Token Revealed_desktop.png
  2025-02-04_13140026610_reg/diff/Generated Token Revealed_mobile.png
  2025-02-04_13140026610_reg/diff/No Tokens In Overview_desktop.png
  2025-02-04_13140026610_reg/diff/No Tokens In Overview_mobile.png
  2025-02-04_13140026610_reg/diff/Token Overview_desktop.png
  2025-02-04_13140026610_reg/diff/Token Overview_mobile.png
  2025-02-04_13140026610_reg/expected/Create Token With Project Scope_desktop.png
  2025-02-04_13140026610_reg/expected/Create Token With Project Scope_mobile.png
  2025-02-04_13140026610_reg/expected/Generated Token Hidden_desktop.png
  2025-02-04_13140026610_reg/expected/Generated Token Hidden_mobile.png
  2025-02-04_13140026610_reg/expected/Generated Token Revealed_desktop.png
  2025-02-04_13140026610_reg/expected/Generated Token Revealed_mobile.png
  2025-02-04_13140026610_reg/expected/No Tokens In Overview_desktop.png
  2025-02-04_13140026610_reg/expected/No Tokens In Overview_mobile.png
  2025-02-04_13140026610_reg/expected/Token Overview_desktop.png
  2025-02-04_13140026610_reg/expected/Token Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:13140558040
  2025-02-04_13140558040_reg/actual/Create Token With Project Scope_desktop.png
  2025-02-04_13140558040_reg/actual/Create Token With Project Scope_mobile.png
  2025-02-04_13140558040_reg/actual/Generated Token Hidden_desktop.png
  2025-02-04_13140558040_reg/actual/Generated Token Hidden_mobile.png
  2025-02-04_13140558040_reg/actual/Generated Token Revealed_desktop.png
  2025-02-04_13140558040_reg/actual/Generated Token Revealed_mobile.png
  2025-02-04_13140558040_reg/actual/No Tokens In Overview_desktop.png
  2025-02-04_13140558040_reg/actual/No Tokens In Overview_mobile.png
  2025-02-04_13140558040_reg/actual/Token Overview_desktop.png
  2025-02-04_13140558040_reg/actual/Token Overview_mobile.png
  2025-02-04_13140558040_reg/diff/Create Token With Project Scope_desktop.png
  2025-02-04_13140558040_reg/diff/Create Token With Project Scope_mobile.png
  2025-02-04_13140558040_reg/diff/Generated Token Hidden_desktop.png
  2025-02-04_13140558040_reg/diff/Generated Token Hidden_mobile.png
  2025-02-04_13140558040_reg/diff/Generated Token Revealed_desktop.png
  2025-02-04_13140558040_reg/diff/Generated Token Revealed_mobile.png
  2025-02-04_13140558040_reg/diff/No Tokens In Overview_desktop.png
  2025-02-04_13140558040_reg/diff/No Tokens In Overview_mobile.png
  2025-02-04_13140558040_reg/diff/Token Overview_desktop.png
  2025-02-04_13140558040_reg/diff/Token Overview_mobile.png
  2025-02-04_13140558040_reg/expected/Create Token With Project Scope_desktop.png
  2025-02-04_13140558040_reg/expected/Create Token With Project Scope_mobile.png
  2025-02-04_13140558040_reg/expected/Generated Token Hidden_desktop.png
  2025-02-04_13140558040_reg/expected/Generated Token Hidden_mobile.png
  2025-02-04_13140558040_reg/expected/Generated Token Revealed_desktop.png
  2025-02-04_13140558040_reg/expected/Generated Token Revealed_mobile.png
  2025-02-04_13140558040_reg/expected/No Tokens In Overview_desktop.png
  2025-02-04_13140558040_reg/expected/No Tokens In Overview_mobile.png
  2025-02-04_13140558040_reg/expected/Token Overview_desktop.png
  2025-02-04_13140558040_reg/expected/Token Overview_mobile.png
Due: none

feat: Issue session token for usage with API
  backend/capellacollab/alembic/versions/8731ac0b284e_add_title_to_pat.py
  backend/capellacollab/sessions/hooks/__init__.py
  backend/capellacollab/sessions/hooks/interface.py
  backend/capellacollab/sessions/hooks/session_token.py
  backend/capellacollab/sessions/routes.py
  backend/capellacollab/users/tokens/crud.py
  backend/capellacollab/users/tokens/models.py
  backend/capellacollab/users/tokens/routes.py
  backend/tests/sessions/hooks/test_session_token_hook.py
  backend/tests/users/fixtures.py
  backend/tests/users/test_tokens.py
  docs/docs/admin/tools/configuration.md
  docs/docs/api/index.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/openapi/model/post-token.ts
  frontend/src/app/openapi/model/user-token-with-password.ts
  frontend/src/app/openapi/model/user-token.ts
  frontend/src/app/projects/models/diagrams/model-diagram-dialog/model-diagram-code-block/model-diagram-code-block.component.ts
  frontend/src/app/users/personal-access-tokens/personal-access-tokens.component.html
  frontend/src/app/users/personal-access-tokens/personal-access-tokens.component.ts
  frontend/src/app/users/personal-access-tokens/personal-access-tokens.stories.ts
Due: pylint, prettier

Update reg_actions to output generated at runId:13140814793
  2025-02-04_13140814793_reg/actual/Create Token With Project Scope_desktop.png
  2025-02-04_13140814793_reg/actual/Create Token With Project Scope_mobile.png
  2025-02-04_13140814793_reg/actual/Generated Token Hidden_desktop.png
  2025-02-04_13140814793_reg/actual/Generated Token Hidden_mobile.png
  2025-02-04_13140814793_reg/actual/Generated Token Revealed_desktop.png
  2025-02-04_13140814793_reg/actual/Generated Token Revealed_mobile.png
  2025-02-04_13140814793_reg/actual/No Tokens In Overview_desktop.png
  2025-02-04_13140814793_reg/actual/No Tokens In Overview_mobile.png
  2025-02-04_13140814793_reg/actual/Project Selection_desktop.png
  2025-02-04_13140814793_reg/actual/Project Selection_mobile.png
  2025-02-04_13140814793_reg/actual/Token Overview_desktop.png
  2025-02-04_13140814793_reg/actual/Token Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:13140872771
  2025-02-04_13140872771_reg/actual/Create Token With Project Scope_desktop.png
  2025-02-04_13140872771_reg/actual/Create Token With Project Scope_mobile.png
  2025-02-04_13140872771_reg/actual/Generated Token Hidden_desktop.png
  2025-02-04_13140872771_reg/actual/Generated Token Hidden_mobile.png
  2025-02-04_13140872771_reg/actual/Generated Token Revealed_desktop.png
  2025-02-04_13140872771_reg/actual/Generated Token Revealed_mobile.png
  2025-02-04_13140872771_reg/actual/No Tokens In Overview_desktop.png
  2025-02-04_13140872771_reg/actual/No Tokens In Overview_mobile.png
  2025-02-04_13140872771_reg/actual/Token Overview_desktop.png
  2025-02-04_13140872771_reg/actual/Token Overview_mobile.png
  2025-02-04_13140872771_reg/diff/Create Token With Project Scope_desktop.png
  2025-02-04_13140872771_reg/diff/Create Token With Project Scope_mobile.png
  2025-02-04_13140872771_reg/diff/Generated Token Hidden_desktop.png
  2025-02-04_13140872771_reg/diff/Generated Token Hidden_mobile.png
  2025-02-04_13140872771_reg/diff/Generated Token Revealed_desktop.png
  2025-02-04_13140872771_reg/diff/Generated Token Revealed_mobile.png
  2025-02-04_13140872771_reg/diff/No Tokens In Overview_desktop.png
  2025-02-04_13140872771_reg/diff/No Tokens In Overview_mobile.png
  2025-02-04_13140872771_reg/diff/Token Overview_desktop.png
  2025-02-04_13140872771_reg/diff/Token Overview_mobile.png
  2025-02-04_13140872771_reg/expected/Create Token With Project Scope_desktop.png
  2025-02-04_13140872771_reg/expected/Create Token With Project Scope_mobile.png
  2025-02-04_13140872771_reg/expected/Generated Token Hidden_desktop.png
  2025-02-04_13140872771_reg/expected/Generated Token Hidden_mobile.png
  2025-02-04_13140872771_reg/expected/Generated Token Revealed_desktop.png
  2025-02-04_13140872771_reg/expected/Generated Token Revealed_mobile.png
  2025-02-04_13140872771_reg/expected/No Tokens In Overview_desktop.png
  2025-02-04_13140872771_reg/expected/No Tokens In Overview_mobile.png
  2025-02-04_13140872771_reg/expected/Token Overview_desktop.png
  2025-02-04_13140872771_reg/expected/Token Overview_mobile.png
Due: none

feat: Fix loading of project users on project change
  frontend/src/app/projects/project-detail/project-users/service/project-user.service.ts
Due: prettier

Update reg_actions to output generated at runId:13155065803
  2025-02-05_13155065803_reg/actual/Token Overview_mobile.png
  2025-02-05_13155065803_reg/diff/Token Overview_mobile.png
  2025-02-05_13155065803_reg/expected/Token Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:13155242731
  2025-02-05_13155242731_reg/actual/Code Block With Job ID_desktop.png
  2025-02-05_13155242731_reg/actual/Code Block With Job ID_mobile.png
  2025-02-05_13155242731_reg/actual/Code Block With Token_desktop.png
  2025-02-05_13155242731_reg/actual/Code Block With Token_mobile.png
  2025-02-05_13155242731_reg/actual/Code Block_desktop.png
  2025-02-05_13155242731_reg/actual/Code Block_mobile.png
  2025-02-05_13155242731_reg/diff/Code Block With Job ID_desktop.png
  2025-02-05_13155242731_reg/diff/Code Block With Job ID_mobile.png
  2025-02-05_13155242731_reg/diff/Code Block With Token_desktop.png
  2025-02-05_13155242731_reg/diff/Code Block With Token_mobile.png
  2025-02-05_13155242731_reg/diff/Code Block_desktop.png
  2025-02-05_13155242731_reg/diff/Code Block_mobile.png
  2025-02-05_13155242731_reg/expected/Code Block With Job ID_desktop.png
  2025-02-05_13155242731_reg/expected/Code Block With Job ID_mobile.png
  2025-02-05_13155242731_reg/expected/Code Block With Token_desktop.png
  2025-02-05_13155242731_reg/expected/Code Block With Token_mobile.png
  2025-02-05_13155242731_reg/expected/Code Block_desktop.png
  2025-02-05_13155242731_reg/expected/Code Block_mobile.png
Due: none

fix: Make some subviews consistent and use new Angular Syntax
  frontend/src/app/projects/models/model-description/model-description.component.css
  frontend/src/app/projects/models/model-description/model-description.component.html
  frontend/src/app/projects/models/model-description/model-description.component.ts
  frontend/src/app/projects/models/model-description/model-description.stories.ts
  frontend/src/app/projects/models/model-restrictions/model-restrictions.component.html
  frontend/src/app/projects/models/model-restrictions/model-restrictions.component.ts
  frontend/src/app/projects/models/model-restrictions/model-restrictions.stories.ts
  frontend/src/app/projects/models/model-source/git/manage-git-model/manage-git-model.component.html
  frontend/src/app/projects/models/model-source/git/manage-git-model/manage-git-model.component.ts
  frontend/src/app/settings/integrations/pure-variants/pure-variants.component.html
  frontend/src/app/settings/integrations/pure-variants/pure-variants.stories.ts
Due: prettier

Update reg_actions to output generated at runId:13160715405
  2025-02-05_13160715405_reg/actual/Allow Pure Variants_desktop.png
  2025-02-05_13160715405_reg/actual/Allow Pure Variants_mobile.png
  2025-02-05_13160715405_reg/actual/Existing Git Model Editing_desktop.png
  2025-02-05_13160715405_reg/actual/Existing Git Model Editing_mobile.png
  2025-02-05_13160715405_reg/actual/Existing Git Model_desktop.png
  2025-02-05_13160715405_reg/actual/Existing Git Model_mobile.png
  2025-02-05_13160715405_reg/actual/Existing License_desktop.png
  2025-02-05_13160715405_reg/actual/Existing License_mobile.png
  2025-02-05_13160715405_reg/actual/General_desktop.png
  2025-02-05_13160715405_reg/actual/General_mobile.png
  2025-02-05_13160715405_reg/actual/Invalid URL_desktop.png
  2025-02-05_13160715405_reg/actual/Invalid URL_mobile.png
  2025-02-05_13160715405_reg/actual/Loading License Key_desktop.png
  2025-02-05_13160715405_reg/actual/Loading License Key_mobile.png
  2025-02-05_13160715405_reg/actual/Loading_desktop.png
  2025-02-05_13160715405_reg/actual/Loading_mobile.png
  2025-02-05_13160715405_reg/actual/No Restrictions_desktop.png
  2025-02-05_13160715405_reg/actual/No Restrictions_mobile.png
  2025-02-05_13160715405_reg/actual/Upload License_desktop.png
  2025-02-05_13160715405_reg/actual/Upload License_mobile.png
  2025-02-05_13160715405_reg/actual/Valid URL_desktop.png
  2025-02-05_13160715405_reg/actual/Valid URL_mobile.png
  2025-02-05_13160715405_reg/diff/Existing Git Model Editing_desktop.png
  2025-02-05_13160715405_reg/diff/Existing Git Model Editing_mobile.png
  2025-02-05_13160715405_reg/diff/Existing Git Model_desktop.png
  2025-02-05_13160715405_reg/diff/Existing Git Model_mobile.png
  2025-02-05_13160715405_reg/diff/Invalid URL_desktop.png
  2025-02-05_13160715405_reg/diff/Invalid URL_mobile.png
  2025-02-05_13160715405_reg/diff/Valid URL_desktop.png
  2025-02-05_13160715405_reg/diff/Valid URL_mobile.png
  2025-02-05_13160715405_reg/expected/Existing Git Model Editing_desktop.png
  2025-02-05_13160715405_reg/expected/Existing Git Model Editing_mobile.png
  2025-02-05_13160715405_reg/expected/Existing Git Model_desktop.png
  2025-02-05_13160715405_reg/expected/Existing Git Model_mobile.png
  2025-02-05_13160715405_reg/expected/Invalid URL_desktop.png
  2025-02-05_13160715405_reg/expected/Invalid URL_mobile.png
  2025-02-05_13160715405_reg/expected/Valid URL_desktop.png
  2025-02-05_13160715405_reg/expected/Valid URL_mobile.png
Due: none

feat: Add communication with training mode to auto-fullscreen windows
  frontend/src/app/sessions/session/session-viewer.service.ts
Due: prettier
