Repository DSD-DBS/capella-collab-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier

Path conditions:
  pylint: any of: ^backend/capellacollab and \.py$ and not (^backend/capellacollab/alembic/)
  prettier: any of: \.(ts|mts|cts)$, \.css$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$, but not: ^frontend/src/app/openapi

feat: Add Capella Model Explorer as default tool
  backend/capellacollab/configuration/app/models.py
  backend/capellacollab/core/database/migration.py
  helm/config/backend.yaml
Due: pylint

docs: Improve language a bit
  docs/docs/admin/teamforcapella/project-management/index.md
Due: prettier

docs: Fix broken TeamForCapella project page
  docs/docs/admin/teamforcapella/project-management/index.md
Due: prettier

feat: Add `preparation_state` to feedback email
  backend/capellacollab/feedback/models.py
Due: pylint

fix: Add CORS for local Jupyter setup
  backend/capellacollab/core/database/migration.py
Due: pylint

feat: Add `preparation_state` to feedback email
  backend/capellacollab/feedback/models.py
  backend/tests/test_feedback.py
  frontend/src/app/openapi/model/anonymized-session.ts
  frontend/src/app/sessions/session/session-viewer.stories.ts
Due: pylint, prettier

refactor: Remove usage of deprecated `get_username` injectable
  backend/capellacollab/projects/routes.py
  backend/capellacollab/projects/toolmodels/backups/core.py
  backend/capellacollab/projects/toolmodels/backups/routes.py
  backend/capellacollab/projects/users/routes.py
Due: pylint

feat: Add internal endpoints for sessions and expose backend
  backend/capellacollab/configuration/app/models.py
  backend/capellacollab/sessions/models.py
  backend/capellacollab/sessions/util.py
  docs/docs/admin/tools/configuration.md
  frontend/src/app/openapi/model/session.ts
  frontend/src/storybook/session.ts
  helm/config/backend.yaml
  helm/templates/backend/backend.networkpolicy.yaml
Due: pylint, prettier

feat: Expose additional ports for sessions internally
  backend/capellacollab/sessions/routes.py
  backend/capellacollab/tools/models.py
  backend/capellacollab/tools/util.py
  backend/tests/tools/test_tools.py
  frontend/src/app/openapi/model/http-ports-input.ts
  frontend/src/app/openapi/model/http-ports-output.ts
  frontend/src/app/openapi/model/rdp-ports-input.ts
  frontend/src/app/openapi/model/rdp-ports-output.ts
  frontend/src/app/openapi/model/session-ports.ts
  frontend/src/storybook/tool.ts
Due: pylint, prettier

refactor: Remove usage of deprecated `get_username` injectable
  backend/capellacollab/projects/routes.py
  backend/capellacollab/projects/toolmodels/backups/core.py
  backend/capellacollab/projects/toolmodels/backups/routes.py
  backend/capellacollab/projects/users/routes.py
  backend/tests/projects/test_projects_users_routes.py
  backend/tests/projects/toolmodels/pipelines/fixtures.py
  backend/tests/projects/toolmodels/pipelines/test_pipelines.py
Due: pylint

feat: Filter users by beta status
  frontend/src/app/users/user-settings/user-settings.component.html
  frontend/src/app/users/user-settings/user-settings.component.ts
  frontend/src/app/users/user-settings/user-settings.stories.ts
Due: prettier

feat: Add the ability to override resources on a per-user basis
  backend/capellacollab/alembic/versions/4d42177579a2_add_resource_override.py
  backend/capellacollab/core/database/migration.py
  backend/capellacollab/projects/toolmodels/backups/routes.py
  backend/capellacollab/projects/toolmodels/backups/runs/interface.py
  backend/capellacollab/sessions/operators/k8s.py
  backend/capellacollab/tools/crud.py
  backend/capellacollab/tools/models.py
  backend/capellacollab/users/crud.py
  backend/tests/sessions/k8s_operator/test_session_k8s_operator.py
  backend/tests/tools/test_tools_resources.py
  backend/tests/tools/test_tools_routes.py
  docs/docs/admin/tools/configuration.md
  frontend/src/app/openapi/.openapi-generator/FILES
  frontend/src/app/openapi/model/additional-resource-profile-input.ts
  frontend/src/app/openapi/model/additional-resource-profile-output.ts
  frontend/src/app/openapi/model/default-resource-profile-input.ts
  frontend/src/app/openapi/model/default-resource-profile-output.ts
  frontend/src/app/openapi/model/models.ts
  frontend/src/app/openapi/model/resources-input.ts
  frontend/src/app/openapi/model/resources-output.ts
  frontend/src/storybook/tool.ts
Due: pylint, prettier

feat: Add communication with training mode to auto-fullscreen windows
  frontend/src/app/sessions/session/session-viewer.service.ts
Due: prettier

build!: Update to python 3.12
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/openapi.yml
  .github/workflows/tests.yml
  backend/Dockerfile
  backend/capellacollab/core/database/migration.py
  backend/capellacollab/sessions/operators/k8s.py
  backend/pyproject.toml
  docs/.readthedocs.yaml
  docs/Dockerfile
  docs/docs/admin/cli.md
Due: pylint, prettier

build: Update frontend versions
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/polyfills.ts
Due: prettier

chore: Use pnpm instead of npm
  .github/dependabot.yml
  .github/workflows/lint.yml
  .github/workflows/storybook-diff.yml
  .github/workflows/storybook-publish.yml
  .pre-commit-config.yaml
  ci-templates/gitlab/image-builder.yml
  docs/docs/development/index.md
  frontend/Dockerfile
  frontend/Makefile
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-lock.yaml.license
Due: prettier

feat(grafana): Use gradient for feedback time series
  helm/config/grafana/dashboards/feedback.json
Due: none

feat: Delete files in file browser
  backend/capellacollab/sessions/files/routes.py
  backend/capellacollab/sessions/operators/k8s.py
  frontend/src/app/openapi/api/sessions.service.ts
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/file-browser-dialog/file-browser-dialog.component.html
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/file-browser-dialog/file-browser-dialog.component.ts
Due: pylint, prettier

feat: Add a dashboard to show users to grafana
  backend/capellacollab/metrics.py
  backend/capellacollab/users/crud.py
  backend/capellacollab/users/metrics.py
  helm/config/grafana/dashboards/users.json
  helm/config/grafana/dashboards/users.json.license
Due: pylint

feat: Add a connection pool dashboard
  helm/config/grafana/dashboards/connection-pool.json
  helm/config/grafana/dashboards/connection-pool.json.license
Due: none

fix: Make some subviews consistent and use new Angular Syntax
  frontend/src/app/projects/models/model-description/model-description.component.css
  frontend/src/app/projects/models/model-description/model-description.component.html
  frontend/src/app/projects/models/model-description/model-description.component.ts
  frontend/src/app/projects/models/model-description/model-description.stories.ts
  frontend/src/app/projects/models/model-restrictions/model-restrictions.component.html
  frontend/src/app/projects/models/model-restrictions/model-restrictions.component.ts
  frontend/src/app/projects/models/model-restrictions/model-restrictions.stories.ts
  frontend/src/app/projects/models/model-source/git/manage-git-model/manage-git-model.component.html
  frontend/src/app/projects/models/model-source/git/manage-git-model/manage-git-model.component.ts
  frontend/src/app/settings/integrations/pure-variants/pure-variants.component.html
  frontend/src/app/settings/integrations/pure-variants/pure-variants.stories.ts
Due: prettier

chore: Rename GitSettings to GitInstances
  frontend/src/app/app-routing.module.ts
  frontend/src/app/projects/models/model-source/git/manage-git-model/manage-git-model.component.ts
  frontend/src/app/settings/modelsources/git-instances/add-git-instance/add-git-instance.component.html
  frontend/src/app/settings/modelsources/git-instances/add-git-instance/add-git-instance.component.ts
  frontend/src/app/settings/modelsources/git-instances/add-git-instance/add-git-instance.stories.ts
  frontend/src/app/settings/modelsources/git-instances/edit-git-instance/edit-git-instance.component.html
  frontend/src/app/settings/modelsources/git-instances/edit-git-instance/edit-git-instance.component.ts
  frontend/src/app/settings/modelsources/git-instances/edit-git-instance/edit-git-instance.stories.ts
  frontend/src/app/settings/modelsources/git-instances/git-instances.component.html
  frontend/src/app/settings/modelsources/git-instances/git-instances.component.ts
  frontend/src/app/settings/modelsources/git-instances/git-instances.stories.ts
  frontend/src/app/settings/modelsources/git-instances/service/git-instances.service.ts
  frontend/src/storybook/git.ts
Due: prettier

feat: Redesign Model Card
  frontend/src/app/projects/project-detail/model-overview/model-overview.component.html
  frontend/src/app/projects/project-detail/model-overview/model-overview.component.ts
  frontend/src/app/projects/project-detail/model-overview/model-overview.stories.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-persistent-session/create-persistent-session-dialog/create-persistent-session-dialog.component.html
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-persistent-session/create-persistent-session-dialog/create-persistent-session-dialog.component.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-persistent-session/create-persistent-session-dialog/create-persistent-session-dialog.stories.ts
Due: prettier

refactor: Use Zod for Session History
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-session-history/session-history.service.ts
Due: prettier

feat: Allow favoriting projects
  frontend/src/app/projects/project-overview/project-favorites.service.ts
  frontend/src/app/projects/project-overview/project-overview.component.html
  frontend/src/app/projects/project-overview/project-overview.component.ts
  frontend/src/app/projects/project-overview/project-overview.stories.ts
Due: prettier

ci: Downgrade to reg-actions v2
  .github/workflows/storybook-diff.yml
Due: none

feat: Move from highlight.js to shiki
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/projects/models/diagrams/model-diagram-dialog/model-diagram-code-block/model-diagram-code-block.component.html
  frontend/src/app/projects/models/diagrams/model-diagram-dialog/model-diagram-code-block/model-diagram-code-block.component.ts
  frontend/src/styles.css
Due: prettier

feat: Rework Monaco editor integration
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/helpers/editor/editor.component.html
  frontend/src/app/helpers/editor/editor.component.ts
  frontend/src/app/settings/core/configuration-settings/configuration-settings.component.html
  frontend/src/app/settings/core/configuration-settings/configuration-settings.component.ts
  frontend/src/app/settings/core/tools-settings/create-tool/create-tool.component.html
  frontend/src/app/settings/core/tools-settings/create-tool/create-tool.component.ts
  frontend/src/app/settings/core/tools-settings/tool-details/tool-details.component.html
  frontend/src/app/settings/core/tools-settings/tool-details/tool-details.component.ts
  frontend/src/app/settings/core/tools-settings/tool-details/tool-nature/tool-nature.component.html
  frontend/src/app/settings/core/tools-settings/tool-details/tool-nature/tool-nature.component.ts
  frontend/src/app/settings/core/tools-settings/tool-details/tool-version/tool-version.component.html
  frontend/src/app/settings/core/tools-settings/tool-details/tool-version/tool-version.component.ts
  frontend/src/app/yaml.worker.js
  frontend/src/styles.css
  frontend/vite.config.ts
Due: prettier

Update reg_actions to output generated at runId:12985211948
  2025-01-27_12985211948_reg/actual/Settings Components_User Settings_Loading_desktop.png
  2025-01-27_12985211948_reg/actual/Settings Components_User Settings_Loading_mobile.png
  2025-01-27_12985211948_reg/actual/Settings Components_User Settings_Overview_desktop.png
  2025-01-27_12985211948_reg/actual/Settings Components_User Settings_Overview_mobile.png
  2025-01-27_12985211948_reg/diff/Settings Components_User Settings_Loading_desktop.png
  2025-01-27_12985211948_reg/diff/Settings Components_User Settings_Loading_mobile.png
  2025-01-27_12985211948_reg/diff/Settings Components_User Settings_Overview_desktop.png
  2025-01-27_12985211948_reg/diff/Settings Components_User Settings_Overview_mobile.png
  2025-01-27_12985211948_reg/expected/Settings Components_User Settings_Loading_desktop.png
  2025-01-27_12985211948_reg/expected/Settings Components_User Settings_Loading_mobile.png
  2025-01-27_12985211948_reg/expected/Settings Components_User Settings_Overview_desktop.png
  2025-01-27_12985211948_reg/expected/Settings Components_User Settings_Overview_mobile.png
Due: none

fix: Limit project card title lines to 2
  frontend/src/app/projects/project-overview/project-overview.component.html
Due: prettier

Update reg_actions to output generated at runId:12985354610
  2025-01-27_12985354610_reg/actual/Project Components_Project Overview_Overview_desktop.png
  2025-01-27_12985354610_reg/actual/Project Components_Project Overview_Overview_mobile.png
  2025-01-27_12985354610_reg/diff/Project Components_Project Overview_Overview_desktop.png
  2025-01-27_12985354610_reg/diff/Project Components_Project Overview_Overview_mobile.png
  2025-01-27_12985354610_reg/expected/Project Components_Project Overview_Overview_desktop.png
  2025-01-27_12985354610_reg/expected/Project Components_Project Overview_Overview_mobile.png
Due: none

feat: Improve clarity of "Deep clone" button for read-only sessions
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-readonly-session/create-readonly-model-options/create-readonly-model-options.component.html
Due: prettier

Update reg_actions to output generated at runId:12989549856
  2025-01-27_12989549856_reg/actual/Session Components_Create Readonly Session Dialog_Max Number Of Models Exceeded_desktop.png
  2025-01-27_12989549856_reg/actual/Session Components_Create Readonly Session Dialog_Max Number Of Models Exceeded_mobile.png
  2025-01-27_12989549856_reg/actual/Session Components_Create Readonly Session Dialog_Model Selected And Start Session Possible_desktop.png
  2025-01-27_12989549856_reg/actual/Session Components_Create Readonly Session Dialog_Model Selected And Start Session Possible_mobile.png
  2025-01-27_12989549856_reg/actual/Session Components_Create Readonly Session Dialog_Show Note For Compatible Session_desktop.png
  2025-01-27_12989549856_reg/actual/Session Components_Create Readonly Session Dialog_Show Note For Compatible Session_mobile.png
  2025-01-27_12989549856_reg/diff/Session Components_Create Readonly Session Dialog_Max Number Of Models Exceeded_desktop.png
  2025-01-27_12989549856_reg/diff/Session Components_Create Readonly Session Dialog_Max Number Of Models Exceeded_mobile.png
  2025-01-27_12989549856_reg/diff/Session Components_Create Readonly Session Dialog_Model Selected And Start Session Possible_desktop.png
  2025-01-27_12989549856_reg/diff/Session Components_Create Readonly Session Dialog_Model Selected And Start Session Possible_mobile.png
  2025-01-27_12989549856_reg/diff/Session Components_Create Readonly Session Dialog_Show Note For Compatible Session_desktop.png
  2025-01-27_12989549856_reg/diff/Session Components_Create Readonly Session Dialog_Show Note For Compatible Session_mobile.png
  2025-01-27_12989549856_reg/expected/Session Components_Create Readonly Session Dialog_Max Number Of Models Exceeded_desktop.png
  2025-01-27_12989549856_reg/expected/Session Components_Create Readonly Session Dialog_Max Number Of Models Exceeded_mobile.png
  2025-01-27_12989549856_reg/expected/Session Components_Create Readonly Session Dialog_Model Selected And Start Session Possible_desktop.png
  2025-01-27_12989549856_reg/expected/Session Components_Create Readonly Session Dialog_Model Selected And Start Session Possible_mobile.png
  2025-01-27_12989549856_reg/expected/Session Components_Create Readonly Session Dialog_Show Note For Compatible Session_desktop.png
  2025-01-27_12989549856_reg/expected/Session Components_Create Readonly Session Dialog_Show Note For Compatible Session_mobile.png
Due: none

Update reg_actions to output generated at runId:12990308891
  2025-01-27_12990308891_reg/actual/Session Components_Create Readonly Session Dialog_Max Number Of Models Exceeded_desktop.png
  2025-01-27_12990308891_reg/actual/Session Components_Create Readonly Session Dialog_Max Number Of Models Exceeded_mobile.png
  2025-01-27_12990308891_reg/actual/Session Components_Create Readonly Session Dialog_Model Selected And Start Session Possible_desktop.png
  2025-01-27_12990308891_reg/actual/Session Components_Create Readonly Session Dialog_Model Selected And Start Session Possible_mobile.png
  2025-01-27_12990308891_reg/actual/Session Components_Create Readonly Session Dialog_Show Note For Compatible Session_desktop.png
  2025-01-27_12990308891_reg/actual/Session Components_Create Readonly Session Dialog_Show Note For Compatible Session_mobile.png
  2025-01-27_12990308891_reg/diff/Session Components_Create Readonly Session Dialog_Max Number Of Models Exceeded_desktop.png
  2025-01-27_12990308891_reg/diff/Session Components_Create Readonly Session Dialog_Max Number Of Models Exceeded_mobile.png
  2025-01-27_12990308891_reg/diff/Session Components_Create Readonly Session Dialog_Model Selected And Start Session Possible_desktop.png
  2025-01-27_12990308891_reg/diff/Session Components_Create Readonly Session Dialog_Model Selected And Start Session Possible_mobile.png
  2025-01-27_12990308891_reg/diff/Session Components_Create Readonly Session Dialog_Show Note For Compatible Session_desktop.png
  2025-01-27_12990308891_reg/diff/Session Components_Create Readonly Session Dialog_Show Note For Compatible Session_mobile.png
  2025-01-27_12990308891_reg/expected/Session Components_Create Readonly Session Dialog_Max Number Of Models Exceeded_desktop.png
  2025-01-27_12990308891_reg/expected/Session Components_Create Readonly Session Dialog_Max Number Of Models Exceeded_mobile.png
  2025-01-27_12990308891_reg/expected/Session Components_Create Readonly Session Dialog_Model Selected And Start Session Possible_desktop.png
  2025-01-27_12990308891_reg/expected/Session Components_Create Readonly Session Dialog_Model Selected And Start Session Possible_mobile.png
  2025-01-27_12990308891_reg/expected/Session Components_Create Readonly Session Dialog_Show Note For Compatible Session_desktop.png
  2025-01-27_12990308891_reg/expected/Session Components_Create Readonly Session Dialog_Show Note For Compatible Session_mobile.png
Due: none
