Repository DSD-DBS/capella-collab-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier

Path conditions:
  pylint: any of: ^backend/capellacollab and \.py$ and not (^backend/capellacollab/alembic/)
  prettier: any of: \.(ts|mts|cts)$, \.css$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$, but not: ^frontend/src/app/openapi

refactor: Use Zod for Session History
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-session-history/session-history.service.ts
Due: prettier

Update reg_actions to output generated at runId:13174413987
  2025-02-06_13174413987_reg/actual/As Global Admin_desktop.png
  2025-02-06_13174413987_reg/actual/As Global Admin_mobile.png
  2025-02-06_13174413987_reg/actual/As Project Admin_desktop.png
  2025-02-06_13174413987_reg/actual/As Project Admin_mobile.png
  2025-02-06_13174413987_reg/actual/Overview_desktop.png
  2025-02-06_13174413987_reg/actual/With Connection Method Selection_desktop.png
  2025-02-06_13174413987_reg/actual/With Connection Method Selection_mobile.png
  2025-02-06_13174413987_reg/actual/Without Connection Method Selection_desktop.png
  2025-02-06_13174413987_reg/actual/Without Connection Method Selection_mobile.png
  2025-02-06_13174413987_reg/diff/As Global Admin_desktop.png
  2025-02-06_13174413987_reg/diff/As Global Admin_mobile.png
  2025-02-06_13174413987_reg/diff/As Project Admin_desktop.png
  2025-02-06_13174413987_reg/diff/As Project Admin_mobile.png
  2025-02-06_13174413987_reg/diff/Overview_desktop.png
  2025-02-06_13174413987_reg/expected/As Global Admin_desktop.png
  2025-02-06_13174413987_reg/expected/As Global Admin_mobile.png
  2025-02-06_13174413987_reg/expected/As Project Admin_desktop.png
  2025-02-06_13174413987_reg/expected/As Project Admin_mobile.png
  2025-02-06_13174413987_reg/expected/Overview_desktop.png
Due: none

Update reg_actions to output generated at runId:13174446985
  2025-02-06_13174446985_reg/actual/Overview_desktop.png
  2025-02-06_13174446985_reg/actual/Overview_mobile.png
  2025-02-06_13174446985_reg/diff/Overview_desktop.png
  2025-02-06_13174446985_reg/diff/Overview_mobile.png
  2025-02-06_13174446985_reg/expected/Overview_desktop.png
  2025-02-06_13174446985_reg/expected/Overview_mobile.png
Due: none

build!: Update to python 3.12
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/openapi.yml
  .github/workflows/tests.yml
  backend/Dockerfile
  backend/capellacollab/sessions/files/exceptions.py
  backend/capellacollab/sessions/operators/k8s.py
  backend/capellacollab/settings/modelsources/t4c/instance/repositories/routes.py
  backend/capellacollab/users/models.py
  backend/pyproject.toml
  docs/.readthedocs.yaml
  docs/Dockerfile
  docs/docs/admin/cli.md
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/file-browser-dialog/file-browser-dialog.component.ts
Due: pylint, prettier

Update reg_actions to output generated at runId:13180379439
  2025-02-06_13180379439_reg/actual/Code Block With Job ID_desktop.png
  2025-02-06_13180379439_reg/actual/Code Block With Job ID_mobile.png
  2025-02-06_13180379439_reg/actual/Code Block With Token_desktop.png
  2025-02-06_13180379439_reg/actual/Code Block With Token_mobile.png
  2025-02-06_13180379439_reg/actual/Code Block_desktop.png
  2025-02-06_13180379439_reg/actual/Code Block_mobile.png
  2025-02-06_13180379439_reg/diff/Code Block With Job ID_desktop.png
  2025-02-06_13180379439_reg/diff/Code Block With Job ID_mobile.png
  2025-02-06_13180379439_reg/diff/Code Block With Token_desktop.png
  2025-02-06_13180379439_reg/diff/Code Block With Token_mobile.png
  2025-02-06_13180379439_reg/diff/Code Block_desktop.png
  2025-02-06_13180379439_reg/diff/Code Block_mobile.png
  2025-02-06_13180379439_reg/expected/Code Block With Job ID_desktop.png
  2025-02-06_13180379439_reg/expected/Code Block With Job ID_mobile.png
  2025-02-06_13180379439_reg/expected/Code Block With Token_desktop.png
  2025-02-06_13180379439_reg/expected/Code Block With Token_mobile.png
  2025-02-06_13180379439_reg/expected/Code Block_desktop.png
  2025-02-06_13180379439_reg/expected/Code Block_mobile.png
Due: none

feat: Add a connection pool dashboard
  helm/config/grafana/dashboards/connection-pool.json
  helm/config/grafana/dashboards/connection-pool.json.license
Due: none

Update reg_actions to output generated at runId:13181054684
  2025-02-06_13181054684_reg/actual/Code Block With Job ID_desktop.png
  2025-02-06_13181054684_reg/actual/Code Block With Job ID_mobile.png
  2025-02-06_13181054684_reg/actual/Code Block With Token_desktop.png
  2025-02-06_13181054684_reg/actual/Code Block With Token_mobile.png
  2025-02-06_13181054684_reg/actual/Code Block_desktop.png
  2025-02-06_13181054684_reg/actual/Code Block_mobile.png
  2025-02-06_13181054684_reg/diff/Code Block With Job ID_desktop.png
  2025-02-06_13181054684_reg/diff/Code Block With Job ID_mobile.png
  2025-02-06_13181054684_reg/diff/Code Block With Token_desktop.png
  2025-02-06_13181054684_reg/diff/Code Block With Token_mobile.png
  2025-02-06_13181054684_reg/diff/Code Block_desktop.png
  2025-02-06_13181054684_reg/diff/Code Block_mobile.png
  2025-02-06_13181054684_reg/expected/Code Block With Job ID_desktop.png
  2025-02-06_13181054684_reg/expected/Code Block With Job ID_mobile.png
  2025-02-06_13181054684_reg/expected/Code Block With Token_desktop.png
  2025-02-06_13181054684_reg/expected/Code Block With Token_mobile.png
  2025-02-06_13181054684_reg/expected/Code Block_desktop.png
  2025-02-06_13181054684_reg/expected/Code Block_mobile.png
Due: none

chore: Rename GitSettings to GitInstances
  frontend/src/app/app-routing.module.ts
  frontend/src/app/projects/models/model-source/git/manage-git-model/manage-git-model.component.ts
  frontend/src/app/settings/modelsources/git-instances/add-git-instance/add-git-instance.component.html
  frontend/src/app/settings/modelsources/git-instances/add-git-instance/add-git-instance.component.ts
  frontend/src/app/settings/modelsources/git-instances/add-git-instance/add-git-instance.stories.ts
  frontend/src/app/settings/modelsources/git-instances/edit-git-instance/edit-git-instance.component.html
  frontend/src/app/settings/modelsources/git-instances/edit-git-instance/edit-git-instance.component.ts
  frontend/src/app/settings/modelsources/git-instances/edit-git-instance/edit-git-instance.stories.ts
  frontend/src/app/settings/modelsources/git-instances/git-instances.component.html
  frontend/src/app/settings/modelsources/git-instances/git-instances.component.ts
  frontend/src/app/settings/modelsources/git-instances/git-instances.stories.ts
  frontend/src/app/settings/modelsources/git-instances/service/git-instances.service.ts
  frontend/src/storybook/git.ts
Due: prettier

Update reg_actions to output generated at runId:13181389465
  2025-02-06_13181389465_reg/actual/Files_desktop.png
  2025-02-06_13181389465_reg/actual/Files_mobile.png
  2025-02-06_13181389465_reg/actual/Upload New File_desktop.png
  2025-02-06_13181389465_reg/actual/Upload New File_mobile.png
  2025-02-06_13181389465_reg/diff/Files_desktop.png
  2025-02-06_13181389465_reg/diff/Files_mobile.png
  2025-02-06_13181389465_reg/diff/Upload New File_desktop.png
  2025-02-06_13181389465_reg/diff/Upload New File_mobile.png
  2025-02-06_13181389465_reg/expected/Files_desktop.png
  2025-02-06_13181389465_reg/expected/Files_mobile.png
  2025-02-06_13181389465_reg/expected/Upload New File_desktop.png
  2025-02-06_13181389465_reg/expected/Upload New File_mobile.png
Due: none

Update reg_actions to output generated at runId:13181507250
  2025-02-06_13181507250_reg/actual/Files_desktop.png
  2025-02-06_13181507250_reg/actual/Files_mobile.png
  2025-02-06_13181507250_reg/actual/Upload New File_desktop.png
  2025-02-06_13181507250_reg/actual/Upload New File_mobile.png
  2025-02-06_13181507250_reg/diff/Files_desktop.png
  2025-02-06_13181507250_reg/diff/Files_mobile.png
  2025-02-06_13181507250_reg/diff/Upload New File_desktop.png
  2025-02-06_13181507250_reg/diff/Upload New File_mobile.png
  2025-02-06_13181507250_reg/expected/Files_desktop.png
  2025-02-06_13181507250_reg/expected/Files_mobile.png
  2025-02-06_13181507250_reg/expected/Upload New File_desktop.png
  2025-02-06_13181507250_reg/expected/Upload New File_mobile.png
Due: none

feat: Delete files in file browser
  backend/capellacollab/sessions/files/exceptions.py
  backend/capellacollab/sessions/files/routes.py
  backend/capellacollab/sessions/operators/k8s.py
  frontend/src/app/openapi/api/sessions.service.ts
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/file-browser-dialog/file-browser-dialog.component.html
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/file-browser-dialog/file-browser-dialog.component.ts
Due: pylint, prettier

Update reg_actions to output generated at runId:13182084045
  2025-02-06_13182084045_reg/actual/Files_desktop.png
  2025-02-06_13182084045_reg/actual/Files_mobile.png
  2025-02-06_13182084045_reg/actual/Upload New File_desktop.png
  2025-02-06_13182084045_reg/actual/Upload New File_mobile.png
  2025-02-06_13182084045_reg/diff/Files_desktop.png
  2025-02-06_13182084045_reg/diff/Files_mobile.png
  2025-02-06_13182084045_reg/diff/Upload New File_desktop.png
  2025-02-06_13182084045_reg/diff/Upload New File_mobile.png
  2025-02-06_13182084045_reg/expected/Files_desktop.png
  2025-02-06_13182084045_reg/expected/Files_mobile.png
  2025-02-06_13182084045_reg/expected/Upload New File_desktop.png
  2025-02-06_13182084045_reg/expected/Upload New File_mobile.png
Due: none

Update reg_actions to output generated at runId:13182139125
  2025-02-06_13182139125_reg/actual/Files_desktop.png
  2025-02-06_13182139125_reg/actual/Files_mobile.png
  2025-02-06_13182139125_reg/actual/Upload New File_desktop.png
  2025-02-06_13182139125_reg/actual/Upload New File_mobile.png
  2025-02-06_13182139125_reg/diff/Files_desktop.png
  2025-02-06_13182139125_reg/diff/Files_mobile.png
  2025-02-06_13182139125_reg/diff/Upload New File_desktop.png
  2025-02-06_13182139125_reg/diff/Upload New File_mobile.png
  2025-02-06_13182139125_reg/expected/Files_desktop.png
  2025-02-06_13182139125_reg/expected/Files_mobile.png
  2025-02-06_13182139125_reg/expected/Upload New File_desktop.png
  2025-02-06_13182139125_reg/expected/Upload New File_mobile.png
Due: none

Update reg_actions to output generated at runId:13182421602
  2025-02-06_13182421602_reg/actual/Files_desktop.png
  2025-02-06_13182421602_reg/actual/Files_mobile.png
  2025-02-06_13182421602_reg/actual/Upload New File_desktop.png
  2025-02-06_13182421602_reg/actual/Upload New File_mobile.png
  2025-02-06_13182421602_reg/diff/Files_desktop.png
  2025-02-06_13182421602_reg/diff/Files_mobile.png
  2025-02-06_13182421602_reg/diff/Upload New File_desktop.png
  2025-02-06_13182421602_reg/diff/Upload New File_mobile.png
  2025-02-06_13182421602_reg/expected/Files_desktop.png
  2025-02-06_13182421602_reg/expected/Files_mobile.png
  2025-02-06_13182421602_reg/expected/Upload New File_desktop.png
  2025-02-06_13182421602_reg/expected/Upload New File_mobile.png
Due: none

Update reg_actions to output generated at runId:13182509077
  2025-02-06_13182509077_reg/actual/Token Overview_mobile.png
  2025-02-06_13182509077_reg/diff/Token Overview_mobile.png
  2025-02-06_13182509077_reg/expected/Token Overview_mobile.png
Due: none

feat: Use gzip
  frontend/nginx.conf
Due: none

Update reg_actions to output generated at runId:13182984434
  2025-02-06_13182984434_reg/actual/Code Block With Job ID_desktop.png
  2025-02-06_13182984434_reg/actual/Code Block With Job ID_mobile.png
  2025-02-06_13182984434_reg/actual/Code Block With Token_desktop.png
  2025-02-06_13182984434_reg/actual/Code Block With Token_mobile.png
  2025-02-06_13182984434_reg/actual/Code Block_desktop.png
  2025-02-06_13182984434_reg/actual/Code Block_mobile.png
  2025-02-06_13182984434_reg/actual/Files_desktop.png
  2025-02-06_13182984434_reg/actual/Files_mobile.png
  2025-02-06_13182984434_reg/actual/Upload New File_desktop.png
  2025-02-06_13182984434_reg/actual/Upload New File_mobile.png
  2025-02-06_13182984434_reg/diff/Code Block With Job ID_desktop.png
  2025-02-06_13182984434_reg/diff/Code Block With Job ID_mobile.png
  2025-02-06_13182984434_reg/diff/Code Block With Token_desktop.png
  2025-02-06_13182984434_reg/diff/Code Block With Token_mobile.png
  2025-02-06_13182984434_reg/diff/Code Block_desktop.png
  2025-02-06_13182984434_reg/diff/Code Block_mobile.png
  2025-02-06_13182984434_reg/diff/Files_desktop.png
  2025-02-06_13182984434_reg/diff/Files_mobile.png
  2025-02-06_13182984434_reg/diff/Upload New File_desktop.png
  2025-02-06_13182984434_reg/diff/Upload New File_mobile.png
  2025-02-06_13182984434_reg/expected/Code Block With Job ID_desktop.png
  2025-02-06_13182984434_reg/expected/Code Block With Job ID_mobile.png
  2025-02-06_13182984434_reg/expected/Code Block With Token_desktop.png
  2025-02-06_13182984434_reg/expected/Code Block With Token_mobile.png
  2025-02-06_13182984434_reg/expected/Code Block_desktop.png
  2025-02-06_13182984434_reg/expected/Code Block_mobile.png
  2025-02-06_13182984434_reg/expected/Files_desktop.png
  2025-02-06_13182984434_reg/expected/Files_mobile.png
  2025-02-06_13182984434_reg/expected/Upload New File_desktop.png
  2025-02-06_13182984434_reg/expected/Upload New File_mobile.png
Due: none

feat: Move from highlight.js to shiki
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/projects/models/diagrams/model-diagram-dialog/model-diagram-code-block/model-diagram-code-block.component.html
  frontend/src/app/projects/models/diagrams/model-diagram-dialog/model-diagram-code-block/model-diagram-code-block.component.ts
  frontend/src/styles.css
Due: prettier

Update reg_actions to output generated at runId:13183132041
  2025-02-06_13183132041_reg/actual/Code Block With Job ID_desktop.png
  2025-02-06_13183132041_reg/actual/Code Block With Job ID_mobile.png
  2025-02-06_13183132041_reg/actual/Code Block With Token_desktop.png
  2025-02-06_13183132041_reg/actual/Code Block With Token_mobile.png
  2025-02-06_13183132041_reg/actual/Code Block_desktop.png
  2025-02-06_13183132041_reg/actual/Code Block_mobile.png
  2025-02-06_13183132041_reg/actual/Files_desktop.png
  2025-02-06_13183132041_reg/actual/Files_mobile.png
  2025-02-06_13183132041_reg/actual/Upload New File_desktop.png
  2025-02-06_13183132041_reg/actual/Upload New File_mobile.png
  2025-02-06_13183132041_reg/diff/Code Block With Job ID_desktop.png
  2025-02-06_13183132041_reg/diff/Code Block With Job ID_mobile.png
  2025-02-06_13183132041_reg/diff/Code Block With Token_desktop.png
  2025-02-06_13183132041_reg/diff/Code Block With Token_mobile.png
  2025-02-06_13183132041_reg/diff/Code Block_desktop.png
  2025-02-06_13183132041_reg/diff/Code Block_mobile.png
  2025-02-06_13183132041_reg/diff/Files_desktop.png
  2025-02-06_13183132041_reg/diff/Files_mobile.png
  2025-02-06_13183132041_reg/diff/Upload New File_desktop.png
  2025-02-06_13183132041_reg/diff/Upload New File_mobile.png
  2025-02-06_13183132041_reg/expected/Code Block With Job ID_desktop.png
  2025-02-06_13183132041_reg/expected/Code Block With Job ID_mobile.png
  2025-02-06_13183132041_reg/expected/Code Block With Token_desktop.png
  2025-02-06_13183132041_reg/expected/Code Block With Token_mobile.png
  2025-02-06_13183132041_reg/expected/Code Block_desktop.png
  2025-02-06_13183132041_reg/expected/Code Block_mobile.png
  2025-02-06_13183132041_reg/expected/Files_desktop.png
  2025-02-06_13183132041_reg/expected/Files_mobile.png
  2025-02-06_13183132041_reg/expected/Upload New File_desktop.png
  2025-02-06_13183132041_reg/expected/Upload New File_mobile.png
Due: none

build: Use `uv` for Python installation in backend Docker image
  backend/Dockerfile
  backend/startup.sh
Due: none

build: Use uv as package manager
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/openapi.yml
  .github/workflows/tests.yml
  backend/Makefile
  docs/Makefile
  docs/docs/development/index.md
Due: prettier

Update reg_actions to output generated at runId:13198808904
  2025-02-07_13198808904_reg/actual/Code Block With Job ID_desktop.png
  2025-02-07_13198808904_reg/actual/Code Block With Job ID_mobile.png
  2025-02-07_13198808904_reg/actual/Code Block With Token_desktop.png
  2025-02-07_13198808904_reg/actual/Code Block With Token_mobile.png
  2025-02-07_13198808904_reg/actual/Code Block_desktop.png
  2025-02-07_13198808904_reg/actual/Code Block_mobile.png
  2025-02-07_13198808904_reg/actual/Files_desktop.png
  2025-02-07_13198808904_reg/actual/Files_mobile.png
  2025-02-07_13198808904_reg/actual/Upload New File_desktop.png
  2025-02-07_13198808904_reg/actual/Upload New File_mobile.png
  2025-02-07_13198808904_reg/diff/Code Block With Job ID_desktop.png
  2025-02-07_13198808904_reg/diff/Code Block With Job ID_mobile.png
  2025-02-07_13198808904_reg/diff/Code Block With Token_desktop.png
  2025-02-07_13198808904_reg/diff/Code Block With Token_mobile.png
  2025-02-07_13198808904_reg/diff/Code Block_desktop.png
  2025-02-07_13198808904_reg/diff/Code Block_mobile.png
  2025-02-07_13198808904_reg/diff/Files_desktop.png
  2025-02-07_13198808904_reg/diff/Files_mobile.png
  2025-02-07_13198808904_reg/diff/Upload New File_desktop.png
  2025-02-07_13198808904_reg/diff/Upload New File_mobile.png
  2025-02-07_13198808904_reg/expected/Code Block With Job ID_desktop.png
  2025-02-07_13198808904_reg/expected/Code Block With Job ID_mobile.png
  2025-02-07_13198808904_reg/expected/Code Block With Token_desktop.png
  2025-02-07_13198808904_reg/expected/Code Block With Token_mobile.png
  2025-02-07_13198808904_reg/expected/Code Block_desktop.png
  2025-02-07_13198808904_reg/expected/Code Block_mobile.png
  2025-02-07_13198808904_reg/expected/Files_desktop.png
  2025-02-07_13198808904_reg/expected/Files_mobile.png
  2025-02-07_13198808904_reg/expected/Upload New File_desktop.png
  2025-02-07_13198808904_reg/expected/Upload New File_mobile.png
Due: none

feat: Set Cache-Control header on static assets
  frontend/nginx.conf
Due: none

build: Remove useless dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: Add a dashboard to show users to grafana
  backend/capellacollab/metrics.py
  backend/capellacollab/users/crud.py
  backend/capellacollab/users/metrics.py
  backend/tests/users/test_users.py
  helm/config/grafana/dashboards/users.json
  helm/config/grafana/dashboards/users.json.license
Due: pylint

fix: Make sure gzip is applied to js files
  frontend/nginx.conf
Due: none

fix: Limit project card title lines to 1
  frontend/src/app/projects/project-overview/project-overview.component.html
  frontend/src/app/projects/project-overview/project-overview.stories.ts
Due: prettier

Update reg_actions to output generated at runId:13200532271
  2025-02-07_13200532271_reg/actual/Overview_desktop.png
  2025-02-07_13200532271_reg/actual/Overview_mobile.png
  2025-02-07_13200532271_reg/diff/Overview_desktop.png
  2025-02-07_13200532271_reg/diff/Overview_mobile.png
  2025-02-07_13200532271_reg/expected/Overview_desktop.png
  2025-02-07_13200532271_reg/expected/Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:13200545602
  2025-02-07_13200545602_reg/actual/Overview_desktop.png
  2025-02-07_13200545602_reg/actual/Overview_mobile.png
  2025-02-07_13200545602_reg/actual/With Favorites_desktop.png
  2025-02-07_13200545602_reg/actual/With Favorites_mobile.png
  2025-02-07_13200545602_reg/diff/Overview_desktop.png
  2025-02-07_13200545602_reg/diff/Overview_mobile.png
  2025-02-07_13200545602_reg/expected/Overview_desktop.png
  2025-02-07_13200545602_reg/expected/Overview_mobile.png
Due: none

feat: Rework Monaco editor integration
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/helpers/editor/editor.component.html
  frontend/src/app/helpers/editor/editor.component.ts
  frontend/src/app/settings/core/configuration-settings/configuration-settings.component.html
  frontend/src/app/settings/core/configuration-settings/configuration-settings.component.ts
  frontend/src/app/settings/core/tools-settings/create-tool/create-tool.component.html
  frontend/src/app/settings/core/tools-settings/create-tool/create-tool.component.ts
  frontend/src/app/settings/core/tools-settings/tool-details/tool-details.component.html
  frontend/src/app/settings/core/tools-settings/tool-details/tool-details.component.ts
  frontend/src/app/settings/core/tools-settings/tool-details/tool-nature/tool-nature.component.html
  frontend/src/app/settings/core/tools-settings/tool-details/tool-nature/tool-nature.component.ts
  frontend/src/app/settings/core/tools-settings/tool-details/tool-version/tool-version.component.html
  frontend/src/app/settings/core/tools-settings/tool-details/tool-version/tool-version.component.ts
  frontend/src/app/yaml.worker.js
  frontend/src/styles.css
  frontend/vite.config.ts
Due: prettier

feat: Redesign Model Card
  frontend/src/app/projects/project-detail/model-overview/model-overview.component.html
  frontend/src/app/projects/project-detail/model-overview/model-overview.component.ts
  frontend/src/app/projects/project-detail/model-overview/model-overview.stories.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-persistent-session/create-persistent-session-dialog/create-persistent-session-dialog.component.html
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-persistent-session/create-persistent-session-dialog/create-persistent-session-dialog.component.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-persistent-session/create-persistent-session-dialog/create-persistent-session-dialog.stories.ts
Due: prettier

Update reg_actions to output generated at runId:13201051664
  2025-02-07_13201051664_reg/actual/As Global Admin_desktop.png
  2025-02-07_13201051664_reg/actual/As Global Admin_mobile.png
  2025-02-07_13201051664_reg/actual/As Project Admin_desktop.png
  2025-02-07_13201051664_reg/actual/As Project Admin_mobile.png
  2025-02-07_13201051664_reg/actual/As Project User Read_desktop.png
  2025-02-07_13201051664_reg/actual/As Project User Read_mobile.png
  2025-02-07_13201051664_reg/actual/As Project User Write_desktop.png
  2025-02-07_13201051664_reg/actual/As Project User Write_mobile.png
  2025-02-07_13201051664_reg/actual/With Connection Method Selection_desktop.png
  2025-02-07_13201051664_reg/actual/With Connection Method Selection_mobile.png
  2025-02-07_13201051664_reg/actual/Without Connection Method Selection_desktop.png
  2025-02-07_13201051664_reg/actual/Without Connection Method Selection_mobile.png
  2025-02-07_13201051664_reg/diff/As Global Admin_desktop.png
  2025-02-07_13201051664_reg/diff/As Global Admin_mobile.png
  2025-02-07_13201051664_reg/diff/As Project Admin_desktop.png
  2025-02-07_13201051664_reg/diff/As Project Admin_mobile.png
  2025-02-07_13201051664_reg/expected/As Global Admin_desktop.png
  2025-02-07_13201051664_reg/expected/As Global Admin_mobile.png
  2025-02-07_13201051664_reg/expected/As Project Admin_desktop.png
  2025-02-07_13201051664_reg/expected/As Project Admin_mobile.png
  2025-02-07_13201051664_reg/expected/Overview_desktop.png
  2025-02-07_13201051664_reg/expected/Overview_mobile.png
Due: none

build: Update frontend versions
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: Use pnpm instead of npm
  .github/dependabot.yml
  .github/workflows/lint.yml
  .github/workflows/storybook-diff.yml
  .github/workflows/storybook-publish.yml
  .pre-commit-config.yaml
  ci-templates/gitlab/image-builder.yml
  docs/docs/development/index.md
  frontend/Dockerfile
  frontend/Makefile
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-lock.yaml.license
Due: prettier

build: Update openapi-generator to `v7.11.0`
  frontend/Makefile
  frontend/src/app/openapi/.openapi-generator/VERSION
Due: none
