Repository DSD-DBS/capella-collab-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier

Path conditions:
  pylint: any of: ^backend/capellacollab and \.py$ and not (^backend/capellacollab/alembic/)
  prettier: any of: \.(ts|mts|cts)$, \.css$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$, but not: ^frontend/src/app/openapi

feat: Redirect to open page after login again
  frontend/src/app/general/auth/auth-guard/auth-guard.service.ts
  frontend/src/app/general/auth/auth-redirect/auth-redirect.component.ts
  frontend/src/app/general/auth/auth/auth.component.html
  frontend/src/app/general/auth/auth/auth.component.ts
  frontend/src/app/general/auth/http-interceptor/auth.interceptor.ts
  frontend/src/app/services/auth/auth.service.ts
Due: prettier

Update reg_actions to output generated at runId:11143949229
  2024-10-02_11143949229_reg/actual/Model Components_Model Sources_Git_Invalid URL_desktop.png
  2024-10-02_11143949229_reg/actual/Session Components_Session Overview_All Selected_desktop.png
  2024-10-02_11143949229_reg/actual/Session Components_Session Overview_All Selected_mobile.png
  2024-10-02_11143949229_reg/actual/Session Components_Session Overview_Loading_desktop.png
  2024-10-02_11143949229_reg/actual/Session Components_Session Overview_Loading_mobile.png
  2024-10-02_11143949229_reg/actual/Session Components_Session Overview_No Sessions_desktop.png
  2024-10-02_11143949229_reg/actual/Session Components_Session Overview_No Sessions_mobile.png
  2024-10-02_11143949229_reg/actual/Session Components_Session Overview_Overview_desktop.png
  2024-10-02_11143949229_reg/actual/Session Components_Session Overview_Overview_mobile.png
  2024-10-02_11143949229_reg/diff/Model Components_Model Sources_Git_Invalid URL_desktop.png
  2024-10-02_11143949229_reg/expected/Model Components_Model Sources_Git_Invalid URL_desktop.png
Due: none

feat: Add better edge case handling in session viewer
  backend/capellacollab/sessions/routes.py
  backend/tests/sessions/test_session_hooks.py
  frontend/src/app/openapi/api/sessions.service.ts
  frontend/src/app/projects/models/model-source/git/manage-git-model/manage-git-model.stories.ts
  frontend/src/app/sessions/delete-session-dialog/delete-session-dialog.component.ts
  frontend/src/app/sessions/service/session.service.ts
  frontend/src/app/sessions/session-overview/session-overview.component.html
  frontend/src/app/sessions/session-overview/session-overview.component.ts
  frontend/src/app/sessions/session-overview/session-overview.stories.ts
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/active-sessions.stories.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-session/create-readonly-session/create-readonly-session.component.ts
  frontend/src/storybook/session.ts
Due: pylint, prettier

Update reg_actions to output generated at runId:11144880649
  2024-10-02_11144880649_reg/actual/Session Components_Session Overview_All Selected_desktop.png
  2024-10-02_11144880649_reg/actual/Session Components_Session Overview_All Selected_mobile.png
  2024-10-02_11144880649_reg/actual/Session Components_Session Overview_Loading_desktop.png
  2024-10-02_11144880649_reg/actual/Session Components_Session Overview_Loading_mobile.png
  2024-10-02_11144880649_reg/actual/Session Components_Session Overview_No Sessions_desktop.png
  2024-10-02_11144880649_reg/actual/Session Components_Session Overview_No Sessions_mobile.png
  2024-10-02_11144880649_reg/actual/Session Components_Session Overview_Overview_desktop.png
  2024-10-02_11144880649_reg/actual/Session Components_Session Overview_Overview_mobile.png
Due: none

feat: Display total number of users and project users
  frontend/src/app/projects/project-detail/project-users/project-user-settings.component.html
  frontend/src/app/users/user-settings/user-settings.component.html
Due: prettier

Update reg_actions to output generated at runId:11145182476
  2024-10-02_11145182476_reg/actual/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-02_11145182476_reg/actual/Project Components_Project Users_Loading_desktop.png
  2024-10-02_11145182476_reg/actual/Project Components_Project Users_Loading_mobile.png
  2024-10-02_11145182476_reg/actual/Project Components_Project Users_Overview_desktop.png
  2024-10-02_11145182476_reg/actual/Project Components_Project Users_Overview_mobile.png
  2024-10-02_11145182476_reg/actual/Settings Components_User Settings_Loading_desktop.png
  2024-10-02_11145182476_reg/actual/Settings Components_User Settings_Loading_mobile.png
  2024-10-02_11145182476_reg/actual/Settings Components_User Settings_Overview_desktop.png
  2024-10-02_11145182476_reg/actual/Settings Components_User Settings_Overview_mobile.png
  2024-10-02_11145182476_reg/diff/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-02_11145182476_reg/diff/Project Components_Project Users_Loading_desktop.png
  2024-10-02_11145182476_reg/diff/Project Components_Project Users_Loading_mobile.png
  2024-10-02_11145182476_reg/diff/Project Components_Project Users_Overview_desktop.png
  2024-10-02_11145182476_reg/diff/Project Components_Project Users_Overview_mobile.png
  2024-10-02_11145182476_reg/diff/Settings Components_User Settings_Loading_desktop.png
  2024-10-02_11145182476_reg/diff/Settings Components_User Settings_Loading_mobile.png
  2024-10-02_11145182476_reg/diff/Settings Components_User Settings_Overview_desktop.png
  2024-10-02_11145182476_reg/diff/Settings Components_User Settings_Overview_mobile.png
  2024-10-02_11145182476_reg/expected/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-02_11145182476_reg/expected/Project Components_Project Users_Loading_desktop.png
  2024-10-02_11145182476_reg/expected/Project Components_Project Users_Loading_mobile.png
  2024-10-02_11145182476_reg/expected/Project Components_Project Users_Overview_desktop.png
  2024-10-02_11145182476_reg/expected/Project Components_Project Users_Overview_mobile.png
  2024-10-02_11145182476_reg/expected/Settings Components_User Settings_Loading_desktop.png
  2024-10-02_11145182476_reg/expected/Settings Components_User Settings_Loading_mobile.png
  2024-10-02_11145182476_reg/expected/Settings Components_User Settings_Overview_desktop.png
  2024-10-02_11145182476_reg/expected/Settings Components_User Settings_Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:11160891919
  2024-10-03_11160891919_reg/actual/Session Components_File Browser_Download Preparation_desktop.png
  2024-10-03_11160891919_reg/actual/Session Components_File Browser_Download Preparation_mobile.png
  2024-10-03_11160891919_reg/actual/Session Components_File Browser_Files_desktop.png
  2024-10-03_11160891919_reg/actual/Session Components_File Browser_Files_mobile.png
  2024-10-03_11160891919_reg/actual/Session Components_File Browser_Loading Files_desktop.png
  2024-10-03_11160891919_reg/actual/Session Components_File Browser_Loading Files_mobile.png
  2024-10-03_11160891919_reg/actual/Session Components_File Browser_Upload In Progress_desktop.png
  2024-10-03_11160891919_reg/actual/Session Components_File Browser_Upload In Progress_mobile.png
  2024-10-03_11160891919_reg/actual/Session Components_File Browser_Upload New File_desktop.png
  2024-10-03_11160891919_reg/actual/Session Components_File Browser_Upload New File_mobile.png
  2024-10-03_11160891919_reg/actual/Session Components_File Browser_Upload Processed By Backend_desktop.png
  2024-10-03_11160891919_reg/actual/Session Components_File Browser_Upload Processed By Backend_mobile.png
  2024-10-03_11160891919_reg/diff/Session Components_File Browser_Download Preparation_desktop.png
  2024-10-03_11160891919_reg/diff/Session Components_File Browser_Download Preparation_mobile.png
  2024-10-03_11160891919_reg/diff/Session Components_File Browser_Files_desktop.png
  2024-10-03_11160891919_reg/diff/Session Components_File Browser_Files_mobile.png
  2024-10-03_11160891919_reg/diff/Session Components_File Browser_Loading Files_desktop.png
  2024-10-03_11160891919_reg/diff/Session Components_File Browser_Loading Files_mobile.png
  2024-10-03_11160891919_reg/diff/Session Components_File Browser_Upload In Progress_desktop.png
  2024-10-03_11160891919_reg/diff/Session Components_File Browser_Upload In Progress_mobile.png
  2024-10-03_11160891919_reg/diff/Session Components_File Browser_Upload New File_desktop.png
  2024-10-03_11160891919_reg/diff/Session Components_File Browser_Upload New File_mobile.png
  2024-10-03_11160891919_reg/diff/Session Components_File Browser_Upload Processed By Backend_desktop.png
  2024-10-03_11160891919_reg/diff/Session Components_File Browser_Upload Processed By Backend_mobile.png
  2024-10-03_11160891919_reg/expected/Session Components_File Browser_Download Preparation_desktop.png
  2024-10-03_11160891919_reg/expected/Session Components_File Browser_Download Preparation_mobile.png
  2024-10-03_11160891919_reg/expected/Session Components_File Browser_Files_desktop.png
  2024-10-03_11160891919_reg/expected/Session Components_File Browser_Files_mobile.png
  2024-10-03_11160891919_reg/expected/Session Components_File Browser_Loading Files_desktop.png
  2024-10-03_11160891919_reg/expected/Session Components_File Browser_Loading Files_mobile.png
  2024-10-03_11160891919_reg/expected/Session Components_File Browser_Upload In Progress_desktop.png
  2024-10-03_11160891919_reg/expected/Session Components_File Browser_Upload In Progress_mobile.png
  2024-10-03_11160891919_reg/expected/Session Components_File Browser_Upload New File_desktop.png
  2024-10-03_11160891919_reg/expected/Session Components_File Browser_Upload New File_mobile.png
  2024-10-03_11160891919_reg/expected/Session Components_File Browser_Upload Processed By Backend_desktop.png
  2024-10-03_11160891919_reg/expected/Session Components_File Browser_Upload Processed By Backend_mobile.png
Due: none

Update reg_actions to output generated at runId:11176041976
  2024-10-04_11176041976_reg/actual/Session Components_File Browser_Download Preparation_desktop.png
  2024-10-04_11176041976_reg/actual/Session Components_File Browser_Download Preparation_mobile.png
  2024-10-04_11176041976_reg/actual/Session Components_File Browser_Files_desktop.png
  2024-10-04_11176041976_reg/actual/Session Components_File Browser_Files_mobile.png
  2024-10-04_11176041976_reg/actual/Session Components_File Browser_Loading Files_desktop.png
  2024-10-04_11176041976_reg/actual/Session Components_File Browser_Loading Files_mobile.png
  2024-10-04_11176041976_reg/actual/Session Components_File Browser_Upload In Progress_desktop.png
  2024-10-04_11176041976_reg/actual/Session Components_File Browser_Upload In Progress_mobile.png
  2024-10-04_11176041976_reg/actual/Session Components_File Browser_Upload New File_desktop.png
  2024-10-04_11176041976_reg/actual/Session Components_File Browser_Upload New File_mobile.png
  2024-10-04_11176041976_reg/actual/Session Components_File Browser_Upload Processed By Backend_desktop.png
  2024-10-04_11176041976_reg/actual/Session Components_File Browser_Upload Processed By Backend_mobile.png
  2024-10-04_11176041976_reg/diff/Session Components_File Browser_Download Preparation_desktop.png
  2024-10-04_11176041976_reg/diff/Session Components_File Browser_Download Preparation_mobile.png
  2024-10-04_11176041976_reg/diff/Session Components_File Browser_Files_desktop.png
  2024-10-04_11176041976_reg/diff/Session Components_File Browser_Files_mobile.png
  2024-10-04_11176041976_reg/diff/Session Components_File Browser_Loading Files_desktop.png
  2024-10-04_11176041976_reg/diff/Session Components_File Browser_Loading Files_mobile.png
  2024-10-04_11176041976_reg/diff/Session Components_File Browser_Upload In Progress_desktop.png
  2024-10-04_11176041976_reg/diff/Session Components_File Browser_Upload In Progress_mobile.png
  2024-10-04_11176041976_reg/diff/Session Components_File Browser_Upload New File_desktop.png
  2024-10-04_11176041976_reg/diff/Session Components_File Browser_Upload New File_mobile.png
  2024-10-04_11176041976_reg/diff/Session Components_File Browser_Upload Processed By Backend_desktop.png
  2024-10-04_11176041976_reg/diff/Session Components_File Browser_Upload Processed By Backend_mobile.png
  2024-10-04_11176041976_reg/expected/Session Components_File Browser_Download Preparation_desktop.png
  2024-10-04_11176041976_reg/expected/Session Components_File Browser_Download Preparation_mobile.png
  2024-10-04_11176041976_reg/expected/Session Components_File Browser_Files_desktop.png
  2024-10-04_11176041976_reg/expected/Session Components_File Browser_Files_mobile.png
  2024-10-04_11176041976_reg/expected/Session Components_File Browser_Loading Files_desktop.png
  2024-10-04_11176041976_reg/expected/Session Components_File Browser_Loading Files_mobile.png
  2024-10-04_11176041976_reg/expected/Session Components_File Browser_Upload In Progress_desktop.png
  2024-10-04_11176041976_reg/expected/Session Components_File Browser_Upload In Progress_mobile.png
  2024-10-04_11176041976_reg/expected/Session Components_File Browser_Upload New File_desktop.png
  2024-10-04_11176041976_reg/expected/Session Components_File Browser_Upload New File_mobile.png
  2024-10-04_11176041976_reg/expected/Session Components_File Browser_Upload Processed By Backend_desktop.png
  2024-10-04_11176041976_reg/expected/Session Components_File Browser_Upload Processed By Backend_mobile.png
Due: none

feat: Add "Session container not found" sessions tatus
  backend/capellacollab/sessions/operators/k8s.py
  frontend/src/app/sessions/service/session.service.ts
Due: pylint, prettier

build: Create sessions namespace in cluster creation target
  Makefile
Due: none

Update reg_actions to output generated at runId:11178278303
  2024-10-04_11178278303_reg/actual/Session Components_File Browser_Download Preparation_desktop.png
  2024-10-04_11178278303_reg/actual/Session Components_File Browser_Download Preparation_mobile.png
  2024-10-04_11178278303_reg/actual/Session Components_File Browser_Files_desktop.png
  2024-10-04_11178278303_reg/actual/Session Components_File Browser_Files_mobile.png
  2024-10-04_11178278303_reg/actual/Session Components_File Browser_Loading Files_desktop.png
  2024-10-04_11178278303_reg/actual/Session Components_File Browser_Loading Files_mobile.png
  2024-10-04_11178278303_reg/actual/Session Components_File Browser_Upload In Progress_desktop.png
  2024-10-04_11178278303_reg/actual/Session Components_File Browser_Upload In Progress_mobile.png
  2024-10-04_11178278303_reg/actual/Session Components_File Browser_Upload New File_desktop.png
  2024-10-04_11178278303_reg/actual/Session Components_File Browser_Upload New File_mobile.png
  2024-10-04_11178278303_reg/actual/Session Components_File Browser_Upload Processed By Backend_desktop.png
  2024-10-04_11178278303_reg/actual/Session Components_File Browser_Upload Processed By Backend_mobile.png
  2024-10-04_11178278303_reg/diff/Session Components_File Browser_Download Preparation_desktop.png
  2024-10-04_11178278303_reg/diff/Session Components_File Browser_Download Preparation_mobile.png
  2024-10-04_11178278303_reg/diff/Session Components_File Browser_Files_desktop.png
  2024-10-04_11178278303_reg/diff/Session Components_File Browser_Files_mobile.png
  2024-10-04_11178278303_reg/diff/Session Components_File Browser_Loading Files_desktop.png
  2024-10-04_11178278303_reg/diff/Session Components_File Browser_Loading Files_mobile.png
  2024-10-04_11178278303_reg/diff/Session Components_File Browser_Upload In Progress_desktop.png
  2024-10-04_11178278303_reg/diff/Session Components_File Browser_Upload In Progress_mobile.png
  2024-10-04_11178278303_reg/diff/Session Components_File Browser_Upload New File_desktop.png
  2024-10-04_11178278303_reg/diff/Session Components_File Browser_Upload New File_mobile.png
  2024-10-04_11178278303_reg/diff/Session Components_File Browser_Upload Processed By Backend_desktop.png
  2024-10-04_11178278303_reg/diff/Session Components_File Browser_Upload Processed By Backend_mobile.png
  2024-10-04_11178278303_reg/expected/Session Components_File Browser_Download Preparation_desktop.png
  2024-10-04_11178278303_reg/expected/Session Components_File Browser_Download Preparation_mobile.png
  2024-10-04_11178278303_reg/expected/Session Components_File Browser_Files_desktop.png
  2024-10-04_11178278303_reg/expected/Session Components_File Browser_Files_mobile.png
  2024-10-04_11178278303_reg/expected/Session Components_File Browser_Loading Files_desktop.png
  2024-10-04_11178278303_reg/expected/Session Components_File Browser_Loading Files_mobile.png
  2024-10-04_11178278303_reg/expected/Session Components_File Browser_Upload In Progress_desktop.png
  2024-10-04_11178278303_reg/expected/Session Components_File Browser_Upload In Progress_mobile.png
  2024-10-04_11178278303_reg/expected/Session Components_File Browser_Upload New File_desktop.png
  2024-10-04_11178278303_reg/expected/Session Components_File Browser_Upload New File_mobile.png
  2024-10-04_11178278303_reg/expected/Session Components_File Browser_Upload Processed By Backend_desktop.png
  2024-10-04_11178278303_reg/expected/Session Components_File Browser_Upload Processed By Backend_mobile.png
Due: none

Update reg_actions to output generated at runId:11178918657
  2024-10-04_11178918657_reg/actual/Session Components_File Browser_Download Preparation_desktop.png
  2024-10-04_11178918657_reg/actual/Session Components_File Browser_Download Preparation_mobile.png
  2024-10-04_11178918657_reg/actual/Session Components_File Browser_Files_desktop.png
  2024-10-04_11178918657_reg/actual/Session Components_File Browser_Files_mobile.png
  2024-10-04_11178918657_reg/actual/Session Components_File Browser_Loading Files_desktop.png
  2024-10-04_11178918657_reg/actual/Session Components_File Browser_Loading Files_mobile.png
  2024-10-04_11178918657_reg/actual/Session Components_File Browser_Upload In Progress_desktop.png
  2024-10-04_11178918657_reg/actual/Session Components_File Browser_Upload In Progress_mobile.png
  2024-10-04_11178918657_reg/actual/Session Components_File Browser_Upload New File_desktop.png
  2024-10-04_11178918657_reg/actual/Session Components_File Browser_Upload New File_mobile.png
  2024-10-04_11178918657_reg/actual/Session Components_File Browser_Upload Processed By Backend_desktop.png
  2024-10-04_11178918657_reg/actual/Session Components_File Browser_Upload Processed By Backend_mobile.png
  2024-10-04_11178918657_reg/diff/Session Components_File Browser_Download Preparation_desktop.png
  2024-10-04_11178918657_reg/diff/Session Components_File Browser_Download Preparation_mobile.png
  2024-10-04_11178918657_reg/diff/Session Components_File Browser_Files_desktop.png
  2024-10-04_11178918657_reg/diff/Session Components_File Browser_Files_mobile.png
  2024-10-04_11178918657_reg/diff/Session Components_File Browser_Loading Files_desktop.png
  2024-10-04_11178918657_reg/diff/Session Components_File Browser_Loading Files_mobile.png
  2024-10-04_11178918657_reg/diff/Session Components_File Browser_Upload In Progress_desktop.png
  2024-10-04_11178918657_reg/diff/Session Components_File Browser_Upload In Progress_mobile.png
  2024-10-04_11178918657_reg/diff/Session Components_File Browser_Upload New File_desktop.png
  2024-10-04_11178918657_reg/diff/Session Components_File Browser_Upload New File_mobile.png
  2024-10-04_11178918657_reg/diff/Session Components_File Browser_Upload Processed By Backend_desktop.png
  2024-10-04_11178918657_reg/diff/Session Components_File Browser_Upload Processed By Backend_mobile.png
  2024-10-04_11178918657_reg/expected/Session Components_File Browser_Download Preparation_desktop.png
  2024-10-04_11178918657_reg/expected/Session Components_File Browser_Download Preparation_mobile.png
  2024-10-04_11178918657_reg/expected/Session Components_File Browser_Files_desktop.png
  2024-10-04_11178918657_reg/expected/Session Components_File Browser_Files_mobile.png
  2024-10-04_11178918657_reg/expected/Session Components_File Browser_Loading Files_desktop.png
  2024-10-04_11178918657_reg/expected/Session Components_File Browser_Loading Files_mobile.png
  2024-10-04_11178918657_reg/expected/Session Components_File Browser_Upload In Progress_desktop.png
  2024-10-04_11178918657_reg/expected/Session Components_File Browser_Upload In Progress_mobile.png
  2024-10-04_11178918657_reg/expected/Session Components_File Browser_Upload New File_desktop.png
  2024-10-04_11178918657_reg/expected/Session Components_File Browser_Upload New File_mobile.png
  2024-10-04_11178918657_reg/expected/Session Components_File Browser_Upload Processed By Backend_desktop.png
  2024-10-04_11178918657_reg/expected/Session Components_File Browser_Upload Processed By Backend_mobile.png
Due: none

feat!: Rewrite major parts of the file browser
  backend/capellacollab/core/responses.py
  backend/capellacollab/sessions/files/routes.py
  backend/capellacollab/sessions/operators/k8s.py
  frontend/src/app/openapi/api/sessions.service.ts
  frontend/src/app/services/load-files/load-files.service.ts
  frontend/src/app/sessions/service/session.service.ts
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/file-browser-dialog/file-browser-dialog.component.css
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/file-browser-dialog/file-browser-dialog.component.html
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/file-browser-dialog/file-browser-dialog.component.ts
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/file-browser-dialog/file-browser-dialog.docs.mdx
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/file-browser-dialog/file-browser-dialog.stories.ts
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/file-browser-dialog/file-exists-dialog/file-exists-dialog.component.css
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/file-browser-dialog/file-exists-dialog/file-exists-dialog.component.html
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/file-browser-dialog/file-exists-dialog/file-exists-dialog.component.ts
Due: pylint, prettier

Update reg_actions to output generated at runId:11180084130
  2024-10-04_11180084130_reg/actual/Session Components_File Browser_Download Preparation_desktop.png
  2024-10-04_11180084130_reg/actual/Session Components_File Browser_Download Preparation_mobile.png
  2024-10-04_11180084130_reg/actual/Session Components_File Browser_Files_desktop.png
  2024-10-04_11180084130_reg/actual/Session Components_File Browser_Files_mobile.png
  2024-10-04_11180084130_reg/actual/Session Components_File Browser_Loading Files_desktop.png
  2024-10-04_11180084130_reg/actual/Session Components_File Browser_Loading Files_mobile.png
  2024-10-04_11180084130_reg/actual/Session Components_File Browser_Upload In Progress_desktop.png
  2024-10-04_11180084130_reg/actual/Session Components_File Browser_Upload In Progress_mobile.png
  2024-10-04_11180084130_reg/actual/Session Components_File Browser_Upload New File_desktop.png
  2024-10-04_11180084130_reg/actual/Session Components_File Browser_Upload New File_mobile.png
  2024-10-04_11180084130_reg/actual/Session Components_File Browser_Upload Processed By Backend_desktop.png
  2024-10-04_11180084130_reg/actual/Session Components_File Browser_Upload Processed By Backend_mobile.png
  2024-10-04_11180084130_reg/diff/Session Components_File Browser_Download Preparation_desktop.png
  2024-10-04_11180084130_reg/diff/Session Components_File Browser_Download Preparation_mobile.png
  2024-10-04_11180084130_reg/diff/Session Components_File Browser_Files_desktop.png
  2024-10-04_11180084130_reg/diff/Session Components_File Browser_Files_mobile.png
  2024-10-04_11180084130_reg/diff/Session Components_File Browser_Loading Files_desktop.png
  2024-10-04_11180084130_reg/diff/Session Components_File Browser_Loading Files_mobile.png
  2024-10-04_11180084130_reg/diff/Session Components_File Browser_Upload In Progress_desktop.png
  2024-10-04_11180084130_reg/diff/Session Components_File Browser_Upload In Progress_mobile.png
  2024-10-04_11180084130_reg/diff/Session Components_File Browser_Upload New File_desktop.png
  2024-10-04_11180084130_reg/diff/Session Components_File Browser_Upload New File_mobile.png
  2024-10-04_11180084130_reg/diff/Session Components_File Browser_Upload Processed By Backend_desktop.png
  2024-10-04_11180084130_reg/diff/Session Components_File Browser_Upload Processed By Backend_mobile.png
  2024-10-04_11180084130_reg/expected/Session Components_File Browser_Download Preparation_desktop.png
  2024-10-04_11180084130_reg/expected/Session Components_File Browser_Download Preparation_mobile.png
  2024-10-04_11180084130_reg/expected/Session Components_File Browser_Files_desktop.png
  2024-10-04_11180084130_reg/expected/Session Components_File Browser_Files_mobile.png
  2024-10-04_11180084130_reg/expected/Session Components_File Browser_Loading Files_desktop.png
  2024-10-04_11180084130_reg/expected/Session Components_File Browser_Loading Files_mobile.png
  2024-10-04_11180084130_reg/expected/Session Components_File Browser_Upload In Progress_desktop.png
  2024-10-04_11180084130_reg/expected/Session Components_File Browser_Upload In Progress_mobile.png
  2024-10-04_11180084130_reg/expected/Session Components_File Browser_Upload New File_desktop.png
  2024-10-04_11180084130_reg/expected/Session Components_File Browser_Upload New File_mobile.png
  2024-10-04_11180084130_reg/expected/Session Components_File Browser_Upload Processed By Backend_desktop.png
  2024-10-04_11180084130_reg/expected/Session Components_File Browser_Upload Processed By Backend_mobile.png
Due: none

fix: Git component form fields aren't activated properly
  frontend/src/app/projects/models/model-source/git/manage-git-model/manage-git-model.component.ts
Due: prettier

Update reg_actions to output generated at runId:11181011393
  2024-10-04_11181011393_reg/actual/Session Components_File Browser_Files_mobile.png
  2024-10-04_11181011393_reg/actual/Session Components_File Browser_Upload New File_mobile.png
  2024-10-04_11181011393_reg/diff/Session Components_File Browser_Files_mobile.png
  2024-10-04_11181011393_reg/diff/Session Components_File Browser_Upload New File_mobile.png
  2024-10-04_11181011393_reg/expected/Session Components_File Browser_Files_mobile.png
  2024-10-04_11181011393_reg/expected/Session Components_File Browser_Upload New File_mobile.png
Due: none

docs: Update links from angular.io to angular.dev
  docs/docs/development/frontend/testing.md
  docs/docs/development/index.md
  frontend/.browserslistrc
  frontend/src/polyfills.ts
Due: prettier

Update reg_actions to output generated at runId:11212998554
  2024-10-07_11212998554_reg/actual/Session Components_File Browser_Files_mobile.png
  2024-10-07_11212998554_reg/diff/Session Components_File Browser_Files_mobile.png
  2024-10-07_11212998554_reg/expected/Session Components_File Browser_Files_mobile.png
Due: none

Update reg_actions to output generated at runId:11213824296
  2024-10-07_11213824296_reg/actual/Model Components_Init Model_General_desktop.png
  2024-10-07_11213824296_reg/actual/Model Components_Init Model_General_mobile.png
  2024-10-07_11213824296_reg/actual/Project Components _ Audit Log_General_desktop.png
  2024-10-07_11213824296_reg/actual/Project Components _ Audit Log_General_mobile.png
  2024-10-07_11213824296_reg/actual/Project Components _ Create Project_General_desktop.png
  2024-10-07_11213824296_reg/actual/Project Components _ Create Project_General_mobile.png
  2024-10-07_11213824296_reg/actual/Project Components_Project Details_Edit Project Metadata_General_desktop.png
  2024-10-07_11213824296_reg/actual/Project Components_Project Details_Edit Project Metadata_General_mobile.png
  2024-10-07_11213824296_reg/actual/Project Components_Project Details_Edit Project Metadata_With Title_desktop.png
  2024-10-07_11213824296_reg/actual/Project Components_Project Details_Edit Project Metadata_With Title_mobile.png
  2024-10-07_11213824296_reg/actual/Settings Components_Pipelines Overview_Bad Health_desktop.png
  2024-10-07_11213824296_reg/actual/Settings Components_Pipelines Overview_Bad Health_mobile.png
  2024-10-07_11213824296_reg/actual/Settings Components_Pipelines Overview_Good Health_desktop.png
  2024-10-07_11213824296_reg/actual/Settings Components_Pipelines Overview_Good Health_mobile.png
  2024-10-07_11213824296_reg/actual/Settings Components_Pipelines Overview_Loading_desktop.png
  2024-10-07_11213824296_reg/actual/Settings Components_Pipelines Overview_Loading_mobile.png
Due: none

test: Make loading of session file browser stories deterministic
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/file-browser-dialog/file-browser-dialog.component.html
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/file-browser-dialog/file-browser-dialog.stories.ts
Due: prettier

Update reg_actions to output generated at runId:11216014063
  2024-10-07_11216014063_reg/actual/Session Components_File Browser_Files_mobile.png
  2024-10-07_11216014063_reg/diff/Session Components_File Browser_Files_mobile.png
  2024-10-07_11216014063_reg/expected/Session Components_File Browser_Files_mobile.png
Due: none

refactor: Apply pull request comments of #1866
  .gitleaksignore
  backend/capellacollab/alembic/versions/3818a5009130_split_t4c_instances_and_license_servers.py
  backend/capellacollab/settings/modelsources/t4c/instance/models.py
  backend/capellacollab/settings/modelsources/t4c/instance/routes.py
  backend/capellacollab/settings/modelsources/t4c/license_server/models.py
  backend/capellacollab/tools/models.py
  backend/tests/settings/teamforcapella/test_t4c_license_servers.py
  backend/tests/tools/versions/test_tools_version_routes.py
  frontend/src/app/app-routing.module.ts
  frontend/src/app/openapi/.openapi-generator/FILES
  frontend/src/app/openapi/model/models.ts
  frontend/src/app/openapi/model/simple-license-server.ts
  frontend/src/app/openapi/model/simple-t4-c-instace.ts
  frontend/src/app/openapi/model/simple-tool-version.ts
  frontend/src/app/openapi/model/t4-c-instance.ts
  frontend/src/app/settings/modelsources/t4c-settings/edit-t4c-license-server/edit-t4c-license-server.component.html
  frontend/src/app/settings/modelsources/t4c-settings/edit-t4c-license-server/edit-t4c-license-server.component.ts
  frontend/src/app/settings/modelsources/t4c-settings/t4c-settings.component.html
  frontend/src/app/settings/modelsources/t4c-settings/t4c-settings.stories.ts
  frontend/src/storybook/t4c.ts
  helm/config/grafana/dashboards/team4capella_legacy.json
  helm/config/grafana/dashboards/team4capella_legacy.json.license
Due: pylint, prettier

chore: Disable filtering for license servers in Grafana dashboard
  helm/config/grafana/dashboards/team4capella.json
Due: none

fix: Minor frontend fixes for T4C instance components
  backend/capellacollab/core/database/migration.py
  frontend/src/app/settings/modelsources/t4c-settings/edit-t4c-instance/edit-t4c-instance.component.html
  frontend/src/app/settings/modelsources/t4c-settings/edit-t4c-instance/edit-t4c-instance.component.ts
  frontend/src/app/settings/modelsources/t4c-settings/edit-t4c-instance/edit-t4c-instance.stories.ts
Due: pylint, prettier

Update reg_actions to output generated at runId:11220005548
  2024-10-07_11220005548_reg/actual/Settings Components_Modelsources_T4C_Server Instance_Add Instance_desktop.png
  2024-10-07_11220005548_reg/actual/Settings Components_Modelsources_T4C_Server Instance_Add Instance_mobile.png
  2024-10-07_11220005548_reg/actual/Settings Components_Modelsources_T4C_Server Instance_Archived Instance_desktop.png
  2024-10-07_11220005548_reg/actual/Settings Components_Modelsources_T4C_Server Instance_Archived Instance_mobile.png
  2024-10-07_11220005548_reg/actual/Settings Components_Modelsources_T4C_Server Instance_Edit Existing Instance_desktop.png
  2024-10-07_11220005548_reg/actual/Settings Components_Modelsources_T4C_Server Instance_Edit Existing Instance_mobile.png
  2024-10-07_11220005548_reg/actual/Settings Components_Modelsources_T4C_Server Instance_Existing Instance_desktop.png
  2024-10-07_11220005548_reg/actual/Settings Components_Modelsources_T4C_Server Instance_Existing Instance_mobile.png
  2024-10-07_11220005548_reg/diff/Settings Components_Modelsources_T4C_Server Instance_Add Instance_desktop.png
  2024-10-07_11220005548_reg/diff/Settings Components_Modelsources_T4C_Server Instance_Add Instance_mobile.png
  2024-10-07_11220005548_reg/diff/Settings Components_Modelsources_T4C_Server Instance_Archived Instance_desktop.png
  2024-10-07_11220005548_reg/diff/Settings Components_Modelsources_T4C_Server Instance_Archived Instance_mobile.png
  2024-10-07_11220005548_reg/diff/Settings Components_Modelsources_T4C_Server Instance_Edit Existing Instance_desktop.png
  2024-10-07_11220005548_reg/diff/Settings Components_Modelsources_T4C_Server Instance_Edit Existing Instance_mobile.png
  2024-10-07_11220005548_reg/diff/Settings Components_Modelsources_T4C_Server Instance_Existing Instance_desktop.png
  2024-10-07_11220005548_reg/diff/Settings Components_Modelsources_T4C_Server Instance_Existing Instance_mobile.png
  2024-10-07_11220005548_reg/expected/Settings Components_Modelsources_T4C_Server Instance_Add Instance_desktop.png
  2024-10-07_11220005548_reg/expected/Settings Components_Modelsources_T4C_Server Instance_Add Instance_mobile.png
  2024-10-07_11220005548_reg/expected/Settings Components_Modelsources_T4C_Server Instance_Archived Instance_desktop.png
  2024-10-07_11220005548_reg/expected/Settings Components_Modelsources_T4C_Server Instance_Archived Instance_mobile.png
  2024-10-07_11220005548_reg/expected/Settings Components_Modelsources_T4C_Server Instance_Edit Existing Instance_desktop.png
  2024-10-07_11220005548_reg/expected/Settings Components_Modelsources_T4C_Server Instance_Edit Existing Instance_mobile.png
  2024-10-07_11220005548_reg/expected/Settings Components_Modelsources_T4C_Server Instance_Existing Instance_desktop.png
  2024-10-07_11220005548_reg/expected/Settings Components_Modelsources_T4C_Server Instance_Existing Instance_mobile.png
Due: none

fix: Don't loop-redirect to `/auth` or `logout`
  frontend/src/app/general/auth/auth-redirect/auth-redirect.component.ts
Due: prettier

build: Update frontend and `pre-commit` versions
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
Due: none

Update reg_actions to output generated at runId:11234380407
  2024-10-08_11234380407_reg/actual/Model Components_Init Model_General_desktop.png
  2024-10-08_11234380407_reg/actual/Model Components_Init Model_General_mobile.png
  2024-10-08_11234380407_reg/actual/Project Components _ Audit Log_General_desktop.png
  2024-10-08_11234380407_reg/actual/Project Components _ Audit Log_General_mobile.png
  2024-10-08_11234380407_reg/actual/Project Components _ Create Project_Add Model_desktop.png
  2024-10-08_11234380407_reg/actual/Project Components _ Create Project_Add Model_mobile.png
  2024-10-08_11234380407_reg/actual/Project Components _ Create Project_Add Team Members_desktop.png
  2024-10-08_11234380407_reg/actual/Project Components _ Create Project_Add Team Members_mobile.png
  2024-10-08_11234380407_reg/actual/Project Components _ Create Project_Create Project_desktop.png
  2024-10-08_11234380407_reg/actual/Project Components _ Create Project_Create Project_mobile.png
  2024-10-08_11234380407_reg/actual/Project Components_Project Details_Edit Project Metadata_General_desktop.png
  2024-10-08_11234380407_reg/actual/Project Components_Project Details_Edit Project Metadata_General_mobile.png
  2024-10-08_11234380407_reg/actual/Project Components_Project Details_Edit Project Metadata_With Title_desktop.png
  2024-10-08_11234380407_reg/actual/Project Components_Project Details_Edit Project Metadata_With Title_mobile.png
  2024-10-08_11234380407_reg/actual/Settings Components_Pipelines Overview_Bad Health_desktop.png
  2024-10-08_11234380407_reg/actual/Settings Components_Pipelines Overview_Bad Health_mobile.png
  2024-10-08_11234380407_reg/actual/Settings Components_Pipelines Overview_Good Health_desktop.png
  2024-10-08_11234380407_reg/actual/Settings Components_Pipelines Overview_Good Health_mobile.png
  2024-10-08_11234380407_reg/actual/Settings Components_Pipelines Overview_Loading_desktop.png
  2024-10-08_11234380407_reg/actual/Settings Components_Pipelines Overview_Loading_mobile.png
Due: none
