Repository DSD-DBS/capella-collab-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier

Path conditions:
  pylint: any of: ^backend/capellacollab and \.py$ and not (^backend/capellacollab/alembic/)
  prettier: any of: \.(ts|mts|cts)$, \.css$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$, but not: ^frontend/src/app/openapi

Update reg_actions to output generated at runId:12116577243
  2024-12-02_12116577243_reg/actual/Session Components_File Browser_Download Preparation_desktop.png
  2024-12-02_12116577243_reg/actual/Session Components_File Browser_Download Preparation_mobile.png
  2024-12-02_12116577243_reg/actual/Session Components_File Browser_Files_desktop.png
  2024-12-02_12116577243_reg/actual/Session Components_File Browser_Files_mobile.png
  2024-12-02_12116577243_reg/actual/Session Components_File Browser_Upload In Progress_desktop.png
  2024-12-02_12116577243_reg/actual/Session Components_File Browser_Upload In Progress_mobile.png
  2024-12-02_12116577243_reg/actual/Session Components_File Browser_Upload New File_desktop.png
  2024-12-02_12116577243_reg/actual/Session Components_File Browser_Upload New File_mobile.png
  2024-12-02_12116577243_reg/actual/Session Components_File Browser_Upload Processed By Backend_desktop.png
  2024-12-02_12116577243_reg/actual/Session Components_File Browser_Upload Processed By Backend_mobile.png
  2024-12-02_12116577243_reg/diff/Session Components_File Browser_Download Preparation_desktop.png
  2024-12-02_12116577243_reg/diff/Session Components_File Browser_Download Preparation_mobile.png
  2024-12-02_12116577243_reg/diff/Session Components_File Browser_Files_desktop.png
  2024-12-02_12116577243_reg/diff/Session Components_File Browser_Files_mobile.png
  2024-12-02_12116577243_reg/diff/Session Components_File Browser_Upload In Progress_desktop.png
  2024-12-02_12116577243_reg/diff/Session Components_File Browser_Upload In Progress_mobile.png
  2024-12-02_12116577243_reg/diff/Session Components_File Browser_Upload New File_desktop.png
  2024-12-02_12116577243_reg/diff/Session Components_File Browser_Upload New File_mobile.png
  2024-12-02_12116577243_reg/diff/Session Components_File Browser_Upload Processed By Backend_desktop.png
  2024-12-02_12116577243_reg/diff/Session Components_File Browser_Upload Processed By Backend_mobile.png
  2024-12-02_12116577243_reg/expected/Session Components_File Browser_Download Preparation_desktop.png
  2024-12-02_12116577243_reg/expected/Session Components_File Browser_Download Preparation_mobile.png
  2024-12-02_12116577243_reg/expected/Session Components_File Browser_Files_desktop.png
  2024-12-02_12116577243_reg/expected/Session Components_File Browser_Files_mobile.png
  2024-12-02_12116577243_reg/expected/Session Components_File Browser_Upload In Progress_desktop.png
  2024-12-02_12116577243_reg/expected/Session Components_File Browser_Upload In Progress_mobile.png
  2024-12-02_12116577243_reg/expected/Session Components_File Browser_Upload New File_desktop.png
  2024-12-02_12116577243_reg/expected/Session Components_File Browser_Upload New File_mobile.png
  2024-12-02_12116577243_reg/expected/Session Components_File Browser_Upload Processed By Backend_desktop.png
  2024-12-02_12116577243_reg/expected/Session Components_File Browser_Upload Processed By Backend_mobile.png
Due: none

feat: Auto-connect to provisioned sessions
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-provisioned-session/create-provisioned-session.component.ts
Due: prettier

Update reg_actions to output generated at runId:12121043178
  2024-12-02_12121043178_reg/actual/Session Components_File Browser_Download Preparation_desktop.png
  2024-12-02_12121043178_reg/actual/Session Components_File Browser_Download Preparation_mobile.png
  2024-12-02_12121043178_reg/actual/Session Components_File Browser_Files_desktop.png
  2024-12-02_12121043178_reg/actual/Session Components_File Browser_Files_mobile.png
  2024-12-02_12121043178_reg/actual/Session Components_File Browser_Upload In Progress_desktop.png
  2024-12-02_12121043178_reg/actual/Session Components_File Browser_Upload In Progress_mobile.png
  2024-12-02_12121043178_reg/actual/Session Components_File Browser_Upload New File_desktop.png
  2024-12-02_12121043178_reg/actual/Session Components_File Browser_Upload New File_mobile.png
  2024-12-02_12121043178_reg/actual/Session Components_File Browser_Upload Processed By Backend_desktop.png
  2024-12-02_12121043178_reg/actual/Session Components_File Browser_Upload Processed By Backend_mobile.png
  2024-12-02_12121043178_reg/diff/Session Components_File Browser_Download Preparation_desktop.png
  2024-12-02_12121043178_reg/diff/Session Components_File Browser_Download Preparation_mobile.png
  2024-12-02_12121043178_reg/diff/Session Components_File Browser_Files_desktop.png
  2024-12-02_12121043178_reg/diff/Session Components_File Browser_Files_mobile.png
  2024-12-02_12121043178_reg/diff/Session Components_File Browser_Upload In Progress_desktop.png
  2024-12-02_12121043178_reg/diff/Session Components_File Browser_Upload In Progress_mobile.png
  2024-12-02_12121043178_reg/diff/Session Components_File Browser_Upload New File_desktop.png
  2024-12-02_12121043178_reg/diff/Session Components_File Browser_Upload New File_mobile.png
  2024-12-02_12121043178_reg/diff/Session Components_File Browser_Upload Processed By Backend_desktop.png
  2024-12-02_12121043178_reg/diff/Session Components_File Browser_Upload Processed By Backend_mobile.png
  2024-12-02_12121043178_reg/expected/Session Components_File Browser_Download Preparation_desktop.png
  2024-12-02_12121043178_reg/expected/Session Components_File Browser_Download Preparation_mobile.png
  2024-12-02_12121043178_reg/expected/Session Components_File Browser_Files_desktop.png
  2024-12-02_12121043178_reg/expected/Session Components_File Browser_Files_mobile.png
  2024-12-02_12121043178_reg/expected/Session Components_File Browser_Upload In Progress_desktop.png
  2024-12-02_12121043178_reg/expected/Session Components_File Browser_Upload In Progress_mobile.png
  2024-12-02_12121043178_reg/expected/Session Components_File Browser_Upload New File_desktop.png
  2024-12-02_12121043178_reg/expected/Session Components_File Browser_Upload New File_mobile.png
  2024-12-02_12121043178_reg/expected/Session Components_File Browser_Upload Processed By Backend_desktop.png
  2024-12-02_12121043178_reg/expected/Session Components_File Browser_Upload Processed By Backend_mobile.png
Due: none

Update reg_actions to output generated at runId:12121303931
  2024-12-02_12121303931_reg/actual/General Components_Header_Administrator_desktop.png
  2024-12-02_12121303931_reg/actual/General Components_Header_Normal User_desktop.png
  2024-12-02_12121303931_reg/actual/General Components_Logo_Base Logo_desktop.png
  2024-12-02_12121303931_reg/actual/General Components_Logo_Base Logo_mobile.png
  2024-12-02_12121303931_reg/actual/General Components_Logo_Base With Staging_desktop.png
  2024-12-02_12121303931_reg/actual/General Components_Logo_Base With Staging_mobile.png
  2024-12-02_12121303931_reg/actual/General Components_Logo_Narrow Logo_desktop.png
  2024-12-02_12121303931_reg/actual/General Components_Logo_Narrow Logo_mobile.png
  2024-12-02_12121303931_reg/actual/General Components_Logo_Wide Logo_desktop.png
  2024-12-02_12121303931_reg/actual/General Components_Logo_Wide Logo_mobile.png
  2024-12-02_12121303931_reg/diff/General Components_Header_Administrator_desktop.png
  2024-12-02_12121303931_reg/diff/General Components_Header_Normal User_desktop.png
  2024-12-02_12121303931_reg/expected/General Components_Header_Administrator_desktop.png
  2024-12-02_12121303931_reg/expected/General Components_Header_Normal User_desktop.png
Due: none

Update reg_actions to output generated at runId:12124081708
  2024-12-02_12124081708_reg/actual/General Components_Header_Administrator_desktop.png
  2024-12-02_12124081708_reg/actual/General Components_Header_Normal User_desktop.png
  2024-12-02_12124081708_reg/actual/General Components_Logo_Base Logo_desktop.png
  2024-12-02_12124081708_reg/actual/General Components_Logo_Base Logo_mobile.png
  2024-12-02_12124081708_reg/actual/General Components_Logo_Base With Staging_desktop.png
  2024-12-02_12124081708_reg/actual/General Components_Logo_Base With Staging_mobile.png
  2024-12-02_12124081708_reg/actual/General Components_Logo_Narrow Logo_desktop.png
  2024-12-02_12124081708_reg/actual/General Components_Logo_Narrow Logo_mobile.png
  2024-12-02_12124081708_reg/actual/General Components_Logo_Wide Logo_desktop.png
  2024-12-02_12124081708_reg/actual/General Components_Logo_Wide Logo_mobile.png
  2024-12-02_12124081708_reg/diff/General Components_Header_Administrator_desktop.png
  2024-12-02_12124081708_reg/diff/General Components_Header_Normal User_desktop.png
  2024-12-02_12124081708_reg/expected/General Components_Header_Administrator_desktop.png
  2024-12-02_12124081708_reg/expected/General Components_Header_Normal User_desktop.png
Due: none

Update reg_actions to output generated at runId:12124339698
  2024-12-02_12124339698_reg/actual/General Components_Header_Administrator_desktop.png
  2024-12-02_12124339698_reg/actual/General Components_Header_Normal User_desktop.png
  2024-12-02_12124339698_reg/actual/General Components_Logo_Base Logo_desktop.png
  2024-12-02_12124339698_reg/actual/General Components_Logo_Base Logo_mobile.png
  2024-12-02_12124339698_reg/actual/General Components_Logo_Base With Staging_desktop.png
  2024-12-02_12124339698_reg/actual/General Components_Logo_Base With Staging_mobile.png
  2024-12-02_12124339698_reg/actual/General Components_Logo_Narrow Logo_desktop.png
  2024-12-02_12124339698_reg/actual/General Components_Logo_Narrow Logo_mobile.png
  2024-12-02_12124339698_reg/actual/General Components_Logo_Wide Logo_desktop.png
  2024-12-02_12124339698_reg/actual/General Components_Logo_Wide Logo_mobile.png
  2024-12-02_12124339698_reg/diff/General Components_Header_Administrator_desktop.png
  2024-12-02_12124339698_reg/diff/General Components_Header_Normal User_desktop.png
  2024-12-02_12124339698_reg/expected/General Components_Header_Administrator_desktop.png
  2024-12-02_12124339698_reg/expected/General Components_Header_Normal User_desktop.png
Due: none

feat: Auto-select sessions in active session overview
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/active-sessions.component.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-persistent-session/create-persistent-session.component.css
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-persistent-session/create-persistent-session.component.html
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-persistent-session/create-persistent-session.component.ts
  frontend/src/app/users/users-profile/user-workspaces/user-workspaces.component.html
Due: prettier

Update reg_actions to output generated at runId:12124578130
  2024-12-02_12124578130_reg/actual/General Components_Header_Administrator_desktop.png
  2024-12-02_12124578130_reg/actual/General Components_Header_Normal User_desktop.png
  2024-12-02_12124578130_reg/actual/General Components_Logo_Base Logo_desktop.png
  2024-12-02_12124578130_reg/actual/General Components_Logo_Base Logo_mobile.png
  2024-12-02_12124578130_reg/actual/General Components_Logo_Base With Staging_desktop.png
  2024-12-02_12124578130_reg/actual/General Components_Logo_Base With Staging_mobile.png
  2024-12-02_12124578130_reg/actual/General Components_Logo_Narrow Logo_desktop.png
  2024-12-02_12124578130_reg/actual/General Components_Logo_Narrow Logo_mobile.png
  2024-12-02_12124578130_reg/actual/General Components_Logo_Wide Logo_desktop.png
  2024-12-02_12124578130_reg/actual/General Components_Logo_Wide Logo_mobile.png
  2024-12-02_12124578130_reg/diff/General Components_Header_Administrator_desktop.png
  2024-12-02_12124578130_reg/diff/General Components_Header_Normal User_desktop.png
  2024-12-02_12124578130_reg/expected/General Components_Header_Administrator_desktop.png
  2024-12-02_12124578130_reg/expected/General Components_Header_Normal User_desktop.png
Due: none

chore: Improve word wrapping of common projects
  frontend/src/app/projects/models/diagrams/model-diagram-dialog/model-diagram-code-block/model-diagram-code-block.stories.ts
  frontend/src/app/users/users-profile/common-projects/common-projects.component.html
Due: prettier

Update reg_actions to output generated at runId:12124733739
  2024-12-02_12124733739_reg/actual/Model Components_Model Diagram Code Block_Code Block With Job ID_desktop.png
  2024-12-02_12124733739_reg/actual/Model Components_Model Diagram Code Block_Code Block With Job ID_mobile.png
  2024-12-02_12124733739_reg/actual/Model Components_Model Diagram Code Block_Code Block With Token_desktop.png
  2024-12-02_12124733739_reg/actual/Model Components_Model Diagram Code Block_Code Block With Token_mobile.png
  2024-12-02_12124733739_reg/actual/Model Components_Model Diagram Code Block_Code Block_desktop.png
  2024-12-02_12124733739_reg/actual/Model Components_Model Diagram Code Block_Code Block_mobile.png
  2024-12-02_12124733739_reg/actual/Settings Components_Users Profile_Common Projects_Common Projects_mobile.png
  2024-12-02_12124733739_reg/diff/Model Components_Model Diagram Code Block_Code Block With Job ID_desktop.png
  2024-12-02_12124733739_reg/diff/Model Components_Model Diagram Code Block_Code Block With Job ID_mobile.png
  2024-12-02_12124733739_reg/diff/Model Components_Model Diagram Code Block_Code Block With Token_desktop.png
  2024-12-02_12124733739_reg/diff/Model Components_Model Diagram Code Block_Code Block With Token_mobile.png
  2024-12-02_12124733739_reg/diff/Model Components_Model Diagram Code Block_Code Block_desktop.png
  2024-12-02_12124733739_reg/diff/Model Components_Model Diagram Code Block_Code Block_mobile.png
  2024-12-02_12124733739_reg/diff/Settings Components_Users Profile_Common Projects_Common Projects_mobile.png
  2024-12-02_12124733739_reg/expected/Model Components_Model Diagram Code Block_Code Block With Job ID_desktop.png
  2024-12-02_12124733739_reg/expected/Model Components_Model Diagram Code Block_Code Block With Job ID_mobile.png
  2024-12-02_12124733739_reg/expected/Model Components_Model Diagram Code Block_Code Block With Token_desktop.png
  2024-12-02_12124733739_reg/expected/Model Components_Model Diagram Code Block_Code Block With Token_mobile.png
  2024-12-02_12124733739_reg/expected/Model Components_Model Diagram Code Block_Code Block_desktop.png
  2024-12-02_12124733739_reg/expected/Model Components_Model Diagram Code Block_Code Block_mobile.png
  2024-12-02_12124733739_reg/expected/Settings Components_Users Profile_Common Projects_Common Projects_mobile.png
Due: none

chore(storybook): Use "In-Flight Entertainment" as default mockProject
  backend/capellacollab/core/authentication/injectables.py
  backend/capellacollab/core/database/migration.py
  backend/capellacollab/projects/crud.py
  backend/capellacollab/projects/models.py
  backend/capellacollab/projects/routes.py
  backend/capellacollab/projects/users/routes.py
  backend/tests/projects/test_projects_routes.py
  backend/tests/projects/test_projects_users_routes.py
  frontend/src/app/openapi/.openapi-generator/FILES
  frontend/src/app/openapi/model/guacamole-connection-method-input.ts
  frontend/src/app/openapi/model/guacamole-connection-method-output.ts
  frontend/src/app/openapi/model/http-connection-method-input.ts
  frontend/src/app/openapi/model/http-connection-method-output.ts
  frontend/src/app/openapi/model/models.ts
  frontend/src/app/openapi/model/patch-project.ts
  frontend/src/app/openapi/model/post-project-request.ts
  frontend/src/app/openapi/model/project-visibility.ts
  frontend/src/app/openapi/model/project.ts
  frontend/src/app/openapi/model/simple-project.ts
  frontend/src/app/openapi/model/tool-session-connection-input-methods-inner.ts
  frontend/src/app/openapi/model/tool-session-connection-output-methods-inner.ts
  frontend/src/app/projects/create-project/create-project.component.ts
  frontend/src/app/projects/service/project.service.ts
  frontend/src/storybook/project.ts
Due: pylint, prettier

refactor: Migrate App Component to TailwindCSS
  frontend/src/app/app.component.css
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
Due: prettier

perf(storybook): Disable Compodoc
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/.storybook/tsconfig.json
  frontend/angular.json
  frontend/package.json
Due: prettier

test
  frontend/.storybook/main.ts
Due: prettier

feat: Group sessions by projects
  backend/capellacollab/alembic/versions/4cf566b4f986_add_project_scope_to_session_table.py
  backend/capellacollab/sessions/models.py
  backend/capellacollab/sessions/routes.py
  frontend/src/app/openapi/model/session.ts
  frontend/src/app/projects/models/diagrams/model-diagram-dialog/model-diagram-code-block/model-diagram-code-block.component.html
  frontend/src/app/sessions/service/session.service.ts
  frontend/src/app/sessions/session-overview/session-overview.stories.ts
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/active-sessions.component.css
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/active-sessions.component.html
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/active-sessions.component.ts
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/active-sessions.stories.ts
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/session-card/session-card.component.html
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/session-card/session-card.component.ts
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/session-card/session-card.stories.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-persistent-session/create-persistent-session.component.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-readonly-session/create-readonly-session-dialog/create-readonly-session-dialog.component.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-session-history/create-session-history.component.ts
  frontend/src/app/settings/core/alert-settings/alert-settings.component.css
  frontend/src/app/settings/core/alert-settings/alert-settings.component.html
  frontend/src/app/settings/core/alert-settings/alert-settings.component.ts
  frontend/src/app/settings/core/alert-settings/alert-settings.stories.ts
  frontend/src/storybook/session.ts
  frontend/src/storybook/tool.ts
  frontend/src/styles.css
Due: pylint, prettier

feat(metrics): Count all sessions and session minutes over time range
  helm/config/grafana/dashboards/active-sessions.json
Due: none

feat: Unify various API endpoints related to config
  backend/capellacollab/feedback/routes.py
  backend/capellacollab/metadata/routes.py
  backend/capellacollab/navbar/routes.py
  backend/capellacollab/routes.py
  backend/capellacollab/settings/configuration/models.py
  backend/capellacollab/settings/configuration/routes.py
  backend/capellacollab/settings/configuration/util.py
  backend/capellacollab/users/routes.py
  backend/tests/settings/test_global_configuration.py
  backend/tests/test_feedback.py
  frontend/src/app/general/metadata/metadata.service.ts
  frontend/src/app/general/nav-bar/nav-bar.service.ts
  frontend/src/app/openapi/.openapi-generator/FILES
  frontend/src/app/openapi/api/api.ts
  frontend/src/app/openapi/api/configuration.service.ts
  frontend/src/app/openapi/api/feedback.service.ts
  frontend/src/app/openapi/api/metadata.service.ts
  frontend/src/app/openapi/api/navbar.service.ts
  frontend/src/app/openapi/api/users.service.ts
  frontend/src/app/openapi/model/models.ts
  frontend/src/app/openapi/model/unified-config.ts
  frontend/src/app/projects/models/diagrams/model-diagram-dialog/model-diagram-code-block/model-diagram-code-block.component.ts
  frontend/src/app/services/unified-config-wrapper/unified-config-wrapper.service.ts
  frontend/src/app/sessions/feedback/feedback.service.ts
  frontend/src/app/settings/core/configuration-settings/configuration-settings.component.ts
  frontend/src/app/users/users-profile/users-profile.component.html
  frontend/src/app/users/users-profile/users-profile.component.ts
Due: pylint, prettier

Update reg_actions to output generated at runId:12199026733
  2024-12-06_12199026733_reg/actual/General Components_Header_Administrator_desktop.png
  2024-12-06_12199026733_reg/actual/General Components_Header_Normal User_desktop.png
  2024-12-06_12199026733_reg/actual/General Components_Logo_Base Logo_desktop.png
  2024-12-06_12199026733_reg/actual/General Components_Logo_Base Logo_mobile.png
  2024-12-06_12199026733_reg/actual/General Components_Logo_Base With Staging_desktop.png
  2024-12-06_12199026733_reg/actual/General Components_Logo_Base With Staging_mobile.png
  2024-12-06_12199026733_reg/actual/General Components_Logo_Narrow Logo_desktop.png
  2024-12-06_12199026733_reg/actual/General Components_Logo_Narrow Logo_mobile.png
  2024-12-06_12199026733_reg/actual/General Components_Logo_Wide Logo_desktop.png
  2024-12-06_12199026733_reg/actual/General Components_Logo_Wide Logo_mobile.png
  2024-12-06_12199026733_reg/diff/General Components_Header_Administrator_desktop.png
  2024-12-06_12199026733_reg/diff/General Components_Header_Normal User_desktop.png
  2024-12-06_12199026733_reg/expected/General Components_Header_Administrator_desktop.png
  2024-12-06_12199026733_reg/expected/General Components_Header_Normal User_desktop.png
Due: none

feat: Add the ability to set a company logo and show environment badge
  backend/capellacollab/settings/configuration/models.py
  backend/capellacollab/settings/configuration/routes.py
  backend/capellacollab/settings/configuration/util.py
  backend/tests/test_navbar.py
  docs/docs/admin/configure-for-your-org.md
  frontend/.storybook/main.ts
  frontend/.storybook/test-assets/narrow_logo.svg
  frontend/.storybook/test-assets/wide_logo.svg
  frontend/src/app/general/header/header.component.html
  frontend/src/app/general/header/header.component.ts
  frontend/src/app/general/header/header.stories.ts
  frontend/src/app/general/logo/logo.component.html
  frontend/src/app/general/logo/logo.component.ts
  frontend/src/app/general/logo/logo.stories.ts
  frontend/src/app/general/nav-bar/nav-bar.service.ts
  frontend/src/app/openapi/.openapi-generator/FILES
  frontend/src/app/openapi/model/badge-input.ts
  frontend/src/app/openapi/model/badge-output.ts
  frontend/src/app/openapi/model/badge-variant.ts
  frontend/src/app/openapi/model/models.ts
  frontend/src/app/openapi/model/navbar-configuration-input.ts
  frontend/src/app/openapi/model/navbar-configuration-output.ts
  frontend/src/app/openapi/model/text.ts
  frontend/tailwind.config.js
Due: pylint, prettier

Update reg_actions to output generated at runId:12201612958
  2024-12-06_12201612958_reg/actual/General Components_Header_Administrator_desktop.png
  2024-12-06_12201612958_reg/actual/General Components_Header_Normal User_desktop.png
  2024-12-06_12201612958_reg/actual/General Components_Logo_Base Logo_desktop.png
  2024-12-06_12201612958_reg/actual/General Components_Logo_Base Logo_mobile.png
  2024-12-06_12201612958_reg/actual/General Components_Logo_Base With Staging_desktop.png
  2024-12-06_12201612958_reg/actual/General Components_Logo_Base With Staging_mobile.png
  2024-12-06_12201612958_reg/actual/General Components_Logo_Narrow Logo_desktop.png
  2024-12-06_12201612958_reg/actual/General Components_Logo_Narrow Logo_mobile.png
  2024-12-06_12201612958_reg/actual/General Components_Logo_Wide Logo_desktop.png
  2024-12-06_12201612958_reg/actual/General Components_Logo_Wide Logo_mobile.png
  2024-12-06_12201612958_reg/diff/General Components_Header_Administrator_desktop.png
  2024-12-06_12201612958_reg/diff/General Components_Header_Normal User_desktop.png
  2024-12-06_12201612958_reg/expected/General Components_Header_Administrator_desktop.png
  2024-12-06_12201612958_reg/expected/General Components_Header_Normal User_desktop.png
Due: none

feat: Change feedback prompt for trainings
  frontend/src/app/sessions/feedback/feedback-dialog/feedback-dialog.component.html
  frontend/src/app/sessions/feedback/feedback-dialog/feedback-dialog.component.ts
  frontend/src/app/sessions/feedback/feedback-dialog/feedback-dialog.stories.ts
Due: prettier

feat: Add the ability to set a company logo and show environment badge
  backend/capellacollab/configuration/models.py
  backend/capellacollab/configuration/routes.py
  backend/capellacollab/configuration/util.py
  backend/tests/test_navbar.py
  docs/docs/admin/configure-for-your-org.md
  frontend/.storybook/main.ts
  frontend/.storybook/test-assets/narrow_logo.svg
  frontend/.storybook/test-assets/wide_logo.svg
  frontend/src/app/general/header/header.component.html
  frontend/src/app/general/header/header.component.ts
  frontend/src/app/general/header/header.stories.ts
  frontend/src/app/general/logo/logo.component.html
  frontend/src/app/general/logo/logo.component.ts
  frontend/src/app/general/logo/logo.stories.ts
  frontend/src/app/general/nav-bar/nav-bar.service.ts
  frontend/src/app/openapi/.openapi-generator/FILES
  frontend/src/app/openapi/model/badge-input.ts
  frontend/src/app/openapi/model/badge-output.ts
  frontend/src/app/openapi/model/badge-variant.ts
  frontend/src/app/openapi/model/models.ts
  frontend/src/app/openapi/model/navbar-configuration-input.ts
  frontend/src/app/openapi/model/navbar-configuration-output.ts
  frontend/src/app/openapi/model/text.ts
  frontend/tailwind.config.cjs
Due: pylint, prettier
