Repository DSD-DBS/capella-collab-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, prettier

Path conditions:
  tsc: any of: \.(ts|mts|cts)$
  prettier: any of: \.(ts|mts|cts)$, \.css$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$, but not: ^frontend/src/app/openapi

ci: Scan Docker images with Trivy vulnerability scanner
  .github/workflows/push.yml
  .prettierignore
  Makefile
  backend/.trivyignore
  docs/.trivyignore
  docs/docs/development/security-scanning.md
  frontend/.trivyignore
  images/guacamole/.trivyignore
  images/session-preparation/.trivyignore
Due: prettier

feat: Set cache headers on diagram cache responses
  backend/capellacollab/projects/toolmodels/diagrams/routes.py
Due: none

refactor: Move token card to extra component
  frontend/src/app/users/personal-access-tokens/personal-access-tokens.component.html
  frontend/src/app/users/personal-access-tokens/personal-access-tokens.component.ts
  frontend/src/app/users/personal-access-tokens/token-card/token-card.component.html
  frontend/src/app/users/personal-access-tokens/token-card/token-card.component.ts
Due: tsc, prettier

feat: Add admin token overview
  backend/capellacollab/permissions/models.py
  backend/capellacollab/routes.py
  backend/capellacollab/users/models.py
  backend/capellacollab/users/tokens/crud.py
  backend/capellacollab/users/tokens/models.py
  backend/capellacollab/users/tokens/routes.py
  backend/tests/users/test_tokens.py
  frontend/src/app/app-routing.module.ts
  frontend/src/app/openapi/.openapi-generator/FILES
  frontend/src/app/openapi/api/all-tokens.service.ts
  frontend/src/app/openapi/api/api.ts
  frontend/src/app/openapi/model/admin-scopes-input.ts
  frontend/src/app/openapi/model/admin-scopes-output.ts
  frontend/src/app/openapi/model/user-token-with-password.ts
  frontend/src/app/openapi/model/user-token.ts
  frontend/src/app/settings/settings.component.html
  frontend/src/app/users/personal-access-tokens/all-personal-access-tokens/all-personal-access-tokens.component.html
  frontend/src/app/users/personal-access-tokens/all-personal-access-tokens/all-personal-access-tokens.component.ts
  frontend/src/app/users/personal-access-tokens/all-personal-access-tokens/all-personal-access-tokens.stories.ts
  frontend/src/app/users/personal-access-tokens/personal-access-tokens.component.html
  frontend/src/app/users/personal-access-tokens/personal-access-tokens.component.ts
  frontend/src/app/users/personal-access-tokens/personal-access-tokens.stories.ts
  frontend/src/app/users/personal-access-tokens/token-card/token-card.component.html
  frontend/src/app/users/personal-access-tokens/token-card/token-card.component.ts
Due: tsc, prettier

docs: Add troubleshooting entry for missing Expert properties
  docs/docs/user/tools/capella/troubleshooting/expert-properties.png
  docs/docs/user/tools/capella/troubleshooting/expert-properties.png.license
  docs/docs/user/tools/capella/troubleshooting/index.md
Due: prettier

build: Update frontend versions
  .pre-commit-config.yaml
  frontend/.trivyignore
  frontend/Dockerfile
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

build: Bump frontend versions
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

Update reg_actions to output generated at runId:14514093779
  2025-04-17_14514093779_reg/actual/Add Team Members_desktop.png
  2025-04-17_14514093779_reg/actual/Add Team Members_mobile.png
  2025-04-17_14514093779_reg/actual/Basic_desktop.png
  2025-04-17_14514093779_reg/actual/Basic_mobile.png
  2025-04-17_14514093779_reg/actual/Blocked User_desktop.png
  2025-04-17_14514093779_reg/actual/Blocked User_mobile.png
  2025-04-17_14514093779_reg/actual/Example_desktop.png
  2025-04-17_14514093779_reg/actual/Example_mobile.png
  2025-04-17_14514093779_reg/actual/Overview 2_desktop.png
  2025-04-17_14514093779_reg/actual/Overview 2_mobile.png
  2025-04-17_14514093779_reg/actual/Overview_desktop.png
  2025-04-17_14514093779_reg/actual/Overview_mobile.png
  2025-04-17_14514093779_reg/actual/User Blocked_desktop.png
  2025-04-17_14514093779_reg/actual/User Blocked_mobile.png
  2025-04-17_14514093779_reg/diff/Add Team Members_desktop.png
  2025-04-17_14514093779_reg/diff/Add Team Members_mobile.png
  2025-04-17_14514093779_reg/diff/Overview_desktop.png
  2025-04-17_14514093779_reg/diff/Overview_mobile.png
  2025-04-17_14514093779_reg/expected/Add Team Members_desktop.png
  2025-04-17_14514093779_reg/expected/Add Team Members_mobile.png
  2025-04-17_14514093779_reg/expected/Overview_desktop.png
  2025-04-17_14514093779_reg/expected/Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:14517434402
  2025-04-17_14517434402_reg/actual/Add Team Members_desktop.png
  2025-04-17_14517434402_reg/actual/Add Team Members_mobile.png
  2025-04-17_14517434402_reg/actual/Basic_desktop.png
  2025-04-17_14517434402_reg/actual/Basic_mobile.png
  2025-04-17_14517434402_reg/actual/Blocked User_desktop.png
  2025-04-17_14517434402_reg/actual/Blocked User_mobile.png
  2025-04-17_14517434402_reg/actual/Example_desktop.png
  2025-04-17_14517434402_reg/actual/Example_mobile.png
  2025-04-17_14517434402_reg/actual/Overview 2_desktop.png
  2025-04-17_14517434402_reg/actual/Overview 2_mobile.png
  2025-04-17_14517434402_reg/actual/Overview_desktop.png
  2025-04-17_14517434402_reg/actual/Overview_mobile.png
  2025-04-17_14517434402_reg/actual/User Blocked_desktop.png
  2025-04-17_14517434402_reg/actual/User Blocked_mobile.png
  2025-04-17_14517434402_reg/diff/Add Team Members_desktop.png
  2025-04-17_14517434402_reg/diff/Add Team Members_mobile.png
  2025-04-17_14517434402_reg/diff/Overview_desktop.png
  2025-04-17_14517434402_reg/diff/Overview_mobile.png
  2025-04-17_14517434402_reg/expected/Add Team Members_desktop.png
  2025-04-17_14517434402_reg/expected/Add Team Members_mobile.png
  2025-04-17_14517434402_reg/expected/Overview_desktop.png
  2025-04-17_14517434402_reg/expected/Overview_mobile.png
Due: none

feat: Add ability to block users
  .pre-commit-config.yaml
  backend/capellacollab/alembic/versions/6f628eb616cc_add_support_to_block_users.py
  backend/capellacollab/events/models.py
  backend/capellacollab/users/exceptions.py
  backend/capellacollab/users/injectables.py
  backend/capellacollab/users/models.py
  backend/capellacollab/users/routes.py
  backend/tests/users/test_users.py
  frontend/angular.json
  frontend/src/app/general/auth/auth/auth.component.html
  frontend/src/app/general/auth/auth/auth.stories.ts
  frontend/src/app/general/auth/http-interceptor/auth.interceptor.ts
  frontend/src/app/general/error-handling/error-handling.interceptor.ts
  frontend/src/app/helpers/chip/chip.component.ts
  frontend/src/app/helpers/chip/chip.stories.ts
  frontend/src/app/openapi/.openapi-generator/FILES
  frontend/src/app/openapi/api/settings-modelsources-t4-c-instances.service.ts
  frontend/src/app/openapi/api/users.service.ts
  frontend/src/app/openapi/model/base-user.ts
  frontend/src/app/openapi/model/environment-value1.ts
  frontend/src/app/openapi/model/event-type.ts
  frontend/src/app/openapi/model/models.ts
  frontend/src/app/openapi/model/patch-user.ts
  frontend/src/app/openapi/model/t4-c-repositories-response-model.ts
  frontend/src/app/openapi/model/tool-session-environment-output.ts
  frontend/src/app/openapi/model/value1.ts
  frontend/src/app/projects/project-detail/project-users/project-user-settings.component.html
  frontend/src/app/projects/project-detail/project-users/project-user-settings.component.ts
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/session-card/session-card.stories.ts
  frontend/src/app/users/user-settings/user-settings.component.html
  frontend/src/app/users/user-settings/user-settings.component.ts
  frontend/src/app/users/user-settings/user-settings.stories.ts
  frontend/src/app/users/users-profile/users-profile.component.html
  frontend/src/app/users/users-profile/users-profile.component.ts
  frontend/src/app/users/users-profile/users-profile.stories.ts
  frontend/src/storybook/project-users.ts
  frontend/src/storybook/user.ts
Due: tsc, prettier

Update reg_actions to output generated at runId:14518257204
  2025-04-17_14518257204_reg/actual/Add Team Members_desktop.png
  2025-04-17_14518257204_reg/actual/Add Team Members_mobile.png
  2025-04-17_14518257204_reg/actual/Basic_desktop.png
  2025-04-17_14518257204_reg/actual/Basic_mobile.png
  2025-04-17_14518257204_reg/actual/Blocked User_desktop.png
  2025-04-17_14518257204_reg/actual/Blocked User_mobile.png
  2025-04-17_14518257204_reg/actual/Example_desktop.png
  2025-04-17_14518257204_reg/actual/Example_mobile.png
  2025-04-17_14518257204_reg/actual/Overview 2_desktop.png
  2025-04-17_14518257204_reg/actual/Overview 2_mobile.png
  2025-04-17_14518257204_reg/actual/Overview_desktop.png
  2025-04-17_14518257204_reg/actual/Overview_mobile.png
  2025-04-17_14518257204_reg/actual/User Blocked_desktop.png
  2025-04-17_14518257204_reg/actual/User Blocked_mobile.png
  2025-04-17_14518257204_reg/diff/Add Team Members_desktop.png
  2025-04-17_14518257204_reg/diff/Add Team Members_mobile.png
  2025-04-17_14518257204_reg/diff/Overview_desktop.png
  2025-04-17_14518257204_reg/diff/Overview_mobile.png
  2025-04-17_14518257204_reg/expected/Add Team Members_desktop.png
  2025-04-17_14518257204_reg/expected/Add Team Members_mobile.png
  2025-04-17_14518257204_reg/expected/Overview_desktop.png
  2025-04-17_14518257204_reg/expected/Overview_mobile.png
Due: none

docs: Describe how to upgrade the PosgreSQL database
  docs/docs/admin/update.md
  helm/templates/backend/backend-postgres.deployment.yaml
  helm/templates/guacamole/guacamole-postgres.deployment.yaml
  helm/values.yaml
Due: prettier

Update reg_actions to output generated at runId:14519043554
  2025-04-17_14519043554_reg/actual/Add Team Members_desktop.png
  2025-04-17_14519043554_reg/actual/Add Team Members_mobile.png
  2025-04-17_14519043554_reg/actual/Basic_desktop.png
  2025-04-17_14519043554_reg/actual/Basic_mobile.png
  2025-04-17_14519043554_reg/actual/Blocked User_desktop.png
  2025-04-17_14519043554_reg/actual/Blocked User_mobile.png
  2025-04-17_14519043554_reg/actual/Example_desktop.png
  2025-04-17_14519043554_reg/actual/Example_mobile.png
  2025-04-17_14519043554_reg/actual/Overview 2_desktop.png
  2025-04-17_14519043554_reg/actual/Overview 2_mobile.png
  2025-04-17_14519043554_reg/actual/Overview_desktop.png
  2025-04-17_14519043554_reg/actual/Overview_mobile.png
  2025-04-17_14519043554_reg/actual/User Blocked_desktop.png
  2025-04-17_14519043554_reg/actual/User Blocked_mobile.png
  2025-04-17_14519043554_reg/diff/Add Team Members_desktop.png
  2025-04-17_14519043554_reg/diff/Add Team Members_mobile.png
  2025-04-17_14519043554_reg/diff/Overview_desktop.png
  2025-04-17_14519043554_reg/diff/Overview_mobile.png
  2025-04-17_14519043554_reg/expected/Add Team Members_desktop.png
  2025-04-17_14519043554_reg/expected/Add Team Members_mobile.png
  2025-04-17_14519043554_reg/expected/Overview_desktop.png
  2025-04-17_14519043554_reg/expected/Overview_mobile.png
Due: none

build: Add compatility with `capella-dockerimages>=3.0.0`
  Makefile
  docs/Dockerfile
  frontend/Makefile
  frontend/src/app/openapi/model/page-history-event.ts
  frontend/src/app/openapi/model/page-pipeline-run.ts
Due: tsc

fix: Show executor for "block user" audit events
  backend/capellacollab/users/routes.py
Due: none

fix: Handle planned but not executed termination of sessions
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/session-card/session-card.component.html
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/session-card/session-card.stories.ts
Due: tsc, prettier

Update reg_actions to output generated at runId:14595396213
  2025-04-22_14595396213_reg/actual/Session Terminating Now_desktop.png
  2025-04-22_14595396213_reg/actual/Session Terminating Now_mobile.png
Due: none

Update reg_actions to output generated at runId:14614589377
  2025-04-23_14614589377_reg/actual/Add Team Members_desktop.png
  2025-04-23_14614589377_reg/actual/Add Team Members_mobile.png
  2025-04-23_14614589377_reg/actual/Example_desktop.png
  2025-04-23_14614589377_reg/actual/Example_mobile.png
  2025-04-23_14614589377_reg/actual/General_desktop.png
  2025-04-23_14614589377_reg/actual/General_mobile.png
  2025-04-23_14614589377_reg/actual/Overview 2_desktop.png
  2025-04-23_14614589377_reg/actual/Overview 2_mobile.png
  2025-04-23_14614589377_reg/actual/Overview_desktop.png
  2025-04-23_14614589377_reg/actual/Overview_mobile.png
  2025-04-23_14614589377_reg/actual/With Title_desktop.png
  2025-04-23_14614589377_reg/actual/With Title_mobile.png
  2025-04-23_14614589377_reg/diff/Add Team Members_desktop.png
  2025-04-23_14614589377_reg/diff/Add Team Members_mobile.png
  2025-04-23_14614589377_reg/diff/Example_desktop.png
  2025-04-23_14614589377_reg/diff/Example_mobile.png
  2025-04-23_14614589377_reg/diff/General_desktop.png
  2025-04-23_14614589377_reg/diff/General_mobile.png
  2025-04-23_14614589377_reg/diff/Overview 2_desktop.png
  2025-04-23_14614589377_reg/diff/Overview 2_mobile.png
  2025-04-23_14614589377_reg/diff/Overview_desktop.png
  2025-04-23_14614589377_reg/diff/Overview_mobile.png
  2025-04-23_14614589377_reg/diff/With Title_desktop.png
  2025-04-23_14614589377_reg/diff/With Title_mobile.png
  2025-04-23_14614589377_reg/expected/Add Team Members_desktop.png
  2025-04-23_14614589377_reg/expected/Add Team Members_mobile.png
  2025-04-23_14614589377_reg/expected/Example_desktop.png
  2025-04-23_14614589377_reg/expected/Example_mobile.png
  2025-04-23_14614589377_reg/expected/General_desktop.png
  2025-04-23_14614589377_reg/expected/General_mobile.png
  2025-04-23_14614589377_reg/expected/Overview 2_desktop.png
  2025-04-23_14614589377_reg/expected/Overview 2_mobile.png
  2025-04-23_14614589377_reg/expected/Overview_desktop.png
  2025-04-23_14614589377_reg/expected/Overview_mobile.png
  2025-04-23_14614589377_reg/expected/With Title_desktop.png
  2025-04-23_14614589377_reg/expected/With Title_mobile.png
Due: none

fix: Set background color of announcements icons and center icons
  frontend/src/app/general/announcement/announcement/announcement.component.css
  frontend/src/app/general/announcement/announcement/announcement.component.html
  frontend/src/app/projects/project-detail/project-users/project-user-settings.component.html
  frontend/src/app/users/user-settings/user-settings.component.html
  frontend/src/styles.scss
Due: prettier

fix: Fine-tune paddings of new Material 3 design
  frontend/src/app/helpers/confirmation-dialog/confirmation-dialog.component.html
  frontend/src/app/projects/models/diagrams/model-diagram-dialog/model-diagram-dialog.component.html
  frontend/src/app/projects/project-detail/model-overview/model-overview.component.html
  frontend/src/app/projects/project-overview/project-overview.component.html
  frontend/src/styles.scss
Due: prettier
