Repository DSD-DBS/capella-collab-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, prettier

tsc:
  name: tsc
  entry: tsc -noEmit -p ./frontend
  pass_filenames: false
  language: node
  additional_dependencies:
  - typescript@~5.6.3

prettier:
  name: prettier
  entry: prettier --write
  language: node
  additional_dependencies:
  - prettier@^3.4.2
  - prettier-plugin-tailwindcss@^0.6.11
  - '@trivago/prettier-plugin-sort-imports@^5.2.2'
  - tailwindcss@^3.4.17
  - prettier-plugin-classnames@^0.7.6
  - prettier-plugin-merge@^0.7.2

feat: Use red color for "Terminate session" button
  frontend/src/app/projects/project-detail/project-volumes/project-volumes.stories.ts
  frontend/src/app/sessions/delete-session-dialog/delete-session-dialog.component.html
  frontend/src/app/sessions/delete-session-dialog/delete-session-dialog.stories.ts
Due: tsc, prettier

Update reg_actions to output generated at runId:14643436904
  2025-04-24_14643436904_reg/actual/Loading_desktop.png
  2025-04-24_14643436904_reg/actual/Loading_mobile.png
  2025-04-24_14643436904_reg/actual/Multiple Session_desktop.png
  2025-04-24_14643436904_reg/actual/Multiple Session_mobile.png
  2025-04-24_14643436904_reg/actual/No Volume As Admin_desktop.png
  2025-04-24_14643436904_reg/actual/No Volume As Admin_mobile.png
  2025-04-24_14643436904_reg/actual/No Volume As User_desktop.png
  2025-04-24_14643436904_reg/actual/No Volume As User_mobile.png
  2025-04-24_14643436904_reg/actual/One Session_desktop.png
  2025-04-24_14643436904_reg/actual/One Session_mobile.png
  2025-04-24_14643436904_reg/actual/Volume As Admin_desktop.png
  2025-04-24_14643436904_reg/actual/Volume As Admin_mobile.png
  2025-04-24_14643436904_reg/actual/Volume As User_desktop.png
  2025-04-24_14643436904_reg/actual/Volume As User_mobile.png
  2025-04-24_14643436904_reg/expected/Loading_desktop.png
  2025-04-24_14643436904_reg/expected/Loading_mobile.png
  2025-04-24_14643436904_reg/expected/No Volume As Admin_desktop.png
  2025-04-24_14643436904_reg/expected/No Volume As Admin_mobile.png
  2025-04-24_14643436904_reg/expected/No Volume As User_desktop.png
  2025-04-24_14643436904_reg/expected/No Volume As User_mobile.png
  2025-04-24_14643436904_reg/expected/Volume As Admin_desktop.png
  2025-04-24_14643436904_reg/expected/Volume As Admin_mobile.png
  2025-04-24_14643436904_reg/expected/Volume As User_desktop.png
  2025-04-24_14643436904_reg/expected/Volume As User_mobile.png
Due: none

Update reg_actions to output generated at runId:14645572408
  2025-04-24_14645572408_reg/actual/Administrator_mobile.png
  2025-04-24_14645572408_reg/actual/Normal User_mobile.png
  2025-04-24_14645572408_reg/actual/Toggle Navbar_desktop.png
  2025-04-24_14645572408_reg/actual/Toggle Navbar_mobile.png
  2025-04-24_14645572408_reg/diff/Administrator_mobile.png
  2025-04-24_14645572408_reg/diff/Normal User_mobile.png
  2025-04-24_14645572408_reg/expected/Administrator_mobile.png
  2025-04-24_14645572408_reg/expected/Normal User_mobile.png
Due: none

feat: Redesign navigation bar for mobile devices
  frontend/.storybook/preview.ts
  frontend/index.html
  frontend/src/app/app.component.html
  frontend/src/app/app.stories.ts
  frontend/src/app/general/auth/auth/auth.stories.ts
  frontend/src/app/general/header/header.component.html
  frontend/src/app/general/logo/logo.stories.ts
  frontend/src/app/general/nav-bar-menu/nav-bar-menu.component.css
  frontend/src/app/general/nav-bar-menu/nav-bar-menu.component.html
  frontend/src/app/general/nav-bar-menu/nav-bar-menu.component.ts
  frontend/src/app/general/nav-bar-menu/nav-bar-menu.stories.ts
  frontend/src/storybook/navbar.ts
  frontend/src/styles.scss
Due: tsc, prettier

Update reg_actions to output generated at runId:14646256627
  2025-04-24_14646256627_reg/actual/Administrator.png
  2025-04-24_14646256627_reg/actual/Administrator_mobile.png
  2025-04-24_14646256627_reg/actual/Normal User.png
  2025-04-24_14646256627_reg/actual/Normal User_mobile.png
  2025-04-24_14646256627_reg/actual/Toggle Navbar.png
  2025-04-24_14646256627_reg/diff/Administrator_mobile.png
  2025-04-24_14646256627_reg/diff/Normal User_mobile.png
  2025-04-24_14646256627_reg/expected/Administrator_mobile.png
  2025-04-24_14646256627_reg/expected/Normal User_mobile.png
Due: none

Update reg_actions to output generated at runId:14660189414
  2025-04-25_14660189414_reg/actual/Existing Git Model Editing_desktop.png
  2025-04-25_14660189414_reg/actual/Existing Git Model Editing_mobile.png
  2025-04-25_14660189414_reg/actual/Existing Git Model_desktop.png
  2025-04-25_14660189414_reg/actual/Existing Git Model_mobile.png
  2025-04-25_14660189414_reg/actual/Invalid URL_desktop.png
  2025-04-25_14660189414_reg/actual/Invalid URL_mobile.png
  2025-04-25_14660189414_reg/actual/Valid URL_desktop.png
  2025-04-25_14660189414_reg/actual/Valid URL_mobile.png
  2025-04-25_14660189414_reg/diff/Existing Git Model Editing_desktop.png
  2025-04-25_14660189414_reg/diff/Existing Git Model Editing_mobile.png
  2025-04-25_14660189414_reg/diff/Existing Git Model_desktop.png
  2025-04-25_14660189414_reg/diff/Existing Git Model_mobile.png
  2025-04-25_14660189414_reg/diff/Invalid URL_desktop.png
  2025-04-25_14660189414_reg/diff/Invalid URL_mobile.png
  2025-04-25_14660189414_reg/diff/Valid URL_desktop.png
  2025-04-25_14660189414_reg/diff/Valid URL_mobile.png
  2025-04-25_14660189414_reg/expected/Existing Git Model Editing_desktop.png
  2025-04-25_14660189414_reg/expected/Existing Git Model Editing_mobile.png
  2025-04-25_14660189414_reg/expected/Existing Git Model_desktop.png
  2025-04-25_14660189414_reg/expected/Existing Git Model_mobile.png
  2025-04-25_14660189414_reg/expected/Invalid URL_desktop.png
  2025-04-25_14660189414_reg/expected/Invalid URL_mobile.png
  2025-04-25_14660189414_reg/expected/Valid URL_desktop.png
  2025-04-25_14660189414_reg/expected/Valid URL_mobile.png
Due: none

Update reg_actions to output generated at runId:14662009619
  2025-04-25_14662009619_reg/actual/Existing Git Model Editing_desktop.png
  2025-04-25_14662009619_reg/actual/Existing Git Model Editing_mobile.png
  2025-04-25_14662009619_reg/actual/Existing Git Model_desktop.png
  2025-04-25_14662009619_reg/actual/Existing Git Model_mobile.png
  2025-04-25_14662009619_reg/actual/Invalid URL_desktop.png
  2025-04-25_14662009619_reg/actual/Invalid URL_mobile.png
  2025-04-25_14662009619_reg/actual/Valid URL_desktop.png
  2025-04-25_14662009619_reg/actual/Valid URL_mobile.png
  2025-04-25_14662009619_reg/diff/Existing Git Model Editing_desktop.png
  2025-04-25_14662009619_reg/diff/Existing Git Model Editing_mobile.png
  2025-04-25_14662009619_reg/diff/Existing Git Model_desktop.png
  2025-04-25_14662009619_reg/diff/Existing Git Model_mobile.png
  2025-04-25_14662009619_reg/diff/Invalid URL_desktop.png
  2025-04-25_14662009619_reg/diff/Invalid URL_mobile.png
  2025-04-25_14662009619_reg/diff/Valid URL_desktop.png
  2025-04-25_14662009619_reg/diff/Valid URL_mobile.png
  2025-04-25_14662009619_reg/expected/Existing Git Model Editing_desktop.png
  2025-04-25_14662009619_reg/expected/Existing Git Model Editing_mobile.png
  2025-04-25_14662009619_reg/expected/Existing Git Model_desktop.png
  2025-04-25_14662009619_reg/expected/Existing Git Model_mobile.png
  2025-04-25_14662009619_reg/expected/Invalid URL_desktop.png
  2025-04-25_14662009619_reg/expected/Invalid URL_mobile.png
  2025-04-25_14662009619_reg/expected/Valid URL_desktop.png
  2025-04-25_14662009619_reg/expected/Valid URL_mobile.png
Due: none

feat: Update margins of Git repository linking component
  frontend/src/app/projects/models/model-source/git/manage-git-model/manage-git-model.component.html
Due: prettier

Update reg_actions to output generated at runId:14663966361
  2025-04-25_14663966361_reg/actual/Existing Git Model Editing_desktop.png
  2025-04-25_14663966361_reg/actual/Existing Git Model Editing_mobile.png
  2025-04-25_14663966361_reg/actual/Existing Git Model_desktop.png
  2025-04-25_14663966361_reg/actual/Existing Git Model_mobile.png
  2025-04-25_14663966361_reg/actual/Invalid URL_desktop.png
  2025-04-25_14663966361_reg/actual/Invalid URL_mobile.png
  2025-04-25_14663966361_reg/actual/Valid URL_desktop.png
  2025-04-25_14663966361_reg/actual/Valid URL_mobile.png
  2025-04-25_14663966361_reg/diff/Existing Git Model Editing_desktop.png
  2025-04-25_14663966361_reg/diff/Existing Git Model Editing_mobile.png
  2025-04-25_14663966361_reg/diff/Existing Git Model_desktop.png
  2025-04-25_14663966361_reg/diff/Existing Git Model_mobile.png
  2025-04-25_14663966361_reg/diff/Invalid URL_desktop.png
  2025-04-25_14663966361_reg/diff/Invalid URL_mobile.png
  2025-04-25_14663966361_reg/diff/Valid URL_desktop.png
  2025-04-25_14663966361_reg/diff/Valid URL_mobile.png
  2025-04-25_14663966361_reg/expected/Existing Git Model Editing_desktop.png
  2025-04-25_14663966361_reg/expected/Existing Git Model Editing_mobile.png
  2025-04-25_14663966361_reg/expected/Existing Git Model_desktop.png
  2025-04-25_14663966361_reg/expected/Existing Git Model_mobile.png
  2025-04-25_14663966361_reg/expected/Invalid URL_desktop.png
  2025-04-25_14663966361_reg/expected/Invalid URL_mobile.png
  2025-04-25_14663966361_reg/expected/Valid URL_desktop.png
  2025-04-25_14663966361_reg/expected/Valid URL_mobile.png
Due: none

feat: Fine-tune overview cards
  frontend/src/app/general/breadcrumbs/breadcrumbs.component.css
  frontend/src/app/general/breadcrumbs/breadcrumbs.component.html
  frontend/src/app/general/breadcrumbs/breadcrumbs.component.ts
  frontend/src/app/general/breadcrumbs/breadcrumbs.stories.ts
  frontend/src/app/projects/models/model-detail/model-detail.component.html
  frontend/src/app/projects/project-overview/project-overview.component.html
  frontend/src/app/settings/core/tools-settings/tools-settings.component.html
  frontend/src/app/settings/modelsources/git-instances/git-instances.component.html
  frontend/src/app/settings/modelsources/t4c-settings/t4c-settings.component.html
  frontend/src/styles.scss
Due: tsc, prettier

Update reg_actions to output generated at runId:14664112406
  2025-04-25_14664112406_reg/actual/General_desktop.png
  2025-04-25_14664112406_reg/actual/General_mobile.png
  2025-04-25_14664112406_reg/actual/Loading As Admin_desktop.png
  2025-04-25_14664112406_reg/actual/Loading As Admin_mobile.png
  2025-04-25_14664112406_reg/actual/Loading_desktop.png
  2025-04-25_14664112406_reg/actual/Loading_mobile.png
  2025-04-25_14664112406_reg/actual/Overview_desktop.png
  2025-04-25_14664112406_reg/actual/Overview_mobile.png
  2025-04-25_14664112406_reg/actual/With Repository As Admin_desktop.png
  2025-04-25_14664112406_reg/actual/With Repository As Admin_mobile.png
  2025-04-25_14664112406_reg/diff/General_desktop.png
  2025-04-25_14664112406_reg/diff/General_mobile.png
  2025-04-25_14664112406_reg/diff/Loading As Admin_desktop.png
  2025-04-25_14664112406_reg/diff/Loading As Admin_mobile.png
  2025-04-25_14664112406_reg/diff/Loading_desktop.png
  2025-04-25_14664112406_reg/diff/Loading_mobile.png
  2025-04-25_14664112406_reg/diff/Overview_desktop.png
  2025-04-25_14664112406_reg/diff/Overview_mobile.png
  2025-04-25_14664112406_reg/diff/With Repository As Admin_desktop.png
  2025-04-25_14664112406_reg/diff/With Repository As Admin_mobile.png
  2025-04-25_14664112406_reg/expected/General_desktop.png
  2025-04-25_14664112406_reg/expected/General_mobile.png
  2025-04-25_14664112406_reg/expected/Loading As Admin_desktop.png
  2025-04-25_14664112406_reg/expected/Loading As Admin_mobile.png
  2025-04-25_14664112406_reg/expected/Loading_desktop.png
  2025-04-25_14664112406_reg/expected/Loading_mobile.png
  2025-04-25_14664112406_reg/expected/Overview_desktop.png
  2025-04-25_14664112406_reg/expected/Overview_mobile.png
  2025-04-25_14664112406_reg/expected/With Repository As Admin_desktop.png
  2025-04-25_14664112406_reg/expected/With Repository As Admin_mobile.png
Due: none

feat: Optimize backup creation for mobile devices
  frontend/src/app/projects/models/backup-settings/create-backup/create-backup.component.html
Due: prettier

Update reg_actions to output generated at runId:14664717824
  2025-04-25_14664717824_reg/actual/Loading_desktop.png
  2025-04-25_14664717824_reg/actual/Loading_mobile.png
  2025-04-25_14664717824_reg/actual/Request Sent_mobile.png
  2025-04-25_14664717824_reg/actual/With Linked Models_mobile.png
  2025-04-25_14664717824_reg/diff/Loading_desktop.png
  2025-04-25_14664717824_reg/diff/Loading_mobile.png
  2025-04-25_14664717824_reg/diff/Request Sent_mobile.png
  2025-04-25_14664717824_reg/diff/With Linked Models_mobile.png
  2025-04-25_14664717824_reg/expected/Loading_desktop.png
  2025-04-25_14664717824_reg/expected/Loading_mobile.png
  2025-04-25_14664717824_reg/expected/Request Sent_mobile.png
  2025-04-25_14664717824_reg/expected/With Linked Models_mobile.png
Due: none

fix: Do show actions for own project user
  frontend/src/app/projects/create-project/create-project.component.html
  frontend/src/app/projects/create-project/create-project.component.ts
  frontend/src/app/projects/models/backup-settings/create-backup/create-backup.component.html
  frontend/src/app/projects/project-detail/project-users/project-user-settings.component.html
  frontend/src/app/projects/project-detail/project-users/project-user-settings.component.ts
  frontend/src/app/projects/project-detail/project-users/project-user-settings.stories.ts
  frontend/src/app/projects/project-detail/project-users/service/project-user.service.ts
Due: tsc, prettier

feat: Make slugs of projects and tool models immutable
  backend/capellacollab/projects/crud.py
  backend/capellacollab/projects/exceptions.py
  backend/capellacollab/projects/routes.py
  backend/capellacollab/projects/toolmodels/crud.py
  backend/capellacollab/projects/toolmodels/routes.py
  frontend/src/app/projects/project-detail/edit-project-metadata/edit-project-metadata.component.html
  frontend/src/app/projects/project-detail/edit-project-metadata/edit-project-metadata.component.ts
Due: tsc, prettier

Update reg_actions to output generated at runId:14666288026
  2025-04-25_14666288026_reg/actual/Add Team Members_desktop.png
  2025-04-25_14666288026_reg/actual/Add Team Members_mobile.png
  2025-04-25_14666288026_reg/actual/Overview_desktop.png
  2025-04-25_14666288026_reg/actual/Overview_mobile.png
  2025-04-25_14666288026_reg/actual/Request Sent_desktop.png
  2025-04-25_14666288026_reg/actual/Request Sent_mobile.png
  2025-04-25_14666288026_reg/actual/With Linked Models_desktop.png
  2025-04-25_14666288026_reg/actual/With Linked Models_mobile.png
  2025-04-25_14666288026_reg/diff/Add Team Members_desktop.png
  2025-04-25_14666288026_reg/diff/Add Team Members_mobile.png
  2025-04-25_14666288026_reg/diff/Overview_desktop.png
  2025-04-25_14666288026_reg/diff/Overview_mobile.png
  2025-04-25_14666288026_reg/diff/Request Sent_desktop.png
  2025-04-25_14666288026_reg/diff/Request Sent_mobile.png
  2025-04-25_14666288026_reg/diff/With Linked Models_desktop.png
  2025-04-25_14666288026_reg/diff/With Linked Models_mobile.png
  2025-04-25_14666288026_reg/expected/Add Team Members_desktop.png
  2025-04-25_14666288026_reg/expected/Add Team Members_mobile.png
  2025-04-25_14666288026_reg/expected/Overview_desktop.png
  2025-04-25_14666288026_reg/expected/Overview_mobile.png
  2025-04-25_14666288026_reg/expected/Request Sent_desktop.png
  2025-04-25_14666288026_reg/expected/Request Sent_mobile.png
  2025-04-25_14666288026_reg/expected/With Linked Models_desktop.png
  2025-04-25_14666288026_reg/expected/With Linked Models_mobile.png
Due: none

Update reg_actions to output generated at runId:14666298585
  2025-04-25_14666298585_reg/actual/General_desktop.png
  2025-04-25_14666298585_reg/actual/General_mobile.png
  2025-04-25_14666298585_reg/actual/With Title_desktop.png
  2025-04-25_14666298585_reg/actual/With Title_mobile.png
  2025-04-25_14666298585_reg/diff/General_desktop.png
  2025-04-25_14666298585_reg/diff/General_mobile.png
  2025-04-25_14666298585_reg/diff/With Title_desktop.png
  2025-04-25_14666298585_reg/diff/With Title_mobile.png
  2025-04-25_14666298585_reg/expected/General_desktop.png
  2025-04-25_14666298585_reg/expected/General_mobile.png
  2025-04-25_14666298585_reg/expected/With Title_desktop.png
  2025-04-25_14666298585_reg/expected/With Title_mobile.png
Due: none

Update reg_actions to output generated at runId:14702230979
  2025-04-28_14702230979_reg/actual/General_desktop.png
  2025-04-28_14702230979_reg/actual/General_mobile.png
  2025-04-28_14702230979_reg/actual/With Title_desktop.png
  2025-04-28_14702230979_reg/actual/With Title_mobile.png
  2025-04-28_14702230979_reg/diff/General_desktop.png
  2025-04-28_14702230979_reg/diff/General_mobile.png
  2025-04-28_14702230979_reg/diff/With Title_desktop.png
  2025-04-28_14702230979_reg/diff/With Title_mobile.png
  2025-04-28_14702230979_reg/expected/General_desktop.png
  2025-04-28_14702230979_reg/expected/General_mobile.png
  2025-04-28_14702230979_reg/expected/With Title_desktop.png
  2025-04-28_14702230979_reg/expected/With Title_mobile.png
Due: none

Update reg_actions to output generated at runId:14706889917
  2025-04-28_14706889917_reg/actual/Add Team Members_desktop.png
  2025-04-28_14706889917_reg/actual/Add Team Members_mobile.png
  2025-04-28_14706889917_reg/actual/General_desktop.png
  2025-04-28_14706889917_reg/actual/General_mobile.png
  2025-04-28_14706889917_reg/actual/Overview_desktop.png
  2025-04-28_14706889917_reg/actual/Overview_mobile.png
  2025-04-28_14706889917_reg/actual/Request Sent_desktop.png
  2025-04-28_14706889917_reg/actual/Request Sent_mobile.png
  2025-04-28_14706889917_reg/actual/With Linked Models_desktop.png
  2025-04-28_14706889917_reg/actual/With Linked Models_mobile.png
  2025-04-28_14706889917_reg/actual/With Title_desktop.png
  2025-04-28_14706889917_reg/actual/With Title_mobile.png
  2025-04-28_14706889917_reg/diff/Add Team Members_desktop.png
  2025-04-28_14706889917_reg/diff/Add Team Members_mobile.png
  2025-04-28_14706889917_reg/diff/General_desktop.png
  2025-04-28_14706889917_reg/diff/General_mobile.png
  2025-04-28_14706889917_reg/diff/Overview_desktop.png
  2025-04-28_14706889917_reg/diff/Overview_mobile.png
  2025-04-28_14706889917_reg/diff/Request Sent_desktop.png
  2025-04-28_14706889917_reg/diff/Request Sent_mobile.png
  2025-04-28_14706889917_reg/diff/With Linked Models_desktop.png
  2025-04-28_14706889917_reg/diff/With Linked Models_mobile.png
  2025-04-28_14706889917_reg/diff/With Title_desktop.png
  2025-04-28_14706889917_reg/diff/With Title_mobile.png
  2025-04-28_14706889917_reg/expected/Add Team Members_desktop.png
  2025-04-28_14706889917_reg/expected/Add Team Members_mobile.png
  2025-04-28_14706889917_reg/expected/General_desktop.png
  2025-04-28_14706889917_reg/expected/General_mobile.png
  2025-04-28_14706889917_reg/expected/Overview_desktop.png
  2025-04-28_14706889917_reg/expected/Overview_mobile.png
  2025-04-28_14706889917_reg/expected/Request Sent_desktop.png
  2025-04-28_14706889917_reg/expected/Request Sent_mobile.png
  2025-04-28_14706889917_reg/expected/With Linked Models_desktop.png
  2025-04-28_14706889917_reg/expected/With Linked Models_mobile.png
  2025-04-28_14706889917_reg/expected/With Title_desktop.png
  2025-04-28_14706889917_reg/expected/With Title_mobile.png
Due: none

feat: Make slugs of projects and tool models immutable
  backend/capellacollab/projects/crud.py
  backend/capellacollab/projects/exceptions.py
  backend/capellacollab/projects/routes.py
  backend/capellacollab/projects/toolmodels/crud.py
  backend/capellacollab/projects/toolmodels/routes.py
  backend/tests/projects/test_projects_routes.py
  backend/tests/projects/toolmodels/test_toolmodel_routes.py
  frontend/src/app/openapi/api/projects-models.service.ts
  frontend/src/app/openapi/api/projects.service.ts
  frontend/src/app/projects/project-detail/edit-project-metadata/edit-project-metadata.component.html
  frontend/src/app/projects/project-detail/edit-project-metadata/edit-project-metadata.component.ts
Due: tsc, prettier

Update reg_actions to output generated at runId:14707123441
  2025-04-28_14707123441_reg/actual/General_desktop.png
  2025-04-28_14707123441_reg/actual/General_mobile.png
  2025-04-28_14707123441_reg/actual/With Title_desktop.png
  2025-04-28_14707123441_reg/actual/With Title_mobile.png
  2025-04-28_14707123441_reg/diff/General_desktop.png
  2025-04-28_14707123441_reg/diff/General_mobile.png
  2025-04-28_14707123441_reg/diff/With Title_desktop.png
  2025-04-28_14707123441_reg/diff/With Title_mobile.png
  2025-04-28_14707123441_reg/expected/General_desktop.png
  2025-04-28_14707123441_reg/expected/General_mobile.png
  2025-04-28_14707123441_reg/expected/With Title_desktop.png
  2025-04-28_14707123441_reg/expected/With Title_mobile.png
Due: none

fix: Clear background color for mat-trees
  frontend/src/styles.scss
Due: none

Update reg_actions to output generated at runId:14708856641
  2025-04-28_14708856641_reg/actual/Download Preparation_desktop.png
  2025-04-28_14708856641_reg/actual/Download Preparation_mobile.png
  2025-04-28_14708856641_reg/actual/Files_desktop.png
  2025-04-28_14708856641_reg/actual/Files_mobile.png
  2025-04-28_14708856641_reg/actual/Loading Files_desktop.png
  2025-04-28_14708856641_reg/actual/Loading Files_mobile.png
  2025-04-28_14708856641_reg/actual/Upload In Progress_desktop.png
  2025-04-28_14708856641_reg/actual/Upload In Progress_mobile.png
  2025-04-28_14708856641_reg/actual/Upload New File_desktop.png
  2025-04-28_14708856641_reg/actual/Upload New File_mobile.png
  2025-04-28_14708856641_reg/actual/Upload Processed By Backend_desktop.png
  2025-04-28_14708856641_reg/actual/Upload Processed By Backend_mobile.png
  2025-04-28_14708856641_reg/diff/Download Preparation_desktop.png
  2025-04-28_14708856641_reg/diff/Download Preparation_mobile.png
  2025-04-28_14708856641_reg/diff/Files_desktop.png
  2025-04-28_14708856641_reg/diff/Files_mobile.png
  2025-04-28_14708856641_reg/diff/Loading Files_desktop.png
  2025-04-28_14708856641_reg/diff/Loading Files_mobile.png
  2025-04-28_14708856641_reg/diff/Upload In Progress_desktop.png
  2025-04-28_14708856641_reg/diff/Upload In Progress_mobile.png
  2025-04-28_14708856641_reg/diff/Upload New File_desktop.png
  2025-04-28_14708856641_reg/diff/Upload New File_mobile.png
  2025-04-28_14708856641_reg/diff/Upload Processed By Backend_desktop.png
  2025-04-28_14708856641_reg/diff/Upload Processed By Backend_mobile.png
  2025-04-28_14708856641_reg/expected/Download Preparation_desktop.png
  2025-04-28_14708856641_reg/expected/Download Preparation_mobile.png
  2025-04-28_14708856641_reg/expected/Files_desktop.png
  2025-04-28_14708856641_reg/expected/Files_mobile.png
  2025-04-28_14708856641_reg/expected/Loading Files_desktop.png
  2025-04-28_14708856641_reg/expected/Loading Files_mobile.png
  2025-04-28_14708856641_reg/expected/Upload In Progress_desktop.png
  2025-04-28_14708856641_reg/expected/Upload In Progress_mobile.png
  2025-04-28_14708856641_reg/expected/Upload New File_desktop.png
  2025-04-28_14708856641_reg/expected/Upload New File_mobile.png
  2025-04-28_14708856641_reg/expected/Upload Processed By Backend_desktop.png
  2025-04-28_14708856641_reg/expected/Upload Processed By Backend_mobile.png
Due: none

Update reg_actions to output generated at runId:14709242139
  2025-04-28_14709242139_reg/actual/All Used_desktop.png
  2025-04-28_14709242139_reg/actual/All Used_mobile.png
  2025-04-28_14709242139_reg/actual/Default_desktop.png
  2025-04-28_14709242139_reg/actual/Default_mobile.png
  2025-04-28_14709242139_reg/actual/No Instances_desktop.png
  2025-04-28_14709242139_reg/actual/No Instances_mobile.png
  2025-04-28_14709242139_reg/actual/No Repository_desktop.png
  2025-04-28_14709242139_reg/actual/No Repository_mobile.png
  2025-04-28_14709242139_reg/actual/Some Used_desktop.png
  2025-04-28_14709242139_reg/actual/Some Used_mobile.png
  2025-04-28_14709242139_reg/diff/All Used_desktop.png
  2025-04-28_14709242139_reg/diff/All Used_mobile.png
  2025-04-28_14709242139_reg/diff/Default_desktop.png
  2025-04-28_14709242139_reg/diff/Default_mobile.png
  2025-04-28_14709242139_reg/diff/No Instances_desktop.png
  2025-04-28_14709242139_reg/diff/No Instances_mobile.png
  2025-04-28_14709242139_reg/diff/No Repository_desktop.png
  2025-04-28_14709242139_reg/diff/No Repository_mobile.png
  2025-04-28_14709242139_reg/diff/Some Used_desktop.png
  2025-04-28_14709242139_reg/diff/Some Used_mobile.png
  2025-04-28_14709242139_reg/expected/All Used_desktop.png
  2025-04-28_14709242139_reg/expected/All Used_mobile.png
  2025-04-28_14709242139_reg/expected/Default_desktop.png
  2025-04-28_14709242139_reg/expected/Default_mobile.png
  2025-04-28_14709242139_reg/expected/No Instances_desktop.png
  2025-04-28_14709242139_reg/expected/No Instances_mobile.png
  2025-04-28_14709242139_reg/expected/No Repository_desktop.png
  2025-04-28_14709242139_reg/expected/No Repository_mobile.png
  2025-04-28_14709242139_reg/expected/Some Used_desktop.png
  2025-04-28_14709242139_reg/expected/Some Used_mobile.png
Due: none

Update reg_actions to output generated at runId:14709423151
  2025-04-28_14709423151_reg/actual/All Used_desktop.png
  2025-04-28_14709423151_reg/actual/All Used_mobile.png
  2025-04-28_14709423151_reg/actual/Default_desktop.png
  2025-04-28_14709423151_reg/actual/Default_mobile.png
  2025-04-28_14709423151_reg/actual/No Instances_desktop.png
  2025-04-28_14709423151_reg/actual/No Instances_mobile.png
  2025-04-28_14709423151_reg/actual/No Repository_desktop.png
  2025-04-28_14709423151_reg/actual/No Repository_mobile.png
  2025-04-28_14709423151_reg/actual/Some Used_desktop.png
  2025-04-28_14709423151_reg/actual/Some Used_mobile.png
  2025-04-28_14709423151_reg/diff/All Used_desktop.png
  2025-04-28_14709423151_reg/diff/All Used_mobile.png
  2025-04-28_14709423151_reg/diff/Default_desktop.png
  2025-04-28_14709423151_reg/diff/Default_mobile.png
  2025-04-28_14709423151_reg/diff/No Instances_desktop.png
  2025-04-28_14709423151_reg/diff/No Instances_mobile.png
  2025-04-28_14709423151_reg/diff/No Repository_desktop.png
  2025-04-28_14709423151_reg/diff/No Repository_mobile.png
  2025-04-28_14709423151_reg/diff/Some Used_desktop.png
  2025-04-28_14709423151_reg/diff/Some Used_mobile.png
  2025-04-28_14709423151_reg/expected/All Used_desktop.png
  2025-04-28_14709423151_reg/expected/All Used_mobile.png
  2025-04-28_14709423151_reg/expected/Default_desktop.png
  2025-04-28_14709423151_reg/expected/Default_mobile.png
  2025-04-28_14709423151_reg/expected/No Instances_desktop.png
  2025-04-28_14709423151_reg/expected/No Instances_mobile.png
  2025-04-28_14709423151_reg/expected/No Repository_desktop.png
  2025-04-28_14709423151_reg/expected/No Repository_mobile.png
  2025-04-28_14709423151_reg/expected/Some Used_desktop.png
  2025-04-28_14709423151_reg/expected/Some Used_mobile.png
Due: none

refactor(frontend): Remove unused styles
  frontend/src/app/events/events.component.html
  frontend/src/app/events/events.stories.ts
  frontend/src/app/general/metadata/version/version.component.html
  frontend/src/app/helpers/skeleton-loaders/mat-checkbox-loader/mat-checkbox-loader.component.css
  frontend/src/app/helpers/skeleton-loaders/mat-checkbox-loader/mat-checkbox-loader.component.html
  frontend/src/app/helpers/skeleton-loaders/mat-checkbox-loader/mat-checkbox-loader.component.ts
  frontend/src/app/projects/create-project/create-project.component.html
  frontend/src/app/projects/models/backup-settings/job-run-overview/job-run-overview.component.css
  frontend/src/app/projects/models/backup-settings/job-run-overview/job-run-overview.component.html
  frontend/src/app/projects/models/backup-settings/job-run-overview/job-run-overview.component.ts
  frontend/src/app/projects/models/backup-settings/job-run-overview/job-run-overview.stories.ts
  frontend/src/app/projects/models/choose-init/choose-init.component.css
  frontend/src/app/projects/models/choose-init/choose-init.component.html
  frontend/src/app/projects/models/choose-init/choose-init.component.ts
  frontend/src/app/projects/models/create-model/create-model.component.html
  frontend/src/app/projects/models/init-model/init-model.component.html
  frontend/src/app/projects/models/model-description/model-description.component.html
  frontend/src/app/projects/models/model-restrictions/model-restrictions.component.html
  frontend/src/app/projects/models/model-restrictions/model-restrictions.component.ts
  frontend/src/app/projects/models/model-restrictions/model-restrictions.stories.ts
  frontend/src/app/projects/models/model-source/git/manage-git-model/manage-git-model.component.html
  frontend/src/app/projects/models/model-source/t4c/create-t4c-model-new-repository/create-t4c-model-new-repository.component.html
  frontend/src/app/projects/models/model-source/t4c/manage-t4c-model/manage-t4c-model.component.html
  frontend/src/app/projects/project-detail/edit-project-metadata/edit-project-metadata.component.html
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-provisioned-session/create-provisioned-session.component.html
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-readonly-session/create-readonly-model-options/create-readonly-model-options.component.css
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-readonly-session/create-readonly-model-options/create-readonly-model-options.component.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-readonly-session/create-readonly-session.component.html
  frontend/src/app/settings/integrations/pure-variants/pure-variants.component.html
  frontend/src/styles.scss
Due: tsc, prettier

feat: Increase padding of "No active sessions" card
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/active-sessions.component.html
Due: prettier

Update reg_actions to output generated at runId:14710889747
  2025-04-28_14710889747_reg/actual/No Active Stories_desktop.png
  2025-04-28_14710889747_reg/actual/No Active Stories_mobile.png
  2025-04-28_14710889747_reg/diff/No Active Stories_desktop.png
  2025-04-28_14710889747_reg/diff/No Active Stories_mobile.png
  2025-04-28_14710889747_reg/expected/No Active Stories_desktop.png
  2025-04-28_14710889747_reg/expected/No Active Stories_mobile.png
Due: none

Update reg_actions to output generated at runId:14711565104
  2025-04-28_14711565104_reg/actual/Combined_mobile.png
  2025-04-28_14711565104_reg/actual/Loading Without Scroll_mobile.png
  2025-04-28_14711565104_reg/actual/Loading_desktop.png
  2025-04-28_14711565104_reg/actual/Loading_mobile.png
  2025-04-28_14711565104_reg/diff/Combined_mobile.png
  2025-04-28_14711565104_reg/diff/Loading Without Scroll_mobile.png
  2025-04-28_14711565104_reg/diff/Loading_desktop.png
  2025-04-28_14711565104_reg/diff/Loading_mobile.png
  2025-04-28_14711565104_reg/expected/Combined_mobile.png
  2025-04-28_14711565104_reg/expected/Loading Without Scroll_mobile.png
  2025-04-28_14711565104_reg/expected/Loading_desktop.png
  2025-04-28_14711565104_reg/expected/Loading_mobile.png
Due: none

fix: Close diagram cache on mobile
  frontend/src/app/projects/models/diagrams/model-diagram-dialog/model-diagram-dialog.component.html
Due: prettier

Path conditions:
  tsc: any of: \.(ts|mts|cts)$
  prettier: any of: \.(ts|mts|cts)$, \.css$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$, but not: ^frontend/src/app/openapi
