Repository DSD-DBS/capella-collab-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier

Path conditions:
  pylint: any of: ^backend/capellacollab and \.py$ and not (^backend/capellacollab/alembic/)
  prettier: any of: \.(ts|mts|cts)$, \.css$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$, but not: ^frontend/src/app/openapi

feat!: Issue JWT for session pre-authentication
  .pre-commit-config.yaml
  Makefile
  backend/Makefile
  backend/capellacollab/__main__.py
  backend/capellacollab/alembic/versions/7683b08b00ba_add_environment_and_connection_info_to_.py
  backend/capellacollab/cli/__main__.py
  backend/capellacollab/cli/keys.py
  backend/capellacollab/core/__init__.py
  backend/capellacollab/core/database/migration.py
  backend/capellacollab/sessions/auth.py
  backend/capellacollab/sessions/hooks/__init__.py
  backend/capellacollab/sessions/hooks/authentication.py
  backend/capellacollab/sessions/hooks/http.py
  backend/capellacollab/sessions/injection.py
  backend/capellacollab/sessions/routes.py
  backend/pyproject.toml
  backend/tests/cli/test_cli.py
  backend/tests/cli/test_keys.py
  backend/tests/sessions/hooks/test_http_hook.py
  backend/tests/sessions/hooks/test_pre_authentiation_hook.py
  backend/tests/sessions/test_session_auth.py
  backend/tests/sessions/test_session_injection.py
  backend/tests/sessions/test_session_routes.py
  backend/tests/sessions/test_session_sharing.py
  docs/docs/development/index.md
  helm/templates/backend/backend-data.volume.yaml
  helm/templates/backend/backend.deployment.yaml
Due: pylint, prettier

fix(helm): Get storage information for backend-data from same source
  .github/workflows/push.yml
  helm/templates/backend/backend-data.volume.yaml
  helm/templates/backend/backend-promtail.volume.yaml
Due: none

docs: Fix link to DB InfraGO website
  README.md
Due: prettier

feat(grafana): Always use 7d range for user happiness index chart
  helm/config/grafana/dashboards/feedback.json
Due: none

chore: Enable pylint in tests folder
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  backend/capellacollab/core/database/decorator.py
  backend/capellacollab/core/database/migration.py
  backend/capellacollab/sessions/crud.py
  backend/generate_git_archival.py
  backend/pyproject.toml
  backend/tests/cli/test_workspace_backup.py
  backend/tests/conftest.py
  backend/tests/core/test_auth_routes.py
  backend/tests/projects/test_projects_users_routes.py
  backend/tests/projects/toolmodels/conftest.py
  backend/tests/projects/toolmodels/pipelines/pipeline-runs/test_pipeline_runs.py
  backend/tests/projects/toolmodels/pipelines/test_pipelines.py
  backend/tests/projects/toolmodels/test_jupyter_fileshare.py
  backend/tests/projects/toolmodels/test_model_badge.py
  backend/tests/projects/users/fixtures.py
  backend/tests/sessions/hooks/test_http_hook.py
  backend/tests/sessions/hooks/test_jupyter_hook.py
  backend/tests/sessions/hooks/test_networking_hook.py
  backend/tests/sessions/hooks/test_persistent_workspace.py
  backend/tests/sessions/hooks/test_provisioning_hook.py
  backend/tests/sessions/k8s_operator/test_session_k8s_download.py
  backend/tests/sessions/k8s_operator/test_session_k8s_operator.py
  backend/tests/sessions/test_session_environment.py
  backend/tests/sessions/test_session_hooks.py
  backend/tests/sessions/test_session_injection.py
  backend/tests/sessions/test_session_routes.py
  backend/tests/settings/test_alerts.py
  backend/tests/settings/test_git_instances.py
  backend/tests/settings/test_global_configuration.py
  backend/tests/test_metrics.py
  backend/tests/tools/fixtures.py
  backend/tests/tools/versions/fixtures.py
  backend/tests/users/fixtures.py
  backend/tests/users/test_tokens.py
Due: pylint

Update reg_actions to output generated at runId:11578154812
  2024-10-29_11578154812_reg/actual/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-29_11578154812_reg/actual/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-29_11578154812_reg/actual/Project Components_Project Details_Loading_desktop.png
  2024-10-29_11578154812_reg/actual/Project Components_Project Details_Loading_mobile.png
  2024-10-29_11578154812_reg/diff/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-29_11578154812_reg/diff/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-29_11578154812_reg/diff/Project Components_Project Details_Loading_desktop.png
  2024-10-29_11578154812_reg/diff/Project Components_Project Details_Loading_mobile.png
  2024-10-29_11578154812_reg/expected/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-29_11578154812_reg/expected/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-29_11578154812_reg/expected/Project Components_Project Details_Loading_desktop.png
  2024-10-29_11578154812_reg/expected/Project Components_Project Details_Loading_mobile.png
Due: none

Update reg_actions to output generated at runId:11580047053
  2024-10-29_11580047053_reg/actual/General Components_Header_Administrator_desktop.png
  2024-10-29_11580047053_reg/actual/General Components_Header_Normal User_desktop.png
  2024-10-29_11580047053_reg/actual/General Components_Logo_Base Logo_desktop.png
  2024-10-29_11580047053_reg/actual/General Components_Logo_Base Logo_mobile.png
  2024-10-29_11580047053_reg/actual/General Components_Logo_Base With Staging_desktop.png
  2024-10-29_11580047053_reg/actual/General Components_Logo_Base With Staging_mobile.png
  2024-10-29_11580047053_reg/actual/General Components_Logo_Narrow Logo_desktop.png
  2024-10-29_11580047053_reg/actual/General Components_Logo_Narrow Logo_mobile.png
  2024-10-29_11580047053_reg/actual/General Components_Logo_Wide Logo_desktop.png
  2024-10-29_11580047053_reg/actual/General Components_Logo_Wide Logo_mobile.png
  2024-10-29_11580047053_reg/diff/General Components_Header_Administrator_desktop.png
  2024-10-29_11580047053_reg/diff/General Components_Header_Normal User_desktop.png
  2024-10-29_11580047053_reg/expected/General Components_Header_Administrator_desktop.png
  2024-10-29_11580047053_reg/expected/General Components_Header_Normal User_desktop.png
Due: none

Update reg_actions to output generated at runId:11582394336
  2024-10-29_11582394336_reg/actual/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-29_11582394336_reg/actual/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-29_11582394336_reg/actual/Project Components_Project Details_Loading_desktop.png
  2024-10-29_11582394336_reg/actual/Project Components_Project Details_Loading_mobile.png
  2024-10-29_11582394336_reg/diff/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-29_11582394336_reg/diff/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-29_11582394336_reg/diff/Project Components_Project Details_Loading_desktop.png
  2024-10-29_11582394336_reg/diff/Project Components_Project Details_Loading_mobile.png
  2024-10-29_11582394336_reg/expected/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-29_11582394336_reg/expected/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-29_11582394336_reg/expected/Project Components_Project Details_Loading_desktop.png
  2024-10-29_11582394336_reg/expected/Project Components_Project Details_Loading_mobile.png
Due: none

Update reg_actions to output generated at runId:11596993923
  2024-10-30_11596993923_reg/actual/Project Components_Project Overview_Loading_desktop.png
  2024-10-30_11596993923_reg/actual/Project Components_Project Overview_Loading_mobile.png
  2024-10-30_11596993923_reg/actual/Project Components_Project Overview_Overview_desktop.png
  2024-10-30_11596993923_reg/actual/Project Components_Project Overview_Overview_mobile.png
  2024-10-30_11596993923_reg/diff/Project Components_Project Overview_Loading_desktop.png
  2024-10-30_11596993923_reg/diff/Project Components_Project Overview_Loading_mobile.png
  2024-10-30_11596993923_reg/diff/Project Components_Project Overview_Overview_desktop.png
  2024-10-30_11596993923_reg/diff/Project Components_Project Overview_Overview_mobile.png
  2024-10-30_11596993923_reg/expected/Project Components_Project Overview_Loading_desktop.png
  2024-10-30_11596993923_reg/expected/Project Components_Project Overview_Loading_mobile.png
  2024-10-30_11596993923_reg/expected/Project Components_Project Overview_Overview_desktop.png
  2024-10-30_11596993923_reg/expected/Project Components_Project Overview_Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:11607755565
  2024-10-31_11607755565_reg/actual/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-31_11607755565_reg/actual/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-31_11607755565_reg/actual/Project Components_Project Details_Loading_desktop.png
  2024-10-31_11607755565_reg/actual/Project Components_Project Details_Loading_mobile.png
  2024-10-31_11607755565_reg/actual/Project Components_Project Overview_Overview_desktop.png
  2024-10-31_11607755565_reg/actual/Project Components_Project Overview_Overview_mobile.png
  2024-10-31_11607755565_reg/diff/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-31_11607755565_reg/diff/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-31_11607755565_reg/diff/Project Components_Project Details_Loading_desktop.png
  2024-10-31_11607755565_reg/diff/Project Components_Project Details_Loading_mobile.png
  2024-10-31_11607755565_reg/diff/Project Components_Project Overview_Overview_desktop.png
  2024-10-31_11607755565_reg/diff/Project Components_Project Overview_Overview_mobile.png
  2024-10-31_11607755565_reg/expected/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-31_11607755565_reg/expected/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-31_11607755565_reg/expected/Project Components_Project Details_Loading_desktop.png
  2024-10-31_11607755565_reg/expected/Project Components_Project Details_Loading_mobile.png
  2024-10-31_11607755565_reg/expected/Project Components_Project Overview_Overview_desktop.png
  2024-10-31_11607755565_reg/expected/Project Components_Project Overview_Overview_mobile.png
Due: none

feat: Add the ability to filter trainings in project view
  frontend/src/app/projects/project-overview/project-overview.component.html
  frontend/src/app/projects/project-overview/project-overview.component.ts
Due: prettier

Update reg_actions to output generated at runId:11607936057
  2024-10-31_11607936057_reg/actual/Project Components_Project Overview_Loading_desktop.png
  2024-10-31_11607936057_reg/actual/Project Components_Project Overview_Loading_mobile.png
  2024-10-31_11607936057_reg/actual/Project Components_Project Overview_Overview_desktop.png
  2024-10-31_11607936057_reg/actual/Project Components_Project Overview_Overview_mobile.png
  2024-10-31_11607936057_reg/diff/Project Components_Project Overview_Loading_desktop.png
  2024-10-31_11607936057_reg/diff/Project Components_Project Overview_Loading_mobile.png
  2024-10-31_11607936057_reg/diff/Project Components_Project Overview_Overview_desktop.png
  2024-10-31_11607936057_reg/diff/Project Components_Project Overview_Overview_mobile.png
  2024-10-31_11607936057_reg/expected/Project Components_Project Overview_Loading_desktop.png
  2024-10-31_11607936057_reg/expected/Project Components_Project Overview_Loading_mobile.png
  2024-10-31_11607936057_reg/expected/Project Components_Project Overview_Overview_desktop.png
  2024-10-31_11607936057_reg/expected/Project Components_Project Overview_Overview_mobile.png
Due: none

fix: Add correct default for redirect_url when adding a new tool
  backend/capellacollab/tools/models.py
Due: pylint

Update reg_actions to output generated at runId:11608460930
  2024-10-31_11608460930_reg/actual/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-31_11608460930_reg/actual/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-31_11608460930_reg/actual/Project Components_Project Details_Loading_desktop.png
  2024-10-31_11608460930_reg/actual/Project Components_Project Details_Loading_mobile.png
  2024-10-31_11608460930_reg/actual/Project Components_Project Overview_Overview_desktop.png
  2024-10-31_11608460930_reg/actual/Project Components_Project Overview_Overview_mobile.png
  2024-10-31_11608460930_reg/diff/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-31_11608460930_reg/diff/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-31_11608460930_reg/diff/Project Components_Project Details_Loading_desktop.png
  2024-10-31_11608460930_reg/diff/Project Components_Project Details_Loading_mobile.png
  2024-10-31_11608460930_reg/diff/Project Components_Project Overview_Overview_desktop.png
  2024-10-31_11608460930_reg/diff/Project Components_Project Overview_Overview_mobile.png
  2024-10-31_11608460930_reg/expected/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-10-31_11608460930_reg/expected/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-10-31_11608460930_reg/expected/Project Components_Project Details_Loading_desktop.png
  2024-10-31_11608460930_reg/expected/Project Components_Project Details_Loading_mobile.png
  2024-10-31_11608460930_reg/expected/Project Components_Project Overview_Overview_desktop.png
  2024-10-31_11608460930_reg/expected/Project Components_Project Overview_Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:11608785051
  2024-10-31_11608785051_reg/actual/Project Components_Project Overview_Loading_desktop.png
  2024-10-31_11608785051_reg/actual/Project Components_Project Overview_Loading_mobile.png
  2024-10-31_11608785051_reg/actual/Project Components_Project Overview_Overview_desktop.png
  2024-10-31_11608785051_reg/actual/Project Components_Project Overview_Overview_mobile.png
  2024-10-31_11608785051_reg/diff/Project Components_Project Overview_Loading_desktop.png
  2024-10-31_11608785051_reg/diff/Project Components_Project Overview_Loading_mobile.png
  2024-10-31_11608785051_reg/diff/Project Components_Project Overview_Overview_desktop.png
  2024-10-31_11608785051_reg/diff/Project Components_Project Overview_Overview_mobile.png
  2024-10-31_11608785051_reg/expected/Project Components_Project Overview_Loading_desktop.png
  2024-10-31_11608785051_reg/expected/Project Components_Project Overview_Loading_mobile.png
  2024-10-31_11608785051_reg/expected/Project Components_Project Overview_Overview_desktop.png
  2024-10-31_11608785051_reg/expected/Project Components_Project Overview_Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:11626491872
  2024-11-01_11626491872_reg/actual/Model Components_Model Overview_Overview_desktop.png
  2024-11-01_11626491872_reg/diff/Model Components_Model Overview_Overview_desktop.png
  2024-11-01_11626491872_reg/expected/Model Components_Model Overview_Overview_desktop.png
Due: none

Update reg_actions to output generated at runId:11626864884
  2024-11-01_11626864884_reg/actual/Project Components_Project Overview_Loading_desktop.png
  2024-11-01_11626864884_reg/actual/Project Components_Project Overview_Loading_mobile.png
  2024-11-01_11626864884_reg/actual/Project Components_Project Overview_Overview_desktop.png
  2024-11-01_11626864884_reg/actual/Project Components_Project Overview_Overview_mobile.png
  2024-11-01_11626864884_reg/diff/Project Components_Project Overview_Loading_desktop.png
  2024-11-01_11626864884_reg/diff/Project Components_Project Overview_Loading_mobile.png
  2024-11-01_11626864884_reg/diff/Project Components_Project Overview_Overview_desktop.png
  2024-11-01_11626864884_reg/diff/Project Components_Project Overview_Overview_mobile.png
  2024-11-01_11626864884_reg/expected/Project Components_Project Overview_Loading_desktop.png
  2024-11-01_11626864884_reg/expected/Project Components_Project Overview_Loading_mobile.png
  2024-11-01_11626864884_reg/expected/Project Components_Project Overview_Overview_desktop.png
  2024-11-01_11626864884_reg/expected/Project Components_Project Overview_Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:11628592941
  2024-11-01_11628592941_reg/actual/Model Components_Model Overview_Overview_desktop.png
  2024-11-01_11628592941_reg/diff/Model Components_Model Overview_Overview_desktop.png
  2024-11-01_11628592941_reg/expected/Model Components_Model Overview_Overview_desktop.png
Due: none

build: Bump frontend versions
  .github/workflows/storybook-publish.yml
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
Due: none

Update reg_actions to output generated at runId:11628682926
  2024-11-01_11628682926_reg/actual/Model Components_Model Overview_Overview_desktop.png
  2024-11-01_11628682926_reg/diff/Model Components_Model Overview_Overview_desktop.png
  2024-11-01_11628682926_reg/expected/Model Components_Model Overview_Overview_desktop.png
Due: none

feat: Customize schedule and tz of nightly pipelines via global config
  .pre-commit-config.yaml
  backend/capellacollab/projects/toolmodels/backups/routes.py
  backend/capellacollab/sessions/operators/k8s.py
  backend/capellacollab/settings/configuration/models.py
  backend/pyproject.toml
  backend/tests/settings/test_global_configuration.py
  frontend/src/app/openapi/.openapi-generator/FILES
  frontend/src/app/openapi/model/global-configuration-input.ts
  frontend/src/app/openapi/model/global-configuration-output.ts
  frontend/src/app/openapi/model/models.ts
  frontend/src/app/openapi/model/pipeline-configuration-input.ts
  frontend/src/app/openapi/model/pipeline-configuration-output.ts
Due: pylint

Update reg_actions to output generated at runId:11629827665
  2024-11-01_11629827665_reg/actual/Model Components_Model Overview_Overview_desktop.png
  2024-11-01_11629827665_reg/diff/Model Components_Model Overview_Overview_desktop.png
  2024-11-01_11629827665_reg/expected/Model Components_Model Overview_Overview_desktop.png
Due: none

Update reg_actions to output generated at runId:11629975678
  2024-11-01_11629975678_reg/actual/Model Components_Model Overview_Overview_desktop.png
  2024-11-01_11629975678_reg/diff/Model Components_Model Overview_Overview_desktop.png
  2024-11-01_11629975678_reg/expected/Model Components_Model Overview_Overview_desktop.png
Due: none

feat: Add the ability to filter project privacy in project view
  frontend/src/app/projects/project-overview/project-overview.component.html
  frontend/src/app/projects/project-overview/project-overview.component.ts
Due: prettier

Update reg_actions to output generated at runId:11630400597
  2024-11-01_11630400597_reg/actual/Project Components_Project Overview_Loading_desktop.png
  2024-11-01_11630400597_reg/actual/Project Components_Project Overview_Loading_mobile.png
  2024-11-01_11630400597_reg/actual/Project Components_Project Overview_Overview_desktop.png
  2024-11-01_11630400597_reg/actual/Project Components_Project Overview_Overview_mobile.png
  2024-11-01_11630400597_reg/diff/Project Components_Project Overview_Loading_desktop.png
  2024-11-01_11630400597_reg/diff/Project Components_Project Overview_Loading_mobile.png
  2024-11-01_11630400597_reg/diff/Project Components_Project Overview_Overview_desktop.png
  2024-11-01_11630400597_reg/diff/Project Components_Project Overview_Overview_mobile.png
  2024-11-01_11630400597_reg/expected/Project Components_Project Overview_Loading_desktop.png
  2024-11-01_11630400597_reg/expected/Project Components_Project Overview_Loading_mobile.png
  2024-11-01_11630400597_reg/expected/Project Components_Project Overview_Overview_desktop.png
  2024-11-01_11630400597_reg/expected/Project Components_Project Overview_Overview_mobile.png
Due: none

feat: Allow setting support project types for tools
  backend/capellacollab/projects/models.py
  backend/capellacollab/projects/toolmodels/exceptions.py
  backend/capellacollab/projects/toolmodels/routes.py
  backend/capellacollab/tools/models.py
  backend/tests/projects/fixtures.py
  backend/tests/projects/toolmodels/test_toolmodel_routes.py
  backend/tests/tools/test_tools_routes.py
  frontend/src/app/openapi/model/tool-session-configuration-input.ts
  frontend/src/app/openapi/model/tool-session-configuration-output.ts
  frontend/src/app/projects/models/create-model-base/create-model-base.component.html
  frontend/src/app/projects/models/create-model-base/create-model-base.component.ts
  frontend/src/storybook/tool.ts
Due: pylint, prettier

fix: Allow longer feedback and warn users if their feedback is too long
  backend/capellacollab/feedback/models.py
  frontend/src/app/sessions/feedback/feedback-dialog/feedback-dialog.component.html
  frontend/src/app/sessions/feedback/feedback-dialog/feedback-dialog.component.ts
Due: pylint, prettier

Update reg_actions to output generated at runId:11660361657
  2024-11-04_11660361657_reg/actual/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-11-04_11660361657_reg/actual/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-11-04_11660361657_reg/actual/Project Components_Project Details_Loading_desktop.png
  2024-11-04_11660361657_reg/actual/Project Components_Project Details_Loading_mobile.png
  2024-11-04_11660361657_reg/actual/Project Components_Project Overview_Overview_desktop.png
  2024-11-04_11660361657_reg/actual/Project Components_Project Overview_Overview_mobile.png
  2024-11-04_11660361657_reg/diff/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-11-04_11660361657_reg/diff/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-11-04_11660361657_reg/diff/Project Components_Project Details_Loading_desktop.png
  2024-11-04_11660361657_reg/diff/Project Components_Project Details_Loading_mobile.png
  2024-11-04_11660361657_reg/diff/Project Components_Project Overview_Overview_desktop.png
  2024-11-04_11660361657_reg/diff/Project Components_Project Overview_Overview_mobile.png
  2024-11-04_11660361657_reg/expected/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-11-04_11660361657_reg/expected/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-11-04_11660361657_reg/expected/Project Components_Project Details_Loading_desktop.png
  2024-11-04_11660361657_reg/expected/Project Components_Project Details_Loading_mobile.png
  2024-11-04_11660361657_reg/expected/Project Components_Project Overview_Overview_desktop.png
  2024-11-04_11660361657_reg/expected/Project Components_Project Overview_Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:11680798432
  2024-11-05_11680798432_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Into Beta_desktop.png
  2024-11-05_11680798432_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Into Beta_mobile.png
  2024-11-05_11680798432_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Out Of Beta_desktop.png
  2024-11-05_11680798432_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Out Of Beta_mobile.png
Due: none

Update reg_actions to output generated at runId:11683084857
  2024-11-05_11683084857_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Into Beta_desktop.png
  2024-11-05_11683084857_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Into Beta_mobile.png
  2024-11-05_11683084857_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Out Of Beta_desktop.png
  2024-11-05_11683084857_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Out Of Beta_mobile.png
Due: none

Update reg_actions to output generated at runId:11688438256
  2024-11-05_11688438256_reg/actual/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-11-05_11688438256_reg/actual/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-11-05_11688438256_reg/actual/Project Components_Project Details_Loading_desktop.png
  2024-11-05_11688438256_reg/actual/Project Components_Project Details_Loading_mobile.png
  2024-11-05_11688438256_reg/actual/Project Components_Project Overview_Loading_desktop.png
  2024-11-05_11688438256_reg/actual/Project Components_Project Overview_Loading_mobile.png
  2024-11-05_11688438256_reg/actual/Project Components_Project Overview_Overview_desktop.png
  2024-11-05_11688438256_reg/actual/Project Components_Project Overview_Overview_mobile.png
  2024-11-05_11688438256_reg/diff/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-11-05_11688438256_reg/diff/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-11-05_11688438256_reg/diff/Project Components_Project Details_Loading_desktop.png
  2024-11-05_11688438256_reg/diff/Project Components_Project Details_Loading_mobile.png
  2024-11-05_11688438256_reg/diff/Project Components_Project Overview_Loading_desktop.png
  2024-11-05_11688438256_reg/diff/Project Components_Project Overview_Loading_mobile.png
  2024-11-05_11688438256_reg/diff/Project Components_Project Overview_Overview_desktop.png
  2024-11-05_11688438256_reg/diff/Project Components_Project Overview_Overview_mobile.png
  2024-11-05_11688438256_reg/expected/Project Components_Project Details_Loading As Project Lead_desktop.png
  2024-11-05_11688438256_reg/expected/Project Components_Project Details_Loading As Project Lead_mobile.png
  2024-11-05_11688438256_reg/expected/Project Components_Project Details_Loading_desktop.png
  2024-11-05_11688438256_reg/expected/Project Components_Project Details_Loading_mobile.png
  2024-11-05_11688438256_reg/expected/Project Components_Project Overview_Loading_desktop.png
  2024-11-05_11688438256_reg/expected/Project Components_Project Overview_Loading_mobile.png
  2024-11-05_11688438256_reg/expected/Project Components_Project Overview_Overview_desktop.png
  2024-11-05_11688438256_reg/expected/Project Components_Project Overview_Overview_mobile.png
Due: none

docs: Remove references to nightly run at 3am UTC
  README.md
  docs/docs/admin/installation.md
  docs/docs/admin/teamforcapella/migration.md
  docs/docs/user/projects/models/backups/remove.md
  docs/docs/user/projects/models/backups/setup.md
  docs/docs/user/tools/capella/t4c-git-compare.md
  frontend/src/app/projects/models/backup-settings/create-backup/create-backup.component.html
  frontend/src/app/projects/models/backup-settings/job-run-overview/job-run-overview.component.html
  frontend/src/app/projects/models/backup-settings/trigger-pipeline/trigger-pipeline.component.html
Due: prettier

Update reg_actions to output generated at runId:11704943165
  2024-11-06_11704943165_reg/actual/Pipeline Components_Create Backup_Request Sent_desktop.png
  2024-11-06_11704943165_reg/actual/Pipeline Components_Create Backup_Request Sent_mobile.png
  2024-11-06_11704943165_reg/actual/Pipeline Components_Create Backup_With Linked Models_desktop.png
  2024-11-06_11704943165_reg/actual/Pipeline Components_Create Backup_With Linked Models_mobile.png
  2024-11-06_11704943165_reg/actual/Pipeline Components_Trigger Pipeline_Pipeline Overview_desktop.png
  2024-11-06_11704943165_reg/actual/Pipeline Components_Trigger Pipeline_Pipeline Overview_mobile.png
  2024-11-06_11704943165_reg/diff/Pipeline Components_Create Backup_Request Sent_desktop.png
  2024-11-06_11704943165_reg/diff/Pipeline Components_Create Backup_Request Sent_mobile.png
  2024-11-06_11704943165_reg/diff/Pipeline Components_Create Backup_With Linked Models_desktop.png
  2024-11-06_11704943165_reg/diff/Pipeline Components_Create Backup_With Linked Models_mobile.png
  2024-11-06_11704943165_reg/diff/Pipeline Components_Trigger Pipeline_Pipeline Overview_desktop.png
  2024-11-06_11704943165_reg/diff/Pipeline Components_Trigger Pipeline_Pipeline Overview_mobile.png
  2024-11-06_11704943165_reg/expected/Pipeline Components_Create Backup_Request Sent_desktop.png
  2024-11-06_11704943165_reg/expected/Pipeline Components_Create Backup_Request Sent_mobile.png
  2024-11-06_11704943165_reg/expected/Pipeline Components_Create Backup_With Linked Models_desktop.png
  2024-11-06_11704943165_reg/expected/Pipeline Components_Create Backup_With Linked Models_mobile.png
  2024-11-06_11704943165_reg/expected/Pipeline Components_Trigger Pipeline_Pipeline Overview_desktop.png
  2024-11-06_11704943165_reg/expected/Pipeline Components_Trigger Pipeline_Pipeline Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:11705288315
  2024-11-06_11705288315_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Into Beta_desktop.png
  2024-11-06_11705288315_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Into Beta_mobile.png
  2024-11-06_11705288315_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Out Of Beta_desktop.png
  2024-11-06_11705288315_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Out Of Beta_mobile.png
Due: none

Update reg_actions to output generated at runId:11705523839
  2024-11-06_11705523839_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Into Beta_desktop.png
  2024-11-06_11705523839_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Into Beta_mobile.png
  2024-11-06_11705523839_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Out Of Beta_desktop.png
  2024-11-06_11705523839_reg/actual/Settings Components_Users Profile_Beta Testing_Opt Out Of Beta_mobile.png
Due: none
