Repository DSD-DBS/capella-collab-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=./backend/pyproject.toml
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - prettier-plugin-tailwindcss@^0.6.8
  - '@trivago/prettier-plugin-sort-imports@^4.3.0'
  - tailwindcss@^3.4.12

test: Add some more tests to increase coverage
  backend/tests/settings/test_alerts.py
  backend/tests/users/test_users.py
Due: none

feat: Remove floating window manager option
  frontend/src/app/sessions/session/session-viewer.component.ts
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/active-sessions.component.html
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/active-sessions.component.ts
Due: prettier

Update reg_actions to output generated at runId:11910567536
  2024-11-19_11910567536_reg/actual/General Components_Header_Administrator_desktop.png
  2024-11-19_11910567536_reg/actual/General Components_Header_Normal User_desktop.png
  2024-11-19_11910567536_reg/actual/General Components_Logo_Base Logo_desktop.png
  2024-11-19_11910567536_reg/actual/General Components_Logo_Base Logo_mobile.png
  2024-11-19_11910567536_reg/actual/General Components_Logo_Base With Staging_desktop.png
  2024-11-19_11910567536_reg/actual/General Components_Logo_Base With Staging_mobile.png
  2024-11-19_11910567536_reg/actual/General Components_Logo_Narrow Logo_desktop.png
  2024-11-19_11910567536_reg/actual/General Components_Logo_Narrow Logo_mobile.png
  2024-11-19_11910567536_reg/actual/General Components_Logo_Wide Logo_desktop.png
  2024-11-19_11910567536_reg/actual/General Components_Logo_Wide Logo_mobile.png
  2024-11-19_11910567536_reg/diff/General Components_Header_Administrator_desktop.png
  2024-11-19_11910567536_reg/diff/General Components_Header_Normal User_desktop.png
  2024-11-19_11910567536_reg/expected/General Components_Header_Administrator_desktop.png
  2024-11-19_11910567536_reg/expected/General Components_Header_Normal User_desktop.png
Due: none

feat: Add IFE model as default model
  backend/capellacollab/core/database/migration.py
  backend/tests/projects/test_projects_routes.py
Due: pylint

feat: Redesign the sessions view and rework idletime
  backend/capellacollab/config/models.py
  backend/capellacollab/sessions/injection.py
  backend/capellacollab/sessions/models.py
  backend/capellacollab/sessions/models2.py
  backend/tests/sessions/fixtures.py
  backend/tests/sessions/test_session_injection.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/general/relative-time/relative-time.component.html
  frontend/src/app/general/relative-time/relative-time.component.ts
  frontend/src/app/openapi/.openapi-generator/FILES
  frontend/src/app/openapi/model/idle-state.ts
  frontend/src/app/openapi/model/models.ts
  frontend/src/app/openapi/model/session.ts
  frontend/src/app/sessions/session-overview/session-overview.component.html
  frontend/src/app/sessions/session-overview/session-overview.component.ts
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/active-sessions.component.html
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/active-sessions.component.ts
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/active-sessions.stories.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-session-history/create-session-history.component.html
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-session-history/create-session-history.component.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-session-history/create-session-history.stories.ts
  frontend/src/storybook/session.ts
  helm/config/backend.yaml
Due: pylint, prettier

fix: Show session state in session viewer again
  Makefile
  backend/Makefile
  frontend/src/app/sessions/service/session.service.ts
  frontend/src/app/sessions/session/session-viewer.service.ts
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/active-sessions.component.html
Due: prettier

Update reg_actions to output generated at runId:11911401351
  2024-11-19_11911401351_reg/actual/Session Components_Session Viewer_One Session Tiling Pending_desktop.png
  2024-11-19_11911401351_reg/actual/Session Components_Session Viewer_One Session Tiling Pending_mobile.png
  2024-11-19_11911401351_reg/diff/Session Components_Session Viewer_One Session Tiling Pending_desktop.png
  2024-11-19_11911401351_reg/diff/Session Components_Session Viewer_One Session Tiling Pending_mobile.png
  2024-11-19_11911401351_reg/expected/Session Components_Session Viewer_One Session Tiling Pending_desktop.png
  2024-11-19_11911401351_reg/expected/Session Components_Session Viewer_One Session Tiling Pending_mobile.png
Due: none

ci: Use Node 22 for Storybook diffing
  .github/workflows/storybook-diff.yml
Due: none

build: Update Angular build container to node 22
  frontend/Dockerfile
Due: none

fix: Enable view encapsulation for notice component
  frontend/src/app/general/notice/notice.component.ts
Due: prettier

fix: Convert Prometheus floating point numbers correctly to int
  backend/capellacollab/sessions/injection.py
Due: pylint

test: Update idle status test to return float
  backend/tests/sessions/test_session_injection.py
Due: none

feat: Add the ability to override resources on a per-user basis
  backend/capellacollab/alembic/versions/4d42177579a2_add_resource_override.py
  backend/capellacollab/core/database/migration.py
  backend/capellacollab/projects/toolmodels/backups/routes.py
  backend/capellacollab/projects/toolmodels/backups/runs/interface.py
  backend/capellacollab/sessions/operators/k8s.py
  backend/capellacollab/tools/crud.py
  backend/capellacollab/tools/models.py
  backend/capellacollab/users/crud.py
  backend/tests/sessions/k8s_operator/test_session_k8s_operator.py
  backend/tests/tools/test_tools_resources.py
  backend/tests/tools/test_tools_routes.py
  docs/docs/admin/tools/configuration.md
  frontend/src/app/openapi/.openapi-generator/FILES
  frontend/src/app/openapi/model/additional-resource-profile-input.ts
  frontend/src/app/openapi/model/additional-resource-profile-output.ts
  frontend/src/app/openapi/model/default-resource-profile-input.ts
  frontend/src/app/openapi/model/default-resource-profile-output.ts
  frontend/src/app/openapi/model/models.ts
  frontend/src/app/openapi/model/resources-input.ts
  frontend/src/app/openapi/model/resources-output.ts
  frontend/src/storybook/tool.ts
Due: pylint, prettier

feat: Move terminate button to end of session card
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/active-sessions.component.html
Due: prettier

feat: Don't show seconds on last seen and make creation time relative
  frontend/src/app/general/relative-time/relative-time.component.ts
  frontend/src/app/sessions/session-overview/session-overview.component.html
  frontend/src/app/sessions/session-overview/session-overview.stories.ts
Due: prettier

Update reg_actions to output generated at runId:11935569462
  2024-11-20_11935569462_reg/actual/Session Components_Session Overview_All Selected_desktop.png
  2024-11-20_11935569462_reg/actual/Session Components_Session Overview_All Selected_mobile.png
  2024-11-20_11935569462_reg/actual/Session Components_Session Overview_Overview_desktop.png
  2024-11-20_11935569462_reg/actual/Session Components_Session Overview_Overview_mobile.png
  2024-11-20_11935569462_reg/diff/Session Components_Session Overview_All Selected_desktop.png
  2024-11-20_11935569462_reg/diff/Session Components_Session Overview_All Selected_mobile.png
  2024-11-20_11935569462_reg/diff/Session Components_Session Overview_Overview_desktop.png
  2024-11-20_11935569462_reg/diff/Session Components_Session Overview_Overview_mobile.png
  2024-11-20_11935569462_reg/expected/Session Components_Session Overview_All Selected_desktop.png
  2024-11-20_11935569462_reg/expected/Session Components_Session Overview_All Selected_mobile.png
  2024-11-20_11935569462_reg/expected/Session Components_Session Overview_Overview_desktop.png
  2024-11-20_11935569462_reg/expected/Session Components_Session Overview_Overview_mobile.png
Due: none

feat: Allow users to copy t4c token from session viewer
  frontend/src/app/sessions/session/floating-window-manager/floating-window-manager.component.html
  frontend/src/app/sessions/session/floating-window-manager/floating-window-manager.component.ts
  frontend/src/app/sessions/session/session-viewer.service.ts
  frontend/src/app/sessions/session/session-viewer.stories.ts
  frontend/src/app/sessions/session/tiling-window-manager/tiling-window-manager.component.html
  frontend/src/app/sessions/session/tiling-window-manager/tiling-window-manager.component.ts
Due: prettier

Update reg_actions to output generated at runId:12032493045
  2024-11-26_12032493045_reg/actual/Session Components_Session Viewer_One Session Tiling Pending_desktop.png
  2024-11-26_12032493045_reg/actual/Session Components_Session Viewer_One Session Tiling Pending_mobile.png
  2024-11-26_12032493045_reg/actual/Session Components_Session Viewer_One Successful Session_desktop.png
  2024-11-26_12032493045_reg/actual/Session Components_Session Viewer_One Successful Session_mobile.png
  2024-11-26_12032493045_reg/actual/Session Components_Session Viewer_Two Sessions Floating_desktop.png
  2024-11-26_12032493045_reg/actual/Session Components_Session Viewer_Two Sessions Floating_mobile.png
  2024-11-26_12032493045_reg/actual/Session Components_Session Viewer_Two Sessions Tiling Pending_desktop.png
  2024-11-26_12032493045_reg/actual/Session Components_Session Viewer_Two Sessions Tiling Pending_mobile.png
  2024-11-26_12032493045_reg/actual/Session Components_Session Viewer_Two Sessions Tiling_desktop.png
  2024-11-26_12032493045_reg/actual/Session Components_Session Viewer_Two Sessions Tiling_mobile.png
  2024-11-26_12032493045_reg/diff/Session Components_Session Viewer_One Session Tiling Pending_desktop.png
  2024-11-26_12032493045_reg/diff/Session Components_Session Viewer_One Session Tiling Pending_mobile.png
  2024-11-26_12032493045_reg/diff/Session Components_Session Viewer_One Successful Session_desktop.png
  2024-11-26_12032493045_reg/diff/Session Components_Session Viewer_One Successful Session_mobile.png
  2024-11-26_12032493045_reg/diff/Session Components_Session Viewer_Two Sessions Floating_desktop.png
  2024-11-26_12032493045_reg/diff/Session Components_Session Viewer_Two Sessions Floating_mobile.png
  2024-11-26_12032493045_reg/diff/Session Components_Session Viewer_Two Sessions Tiling Pending_desktop.png
  2024-11-26_12032493045_reg/diff/Session Components_Session Viewer_Two Sessions Tiling Pending_mobile.png
  2024-11-26_12032493045_reg/diff/Session Components_Session Viewer_Two Sessions Tiling_desktop.png
  2024-11-26_12032493045_reg/diff/Session Components_Session Viewer_Two Sessions Tiling_mobile.png
  2024-11-26_12032493045_reg/expected/Session Components_Session Viewer_One Session Tiling Pending_desktop.png
  2024-11-26_12032493045_reg/expected/Session Components_Session Viewer_One Session Tiling Pending_mobile.png
  2024-11-26_12032493045_reg/expected/Session Components_Session Viewer_One Successful Session_desktop.png
  2024-11-26_12032493045_reg/expected/Session Components_Session Viewer_One Successful Session_mobile.png
  2024-11-26_12032493045_reg/expected/Session Components_Session Viewer_Two Sessions Floating_desktop.png
  2024-11-26_12032493045_reg/expected/Session Components_Session Viewer_Two Sessions Floating_mobile.png
  2024-11-26_12032493045_reg/expected/Session Components_Session Viewer_Two Sessions Tiling Pending_desktop.png
  2024-11-26_12032493045_reg/expected/Session Components_Session Viewer_Two Sessions Tiling Pending_mobile.png
  2024-11-26_12032493045_reg/expected/Session Components_Session Viewer_Two Sessions Tiling_desktop.png
  2024-11-26_12032493045_reg/expected/Session Components_Session Viewer_Two Sessions Tiling_mobile.png
Due: none

feat: Change feedback prompt for trainings
  frontend/src/app/sessions/feedback/feedback-dialog/feedback-dialog.component.html
  frontend/src/app/sessions/feedback/feedback-dialog/feedback-dialog.component.ts
Due: prettier

Update reg_actions to output generated at runId:12068484227
  2024-11-28_12068484227_reg/actual/Session Components_Feedback_Long Hint_desktop.png
  2024-11-28_12068484227_reg/actual/Session Components_Feedback_Long Hint_mobile.png
  2024-11-28_12068484227_reg/actual/Session Components_Feedback_No Sessions_desktop.png
  2024-11-28_12068484227_reg/actual/Session Components_Feedback_No Sessions_mobile.png
  2024-11-28_12068484227_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-11-28_12068484227_reg/actual/Session Components_Feedback_Rating Selected_mobile.png
  2024-11-28_12068484227_reg/actual/Session Components_Feedback_Short Hint_desktop.png
  2024-11-28_12068484227_reg/actual/Session Components_Feedback_Short Hint_mobile.png
  2024-11-28_12068484227_reg/diff/Session Components_Feedback_Long Hint_desktop.png
  2024-11-28_12068484227_reg/diff/Session Components_Feedback_Long Hint_mobile.png
  2024-11-28_12068484227_reg/diff/Session Components_Feedback_No Sessions_desktop.png
  2024-11-28_12068484227_reg/diff/Session Components_Feedback_No Sessions_mobile.png
  2024-11-28_12068484227_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-11-28_12068484227_reg/diff/Session Components_Feedback_Rating Selected_mobile.png
  2024-11-28_12068484227_reg/diff/Session Components_Feedback_Short Hint_desktop.png
  2024-11-28_12068484227_reg/diff/Session Components_Feedback_Short Hint_mobile.png
  2024-11-28_12068484227_reg/expected/Session Components_Feedback_Long Hint_desktop.png
  2024-11-28_12068484227_reg/expected/Session Components_Feedback_Long Hint_mobile.png
  2024-11-28_12068484227_reg/expected/Session Components_Feedback_No Sessions_desktop.png
  2024-11-28_12068484227_reg/expected/Session Components_Feedback_No Sessions_mobile.png
  2024-11-28_12068484227_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
  2024-11-28_12068484227_reg/expected/Session Components_Feedback_Rating Selected_mobile.png
  2024-11-28_12068484227_reg/expected/Session Components_Feedback_Short Hint_desktop.png
  2024-11-28_12068484227_reg/expected/Session Components_Feedback_Short Hint_mobile.png
Due: none

fix: No longer block uploads of larger files in Ingress nginx
  helm/templates/routing/routing.ingress.yaml
Due: none

Update reg_actions to output generated at runId:12087336924
  2024-11-29_12087336924_reg/actual/Session Components_File Browser_Files_desktop.png
  2024-11-29_12087336924_reg/actual/Session Components_File Browser_Files_mobile.png
  2024-11-29_12087336924_reg/actual/Session Components_File Browser_Upload New File_desktop.png
  2024-11-29_12087336924_reg/actual/Session Components_File Browser_Upload New File_mobile.png
  2024-11-29_12087336924_reg/diff/Session Components_File Browser_Files_desktop.png
  2024-11-29_12087336924_reg/diff/Session Components_File Browser_Files_mobile.png
  2024-11-29_12087336924_reg/diff/Session Components_File Browser_Upload New File_desktop.png
  2024-11-29_12087336924_reg/diff/Session Components_File Browser_Upload New File_mobile.png
  2024-11-29_12087336924_reg/expected/Session Components_File Browser_Files_desktop.png
  2024-11-29_12087336924_reg/expected/Session Components_File Browser_Files_mobile.png
  2024-11-29_12087336924_reg/expected/Session Components_File Browser_Upload New File_desktop.png
  2024-11-29_12087336924_reg/expected/Session Components_File Browser_Upload New File_mobile.png
Due: none

fix: Convert invariant List to Sequence
  backend/capellacollab/settings/configuration/models.py
  backend/capellacollab/tools/models.py
  frontend/src/app/openapi/model/guacamole-connection-method-input.ts
  frontend/src/app/openapi/model/guacamole-connection-method-output.ts
  frontend/src/app/openapi/model/http-connection-method-input.ts
  frontend/src/app/openapi/model/http-connection-method-output.ts
  frontend/src/app/openapi/model/tool-session-connection-input-methods-inner.ts
  frontend/src/app/openapi/model/tool-session-connection-output-methods-inner.ts
Due: pylint

build(frontend): Bump version of OpenAPI Generator
  frontend/Makefile
  frontend/src/app/openapi/.openapi-generator/VERSION
Due: none

chore: Change idle time unavailable message if metrics not found
  backend/capellacollab/sessions/injection.py
  backend/tests/sessions/test_session_injection.py
Due: pylint

Update reg_actions to output generated at runId:12087834968
  2024-11-29_12087834968_reg/actual/Session Components_File Browser_Files_desktop.png
  2024-11-29_12087834968_reg/actual/Session Components_File Browser_Files_mobile.png
  2024-11-29_12087834968_reg/actual/Session Components_File Browser_Upload New File_desktop.png
  2024-11-29_12087834968_reg/actual/Session Components_File Browser_Upload New File_mobile.png
  2024-11-29_12087834968_reg/diff/Session Components_File Browser_Files_desktop.png
  2024-11-29_12087834968_reg/diff/Session Components_File Browser_Files_mobile.png
  2024-11-29_12087834968_reg/diff/Session Components_File Browser_Upload New File_desktop.png
  2024-11-29_12087834968_reg/diff/Session Components_File Browser_Upload New File_mobile.png
  2024-11-29_12087834968_reg/expected/Session Components_File Browser_Files_desktop.png
  2024-11-29_12087834968_reg/expected/Session Components_File Browser_Files_mobile.png
  2024-11-29_12087834968_reg/expected/Session Components_File Browser_Upload New File_desktop.png
  2024-11-29_12087834968_reg/expected/Session Components_File Browser_Upload New File_mobile.png
Due: none

fix: Handle long filenames in file browser on mobile devices
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/file-browser-dialog/file-browser-dialog.component.html
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/file-browser-dialog/file-browser-dialog.stories.ts
Due: prettier

Path conditions:
  pylint: any of: ^backend/capellacollab and \.py$ and not (^backend/capellacollab/alembic/)
  prettier: any of: \.(ts|mts|cts)$, \.css$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$, but not: ^frontend/src/app/openapi
