Repository DSD-DBS/capella-collab-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, prettier

Path conditions:
  tsc: any of: \.(ts|mts|cts)$
  prettier: any of: \.(ts|mts|cts)$, \.css$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$, but not: ^frontend/src/app/openapi

chore: Use the relative time component in more places
  frontend/src/app/projects/models/diagrams/model-diagram-dialog/model-diagram-dialog.component.html
  frontend/src/app/projects/models/diagrams/model-diagram-dialog/model-diagram-dialog.component.ts
  frontend/src/app/projects/models/diagrams/model-diagram-dialog/model-diagram-dialog.stories.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-provisioned-session/create-provisioned-session.component.html
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-provisioned-session/create-provisioned-session.component.stories.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-provisioned-session/create-provisioned-session.component.ts
  frontend/src/app/users/users-profile/user-information/user-information.component.html
  frontend/src/app/users/users-profile/user-information/user-information.component.ts
  frontend/src/app/users/users-profile/user-information/user-information.stories.ts
Due: tsc, prettier

fix: Disable fullscreen when leaving session viewer
  frontend/src/app/sessions/service/fullscreen.service.ts
  frontend/src/app/sessions/session/session-viewer.component.ts
Due: tsc, prettier

feat!: Replace Jupyter file-shares with generic project level volumes
  backend/capellacollab/alembic/versions/b2fd698ed6cb_add_general_file_shares.py
  backend/capellacollab/core/database/models.py
  backend/capellacollab/projects/permissions/models.py
  backend/capellacollab/projects/routes.py
  backend/capellacollab/projects/toolmodels/crud.py
  backend/capellacollab/projects/toolmodels/routes.py
  backend/capellacollab/projects/volumes/crud.py
  backend/capellacollab/projects/volumes/exceptions.py
  backend/capellacollab/projects/volumes/models.py
  backend/capellacollab/projects/volumes/routes.py
  backend/capellacollab/projects/volumes/workspace.py
  backend/capellacollab/sessions/hooks/__init__.py
  backend/capellacollab/sessions/hooks/project_volume.py
  backend/capellacollab/tools/models.py
  backend/tests/sessions/hooks/test_jupyter_hook.py
  frontend/src/app/openapi/.openapi-generator/FILES
  frontend/src/app/openapi/api/api.ts
  frontend/src/app/openapi/api/projects-volumes.service.ts
  frontend/src/app/openapi/model/models.ts
  frontend/src/app/openapi/model/project-user-scopes-input.ts
  frontend/src/app/openapi/model/project-user-scopes-output.ts
  frontend/src/app/openapi/model/project-volume.ts
  frontend/src/app/openapi/model/tool-integrations-input.ts
  frontend/src/app/openapi/model/tool-integrations-output.ts
Due: tsc

fix: Support digest in tool version images
  backend/capellacollab/tools/models.py
Due: none

feat!: Replace Jupyter file-shares with generic project level volumes
  backend/capellacollab/alembic/versions/b2fd698ed6cb_add_general_file_shares.py
  backend/capellacollab/core/database/models.py
  backend/capellacollab/projects/permissions/models.py
  backend/capellacollab/projects/routes.py
  backend/capellacollab/projects/toolmodels/crud.py
  backend/capellacollab/projects/toolmodels/models.py
  backend/capellacollab/projects/toolmodels/routes.py
  backend/capellacollab/projects/volumes/crud.py
  backend/capellacollab/projects/volumes/exceptions.py
  backend/capellacollab/projects/volumes/models.py
  backend/capellacollab/projects/volumes/routes.py
  backend/capellacollab/projects/volumes/workspace.py
  backend/capellacollab/sessions/hooks/__init__.py
  backend/capellacollab/sessions/hooks/project_volume.py
  backend/capellacollab/tools/models.py
  backend/tests/sessions/hooks/test_jupyter_hook.py
  frontend/src/app/openapi/.openapi-generator/FILES
  frontend/src/app/openapi/api/api.ts
  frontend/src/app/openapi/api/projects-volumes.service.ts
  frontend/src/app/openapi/model/models.ts
  frontend/src/app/openapi/model/project-user-scopes-input.ts
  frontend/src/app/openapi/model/project-user-scopes-output.ts
  frontend/src/app/openapi/model/project-volume.ts
  frontend/src/app/openapi/model/tool-integrations-input.ts
  frontend/src/app/openapi/model/tool-integrations-output.ts
Due: tsc

Update reg_actions to output generated at runId:13500743746
  2025-02-24_13500743746_reg/actual/Loading_desktop.png
  2025-02-24_13500743746_reg/actual/Loading_mobile.png
  2025-02-24_13500743746_reg/actual/No Sessions_desktop.png
  2025-02-24_13500743746_reg/actual/No Sessions_mobile.png
  2025-02-24_13500743746_reg/actual/Overview_desktop.png
  2025-02-24_13500743746_reg/actual/Overview_mobile.png
  2025-02-24_13500743746_reg/diff/Loading_desktop.png
  2025-02-24_13500743746_reg/diff/Loading_mobile.png
  2025-02-24_13500743746_reg/diff/No Sessions_desktop.png
  2025-02-24_13500743746_reg/diff/No Sessions_mobile.png
  2025-02-24_13500743746_reg/diff/Overview_desktop.png
  2025-02-24_13500743746_reg/diff/Overview_mobile.png
  2025-02-24_13500743746_reg/expected/All Selected_desktop.png
  2025-02-24_13500743746_reg/expected/All Selected_mobile.png
  2025-02-24_13500743746_reg/expected/Loading_desktop.png
  2025-02-24_13500743746_reg/expected/Loading_mobile.png
  2025-02-24_13500743746_reg/expected/No Sessions_desktop.png
  2025-02-24_13500743746_reg/expected/No Sessions_mobile.png
  2025-02-24_13500743746_reg/expected/Overview_desktop.png
  2025-02-24_13500743746_reg/expected/Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:13501141227
  2025-02-24_13501141227_reg/actual/Loading_desktop.png
  2025-02-24_13501141227_reg/actual/Loading_mobile.png
  2025-02-24_13501141227_reg/actual/No Sessions_desktop.png
  2025-02-24_13501141227_reg/actual/No Sessions_mobile.png
  2025-02-24_13501141227_reg/actual/Overview_desktop.png
  2025-02-24_13501141227_reg/actual/Overview_mobile.png
  2025-02-24_13501141227_reg/diff/Loading_desktop.png
  2025-02-24_13501141227_reg/diff/Loading_mobile.png
  2025-02-24_13501141227_reg/diff/No Sessions_desktop.png
  2025-02-24_13501141227_reg/diff/No Sessions_mobile.png
  2025-02-24_13501141227_reg/diff/Overview_desktop.png
  2025-02-24_13501141227_reg/diff/Overview_mobile.png
  2025-02-24_13501141227_reg/expected/All Selected_desktop.png
  2025-02-24_13501141227_reg/expected/All Selected_mobile.png
  2025-02-24_13501141227_reg/expected/Loading_desktop.png
  2025-02-24_13501141227_reg/expected/Loading_mobile.png
  2025-02-24_13501141227_reg/expected/No Sessions_desktop.png
  2025-02-24_13501141227_reg/expected/No Sessions_mobile.png
  2025-02-24_13501141227_reg/expected/Overview_desktop.png
  2025-02-24_13501141227_reg/expected/Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:13517284354
  2025-02-25_13517284354_reg/actual/Combined_desktop.png
  2025-02-25_13517284354_reg/actual/Combined_mobile.png
  2025-02-25_13517284354_reg/actual/Diagram Error_desktop.png
  2025-02-25_13517284354_reg/actual/Diagram Loaded_desktop.png
  2025-02-25_13517284354_reg/actual/Diagram Not Loaded_desktop.png
  2025-02-25_13517284354_reg/actual/Loaded_desktop.png
  2025-02-25_13517284354_reg/actual/Loaded_mobile.png
  2025-02-25_13517284354_reg/actual/Loading Without Scroll_desktop.png
  2025-02-25_13517284354_reg/actual/Loading Without Scroll_mobile.png
  2025-02-25_13517284354_reg/actual/Loading_desktop.png
  2025-02-25_13517284354_reg/actual/Loading_mobile.png
  2025-02-25_13517284354_reg/actual/No Diagram For Filter_desktop.png
  2025-02-25_13517284354_reg/actual/No Diagram_desktop.png
  2025-02-25_13517284354_reg/diff/Combined_desktop.png
  2025-02-25_13517284354_reg/diff/Combined_mobile.png
  2025-02-25_13517284354_reg/diff/Diagram Error_desktop.png
  2025-02-25_13517284354_reg/diff/Diagram Loaded_desktop.png
  2025-02-25_13517284354_reg/diff/Diagram Not Loaded_desktop.png
  2025-02-25_13517284354_reg/diff/Loading Without Scroll_desktop.png
  2025-02-25_13517284354_reg/diff/Loading Without Scroll_mobile.png
  2025-02-25_13517284354_reg/diff/Loading_desktop.png
  2025-02-25_13517284354_reg/diff/Loading_mobile.png
  2025-02-25_13517284354_reg/diff/No Diagram For Filter_desktop.png
  2025-02-25_13517284354_reg/diff/No Diagram_desktop.png
  2025-02-25_13517284354_reg/expected/Combined_desktop.png
  2025-02-25_13517284354_reg/expected/Combined_mobile.png
  2025-02-25_13517284354_reg/expected/Diagram Error_desktop.png
  2025-02-25_13517284354_reg/expected/Diagram Loaded_desktop.png
  2025-02-25_13517284354_reg/expected/Diagram Not Loaded_desktop.png
  2025-02-25_13517284354_reg/expected/Loading Without Scroll_desktop.png
  2025-02-25_13517284354_reg/expected/Loading Without Scroll_mobile.png
  2025-02-25_13517284354_reg/expected/Loading_desktop.png
  2025-02-25_13517284354_reg/expected/Loading_mobile.png
  2025-02-25_13517284354_reg/expected/No Diagram For Filter_desktop.png
  2025-02-25_13517284354_reg/expected/No Diagram_desktop.png
Due: none

fix: Increase Prometheus resources
  helm/templates/prometheus/prometheus.deployment.yaml
Due: none

Update reg_actions to output generated at runId:13522328377
  2025-02-25_13522328377_reg/actual/Valid Content_desktop.png
  2025-02-25_13522328377_reg/diff/Valid Content_desktop.png
  2025-02-25_13522328377_reg/expected/Valid Content_desktop.png
Due: none

fix: Clean up overview table to prevent overflows
  frontend/src/app/sessions/session-overview/session-overview.component.html
  frontend/src/app/sessions/session-overview/session-overview.component.ts
  frontend/src/app/sessions/session-overview/session-overview.stories.ts
Due: tsc, prettier

Update reg_actions to output generated at runId:13522641304
  2025-02-25_13522641304_reg/actual/Loading_desktop.png
  2025-02-25_13522641304_reg/actual/Loading_mobile.png
  2025-02-25_13522641304_reg/actual/No Sessions_desktop.png
  2025-02-25_13522641304_reg/actual/No Sessions_mobile.png
  2025-02-25_13522641304_reg/actual/Overview_desktop.png
  2025-02-25_13522641304_reg/actual/Overview_mobile.png
  2025-02-25_13522641304_reg/diff/Loading_desktop.png
  2025-02-25_13522641304_reg/diff/Loading_mobile.png
  2025-02-25_13522641304_reg/diff/No Sessions_desktop.png
  2025-02-25_13522641304_reg/diff/No Sessions_mobile.png
  2025-02-25_13522641304_reg/diff/Overview_desktop.png
  2025-02-25_13522641304_reg/diff/Overview_mobile.png
  2025-02-25_13522641304_reg/expected/All Selected_desktop.png
  2025-02-25_13522641304_reg/expected/All Selected_mobile.png
  2025-02-25_13522641304_reg/expected/Loading_desktop.png
  2025-02-25_13522641304_reg/expected/Loading_mobile.png
  2025-02-25_13522641304_reg/expected/No Sessions_desktop.png
  2025-02-25_13522641304_reg/expected/No Sessions_mobile.png
  2025-02-25_13522641304_reg/expected/Overview_desktop.png
  2025-02-25_13522641304_reg/expected/Overview_mobile.png
Due: none

chore: Disable spellcheck in TeamForCapella deletion dialog
  frontend/src/app/settings/modelsources/t4c-settings/t4c-instance-settings/t4c-repo-deletion-dialog/t4c-repo-deletion-dialog.component.html
Due: prettier

perf: Replace custom timezone validation with official one
  backend/capellacollab/configuration/models.py
  backend/pyproject.toml
Due: none

Update reg_actions to output generated at runId:13522898942
  2025-02-25_13522898942_reg/actual/Loading_desktop.png
  2025-02-25_13522898942_reg/actual/Loading_mobile.png
  2025-02-25_13522898942_reg/actual/No Sessions_desktop.png
  2025-02-25_13522898942_reg/actual/No Sessions_mobile.png
  2025-02-25_13522898942_reg/actual/Overview_desktop.png
  2025-02-25_13522898942_reg/actual/Overview_mobile.png
  2025-02-25_13522898942_reg/actual/Valid Content_desktop.png
  2025-02-25_13522898942_reg/actual/Valid Content_mobile.png
  2025-02-25_13522898942_reg/diff/Loading_desktop.png
  2025-02-25_13522898942_reg/diff/Loading_mobile.png
  2025-02-25_13522898942_reg/diff/No Sessions_desktop.png
  2025-02-25_13522898942_reg/diff/No Sessions_mobile.png
  2025-02-25_13522898942_reg/diff/Overview_desktop.png
  2025-02-25_13522898942_reg/diff/Overview_mobile.png
  2025-02-25_13522898942_reg/diff/Valid Content_desktop.png
  2025-02-25_13522898942_reg/diff/Valid Content_mobile.png
  2025-02-25_13522898942_reg/expected/All Selected_desktop.png
  2025-02-25_13522898942_reg/expected/All Selected_mobile.png
  2025-02-25_13522898942_reg/expected/Loading_desktop.png
  2025-02-25_13522898942_reg/expected/Loading_mobile.png
  2025-02-25_13522898942_reg/expected/No Sessions_desktop.png
  2025-02-25_13522898942_reg/expected/No Sessions_mobile.png
  2025-02-25_13522898942_reg/expected/Overview_desktop.png
  2025-02-25_13522898942_reg/expected/Overview_mobile.png
  2025-02-25_13522898942_reg/expected/Valid Content_desktop.png
  2025-02-25_13522898942_reg/expected/Valid Content_mobile.png
Due: none

Update reg_actions to output generated at runId:13522955218
  2025-02-25_13522955218_reg/actual/Loading_desktop.png
  2025-02-25_13522955218_reg/actual/Loading_mobile.png
  2025-02-25_13522955218_reg/actual/No Sessions_desktop.png
  2025-02-25_13522955218_reg/actual/No Sessions_mobile.png
  2025-02-25_13522955218_reg/actual/Overview_desktop.png
  2025-02-25_13522955218_reg/actual/Overview_mobile.png
  2025-02-25_13522955218_reg/diff/Loading_desktop.png
  2025-02-25_13522955218_reg/diff/Loading_mobile.png
  2025-02-25_13522955218_reg/diff/No Sessions_desktop.png
  2025-02-25_13522955218_reg/diff/No Sessions_mobile.png
  2025-02-25_13522955218_reg/diff/Overview_desktop.png
  2025-02-25_13522955218_reg/diff/Overview_mobile.png
  2025-02-25_13522955218_reg/expected/All Selected_desktop.png
  2025-02-25_13522955218_reg/expected/All Selected_mobile.png
  2025-02-25_13522955218_reg/expected/Loading_desktop.png
  2025-02-25_13522955218_reg/expected/Loading_mobile.png
  2025-02-25_13522955218_reg/expected/No Sessions_desktop.png
  2025-02-25_13522955218_reg/expected/No Sessions_mobile.png
  2025-02-25_13522955218_reg/expected/Overview_desktop.png
  2025-02-25_13522955218_reg/expected/Overview_mobile.png
Due: none

fix: Untrust job IDs in diagram cache
  backend/capellacollab/projects/toolmodels/modelsources/git/github/handler.py
  backend/capellacollab/projects/toolmodels/modelsources/git/gitlab/handler.py
  backend/capellacollab/projects/toolmodels/modelsources/git/handler/factory.py
  backend/capellacollab/projects/toolmodels/modelsources/git/handler/handler.py
  backend/capellacollab/tools/crud.py
Due: none

feat: Provide diagram cache to sessions
  backend/capellacollab/core/database/__init__.py
  backend/capellacollab/projects/toolmodels/diagrams/core.py
  backend/capellacollab/projects/toolmodels/diagrams/exceptions.py
  backend/capellacollab/projects/toolmodels/diagrams/routes.py
  backend/capellacollab/projects/toolmodels/modelsources/git/github/handler.py
  backend/capellacollab/projects/toolmodels/modelsources/git/gitlab/exceptions.py
  backend/capellacollab/projects/toolmodels/modelsources/git/gitlab/handler.py
  backend/capellacollab/projects/toolmodels/modelsources/git/handler/cache.py
  backend/capellacollab/projects/toolmodels/modelsources/git/handler/factory.py
  backend/capellacollab/projects/toolmodels/modelsources/git/handler/handler.py
  backend/capellacollab/projects/toolmodels/modelsources/git/routes.py
  backend/capellacollab/sessions/hooks/provisioning.py
  backend/capellacollab/sessions/hooks/session_token.py
  backend/capellacollab/sessions/util.py
  backend/capellacollab/tools/models.py
  backend/tests/projects/toolmodels/conftest.py
  backend/tests/projects/toolmodels/test_diagrams.py
  backend/tests/projects/toolmodels/test_git_model.py
  backend/tests/sessions/hooks/test_provisioning_hook.py
  backend/tests/sessions/hooks/test_session_token_hook.py
  backend/tests/sessions/test_session_environment.py
  backend/tests/tools/test_tools.py
  frontend/src/app/openapi/.openapi-generator/FILES
  frontend/src/app/openapi/model/environment-value.ts
  frontend/src/app/openapi/model/environment-value1.ts
  frontend/src/app/openapi/model/models.ts
  frontend/src/app/openapi/model/tool-model-provisioning-input.ts
  frontend/src/app/openapi/model/tool-model-provisioning-output.ts
  frontend/src/app/openapi/model/tool-session-environment-input.ts
  frontend/src/app/openapi/model/tool-session-environment-output.ts
  frontend/src/app/openapi/model/value.ts
  frontend/src/app/projects/models/diagrams/model-diagram-dialog/model-diagram-dialog.component.html
  frontend/src/app/projects/models/diagrams/model-diagram-dialog/model-diagram-dialog.component.ts
  frontend/src/app/projects/models/diagrams/model-diagram-preview-dialog/model-diagram-preview-dialog.component.css
  frontend/src/app/projects/models/diagrams/model-diagram-preview-dialog/model-diagram-preview-dialog.component.html
  frontend/src/app/projects/models/diagrams/model-diagram-preview-dialog/model-diagram-preview-dialog.component.ts
  frontend/src/app/projects/models/diagrams/model-diagram-preview-dialog/model-diagram-preview-dialog.stories.ts
  frontend/src/app/projects/project-detail/model-overview/model-overview.component.ts
  frontend/src/storybook/decorators.ts
  frontend/src/storybook/tool.ts
Due: tsc, prettier

perf: Remove async from routes that didn't need it
  backend/capellacollab/__main__.py
  backend/capellacollab/configuration/routes.py
  backend/capellacollab/core/authentication/routes.py
  backend/capellacollab/permissions/routes.py
Due: none

feat: Add ability to enable asyncio debug logs
  backend/capellacollab/__main__.py
  backend/capellacollab/configuration/app/models.py
  docs/docs/development/backend/profiling.md
  helm/config/backend.yaml
  helm/values.yaml
Due: prettier

fix: Make password hashing a lot faster
  backend/capellacollab/users/tokens/crud.py
Due: none

fix: Cache authentication dependency
  backend/capellacollab/core/authentication/injectables.py
  backend/capellacollab/core/logging/__init__.py
  backend/capellacollab/openapi.py
  backend/capellacollab/permissions/injectables.py
  backend/capellacollab/projects/permissions/injectables.py
  backend/capellacollab/projects/routes.py
  backend/capellacollab/projects/toolmodels/routes.py
  backend/capellacollab/sessions/routes.py
  backend/capellacollab/users/injectables.py
Due: none

fix: Properly log status code of requests
  backend/capellacollab/core/logging/__init__.py
Due: none

fix: Await valkey expire statement
  backend/capellacollab/projects/toolmodels/modelsources/git/handler/cache.py
Due: none

chore: Add query parameters to log
  backend/capellacollab/core/logging/__init__.py
Due: none

perf: Use async for blocking code in request_session
  .pre-commit-config.yaml
  backend/capellacollab/sessions/routes.py
  backend/capellacollab/sessions/util.py
  backend/pyproject.toml
Due: none

perf(logging): Optimize healthcheck route filtering
  backend/capellacollab/core/logging/__init__.py
Due: none
