Repository DSD-DBS/capella-collab-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, prettier

Path conditions:
  tsc: any of: \.(ts|mts|cts)$
  prettier: any of: \.(ts|mts|cts)$, \.css$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$, but not: ^frontend/src/app/openapi

feat: Use global error colors for TeamForCapella license indicator
  frontend/src/app/projects/models/model-source/t4c/create-t4c-model-new-repository/create-t4c-model-new-repository.component.html
  frontend/src/app/projects/models/model-source/t4c/manage-t4c-model/manage-t4c-model.component.html
  frontend/src/app/sessions/license-indicator/license-indicator.component.html
  frontend/src/app/sessions/license-indicator/license-indicator.component.ts
  frontend/src/app/sessions/license-indicator/license-indicator.stories.ts
Due: tsc, prettier

Update reg_actions to output generated at runId:14711645412
  2025-04-28_14711645412_reg/actual/Combined_mobile.png
  2025-04-28_14711645412_reg/actual/Loading Without Scroll_mobile.png
  2025-04-28_14711645412_reg/actual/Loading_mobile.png
  2025-04-28_14711645412_reg/diff/Combined_mobile.png
  2025-04-28_14711645412_reg/diff/Loading Without Scroll_mobile.png
  2025-04-28_14711645412_reg/diff/Loading_mobile.png
  2025-04-28_14711645412_reg/expected/Combined_mobile.png
  2025-04-28_14711645412_reg/expected/Loading Without Scroll_mobile.png
  2025-04-28_14711645412_reg/expected/Loading_mobile.png
Due: none

Update reg_actions to output generated at runId:14711721250
  2025-04-28_14711721250_reg/actual/All Used_desktop.png
  2025-04-28_14711721250_reg/actual/All Used_mobile.png
  2025-04-28_14711721250_reg/actual/Default_desktop.png
  2025-04-28_14711721250_reg/actual/Default_mobile.png
  2025-04-28_14711721250_reg/actual/Few Used_desktop.png
  2025-04-28_14711721250_reg/actual/Few Used_mobile.png
  2025-04-28_14711721250_reg/actual/No Instances_desktop.png
  2025-04-28_14711721250_reg/actual/No Instances_mobile.png
  2025-04-28_14711721250_reg/actual/No Repository_desktop.png
  2025-04-28_14711721250_reg/actual/No Repository_mobile.png
  2025-04-28_14711721250_reg/actual/Some Used_desktop.png
  2025-04-28_14711721250_reg/actual/Some Used_mobile.png
  2025-04-28_14711721250_reg/diff/All Used_desktop.png
  2025-04-28_14711721250_reg/diff/All Used_mobile.png
  2025-04-28_14711721250_reg/diff/Default_desktop.png
  2025-04-28_14711721250_reg/diff/Default_mobile.png
  2025-04-28_14711721250_reg/diff/Few Used_desktop.png
  2025-04-28_14711721250_reg/diff/Few Used_mobile.png
  2025-04-28_14711721250_reg/diff/No Instances_desktop.png
  2025-04-28_14711721250_reg/diff/No Instances_mobile.png
  2025-04-28_14711721250_reg/diff/No Repository_desktop.png
  2025-04-28_14711721250_reg/diff/No Repository_mobile.png
  2025-04-28_14711721250_reg/diff/Some Used_desktop.png
  2025-04-28_14711721250_reg/diff/Some Used_mobile.png
  2025-04-28_14711721250_reg/expected/All Used_desktop.png
  2025-04-28_14711721250_reg/expected/All Used_mobile.png
  2025-04-28_14711721250_reg/expected/Default_desktop.png
  2025-04-28_14711721250_reg/expected/Default_mobile.png
  2025-04-28_14711721250_reg/expected/Few Used_desktop.png
  2025-04-28_14711721250_reg/expected/Few Used_mobile.png
  2025-04-28_14711721250_reg/expected/No Instances_desktop.png
  2025-04-28_14711721250_reg/expected/No Instances_mobile.png
  2025-04-28_14711721250_reg/expected/No Repository_desktop.png
  2025-04-28_14711721250_reg/expected/No Repository_mobile.png
  2025-04-28_14711721250_reg/expected/Some Used_desktop.png
  2025-04-28_14711721250_reg/expected/Some Used_mobile.png
Due: none

feat: Redesign settings on mobile
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-provisioned-session/create-provisioned-session.component.html
  frontend/src/app/settings/settings.component.css
  frontend/src/app/settings/settings.component.html
  frontend/src/app/settings/settings.component.ts
  frontend/src/app/users/users-profile/reset-hidden-announcements/reset-hidden-announcements.stories.ts
  frontend/src/styles.scss
Due: tsc, prettier

feat: Show connection method selection as form field
  frontend/src/app/sessions/session-overview/session-overview.component.html
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-persistent-session/create-persistent-session.component.html
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-persistent-session/create-persistent-session.stories.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-session-history/create-session-history.component.html
  frontend/src/storybook/tool.ts
  frontend/src/styles.scss
Due: tsc, prettier

Update reg_actions to output generated at runId:14733245861
  2025-04-29_14733245861_reg/actual/Default_desktop.png
  2025-04-29_14733245861_reg/actual/Default_mobile.png
  2025-04-29_14733245861_reg/actual/Overview_desktop.png
  2025-04-29_14733245861_reg/actual/Overview_mobile.png
  2025-04-29_14733245861_reg/actual/With Error_desktop.png
  2025-04-29_14733245861_reg/actual/With Error_mobile.png
  2025-04-29_14733245861_reg/actual/With Selection_desktop.png
  2025-04-29_14733245861_reg/actual/With Selection_mobile.png
  2025-04-29_14733245861_reg/diff/Default_desktop.png
  2025-04-29_14733245861_reg/diff/Default_mobile.png
  2025-04-29_14733245861_reg/diff/Overview_desktop.png
  2025-04-29_14733245861_reg/diff/Overview_mobile.png
  2025-04-29_14733245861_reg/expected/Default_desktop.png
  2025-04-29_14733245861_reg/expected/Default_mobile.png
  2025-04-29_14733245861_reg/expected/Overview_desktop.png
  2025-04-29_14733245861_reg/expected/Overview_mobile.png
Due: none

fix: Pin click to '<8.2.0' due to incompatible breaking change
  backend/pyproject.toml
Due: none

Update reg_actions to output generated at runId:15021590977
  2025-05-14_15021590977_reg/actual/Create With Input_desktop.png
  2025-05-14_15021590977_reg/diff/Create With Input_desktop.png
  2025-05-14_15021590977_reg/expected/Create With Input_desktop.png
Due: none

fix: Disable spellcheck for tag color and icon
  frontend/src/app/settings/core/tags/tags.component.html
Due: prettier

Update reg_actions to output generated at runId:15023497777
  2025-05-14_15023497777_reg/actual/Create With Input_desktop.png
  2025-05-14_15023497777_reg/actual/Create With Input_mobile.png
  2025-05-14_15023497777_reg/diff/Create With Input_desktop.png
  2025-05-14_15023497777_reg/diff/Create With Input_mobile.png
  2025-05-14_15023497777_reg/expected/Create With Input_desktop.png
  2025-05-14_15023497777_reg/expected/Create With Input_mobile.png
Due: none

Revert "fix: Pin click to '<8.2.0' due to incompatible breaking change"
  backend/pyproject.toml
Due: none

feat: Support tags for users
  backend/capellacollab/alembic/env.py
  backend/capellacollab/alembic/versions/44b3af069228_add_link_between_tags_and_users.py
  backend/capellacollab/alembic/versions/a64ede3cfbb2_add_scope_to_tags.py
  backend/capellacollab/projects/crud.py
  backend/capellacollab/projects/routes.py
  backend/capellacollab/tags/core.py
  backend/capellacollab/tags/exceptions.py
  backend/capellacollab/tags/models.py
  backend/capellacollab/users/crud.py
  backend/capellacollab/users/models.py
  backend/capellacollab/users/routes.py
  backend/pyproject.toml
  backend/tests/projects/test_projects_routes.py
  backend/tests/users/test_users.py
  frontend/src/app/general/404/404.component.html
  frontend/src/app/openapi/.openapi-generator/FILES
  frontend/src/app/openapi/model/base-user.ts
  frontend/src/app/openapi/model/create-tag.ts
  frontend/src/app/openapi/model/models.ts
  frontend/src/app/openapi/model/patch-user.ts
  frontend/src/app/openapi/model/tag-scope.ts
  frontend/src/app/openapi/model/user.ts
  frontend/src/app/projects/create-project/create-project.component.html
  frontend/src/app/projects/models/create-model/create-model.component.html
  frontend/src/app/projects/project-detail/edit-project-metadata/edit-project-metadata.component.html
  frontend/src/app/projects/project-detail/edit-project-metadata/edit-project-metadata.component.ts
  frontend/src/app/projects/service/project.service.ts
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/session-card/session-card.stories.ts
  frontend/src/app/settings/core/tags/tags.component.html
  frontend/src/app/settings/core/tags/tags.component.ts
  frontend/src/app/users/add-tags-dialog/add-tags-dialog.component.html
  frontend/src/app/users/add-tags-dialog/add-tags-dialog.component.ts
  frontend/src/app/users/add-tags-dialog/add-tags-dialog.stories.ts
  frontend/src/app/users/user-settings/user-settings.component.html
  frontend/src/app/users/user-settings/user-settings.component.ts
  frontend/src/app/users/user-wrapper/user-wrapper.service.ts
  frontend/src/storybook/tags.ts
  frontend/src/storybook/user.ts
  frontend/src/styles.scss
Due: tsc, prettier

docs: Describe the session log collection setup
  docs/docs/admin/tools/configuration.md
Due: prettier

docs: Include SwaggerUI in GitHub hosted docs
  .github/workflows/docs.yml
  backend/Makefile
  docs/custom_theme/404.html
  docs/docs/api/index.md
  docs/docs/api/openapi.md
  docs/docs/api/redoc.md
  docs/docs/api/swagger.md
Due: prettier

docs: Fix version of SwaggerUI
  .github/workflows/docs.yml
Due: none

docs: Add security scanning to navigation
  docs/docs/admin/monitoring/security-scanning.md
  docs/mkdocs.yml
Due: prettier

feat: Set cache headers on diagram cache responses
  backend/capellacollab/projects/toolmodels/diagrams/routes.py
Due: none

fix: Handle fast scrolling of project overview tags
  frontend/src/app/projects/project-overview/project-overview.component.ts
Due: tsc, prettier

refactor: Move token card to extra component
  frontend/src/app/users/personal-access-tokens/personal-access-tokens.component.html
  frontend/src/app/users/personal-access-tokens/personal-access-tokens.component.ts
  frontend/src/app/users/personal-access-tokens/token-card/token-card.component.html
  frontend/src/app/users/personal-access-tokens/token-card/token-card.component.ts
Due: tsc, prettier
