Repository DSD-DBS/capella-collab-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, prettier

tsc:
  name: tsc
  entry: tsc -noEmit -p ./frontend
  pass_filenames: false
  language: node
  additional_dependencies:
  - typescript@~5.6.3

prettier:
  name: prettier
  entry: prettier --write
  language: node
  additional_dependencies:
  - prettier@^3.4.2
  - prettier-plugin-tailwindcss@^0.6.11
  - '@trivago/prettier-plugin-sort-imports@^5.2.2'
  - tailwindcss@^3.4.17
  - prettier-plugin-classnames@^0.7.6
  - prettier-plugin-merge@^0.7.2

perf: Asyncify authentication validation
  backend/capellacollab/core/authentication/api_key_cookie.py
  backend/capellacollab/core/authentication/basic_auth.py
  backend/capellacollab/core/authentication/injectables.py
Due: none

feat: Add special service
  frontend/src/app/general/logo/logo.component.html
  frontend/src/app/general/logo/logo.component.ts
  frontend/src/app/general/special-service/special.service.ts
  frontend/tailwind.config.cjs
Due: tsc, prettier

feat: Log request duration
  backend/capellacollab/core/logging/__init__.py
Due: none

docs: Bring microk8s installation docs up to date
  docs/docs/admin/installation.md
Due: prettier

feat: Rework version display
  backend/capellacollab/configuration/models.py
  backend/capellacollab/configuration/util.py
  frontend/fetch-version.py
  frontend/src/app/general/metadata/metadata.service.ts
  frontend/src/app/general/metadata/version/version-dialog/version-dialog.component.html
  frontend/src/app/general/metadata/version/version-dialog/version-dialog.component.ts
  frontend/src/app/general/metadata/version/version.component.html
  frontend/src/app/general/metadata/version/version.component.ts
  frontend/src/app/general/metadata/version/version.service.ts
  frontend/src/app/general/metadata/version/version.stories.ts
  frontend/src/app/openapi/model/metadata-configuration-input.ts
  frontend/src/app/openapi/model/metadata-configuration-output.ts
  frontend/src/app/openapi/model/metadata.ts
  frontend/src/storybook/metadata.ts
  frontend/src/storybook/version.ts
Due: tsc, prettier

Update reg_actions to output generated at runId:13592790979
  2025-02-28_13592790979_reg/actual/Bad Health_desktop.png
  2025-02-28_13592790979_reg/actual/Bad Health_mobile.png
  2025-02-28_13592790979_reg/actual/General_desktop.png
  2025-02-28_13592790979_reg/actual/General_mobile.png
  2025-02-28_13592790979_reg/actual/Good Health_desktop.png
  2025-02-28_13592790979_reg/actual/Good Health_mobile.png
  2025-02-28_13592790979_reg/actual/Loading_desktop.png
  2025-02-28_13592790979_reg/actual/Loading_mobile.png
  2025-02-28_13592790979_reg/diff/General_desktop.png
  2025-02-28_13592790979_reg/diff/General_mobile.png
  2025-02-28_13592790979_reg/expected/Bad Health_desktop.png
  2025-02-28_13592790979_reg/expected/Bad Health_mobile.png
  2025-02-28_13592790979_reg/expected/General_desktop.png
  2025-02-28_13592790979_reg/expected/General_mobile.png
  2025-02-28_13592790979_reg/expected/Good Health_desktop.png
  2025-02-28_13592790979_reg/expected/Good Health_mobile.png
  2025-02-28_13592790979_reg/expected/Loading_desktop.png
  2025-02-28_13592790979_reg/expected/Loading_mobile.png
Due: none

Update reg_actions to output generated at runId:13656939086
  2025-03-04_13656939086_reg/actual/General_desktop.png
  2025-03-04_13656939086_reg/actual/General_mobile.png
  2025-03-04_13656939086_reg/diff/General_desktop.png
  2025-03-04_13656939086_reg/diff/General_mobile.png
  2025-03-04_13656939086_reg/expected/Bad Health_desktop.png
  2025-03-04_13656939086_reg/expected/Bad Health_mobile.png
  2025-03-04_13656939086_reg/expected/General_desktop.png
  2025-03-04_13656939086_reg/expected/General_mobile.png
  2025-03-04_13656939086_reg/expected/Good Health_desktop.png
  2025-03-04_13656939086_reg/expected/Good Health_mobile.png
  2025-03-04_13656939086_reg/expected/Loading_desktop.png
  2025-03-04_13656939086_reg/expected/Loading_mobile.png
Due: none

perf: Handle all diagram cache requests asynchronously
  backend/capellacollab/projects/toolmodels/modelsources/git/github/handler.py
  backend/capellacollab/projects/toolmodels/modelsources/git/gitlab/handler.py
  backend/capellacollab/projects/toolmodels/modelsources/git/handler/cache.py
  backend/capellacollab/projects/toolmodels/modelsources/git/handler/factory.py
  backend/capellacollab/projects/toolmodels/modelsources/git/handler/handler.py
  backend/capellacollab/projects/toolmodels/modelsources/git/routes.py
  backend/tests/conftest.py
  backend/tests/projects/toolmodels/conftest.py
  backend/tests/projects/toolmodels/modelsources/handler/fixtures.py
  backend/tests/projects/toolmodels/modelsources/handler/mocks.py
  backend/tests/projects/toolmodels/test_diagrams.py
  backend/tests/projects/toolmodels/test_model_badge.py
  backend/tests/settings/modelsources/git/fixtures.py
  backend/tests/settings/modelsources/git/test_git_instances.py
  backend/tests/tools/fixtures.py
  backend/tests/tools/versions/fixtures.py
Due: none

perf: Remove non-functional internal monitoring overview
  backend/capellacollab/health/__init__.py
  backend/capellacollab/health/models.py
  backend/capellacollab/health/routes.py
  backend/capellacollab/routes.py
  frontend/src/app/app-routing.module.ts
  frontend/src/app/openapi/.openapi-generator/FILES
  frontend/src/app/openapi/api/api.ts
  frontend/src/app/openapi/api/health.service.ts
  frontend/src/app/openapi/model/git-model-status.ts
  frontend/src/app/openapi/model/model-artifact-status.ts
  frontend/src/app/openapi/model/models.ts
  frontend/src/app/openapi/model/project-status.ts
  frontend/src/app/openapi/model/status-response.ts
  frontend/src/app/openapi/model/toolmodel-status.ts
  frontend/src/app/settings/core/pipelines-overview/pipelines-overview.component.css
  frontend/src/app/settings/core/pipelines-overview/pipelines-overview.component.html
  frontend/src/app/settings/core/pipelines-overview/pipelines-overview.component.ts
  frontend/src/app/settings/core/pipelines-overview/pipelines-overview.stories.ts
  frontend/src/app/settings/settings.component.css
  frontend/src/app/settings/settings.component.html
  frontend/src/app/settings/settings.component.ts
  frontend/src/storybook/monitoring.ts
Due: tsc, prettier

Update reg_actions to output generated at runId:13657418937
  2025-03-04_13657418937_reg/actual/General_desktop.png
  2025-03-04_13657418937_reg/actual/General_mobile.png
  2025-03-04_13657418937_reg/diff/General_desktop.png
  2025-03-04_13657418937_reg/diff/General_mobile.png
  2025-03-04_13657418937_reg/expected/Bad Health_desktop.png
  2025-03-04_13657418937_reg/expected/Bad Health_mobile.png
  2025-03-04_13657418937_reg/expected/General_desktop.png
  2025-03-04_13657418937_reg/expected/General_mobile.png
  2025-03-04_13657418937_reg/expected/Good Health_desktop.png
  2025-03-04_13657418937_reg/expected/Good Health_mobile.png
  2025-03-04_13657418937_reg/expected/Loading_desktop.png
  2025-03-04_13657418937_reg/expected/Loading_mobile.png
Due: none

perf: Include token id in personal access token
  backend/capellacollab/core/authentication/basic_auth.py
  backend/capellacollab/core/authentication/injectables.py
  backend/capellacollab/core/logging/__init__.py
  backend/capellacollab/core/logging/injectables.py
  backend/capellacollab/feedback/routes.py
  backend/capellacollab/permissions/routes.py
  backend/capellacollab/projects/toolmodels/diagrams/routes.py
  backend/capellacollab/projects/toolmodels/modelbadge/routes.py
  backend/capellacollab/projects/toolmodels/readme/routes.py
  backend/capellacollab/sessions/routes.py
  backend/capellacollab/users/tokens/crud.py
  backend/capellacollab/users/tokens/injectables.py
  backend/tests/core/authentication/test_basic_auth.py
  backend/tests/core/fixtures.py
  backend/tests/projects/test_projects_permissions.py
  backend/tests/test_permissions.py
  backend/tests/users/test_tokens.py
Due: none

refactor: Move token card to extra component
  frontend/src/app/users/personal-access-tokens/personal-access-tokens.component.html
  frontend/src/app/users/personal-access-tokens/personal-access-tokens.component.ts
  frontend/src/app/users/personal-access-tokens/token-card/token-card.component.html
  frontend/src/app/users/personal-access-tokens/token-card/token-card.component.ts
Due: tsc, prettier

perf: Increase frontend resources
  helm/templates/frontend/frontend.deployment.yaml
Due: none

Update reg_actions to output generated at runId:13659149717
  2025-03-04_13659149717_reg/actual/General_desktop.png
  2025-03-04_13659149717_reg/actual/General_mobile.png
  2025-03-04_13659149717_reg/diff/General_desktop.png
  2025-03-04_13659149717_reg/diff/General_mobile.png
  2025-03-04_13659149717_reg/expected/Bad Health_desktop.png
  2025-03-04_13659149717_reg/expected/Bad Health_mobile.png
  2025-03-04_13659149717_reg/expected/General_desktop.png
  2025-03-04_13659149717_reg/expected/General_mobile.png
  2025-03-04_13659149717_reg/expected/Good Health_desktop.png
  2025-03-04_13659149717_reg/expected/Good Health_mobile.png
  2025-03-04_13659149717_reg/expected/Loading_desktop.png
  2025-03-04_13659149717_reg/expected/Loading_mobile.png
Due: none

feat: Add redundancy for backend, routing and frontend by default
  Makefile
  helm/values.yaml
Due: none

fix: Revert to old image registry format for Grafana Loki
  helm/values.yaml
Due: none

feat: Add redundancy for backend, routing and frontend by default
  .github/workflows/push.yml
  Makefile
  helm/values.yaml
Due: none

fix: Don't mount logs volume when Loki is disabled
  backend/capellacollab/sessions/hooks/log_collector.py
  backend/capellacollab/sessions/operators/k8s.py
  backend/tests/sessions/hooks/test_log_collector_hook.py
Due: none

fix: Use 100dvh for better display on Chrome mobile
  frontend/src/app/projects/project-detail/model-overview/model-overview.component.ts
Due: tsc, prettier

feat: Make training mode available for everyone
  frontend/src/app/projects/project-detail/project-details.component.html
Due: prettier

Update reg_actions to output generated at runId:13675426906
  2025-03-05_13675426906_reg/actual/Training Loaded_desktop.png
  2025-03-05_13675426906_reg/actual/Training Loaded_mobile.png
  2025-03-05_13675426906_reg/diff/Training Loaded_desktop.png
  2025-03-05_13675426906_reg/diff/Training Loaded_mobile.png
  2025-03-05_13675426906_reg/expected/Training Loaded_desktop.png
  2025-03-05_13675426906_reg/expected/Training Loaded_mobile.png
Due: none

Update reg_actions to output generated at runId:13675605263
  2025-03-05_13675605263_reg/actual/Create Token With Project Scope_desktop.png
  2025-03-05_13675605263_reg/actual/Create Token With Project Scope_mobile.png
  2025-03-05_13675605263_reg/actual/Generated Token Hidden_desktop.png
  2025-03-05_13675605263_reg/actual/Generated Token Hidden_mobile.png
  2025-03-05_13675605263_reg/actual/Generated Token Revealed_desktop.png
  2025-03-05_13675605263_reg/actual/Generated Token Revealed_mobile.png
  2025-03-05_13675605263_reg/actual/No Tokens In Overview_desktop.png
  2025-03-05_13675605263_reg/actual/No Tokens In Overview_mobile.png
  2025-03-05_13675605263_reg/actual/Token Overview_desktop.png
  2025-03-05_13675605263_reg/actual/Token Overview_mobile.png
  2025-03-05_13675605263_reg/actual/Training Loaded_desktop.png
  2025-03-05_13675605263_reg/actual/Training Loaded_mobile.png
  2025-03-05_13675605263_reg/diff/Training Loaded_desktop.png
  2025-03-05_13675605263_reg/diff/Training Loaded_mobile.png
  2025-03-05_13675605263_reg/expected/Create Token With Project Scope_desktop.png
  2025-03-05_13675605263_reg/expected/Create Token With Project Scope_mobile.png
  2025-03-05_13675605263_reg/expected/Generated Token Hidden_desktop.png
  2025-03-05_13675605263_reg/expected/Generated Token Hidden_mobile.png
  2025-03-05_13675605263_reg/expected/Generated Token Revealed_desktop.png
  2025-03-05_13675605263_reg/expected/Generated Token Revealed_mobile.png
  2025-03-05_13675605263_reg/expected/No Tokens In Overview_desktop.png
  2025-03-05_13675605263_reg/expected/No Tokens In Overview_mobile.png
  2025-03-05_13675605263_reg/expected/Token Overview_desktop.png
  2025-03-05_13675605263_reg/expected/Token Overview_mobile.png
  2025-03-05_13675605263_reg/expected/Training Loaded_desktop.png
  2025-03-05_13675605263_reg/expected/Training Loaded_mobile.png
Due: none

feat: Mark session tokens as managed
  backend/capellacollab/alembic/versions/db35c7cfb407_add_managed_field_to_personal_access_.py
  backend/capellacollab/permissions/models.py
  backend/capellacollab/sessions/hooks/session_token.py
  backend/capellacollab/users/models.py
  backend/capellacollab/users/tokens/crud.py
  backend/capellacollab/users/tokens/exceptions.py
  backend/capellacollab/users/tokens/injectables.py
  backend/capellacollab/users/tokens/models.py
  backend/capellacollab/users/tokens/routes.py
  backend/tests/users/test_tokens.py
  frontend/src/app/openapi/model/admin-scopes-input.ts
  frontend/src/app/openapi/model/admin-scopes-output.ts
  frontend/src/app/openapi/model/user-token-with-password.ts
  frontend/src/app/openapi/model/user-token.ts
  frontend/src/app/users/personal-access-tokens/personal-access-tokens.component.html
  frontend/src/app/users/personal-access-tokens/personal-access-tokens.component.ts
  frontend/src/app/users/personal-access-tokens/personal-access-tokens.stories.ts
Due: tsc, prettier

Update reg_actions to output generated at runId:13675845756
  2025-03-05_13675845756_reg/actual/Create Token With Project Scope_desktop.png
  2025-03-05_13675845756_reg/actual/Create Token With Project Scope_mobile.png
  2025-03-05_13675845756_reg/actual/Generated Token Hidden_desktop.png
  2025-03-05_13675845756_reg/actual/Generated Token Hidden_mobile.png
  2025-03-05_13675845756_reg/actual/Generated Token Revealed_desktop.png
  2025-03-05_13675845756_reg/actual/Generated Token Revealed_mobile.png
  2025-03-05_13675845756_reg/actual/No Tokens In Overview_desktop.png
  2025-03-05_13675845756_reg/actual/No Tokens In Overview_mobile.png
  2025-03-05_13675845756_reg/actual/Token Overview_desktop.png
  2025-03-05_13675845756_reg/actual/Token Overview_mobile.png
  2025-03-05_13675845756_reg/actual/Training Loaded_desktop.png
  2025-03-05_13675845756_reg/actual/Training Loaded_mobile.png
  2025-03-05_13675845756_reg/diff/Training Loaded_desktop.png
  2025-03-05_13675845756_reg/diff/Training Loaded_mobile.png
  2025-03-05_13675845756_reg/expected/Create Token With Project Scope_desktop.png
  2025-03-05_13675845756_reg/expected/Create Token With Project Scope_mobile.png
  2025-03-05_13675845756_reg/expected/Generated Token Hidden_desktop.png
  2025-03-05_13675845756_reg/expected/Generated Token Hidden_mobile.png
  2025-03-05_13675845756_reg/expected/Generated Token Revealed_desktop.png
  2025-03-05_13675845756_reg/expected/Generated Token Revealed_mobile.png
  2025-03-05_13675845756_reg/expected/No Tokens In Overview_desktop.png
  2025-03-05_13675845756_reg/expected/No Tokens In Overview_mobile.png
  2025-03-05_13675845756_reg/expected/Token Overview_desktop.png
  2025-03-05_13675845756_reg/expected/Token Overview_mobile.png
  2025-03-05_13675845756_reg/expected/Training Loaded_desktop.png
  2025-03-05_13675845756_reg/expected/Training Loaded_mobile.png
Due: none

Update reg_actions to output generated at runId:13676942262
  2025-03-05_13676942262_reg/actual/Training Loaded_desktop.png
  2025-03-05_13676942262_reg/actual/Training Loaded_mobile.png
  2025-03-05_13676942262_reg/diff/Training Loaded_desktop.png
  2025-03-05_13676942262_reg/diff/Training Loaded_mobile.png
  2025-03-05_13676942262_reg/expected/Training Loaded_desktop.png
  2025-03-05_13676942262_reg/expected/Training Loaded_mobile.png
Due: none

docs: Add instructions about microk8s nfs IP address restrictions
  docs/docs/admin/installation.md
Due: prettier

Update reg_actions to output generated at runId:13680895373
  2025-03-05_13680895373_reg/actual/Create Token With Project Scope_desktop.png
  2025-03-05_13680895373_reg/actual/Create Token With Project Scope_mobile.png
  2025-03-05_13680895373_reg/actual/Generated Token Hidden_desktop.png
  2025-03-05_13680895373_reg/actual/Generated Token Hidden_mobile.png
  2025-03-05_13680895373_reg/actual/Generated Token Revealed_desktop.png
  2025-03-05_13680895373_reg/actual/Generated Token Revealed_mobile.png
  2025-03-05_13680895373_reg/actual/No Tokens In Overview_desktop.png
  2025-03-05_13680895373_reg/actual/No Tokens In Overview_mobile.png
  2025-03-05_13680895373_reg/actual/Token Overview_desktop.png
  2025-03-05_13680895373_reg/actual/Token Overview_mobile.png
  2025-03-05_13680895373_reg/expected/Create Token With Project Scope_desktop.png
  2025-03-05_13680895373_reg/expected/Create Token With Project Scope_mobile.png
  2025-03-05_13680895373_reg/expected/Generated Token Hidden_desktop.png
  2025-03-05_13680895373_reg/expected/Generated Token Hidden_mobile.png
  2025-03-05_13680895373_reg/expected/Generated Token Revealed_desktop.png
  2025-03-05_13680895373_reg/expected/Generated Token Revealed_mobile.png
  2025-03-05_13680895373_reg/expected/No Tokens In Overview_desktop.png
  2025-03-05_13680895373_reg/expected/No Tokens In Overview_mobile.png
  2025-03-05_13680895373_reg/expected/Token Overview_desktop.png
  2025-03-05_13680895373_reg/expected/Token Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:13681174166
  2025-03-05_13681174166_reg/actual/Create Token With Project Scope_desktop.png
  2025-03-05_13681174166_reg/actual/Create Token With Project Scope_mobile.png
  2025-03-05_13681174166_reg/actual/Generated Token Hidden_desktop.png
  2025-03-05_13681174166_reg/actual/Generated Token Hidden_mobile.png
  2025-03-05_13681174166_reg/actual/Generated Token Revealed_desktop.png
  2025-03-05_13681174166_reg/actual/Generated Token Revealed_mobile.png
  2025-03-05_13681174166_reg/actual/No Tokens In Overview_desktop.png
  2025-03-05_13681174166_reg/actual/No Tokens In Overview_mobile.png
  2025-03-05_13681174166_reg/actual/Token Overview_desktop.png
  2025-03-05_13681174166_reg/actual/Token Overview_mobile.png
  2025-03-05_13681174166_reg/expected/Create Token With Project Scope_desktop.png
  2025-03-05_13681174166_reg/expected/Create Token With Project Scope_mobile.png
  2025-03-05_13681174166_reg/expected/Generated Token Hidden_desktop.png
  2025-03-05_13681174166_reg/expected/Generated Token Hidden_mobile.png
  2025-03-05_13681174166_reg/expected/Generated Token Revealed_desktop.png
  2025-03-05_13681174166_reg/expected/Generated Token Revealed_mobile.png
  2025-03-05_13681174166_reg/expected/No Tokens In Overview_desktop.png
  2025-03-05_13681174166_reg/expected/No Tokens In Overview_mobile.png
  2025-03-05_13681174166_reg/expected/Token Overview_desktop.png
  2025-03-05_13681174166_reg/expected/Token Overview_mobile.png
Due: none

Update reg_actions to output generated at runId:13681342885
  2025-03-05_13681342885_reg/actual/Overview_desktop.png
  2025-03-05_13681342885_reg/actual/Overview_mobile.png
  2025-03-05_13681342885_reg/diff/Overview_desktop.png
  2025-03-05_13681342885_reg/diff/Overview_mobile.png
  2025-03-05_13681342885_reg/expected/Overview_desktop.png
  2025-03-05_13681342885_reg/expected/Overview_mobile.png
Due: none

feat: Always show session overview sharing button
  frontend/src/app/sessions/session-overview/session-overview.component.html
  frontend/src/app/sessions/session-overview/session-overview.stories.ts
Due: tsc, prettier

Update reg_actions to output generated at runId:13681691554
  2025-03-05_13681691554_reg/actual/Overview_desktop.png
  2025-03-05_13681691554_reg/actual/Overview_mobile.png
  2025-03-05_13681691554_reg/diff/Overview_desktop.png
  2025-03-05_13681691554_reg/diff/Overview_mobile.png
  2025-03-05_13681691554_reg/expected/Overview_desktop.png
  2025-03-05_13681691554_reg/expected/Overview_mobile.png
Due: none

feat: Pre-compress frontend with brotli
  frontend/Caddyfile
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/vite.config.ts
Due: tsc, prettier

Update reg_actions to output generated at runId:13700629776
  2025-03-06_13700629776_reg/actual/Create Token With Project Scope_desktop.png
  2025-03-06_13700629776_reg/actual/Create Token With Project Scope_mobile.png
  2025-03-06_13700629776_reg/actual/Generated Token Hidden_desktop.png
  2025-03-06_13700629776_reg/actual/Generated Token Hidden_mobile.png
  2025-03-06_13700629776_reg/actual/Generated Token Revealed_desktop.png
  2025-03-06_13700629776_reg/actual/Generated Token Revealed_mobile.png
  2025-03-06_13700629776_reg/actual/No Tokens In Overview_desktop.png
  2025-03-06_13700629776_reg/actual/No Tokens In Overview_mobile.png
  2025-03-06_13700629776_reg/actual/Overview_desktop.png
  2025-03-06_13700629776_reg/actual/Overview_mobile.png
  2025-03-06_13700629776_reg/actual/Token Overview_desktop.png
  2025-03-06_13700629776_reg/actual/Token Overview_mobile.png
  2025-03-06_13700629776_reg/diff/Overview_desktop.png
  2025-03-06_13700629776_reg/diff/Overview_mobile.png
  2025-03-06_13700629776_reg/expected/Create Token With Project Scope_desktop.png
  2025-03-06_13700629776_reg/expected/Create Token With Project Scope_mobile.png
  2025-03-06_13700629776_reg/expected/Generated Token Hidden_desktop.png
  2025-03-06_13700629776_reg/expected/Generated Token Hidden_mobile.png
  2025-03-06_13700629776_reg/expected/Generated Token Revealed_desktop.png
  2025-03-06_13700629776_reg/expected/Generated Token Revealed_mobile.png
  2025-03-06_13700629776_reg/expected/No Tokens In Overview_desktop.png
  2025-03-06_13700629776_reg/expected/No Tokens In Overview_mobile.png
  2025-03-06_13700629776_reg/expected/Overview_desktop.png
  2025-03-06_13700629776_reg/expected/Overview_mobile.png
  2025-03-06_13700629776_reg/expected/Token Overview_desktop.png
  2025-03-06_13700629776_reg/expected/Token Overview_mobile.png
Due: none

Path conditions:
  tsc: any of: \.(ts|mts|cts)$
  prettier: any of: \.(ts|mts|cts)$, \.css$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$, but not: ^frontend/src/app/openapi
