Repository DSD-DBS/capella-collab-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier

Path conditions:
  pylint: any of: ^backend/capellacollab and \.py$ and not (^backend/capellacollab/alembic/)
  prettier: any of: \.(ts|mts|cts)$, \.css$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$, but not: ^frontend/src/app/openapi

fix: Move promtail container to external Pod
  backend/capellacollab/sessions/hooks/__init__.py
  backend/capellacollab/sessions/hooks/interface.py
  backend/capellacollab/sessions/hooks/log_collector.py
  backend/capellacollab/sessions/hooks/networking.py
  backend/capellacollab/sessions/metrics.py
  backend/capellacollab/sessions/operators/k8s.py
  backend/capellacollab/sessions/operators/models.py
  backend/capellacollab/sessions/routes.py
  backend/tests/sessions/k8s_operator/test_session_k8s_operator.py
  backend/tests/sessions/k8s_operator/test_session_state.py
Due: pylint

fix: Optimize feedback dialog for small mobile devices
  frontend/src/app/sessions/feedback/feedback-dialog/feedback-dialog.component.html
Due: prettier

Update reg_actions to output generated at runId:11813766954
  2024-11-13_11813766954_reg/actual/Session Components_Feedback_One Session With User Information_desktop.png
  2024-11-13_11813766954_reg/actual/Session Components_Feedback_One Session With User Information_mobile.png
  2024-11-13_11813766954_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-11-13_11813766954_reg/actual/Session Components_Feedback_Rating Selected_mobile.png
  2024-11-13_11813766954_reg/diff/Session Components_Feedback_One Session With User Information_desktop.png
  2024-11-13_11813766954_reg/diff/Session Components_Feedback_One Session With User Information_mobile.png
  2024-11-13_11813766954_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-11-13_11813766954_reg/diff/Session Components_Feedback_Rating Selected_mobile.png
  2024-11-13_11813766954_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-11-13_11813766954_reg/expected/Session Components_Feedback_One Session With User Information_mobile.png
  2024-11-13_11813766954_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
  2024-11-13_11813766954_reg/expected/Session Components_Feedback_Rating Selected_mobile.png
Due: none

fix: Improve regex for API changelog generation
  .github/workflows/openapi.yml
Due: none

Update reg_actions to output generated at runId:11814008108
  2024-11-13_11814008108_reg/actual/Session Components_Feedback_One Session With User Information_desktop.png
  2024-11-13_11814008108_reg/actual/Session Components_Feedback_One Session With User Information_mobile.png
  2024-11-13_11814008108_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-11-13_11814008108_reg/actual/Session Components_Feedback_Rating Selected_mobile.png
  2024-11-13_11814008108_reg/diff/Session Components_Feedback_One Session With User Information_desktop.png
  2024-11-13_11814008108_reg/diff/Session Components_Feedback_One Session With User Information_mobile.png
  2024-11-13_11814008108_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-11-13_11814008108_reg/diff/Session Components_Feedback_Rating Selected_mobile.png
  2024-11-13_11814008108_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-11-13_11814008108_reg/expected/Session Components_Feedback_One Session With User Information_mobile.png
  2024-11-13_11814008108_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
  2024-11-13_11814008108_reg/expected/Session Components_Feedback_Rating Selected_mobile.png
Due: none

ci: Add `require_serial` to pylint pre-commit
  .pre-commit-config.yaml
  backend/tests/projects/test_projects_users_routes.py
  backend/tests/test_event_creation.py
  backend/tests/users/fixtures.py
Due: none

Update reg_actions to output generated at runId:11816305160
  2024-11-13_11816305160_reg/actual/Session Components_Feedback_No Sessions_desktop.png
  2024-11-13_11816305160_reg/actual/Session Components_Feedback_No Sessions_mobile.png
  2024-11-13_11816305160_reg/actual/Session Components_Feedback_One Session With User Information_desktop.png
  2024-11-13_11816305160_reg/actual/Session Components_Feedback_One Session With User Information_mobile.png
  2024-11-13_11816305160_reg/actual/Session Components_Feedback_One Session_desktop.png
  2024-11-13_11816305160_reg/actual/Session Components_Feedback_One Session_mobile.png
  2024-11-13_11816305160_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-11-13_11816305160_reg/actual/Session Components_Feedback_Rating Selected_mobile.png
  2024-11-13_11816305160_reg/actual/Session Components_Feedback_Two Sessions_desktop.png
  2024-11-13_11816305160_reg/actual/Session Components_Feedback_Two Sessions_mobile.png
  2024-11-13_11816305160_reg/diff/Session Components_Feedback_No Sessions_desktop.png
  2024-11-13_11816305160_reg/diff/Session Components_Feedback_No Sessions_mobile.png
  2024-11-13_11816305160_reg/diff/Session Components_Feedback_One Session With User Information_desktop.png
  2024-11-13_11816305160_reg/diff/Session Components_Feedback_One Session With User Information_mobile.png
  2024-11-13_11816305160_reg/diff/Session Components_Feedback_One Session_desktop.png
  2024-11-13_11816305160_reg/diff/Session Components_Feedback_One Session_mobile.png
  2024-11-13_11816305160_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-11-13_11816305160_reg/diff/Session Components_Feedback_Rating Selected_mobile.png
  2024-11-13_11816305160_reg/diff/Session Components_Feedback_Two Sessions_desktop.png
  2024-11-13_11816305160_reg/diff/Session Components_Feedback_Two Sessions_mobile.png
  2024-11-13_11816305160_reg/expected/Session Components_Feedback_No Sessions_desktop.png
  2024-11-13_11816305160_reg/expected/Session Components_Feedback_No Sessions_mobile.png
  2024-11-13_11816305160_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-11-13_11816305160_reg/expected/Session Components_Feedback_One Session With User Information_mobile.png
  2024-11-13_11816305160_reg/expected/Session Components_Feedback_One Session_desktop.png
  2024-11-13_11816305160_reg/expected/Session Components_Feedback_One Session_mobile.png
  2024-11-13_11816305160_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
  2024-11-13_11816305160_reg/expected/Session Components_Feedback_Rating Selected_mobile.png
  2024-11-13_11816305160_reg/expected/Session Components_Feedback_Two Sessions_desktop.png
  2024-11-13_11816305160_reg/expected/Session Components_Feedback_Two Sessions_mobile.png
Due: none

ci: Auto-format inline CSS classes with prettier
  .pre-commit-config.yaml
  frontend/.prettierrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/general/footer/footer.component.html
  frontend/src/app/projects/models/diagrams/model-diagram-dialog/model-diagram-dialog.component.html
  frontend/src/app/projects/project-detail/model-overview/model-complexity-badge/model-complexity-badge.component.html
  frontend/src/app/sessions/feedback/feedback-dialog/feedback-dialog.component.html
  frontend/src/app/sessions/feedback/feedback-dialog/feedback-dialog.component.ts
  frontend/src/app/sessions/session/floating-window-manager/floating-window-manager.component.html
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-session-history/create-session-history.component.html
Due: prettier

chore: Remove unused "token" cookie from default tool configuration
  backend/capellacollab/alembic/versions/7683b08b00ba_add_environment_and_connection_info_to_.py
  backend/capellacollab/core/database/migration.py
Due: pylint

fix: Update wrong model badge error message
  backend/capellacollab/projects/toolmodels/modelbadge/exceptions.py
Due: pylint

refactor: Consolidate session hook request arguments into one
  backend/capellacollab/sessions/hooks/__init__.py
  backend/capellacollab/sessions/hooks/authentication.py
  backend/capellacollab/sessions/hooks/guacamole.py
  backend/capellacollab/sessions/hooks/http.py
  backend/capellacollab/sessions/hooks/interface.py
  backend/capellacollab/sessions/hooks/jupyter.py
  backend/capellacollab/sessions/hooks/log_collector.py
  backend/capellacollab/sessions/hooks/networking.py
  backend/capellacollab/sessions/hooks/persistent_workspace.py
  backend/capellacollab/sessions/hooks/provisioning.py
  backend/capellacollab/sessions/hooks/pure_variants.py
  backend/capellacollab/sessions/hooks/read_only_workspace.py
  backend/capellacollab/sessions/hooks/session_preparation.py
  backend/capellacollab/sessions/hooks/t4c.py
  backend/capellacollab/sessions/routes.py
  backend/capellacollab/sessions/util.py
  backend/tests/sessions/hooks/conftest.py
  backend/tests/sessions/hooks/test_guacamole_hook.py
  backend/tests/sessions/hooks/test_http_hook.py
  backend/tests/sessions/hooks/test_jupyter_hook.py
  backend/tests/sessions/hooks/test_networking_hook.py
  backend/tests/sessions/hooks/test_persistent_workspace.py
  backend/tests/sessions/hooks/test_pre_authentiation_hook.py
  backend/tests/sessions/hooks/test_provisioning_hook.py
  backend/tests/sessions/hooks/test_pure_variants.py
  backend/tests/sessions/hooks/test_session_preparation.py
  backend/tests/sessions/hooks/test_t4c_hook.py
  backend/tests/sessions/test_session_hooks.py
  backend/tests/sessions/test_session_routes.py
Due: pylint

feat: Use full-width for active sessions on mobile devices
  frontend/src/app/sessions/sessions.component.html
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/active-sessions.component.html
  frontend/src/app/sessions/user-sessions-wrapper/active-sessions/active-sessions.stories.ts
Due: prettier

feat: Improve mobile view of project overview
  frontend/src/app/projects/models/create-model/create-model.component.css
  frontend/src/app/projects/models/create-model/create-model.component.ts
  frontend/src/app/projects/project-detail/model-overview/model-overview.component.css
  frontend/src/app/projects/project-detail/model-overview/model-overview.component.html
  frontend/src/app/projects/project-detail/model-overview/model-overview.component.ts
  frontend/src/app/projects/project-detail/project-details.component.html
  frontend/src/app/projects/project-detail/project-details.component.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-session/create-readonly-session/create-readonly-session.component.css
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-persistent-session/create-persistent-session.component.html
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-persistent-session/create-persistent-session.stories.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-readonly-session/create-readonly-session-dialog/create-readonly-session-dialog.component.html
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-readonly-session/create-readonly-session-dialog/create-readonly-session-dialog.component.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-readonly-session/create-readonly-session-dialog/create-readonly-session-dialog.stories.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-readonly-session/create-readonly-session.component.html
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-readonly-session/create-readonly-session.component.ts
  frontend/src/app/sessions/user-sessions-wrapper/create-sessions/create-readonly-session/create-readonly-session.stories.ts
  frontend/src/app/users/user-settings/user-settings.component.html
Due: prettier

chore: Limit version of `aiohttp`
  backend/pyproject.toml
Due: none

feat: Auto-focus first session in the session viewer
  frontend/src/app/sessions/session/session-viewer.service.ts
Due: prettier

fix: Connect to shared sessions via internal session viewer
  backend/capellacollab/core/database/migration.py
  backend/capellacollab/sessions/routes.py
  helm/templates/routing/sessions.ingress.yaml
Due: pylint

feat: Add custom promtail / logging configuration for tools
  backend/capellacollab/sessions/hooks/log_collector.py
  backend/capellacollab/tools/models.py
  backend/capellacollab/tools/routes.py
  frontend/src/app/openapi/.openapi-generator/FILES
  frontend/src/app/openapi/model/logging-configuration-input.ts
  frontend/src/app/openapi/model/logging-configuration-output.ts
  frontend/src/app/openapi/model/models.ts
  frontend/src/app/openapi/model/session-monitoring-output.ts
  frontend/src/storybook/tool.ts
Due: pylint, prettier

chore: Add TeamForCapella cluster instance by default
  backend/Makefile
  backend/capellacollab/core/database/migration.py
  backend/tests/settings/teamforcapella/test_t4c_instances.py
  backend/tests/settings/teamforcapella/test_t4c_license_servers.py
  backend/tests/settings/test_git_instances.py
Due: pylint

chore: Always use the latest alembic version
  backend/pyproject.toml
Due: none

Update reg_actions to output generated at runId:11839738480
  2024-11-14_11839738480_reg/actual/Session Components_Feedback_Long Hint_desktop.png
  2024-11-14_11839738480_reg/actual/Session Components_Feedback_Long Hint_mobile.png
  2024-11-14_11839738480_reg/actual/Session Components_Feedback_No Sessions_desktop.png
  2024-11-14_11839738480_reg/actual/Session Components_Feedback_No Sessions_mobile.png
  2024-11-14_11839738480_reg/actual/Session Components_Feedback_One Session Without User Information_desktop.png
  2024-11-14_11839738480_reg/actual/Session Components_Feedback_One Session Without User Information_mobile.png
  2024-11-14_11839738480_reg/actual/Session Components_Feedback_One Session_desktop.png
  2024-11-14_11839738480_reg/actual/Session Components_Feedback_One Session_mobile.png
  2024-11-14_11839738480_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-11-14_11839738480_reg/actual/Session Components_Feedback_Rating Selected_mobile.png
  2024-11-14_11839738480_reg/actual/Session Components_Feedback_Short Hint_desktop.png
  2024-11-14_11839738480_reg/actual/Session Components_Feedback_Short Hint_mobile.png
  2024-11-14_11839738480_reg/actual/Session Components_Feedback_Two Sessions_desktop.png
  2024-11-14_11839738480_reg/actual/Session Components_Feedback_Two Sessions_mobile.png
  2024-11-14_11839738480_reg/diff/Session Components_Feedback_No Sessions_desktop.png
  2024-11-14_11839738480_reg/diff/Session Components_Feedback_No Sessions_mobile.png
  2024-11-14_11839738480_reg/diff/Session Components_Feedback_One Session_desktop.png
  2024-11-14_11839738480_reg/diff/Session Components_Feedback_One Session_mobile.png
  2024-11-14_11839738480_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-11-14_11839738480_reg/diff/Session Components_Feedback_Rating Selected_mobile.png
  2024-11-14_11839738480_reg/diff/Session Components_Feedback_Two Sessions_desktop.png
  2024-11-14_11839738480_reg/diff/Session Components_Feedback_Two Sessions_mobile.png
  2024-11-14_11839738480_reg/expected/Session Components_Feedback_No Sessions_desktop.png
  2024-11-14_11839738480_reg/expected/Session Components_Feedback_No Sessions_mobile.png
  2024-11-14_11839738480_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-11-14_11839738480_reg/expected/Session Components_Feedback_One Session With User Information_mobile.png
  2024-11-14_11839738480_reg/expected/Session Components_Feedback_One Session_desktop.png
  2024-11-14_11839738480_reg/expected/Session Components_Feedback_One Session_mobile.png
  2024-11-14_11839738480_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
  2024-11-14_11839738480_reg/expected/Session Components_Feedback_Rating Selected_mobile.png
  2024-11-14_11839738480_reg/expected/Session Components_Feedback_Two Sessions_desktop.png
  2024-11-14_11839738480_reg/expected/Session Components_Feedback_Two Sessions_mobile.png
Due: none

feat: Allow customizing feedback hint and update dialog
  backend/capellacollab/settings/configuration/models.py
  backend/tests/test_feedback.py
  docs/docs/admin/configure-for-your-org.md
  frontend/src/app/openapi/model/feedback-configuration-input.ts
  frontend/src/app/openapi/model/feedback-configuration-output.ts
  frontend/src/app/sessions/feedback/feedback-dialog/feedback-dialog.component.html
  frontend/src/app/sessions/feedback/feedback-dialog/feedback-dialog.stories.ts
  frontend/src/storybook/feedback.ts
Due: pylint, prettier

Update reg_actions to output generated at runId:11839901224
  2024-11-14_11839901224_reg/actual/Session Components_Feedback_Long Hint_desktop.png
  2024-11-14_11839901224_reg/actual/Session Components_Feedback_Long Hint_mobile.png
  2024-11-14_11839901224_reg/actual/Session Components_Feedback_No Sessions_desktop.png
  2024-11-14_11839901224_reg/actual/Session Components_Feedback_No Sessions_mobile.png
  2024-11-14_11839901224_reg/actual/Session Components_Feedback_One Session Without User Information_desktop.png
  2024-11-14_11839901224_reg/actual/Session Components_Feedback_One Session Without User Information_mobile.png
  2024-11-14_11839901224_reg/actual/Session Components_Feedback_One Session_desktop.png
  2024-11-14_11839901224_reg/actual/Session Components_Feedback_One Session_mobile.png
  2024-11-14_11839901224_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-11-14_11839901224_reg/actual/Session Components_Feedback_Rating Selected_mobile.png
  2024-11-14_11839901224_reg/actual/Session Components_Feedback_Short Hint_desktop.png
  2024-11-14_11839901224_reg/actual/Session Components_Feedback_Short Hint_mobile.png
  2024-11-14_11839901224_reg/actual/Session Components_Feedback_Two Sessions_desktop.png
  2024-11-14_11839901224_reg/actual/Session Components_Feedback_Two Sessions_mobile.png
  2024-11-14_11839901224_reg/diff/Session Components_Feedback_No Sessions_desktop.png
  2024-11-14_11839901224_reg/diff/Session Components_Feedback_No Sessions_mobile.png
  2024-11-14_11839901224_reg/diff/Session Components_Feedback_One Session_desktop.png
  2024-11-14_11839901224_reg/diff/Session Components_Feedback_One Session_mobile.png
  2024-11-14_11839901224_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-11-14_11839901224_reg/diff/Session Components_Feedback_Rating Selected_mobile.png
  2024-11-14_11839901224_reg/diff/Session Components_Feedback_Two Sessions_desktop.png
  2024-11-14_11839901224_reg/diff/Session Components_Feedback_Two Sessions_mobile.png
  2024-11-14_11839901224_reg/expected/Session Components_Feedback_No Sessions_desktop.png
  2024-11-14_11839901224_reg/expected/Session Components_Feedback_No Sessions_mobile.png
  2024-11-14_11839901224_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-11-14_11839901224_reg/expected/Session Components_Feedback_One Session With User Information_mobile.png
  2024-11-14_11839901224_reg/expected/Session Components_Feedback_One Session_desktop.png
  2024-11-14_11839901224_reg/expected/Session Components_Feedback_One Session_mobile.png
  2024-11-14_11839901224_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
  2024-11-14_11839901224_reg/expected/Session Components_Feedback_Rating Selected_mobile.png
  2024-11-14_11839901224_reg/expected/Session Components_Feedback_Two Sessions_desktop.png
  2024-11-14_11839901224_reg/expected/Session Components_Feedback_Two Sessions_mobile.png
Due: none

chore: Update `aiohttp` to latest version
  backend/pyproject.toml
Due: none

Update reg_actions to output generated at runId:11890746692
  2024-11-18_11890746692_reg/actual/Session Components_Session Viewer_One Session Tiling Pending_desktop.png
  2024-11-18_11890746692_reg/actual/Session Components_Session Viewer_One Session Tiling Pending_mobile.png
  2024-11-18_11890746692_reg/diff/Session Components_Session Viewer_One Session Tiling Pending_desktop.png
  2024-11-18_11890746692_reg/diff/Session Components_Session Viewer_One Session Tiling Pending_mobile.png
  2024-11-18_11890746692_reg/expected/Session Components_Session Viewer_One Session Tiling Pending_desktop.png
  2024-11-18_11890746692_reg/expected/Session Components_Session Viewer_One Session Tiling Pending_mobile.png
Due: none

Update reg_actions to output generated at runId:11893052561
  2024-11-18_11893052561_reg/actual/Session Components_Feedback_Long Hint_desktop.png
  2024-11-18_11893052561_reg/actual/Session Components_Feedback_Long Hint_mobile.png
  2024-11-18_11893052561_reg/actual/Session Components_Feedback_No Sessions_desktop.png
  2024-11-18_11893052561_reg/actual/Session Components_Feedback_No Sessions_mobile.png
  2024-11-18_11893052561_reg/actual/Session Components_Feedback_One Session Without User Information_desktop.png
  2024-11-18_11893052561_reg/actual/Session Components_Feedback_One Session Without User Information_mobile.png
  2024-11-18_11893052561_reg/actual/Session Components_Feedback_One Session_desktop.png
  2024-11-18_11893052561_reg/actual/Session Components_Feedback_One Session_mobile.png
  2024-11-18_11893052561_reg/actual/Session Components_Feedback_Rating Selected_desktop.png
  2024-11-18_11893052561_reg/actual/Session Components_Feedback_Rating Selected_mobile.png
  2024-11-18_11893052561_reg/actual/Session Components_Feedback_Short Hint_desktop.png
  2024-11-18_11893052561_reg/actual/Session Components_Feedback_Short Hint_mobile.png
  2024-11-18_11893052561_reg/actual/Session Components_Feedback_Two Sessions_desktop.png
  2024-11-18_11893052561_reg/actual/Session Components_Feedback_Two Sessions_mobile.png
  2024-11-18_11893052561_reg/diff/Session Components_Feedback_No Sessions_desktop.png
  2024-11-18_11893052561_reg/diff/Session Components_Feedback_No Sessions_mobile.png
  2024-11-18_11893052561_reg/diff/Session Components_Feedback_One Session_desktop.png
  2024-11-18_11893052561_reg/diff/Session Components_Feedback_One Session_mobile.png
  2024-11-18_11893052561_reg/diff/Session Components_Feedback_Rating Selected_desktop.png
  2024-11-18_11893052561_reg/diff/Session Components_Feedback_Rating Selected_mobile.png
  2024-11-18_11893052561_reg/diff/Session Components_Feedback_Two Sessions_desktop.png
  2024-11-18_11893052561_reg/diff/Session Components_Feedback_Two Sessions_mobile.png
  2024-11-18_11893052561_reg/expected/Session Components_Feedback_No Sessions_desktop.png
  2024-11-18_11893052561_reg/expected/Session Components_Feedback_No Sessions_mobile.png
  2024-11-18_11893052561_reg/expected/Session Components_Feedback_One Session With User Information_desktop.png
  2024-11-18_11893052561_reg/expected/Session Components_Feedback_One Session With User Information_mobile.png
  2024-11-18_11893052561_reg/expected/Session Components_Feedback_One Session_desktop.png
  2024-11-18_11893052561_reg/expected/Session Components_Feedback_One Session_mobile.png
  2024-11-18_11893052561_reg/expected/Session Components_Feedback_Rating Selected_desktop.png
  2024-11-18_11893052561_reg/expected/Session Components_Feedback_Rating Selected_mobile.png
  2024-11-18_11893052561_reg/expected/Session Components_Feedback_Two Sessions_desktop.png
  2024-11-18_11893052561_reg/expected/Session Components_Feedback_Two Sessions_mobile.png
Due: none

build: Update frontend versions
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: Add various features to docs
  docs/mkdocs.yml
  docs/requirements.txt
Due: none
